﻿<nav>
    <div class="logo"></div>
	<!--
    <div class="search">
        <form>
            <fieldset>
                <input type="text" class="input-text">
                <input type="submit" class="input-submit">
            </fieldset>
        </form>
    </div>
	-->
    <div class="menu">
        <div class="accordion-module collapse-all">
            <h3>Eğitimler</h3>
            <div>
                <ul>
                    <li><a href="/Profesyonel-Egitimler">Profesyonel Eğitimler</a></li>
                    <li><a href="/YurtDisi-Egitim-Olanaklari">Yurtdışı Eğitim Olanakları</a></li>
                    <li>
                        <div class="accordion-module collapse-all">
                            <h3>Workshop’lar</h3>
                            <div>
                                <ul>
                                    <li><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
                                    <li><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
                                    <li><a href="/Etkinlik-Takvimi">Etkinlik Takvimi</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <ul>
            <li><a href="/Kampus">Kampüs</a></li>
            <li><a href="/Basvuru">Başvuru Formu</a></li>
            <li><a href="/Hakkimizda">Hakkımızda</a></li>
            <li><a href="/Iletisim">İletişim</a></li>
        </ul>
        <div class="socials">
            <a href="https://twitter.com/MSAistanbul" class="icon-social icon-twitter"></a>
            <a href="https://www.facebook.com/mutfaksanatlariakademisi" class="icon-social icon-facebook"></a>
            <a href="http://instagram.com/msaistanbul" class="icon-social icon-instagram"></a>
        </div>
        <div class="copyright">© 2015 Mutfak Sanatları Akademisi<br>Tüm hakları saklıdır.</div>
    </div>
</nav>