﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="text-module">
            <h1 class="remove-bottom"><strong>MSA Akademik Takvimi</strong></h1>
        </div>

        <div class="akademikTakvim">
            <h3>Ocak 2015</h3>
            <ul>
                <li>
                    <h5 class="half-bottom">19 Ocak 2015 Pazartesi</h5>
                    <h4 class="normal">Uzun Dönem Profesyonel Pasta ve Ekmekçilik Eğitim Başlangıç Tarihi</h4>
                </li>
                <li>
                    <h5 class="half-bottom">19 Ocak 2015 Pazartesi</h5>
                    <h4 class="normal">Hafta Sonu Stajsız Profesyonel Aşçılık Eğitim Başlangıç Tarihi</h4>
                </li>
                <li>
                    <h5 class="half-bottom">19 Ocak 2015 Pazartesi</h5>
                    <h4 class="normal">Uzun Dönem Profesyonel Pasta ve Ekmekçilik Eğitim Başlangıç Tarihi</h4>
                </li>
            </ul>
            <h3>Şubat 2015</h3>
            <ul>
                <li>
                    <h5 class="half-bottom">19 Ocak 2015 Pazartesi</h5>
                    <h4 class="normal">Uzun Dönem Profesyonel Pasta ve Ekmekçilik Eğitim Başlangıç Tarihi</h4>
                </li>
                <li>
                    <h5 class="half-bottom">19 Ocak 2015 Pazartesi</h5>
                    <h4 class="normal">Hafta Sonu Stajsız Profesyonel Aşçılık Eğitim Başlangıç Tarihi</h4>
                </li>
                <li>
                    <h5 class="half-bottom">19 Ocak 2015 Pazartesi</h5>
                    <h4 class="normal">Uzun Dönem Profesyonel Pasta ve Ekmekçilik Eğitim Başlangıç Tarihi</h4>
                </li>
                <li>
                    <h5 class="half-bottom">19 Ocak 2015 Pazartesi</h5>
                    <h4 class="normal">Hafta Sonu Stajsız Profesyonel Aşçılık Eğitim Başlangıç Tarihi</h4>
                </li>
            </ul>
            <div class="clear"></div>
        </div>




        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="#">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>
