﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="text-module">
            <h1 class="remove-bottom"><strong>Arama</strong></h1>
        </div>

        <form>
            <div class="search-tools text-module gray">
                <fieldset class="add-bottom">
                    <label>
                        <input type="text" class="input-text search">
                    </label>
                </fieldset>
                <fieldset class="remove-bottom">
                    <label>
                        <select>
                            <option value="">Seçiniz</option>
                            <option value="">Tüm Sonuçlar</option>
                        </select>
                    </label>
                </fieldset>
            </div>
        </form>

        <div class="search-results">

            <ul>
                <li>
                    <a href="">
                        <h4>Tatilin Okulu I</h4>
                        <p class="gold">Etkinlik</p>
                        <p>Dönem boyunca kalem tutan, yazı yazıp, matematik yapan, minik eller, MSA’daki Tatilin Okulu’nda bıçak tutmayı öğreniyor, mutfağı keşfediyor,...</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Tatilin Okulu I</h4>
                        <p class="gold">Etkinlik</p>
                        <p>Dönem boyunca kalem tutan, yazı yazıp, matematik yapan, minik eller, MSA’daki Tatilin Okulu’nda bıçak tutmayı öğreniyor, mutfağı keşfediyor,...</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Tatilin Okulu I</h4>
                        <p class="gold">Etkinlik</p>
                        <p>Dönem boyunca kalem tutan, yazı yazıp, matematik yapan, minik eller, MSA’daki Tatilin Okulu’nda bıçak tutmayı öğreniyor, mutfağı keşfediyor,...</p>
                    </a>
                </li>
            </ul>

            <div class="clear"></div>
            <div class="pager add-2x-top add-bottom">
                <a href="#" class="arrow fa fa-angle-left"></a>
                <a href="#" class="page active">1</a>
                <a href="#" class="page">2</a>
                <a href="#" class="page">3</a>
                <a href="#" class="page">4</a>
                <a href="#" class="arrow fa fa-angle-right"></a>
            </div>
        </div>




        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="#">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>

