﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Peynir Yapımı</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Artisan Peynir Yapımı</strong></h1>


    <p>
        Siz de her malzemenin en doğalının peşinde koşan, her yemeği en sağlıklı şekilde pişirmek isteyenlerdenseniz, doğal yöntemlerle evde peynir yapımını öğrenmenizin zamanı geldi.Birbirinden lezzetli peynirlerin yapımını her aşamasıyla öğreneceğiniz Artisan Peynir Yapımı MSA'da sizi bekliyor.
        Artisan Peynir Yapımı'nda çiğ süt ve pastörizasyondan peynir mayasına, tuzlama ve salamura tekniklerinden mevsimine göre süt farklılıklarına ve kültür bakterilerine kadar peynir yapımının tüm inceliklerini öğreneceksiniz. Ayrıca eğitim sırasında, kendi yaptığınız peynirlerin lezzetini öne çıkaracak tatlı ve yemeklerin
        tadımını yapacaksınız.İki gün süren bu eğitimin ardından yoğurt, sepet peyniri, ricotta-lor peyniri, suda mozzarella ve mascarpone yapımlarında uzmanlaşacak, istediğiniz peyniri evde en doğal yöntemlerle yapmanın keyfini çıkaracaksınız.
    </p>
</div>
<div class="workshop-menu">
    <h2>Ders İçerikleri</h2>
    <ul>
        <li>1. Gün; Artisan peynir kavramı, sütün tanımı, çiğ süt ve pastörizasyon, peynir mayası, mevsimine göre süt farklılıkları ve kültür bakterileri hakkında teorik bilgi.</li>
        <li>2. Gün; 1. gün başlanılan peynir yapımlarının devamı ve tüm ürünlerin bitmiş hallerinin tadımı.</li>
    </ul>
    <p>
        Kimler katılabilir?
        Tüm peynir ve süt ürünü tutkunları
        Kendi yoğurdunu mayalayan ve “artık sıra peynirde” diyenler
        Peynir yapımının temellerini öğrenmek isteyen aşçılık ve pastacılık öğrencileri ile mezunları
        Dersler 5 saattir.
        *Derslerin telafisi yapılmaz. Ücret iadesi yoktur.
        Program detayları;
        Eğitim süresince 14 katılımcı, kendi özel istasyonunda tek kişi olarak çalışacaktır.
        Artisan Peynir Yapımı Seti katılımcılara hediye edilecektir.
        Tüm katılımcılara önlük seti ve reçetelerin yer aldığı "Artisan Peynir Yapımı" ders kitabı verilecektir.
        Eğitimin sonunda katılımcılara MSA eğitmen şeflerinin imzaladığı özel sertifika verilecektir.





    </p>
</div>

<div class="workshop-detail text-center">
    <div class="date">Kontenjan dolmuştur. Bir sonraki program tarihi yakında açıklanacaktır</div>
    <div class="clear hr"></div>
    <div class="price">1.050 TL</div>
    <div class="note">KDV Dahil</div>
</div>


<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/artisan-peynir-yapimi">Artisan Peynir Yapımı</a></li>
            <li class=""><span>Artisan Peynir Yapımı Detay</span></li>
        </ul>
    </div>
</div>

