﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Peynir Yapımı</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/donemlikworkshoplar/640x992/artisan_peynir_yapimi.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Artisan Peynir Yapımı</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Siz de her malzemenin en doğalının peşinde koşan, her yemeği en sağlıklı şekilde pişirmek isteyenlerdenseniz, doğal yöntemlerle evde peynir yapımını öğrenmenizin zamanı geldi.Birbirinden lezzetli peynirlerin yapımını her aşamasıyla öğreneceğiniz Artisan Peynir Yapımı MSA'da sizi bekliyor.
        Artisan Peynir Yapımı'nda çiğ süt ve pastörizasyondan peynir mayasına, tuzlama ve salamura tekniklerinden mevsimine göre süt farklılıklarına ve kültür bakterilerine kadar peynir yapımının tüm inceliklerini öğreneceksiniz. Ayrıca eğitim sırasında, kendi yaptığınız peynirlerin lezzetini öne çıkaracak tatlı ve yemeklerin
        tadımını yapacaksınız.İki gün süren bu eğitimin ardından yoğurt, sepet peyniri, ricotta-lor peyniri, suda mozzarella ve mascarpone yapımlarında uzmanlaşacak, istediğiniz peyniri evde en doğal yöntemlerle yapmanın keyfini çıkaracaksınız.



    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/artisan-peynir-yapimi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">Kontenjan dolmuştur. Bir sonraki program tarihi yakında açıklanacaktır</div>
    <div class="clear hr"></div>
    <div class="price">1.050 TL</div>
    <div class="note">KDV Dahil</div>
</div>

