﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Çikolata Yapımı</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/cheesecakeler.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Artisan Çikolata Yapımı</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Msa'ya gelin çikolata konusunda uzmanlaşın.Artisan Çikolata Yapımı'nda öğreneceğiniz tekniklerle ister evinizde ister pastanenizde yada profesyonel işletmenizde uygulayabileceğiniz çikolata reçeteleri geliştirin.Orman meyveli trüf çikolatadan pralin sütlü badem drajeye kadar birbirinden farklı çikoltaların yapımını ve çikolata ile ilgili tüm incelikleri Artisan Çikolata Yapımı'nda öğrenin.
        Bu programda, çikolata yapımının temel taşı olan tabling, blok, chunk gibi temperleme tekniklerini öğrenecek; kalıplama, ganajdan trüf yapımı, kaplama, kesme, transfer kâgıdı kullanma ve renklendirme gibi işleme tekniklerinde uzmanlaşacaksınız.Program boyunca her gün farklı çikolata reçetelerini deneyimleyeceksiniz. Artisan Çikolata Yapımı'nda ayrıca kendi draje,  marzipan ile krokanınızı yapmayı ve bu ham maddelerle de çikolatayı nasıl birleştireceğinizi öğreneceksiniz.

    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/artisan-cikolata-yapimi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">1.100 TL</div>
    <div class="note">KDV Dahil</div>
</div>

