﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Ekmek Yapımı</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/donemlikworkshoplar/640x992/artisan_ekmek_yapimi.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Artisan Ekmek Yapımı</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Harika yemeklerinizin yanına yakışacak ekmekleri yapmanın zamanı geldi!Ekmekle ilgili aklınıza gelebilecek her türlü sorunun cevabını ve ekmekle ilgili herşeyi Artisan ekmek yapımı programında öğreneceksiniz. Artisan Ekmek Yapımı'nda
        öğreneceğiniz teknikleri ister evinizde uygulayıp kendi reçetelerinizi yazarak farklı ekmekler yaratacaksınız, isterseniz de profesyonel işletmenizde uygulayarak işletmenizde özel ekmek reçeteleri geliştirecesiniz.Beş gün süren bu yoğun programda ekşi mayanın nasıl yapıldığını ve
        beslendiğini buğday ve çavdar ekşi maya ekmekleri hazırlamayı öğreneceksiniz.Program sonunda farklı ekşi maya çeşitleriyle baguette, fougasse ve ciabatta ekmeklerini yapabileceksiniz. Ayrıca tereyağlı, sütlü ve örgülü somun ekmekler gibi farklı ekmek çeşitlerini yapabilecek bilgi ve beceriyesahip olacaksınız.

    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/artisan-ekmek-yapimi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">1.500 TL</div>
    <div class="note">KDV Dahil</div>
</div>

