﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Kahve Eğitimi ve İşletmeciliği</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Artisan Kahve Eğitimi ve İşletmeciliği</strong></h1>


    <p>
        Artisan Kahve Eğitimi ve İşletmeciliği, kahve tutkunlarına kahvenin tüm çeşitlerini, çekirdeğinden itibaren kahve hazırlamanın inceliklerini öğretmek için tasarlandı. 3 günlük veya tercihe göre 4 günlük olarak satın alınabilen program kapsamı ise şöyle;
        3 günlük teorik ve pratik gerçekleşen programda kahvenin tarihinden farklı yapım yöntemlerine sunum ve süslemelere kadar kahveyle ilgili her detayı öğrenebilirsiniz.Üstelik 2. günün sonunda kendi özel harmanınızı yapıp evinize götürebilirsiniz eğitim sonunda iyi kahveyi anlama ve kahve çeşitlerine
        göre doğru ekipmanları seçme konularında uzmanlaşabilir, öğrendiğiniz teknikleri evde uygulayıp misafirleriniz için kusursuz kahveler hazırlayabilirsiniz. 4 günlük program ise, yukarıdaki kapsama ilave olarak bir kahve dükkânı açabilmek için size fikir verebilecek eğitim detaylarını kapsar.
        Eğitim sonunda sahip olacağınız işletmecilik donanımıyla, isterseniz hayalinizdeki mekânı açabilirsiniz.




    </p>
</div>
<div class="workshop-menu">
    <h2>Ders İçerikleri</h2>
    <ul>
        <li>1. Gün; Kahve ve sağlık ilişkisi ve Yüksek orjinli kahveler, Kahvenin tarihi, Kahve pazarı, "Sektörel Durum", Kahvenin serüveni, "Tarladan Fincana", Roasting çeşitleri, Öğütülme kalibrasyonları, Kahvenin ticari formları, Kahve yapım yöntemleri, Ürün yapım standartları</li>
        <li>2. Gün; Roasting (Kavurma), Grinding (Öğütme),  Blending (Harmanlama)</li>
        <li>3. Gün; Kahve çeşitlerinin uygulamalı yapımları, sunumları, süslemeleri ve tadımları</li>
        <li>4. Gün; İş planı oluşturmak, Kahvenin ekonomisi, İşletme ergonomisi ve temel mimari, Ekipman seçimi ve yerleşimi, Kahve ve food management</li>

    </ul>
    <p>
        Kimler katılabilir?
        Evinde profesyonel tekniklerle mükemmel kahve hazırlayıp sunmak isteyen kahve tutkunları
        Kahve konusunda uzmanlaşmak isteyen, mutfağın tüm alanlarına ilgi duyan ve/veya mutfak alanında eğitim alan kişiler
        4 günlük program da kendi kahve dükkânını açmak veya mevcut kahve işletmesini geliştirmek isteyen kahve sever veya girişimci ruhlu herkese hitap etmektedir.
        Dersler 5 saattir.
        *Derslerin telafisi yapılmaz. Ücret iadesi yoktur.
        Program detayları;
        Eğitim süresince 16 katılımcı profesyonel eğitim mutfağında, Msa'nın özel kahve eğitim salonunda çalışacaktır.
        "Kahve Yapım Seti ve eğitim kitabı tüm katılımcılara hediye edilecektir.
        Program sonunda katılımcılara, eğitmenler tarafından imzalanmış özel sertifikalar verilecektir.
        Eğitim süresince sabah atıştırmalıkları, çay-kahve, öğle yemeği ve içecekler MSA’nın ikramı olacaktır.




    </p>
</div>

<div class="workshop-detail text-center">
    <div class="date">23 Şubat 2015 - 26 Şubat 2015</div>
    <div class="time">10:00-15:00</div>
    <div class="clear hr"></div>
    <div class="price">1.750 TL (3 gün) 2.250 TL (4 gün)</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY047/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>


<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/artisan-kahve-egitimi-ve-isletmeciligi">Artisan Kahve Eğitimi ve İşletmeciliği</a></li>
            <li class=""><span>Artisan Kahve Eğitimi ve İşletmeciliği Detay</span></li>
        </ul>
    </div>
</div>

