﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Ekmek Yapımı</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Artisan Ekmek Yapımı</strong></h1>


    <p>
        Harika yemeklerinizin yanına yakışacak ekmekleri yapmanın zamanı geldi!Ekmekle ilgili aklınıza gelebilecek her türlü sorunun cevabını ve ekmekle ilgili herşeyi Artisan ekmek yapımı programında öğreneceksiniz. Artisan Ekmek Yapımı'nda
        öğreneceğiniz teknikleri ister evinizde uygulayıp kendi reçetelerinizi yazarak farklı ekmekler yaratacaksınız, isterseniz de profesyonel işletmenizde uygulayarak işletmenizde özel ekmek reçeteleri geliştirecesiniz.Beş gün süren bu yoğun programda ekşi mayanın nasıl yapıldığını ve
        beslendiğini buğday ve çavdar ekşi maya ekmekleri hazırlamayı öğreneceksiniz.Program sonunda farklı ekşi maya çeşitleriyle baguette, fougasse ve ciabatta ekmeklerini yapabileceksiniz. Ayrıca tereyağlı, sütlü ve örgülü somun ekmekler gibi farklı ekmek çeşitlerini yapabilecek bilgi ve beceriyesahip olacaksınız.
    </p>
</div>
<div class="workshop-menu">
    <h2>Ders İçerikleri</h2>
    <ul>
        <li>1. Gün; Temek Ekmek Hamuru ve Çeşitleri</li>
        <li>2. Gün; Zenginleşitirilmiş Ekmek Hamuru ve Ekmek Çeşitleri</li>
        <li>3. Gün; Ekşi Mayalı Ekmek Hamuru</li>
        <li>4. Gün; Dolgulu ve Aromalı Ekmek Hamuru</li>
        <li>5. Gün; Pide ve Sokak Ekmekleri</li>
    </ul>
    <p>
        Eğitim süresince 16 katılımcı profesyonel eğitim mutfağında, kendi özel istasyonlarında tek kişi olarak çalışacaktır.
        Eğitimde kullanılacak Artisan Ekmek Yapım Seti katılımcılara hediye edilecektir. (Fırın küreği, fırın bezi, tezgâh fırçası, tırnak fırçası, kazıma spatulası, bez ekmek çantası, hamur bıçağı, bezli hamur sepeti, büyük-küçük ekmek kâğıt poşetleri, plastik konteyner)
        Tüm katılımcılara önlük seti ve reçeteleri içeren “Artisan Ekmek Yapımı” kitabı verilecektir.
        Eğitim süresince sabah atıştırmalıkları, çay-kahve, öğle yemeği ve içecekler MSA’nın ikramı olacaktır.
        Eğitimin sonunda eğitmen şeflerin imzaladığı özel sertifika verilecektir.
        *Program 5 gün sürmektedir.
        **Derslerin telafisi yapılmaz. Ücret iadesi yoktur.

    </p>
</div>

<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">1.500 TL</div>
    <div class="note">KDV Dahil</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/artisan-ekmek-yapimi">Artisan Ekmek Yapımı</a></li>
            <li class=""><span>Artisan Ekmek Yapımı Detay</span></li>
        </ul>
    </div>
</div>

