﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Çikolata Yapımı</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Artisan Çikolata Yapımı</strong></h1>


    <p>
        Msa'ya gelin çikolata konusunda uzmanlaşın.Artisan Çikolata Yapımı'nda öğreneceğiniz tekniklerle ister evinizde ister pastanenizde yada profesyonel işletmenizde uygulayabileceğiniz çikolata reçeteleri geliştirin.Orman meyveli trüf çikolatadan pralin sütlü badem drajeye kadar birbirinden farklı çikoltaların yapımını ve çikolata ile ilgili tüm incelikleri Artisan Çikolata Yapımı'nda öğrenin.
        Bu programda, çikolata yapımının temel taşı olan tabling, blok, chunk gibi temperleme tekniklerini öğrenecek; kalıplama, ganajdan trüf yapımı, kaplama, kesme, transfer kâgıdı kullanma ve renklendirme gibi işleme tekniklerinde uzmanlaşacaksınız.Program boyunca her gün farklı çikolata reçetelerini deneyimleyeceksiniz. Artisan Çikolata Yapımı'nda ayrıca kendi draje,  marzipan ile krokanınızı yapmayı ve bu ham maddelerle de çikolatayı nasıl birleştireceğinizi öğreneceksiniz.

    </p>
</div>
<div class="workshop-menu">
    <h2>Ders İçerikleri</h2>
    <ul>
        <li>1. Gün; Çikolatanın tarihçesi, çekirdekten başlayıp işlenebilir çikolata formuna gelebilmesi, farklı çeşitleri, kakao-yağ oranları, bitter, sütlü ve beyaz çikolatanın içerikleri ile ilgili detaylı bir sunum.</li>
        <li>2. Gün; Bu dersin sonunda renklendirme, lemon curd yapımı, kalıplama, draje yapımı, ganaj ve trüf yapımı, roches tekniği, krokan yapımı konularına hakim olacaksınız.</li>
        <li>3. Gün; Bu dersin sonunda kesme tekniği, tranfer kağıdı kullanımı, marzipan yapımı ve çikolata ile süsleme teknikleri konularına hakim olacaksınız.</li>
    </ul>
    <p>
        Eğitim süresince 16 katılımcı profesyonel eğitim mutfağında, kendi özel istasyonlarında tek kişi olarak çalışacaktır.
        Eğitimde kullanılacak Artisan Çikolata Yapım Seti katılımcılara hediye edilecektir.
        Tüm katılımcılara önlük seti ve reçeteleri içeren “Artisan Çikolata Yapımı” kitabı verilecektir.
        Eğitim süresince sabah atıştırmalıkları, çay-kahve, öğle yemeği ve içecekler MSA’nın ikramı olacaktır.
        Eğitimin sonunda eğitmen şeflerin imzaladığı özel sertifika verilecektir.
        *Program 3 gün sürmektedir.Derslerin telafisi yapılmaz.Ücret iadesi yoktur.


    </p>
</div>

<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">1.100 TL</div>
    <div class="note">KDV Dahil</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/artisan-cikolata-yapimi">Artisan Çikolata Yapımı</a></li>
            <li class=""><span>Artisan Çikolata Yapımı</span></li>
        </ul>
    </div>
</div>

