﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Kahve Eğitimi ve İşletmeciliği</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/donemlikworkshoplar/640x992/artisan_kahve_egitimi_isletmeciligi.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Artisan Kahve Eğitimi ve İşletmeciliği</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Artisan Kahve Eğitimi ve İşletmeciliği, kahve tutkunlarına kahvenin tüm çeşitlerini, çekirdeğinden itibaren kahve hazırlamanın inceliklerini öğretmek için tasarlandı. 3 günlük veya tercihe göre 4 günlük olarak satın alınabilen program kapsamı ise şöyle;
        3 günlük teorik ve pratik gerçekleşen programda kahvenin tarihinden farklı yapım yöntemlerine sunum ve süslemelere kadar kahveyle ilgili her detayı öğrenebilirsiniz.Üstelik 2. günün sonunda kendi özel harmanınızı yapıp evinize götürebilirsiniz eğitim sonunda iyi kahveyi anlama ve kahve çeşitlerine
        göre doğru ekipmanları seçme konularında uzmanlaşabilir, öğrendiğiniz teknikleri evde uygulayıp misafirleriniz için kusursuz kahveler hazırlayabilirsiniz. 4 günlük program ise, yukarıdaki kapsama ilave olarak bir kahve dükkânı açabilmek için size fikir verebilecek eğitim detaylarını kapsar.
        Eğitim sonunda sahip olacağınız işletmecilik donanımıyla, isterseniz hayalinizdeki mekânı açabilirsiniz.


    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/artisan-kahve-egitimi-ve-isletmeciligi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">23 Şubat 2015 - 26 Şubat 2015</div>
    <div class="time">10:00-15:00</div>
    <div class="clear hr"></div>
    <div class="price">1.750 TL (3 gün) 2.250 TL (4 gün)</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY047/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

