﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<form method="post" action="/basvuru" class="application-form" onsubmit="return false" id="basvuruFormu">
    <div class="form-wrapper">
        <div class="form-step">
            <div class="text-module">
                <h1><strong>Başvuru Formu</strong></h1>
                <ul>
                    <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
                    <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat i&#231;in randevulu olarak MSA'ya &#231;ağırılacaktır.</li>
                    <li>Başvurular, yılın her dönemi yapılabilir. MSA tüm yıl boyunca başvuru kabul etmektedir.</li>
                    <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
                </ul>
                <div class="text-center">
                    <a href="javascript:;" class="button x3">Devam</a>
                </div>
            </div>
        </div>
        <div class="form-step">
            <div class="text-module">
                <h1><strong>Başvuru Formu</strong></h1>
            </div>
            <div class="text-center add-bottom">
                <h5>Yaş Bilgisi</h5>
                <div class="breadcrumps-number">
                    <ul>
                        <li class="active"><a href="javascript:;">1</a></li>
                        <li><a href="javascript:;">2</a></li>
                        <li><a href="javascript:;">3</a></li>
                        <li><a href="javascript:;">4</a></li>
                    </ul>
                </div>
                <span class="icon alert add-bottom" style="opacity: 0;"></span>
                <p>MSA profesyonel eğitim programlarına katılacak adaylar için yaş aralığı uygulanmaktadır. Doğru program tercihi yapabilmenize yardımcı olmamız için lütfen doğum tarihinizi giriniz.</p>

            </div>
            <div class="no-margin">
                <div class="text-module gray">
                    <fieldset class="required">
                        <p>Doğum Tarihi</p>
                        <label>
                            <select id="birthday" name="birthday-day">
                                <option value="">Gün</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </label>
                    </fieldset>
                    <fieldset class="required">
                        <label>
                            <select id="birthmonth" name="birthday-month">
                                <option value="">Ay</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </label>
                    </fieldset>
                    <fieldset class="required">
                        <label>
                            <select id="birthyear" name="birthday-year">
                                <option value="">Yıl</option>
                                <option value="1997">1997</option>
                                <option value="1996">1996</option>
                                <option value="1995">1995</option>
                                <option value="1994">1994</option>
                                <option value="1993">1993</option>
                                <option value="1992">1992</option>
                                <option value="1991">1991</option>
                                <option value="1990">1990</option>
                                <option value="1989">1989</option>
                                <option value="1988">1988</option>
                                <option value="1987">1987</option>
                                <option value="1986">1986</option>
                                <option value="1985">1985</option>
                                <option value="1984">1984</option>
                                <option value="1983">1983</option>
                                <option value="1982">1982</option>
                                <option value="1981">1981</option>
                                <option value="1980">1980</option>
                                <option value="1979">1979</option>
                                <option value="1978">1978</option>
                                <option value="1977">1977</option>
                                <option value="1976">1976</option>
                                <option value="1975">1975</option>
                                <option value="1974">1974</option>
                                <option value="1973">1973</option>
                                <option value="1972">1972</option>
                                <option value="1971">1971</option>
                                <option value="1970">1970</option>
                                <option value="1969">1969</option>
                                <option value="1968">1968</option>
                                <option value="1967">1967</option>
                                <option value="1966">1966</option>
                                <option value="1965">1965</option>
                                <option value="1964">1964</option>
                                <option value="1963">1963</option>
                                <option value="1962">1962</option>
                                <option value="1961">1961</option>
                                <option value="1960">1960</option>
                                <option value="1959">1959</option>
                                <option value="1958">1958</option>
                                <option value="1957">1957</option>
                                <option value="1956">1956</option>
                                <option value="1955">1955</option>
                                <option value="1954">1954</option>
                                <option value="1953">1953</option>
                                <option value="1952">1952</option>
                                <option value="1951">1951</option>
                                <option value="1950">1950</option>
                                <option value="1949">1949</option>
                                <option value="1948">1948</option>
                                <option value="1947">1947</option>
                                <option value="1946">1946</option>
                                <option value="1945">1945</option>
                                <option value="1944">1944</option>
                                <option value="1943">1943</option>
                                <option value="1942">1942</option>
                                <option value="1941">1941</option>
                                <option value="1940">1940</option>
                                <option value="1939">1939</option>
                                <option value="1938">1938</option>
                                <option value="1937">1937</option>
                                <option value="1936">1936</option>
                                <option value="1935">1935</option>
                                <option value="1934">1934</option>
                                <option value="1933">1933</option>
                                <option value="1932">1932</option>
                                <option value="1931">1931</option>
                                <option value="1930">1930</option>
                            </select>
                        </label>
                    </fieldset>
                    <div class="text-center">
                        <a href="javascript:;" class="button x3">Devam</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-step">
            <div class="text-module remove-bottom">
                <h1><strong>Başvuru Formu</strong></h1>
            </div>
            <div class="text-center add-bottom">
                <h5>Program Bilgisi</h5>

                <div class="breadcrumps-number">
                    <ul>
                        <li class="passed"><a href="javascript:;">1</a></li>
                        <li class="active"><a href="javascript:;">2</a></li>
                        <li><a href="javascript:;">3</a></li>
                        <li><a href="javascript:;">4</a></li>
                    </ul>
                </div>
				<span class="icon alert add-bottom" style="opacity: 0;"></span>
            </div>

            <div class="no-margin">
                <div class="form-title">Program Bilgisi (*)</div>
                <div class="text-module gray">
                    <fieldset class="required">
                        <p>Başvurabileceğiniz Programlar</p>
                        <label>
                            <select id="courses" name="courses">
                                <option value="">Seçiniz</option>
                            </select>
                        </label>
                    </fieldset>
					<div id="notice" style="display: none;">Eğitime katılım için ofisimizle irtibata geçebilirsiniz.</div>
                    <fieldset class="required donem">
                        <p>Başvurulan Dönem</p>
                        <label>
                            <select id="terms" name="terms">
                                <option value="">Seçiniz</option>
                            </select>
                        </label>
                    </fieldset>
                    <fieldset class="required" style="display:none" id="chefcourses">
                        <p>1. Eğitim</p>
                        <label>
                            <select name="chefcourses" id="chefcoursesddl">
                                <option value="">Seçiniz</option>
                                <option value="38" class="enyuksek30">Uzun Dönem Profesyonel Aşçılık</option>
                                <!-- <option value="39" class="enyuksek30">Uzun Dönem Profesyonel Pasta ve Ekmekçilik</option> -->
                                <option value="40" class="enyuksek30">Profesyonel Aşçılık</option>
                                <option value="42" class="enyuksek30">Profesyonel Pasta &amp; Ekmekçilik</option>
								<option value="41" class="endusuk31">Stajsız Profesyonel Aşçılık</option>
                                <option value="43" class="endusuk31">Stajsız Profesyonel Pasta ve Ekmekçilik</option>
                            </select>
                        </label>
                    </fieldset>
                    <fieldset style="display:none">
                        <select id="chefterms" name="chefterms">
                            <option value="">Seçiniz</option>
                        </select>
                    </fieldset>
                    <fieldset style="display:none;">
                        <p>1. Eğitim Grubu</p>
                        <fieldset id="chefhours"></fieldset>
                        <input type="hidden" data-name="chefhour" id="chefhour" value="" />
                    </fieldset>
                    <fieldset style="display:none" id="chefcoursestitle">
                        <p>2. Eğitim</p>
                        <label>
                           Yiyecek / İçecek İşletmeciliği
                        </label>
                    </fieldset>
                    <fieldset style="display:none;"  class="required">
                        
						<p>Başvurulan Grup</p>
                        <fieldset id="hours"></fieldset>
                       <!-- <input type="hidden" data-name="hour" id="hour" value="test" /> -->
                    </fieldset>
                    <input type="hidden" name="Doğum Tarihi" id="birthdate-hidden" />
                    <input type="hidden" name="Program" id="courses-hidden" />
                    <input type="hidden" name="Dönem" id="date-hidden" />
                    <input type="hidden" name="İkinci Program" id="chef-courses-hidden" />
                    <input type="hidden" name="İkinci Dönem" id="chef-date-hidden" />
                    <a class="button submit x3">Devam</a>
                </div>
            </div>
        </div>
        <div class="form-step">
            <div class="text-module remove-bottom">
                <h1><strong>Başvuru Formu</strong></h1>
            </div>
            <div class="text-center add-bottom">
                <h5>Kişisel Bilgiler</h5>
                <div class="breadcrumps-number">
                    <ul>
                        <li class="passed"><a href="javascript:;">1</a></li>
                        <li class="passed"><a href="javascript:;">2</a></li>
                        <li class="active"><a href="javascript:;">3</a></li>
                        <li><a href="javascript:;">4</a></li>
                    </ul>
                </div>
				<span class="icon alert add-bottom" style="opacity: 0;"></span>
            </div>
            <div class="no-margin">

                <div class="form-title">Kişisel Bilgiler (*)</div>
                <div class="text-module gray">
                    <fieldset class="required">
                        <p>Ad</p>
                        <label>
                            <input type="text" id="Ad" name="Ad" class="input-text name sadeceHarf">
                        </label>
                    </fieldset>
                    <fieldset class="required">
                        <p>Soyad</p>
                        <label>
                            <input type="text" id="Soyad" name="Soyad" class="input-text name sadeceHarf">
                        </label>
                    </fieldset>
                    <fieldset class="required">
                        <p>E-Posta Adresi</p>
                        <label>
                            <input type="email" id="EPosta" name="EPosta" class="input-text email" >
                        </label>
                    </fieldset>
                    <fieldset class="required">
                        <p>E-Posta Adresi (Tekrar)</p>
                        <label>
                            <input type="email" name="E-Posta (Kontrol)" class="input-text email" >
                        </label>
                    </fieldset>
                    <fieldset class="required">
                        <p>Ülke</p>
                        <label>
                            <select id="country" name="Ülke">
                                <option value="TR">Türkiye</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaidjan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BA">Bosnia-Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="TP">East Timor</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="CS">Former Czechoslovakia</option>
                                <option value="SU">Former USSR</option>
                                <option value="FR">France</option>
                                <option value="FX">France (European Territory)</option>
                                <option value="GF">French Guyana</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GB">Great Britain</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe (French)</option>
                                <option value="GU">Guam (USA)</option>
                                <option value="GT">Guatemala</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard and McDonald Islands</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="INT">International</option>
                                <option value="IR">Iran</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="CI">Ivory Coast (Cote D'Ivoire)</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Laos</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macau</option>
                                <option value="MK">Macedonia</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique (French)</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia</option>
                                <option value="MD">Moldavia</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="AN">Netherlands Antilles</option>
                                <option value="NT">Neutral Zone</option>
                                <option value="NC">New Caledonia (French)</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="KP">North Korea</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn Island</option>
                                <option value="PL">Poland</option>
                                <option value="PF">Polynesia (French)</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Reunion (French)</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russian Federation</option>
                                <option value="RW">Rwanda</option>
                                <option value="GS">S. Georgia & S. Sandwich Isls.</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts & Nevis Anguilla</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="ST">Saint Tome (Sao Tome) and Principe</option>
                                <option value="VC">Saint Vincent & Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SK">Slovak Republic</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="KR">South Korea</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syria</option>
                                <option value="TJ">Tadjikistan</option>
                                <option value="TW">Taiwan</option>
                                <option value="TZ">Tanzania</option>
                                <option value="TH">Thailand</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US">United States</option>
                                <option value="UY">Uruguay</option>
                                <option value="MIL">USA Military</option>
                                <option value="UM">USA Minor Outlying Islands</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VA">Vatican City State</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Vietnam</option>
                                <option value="VG">Virgin Islands (British)</option>
                                <option value="VI">Virgin Islands (USA)</option>
                                <option value="WF">Wallis and Futuna Islands</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="YU">Yugoslavia</option>
                                <option value="ZR">Zaire</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                        </label>
                    </fieldset>
                    <fieldset class="required">
                        <p>Şehir</p>
                        <label>
                            <select id="city" name="Şehir">
                                <option value="0">Şehir Se&#231;iniz</option>
                                <option value="322">Adana</option>
                                <option value="416">Adıyaman</option>
                                <option value="272">Afyon</option>
                                <option value="472">Ağrı</option>
                                <option value="382">Aksaray</option>
                                <option value="358">Amasya</option>
                                <option value="312">Ankara</option>
                                <option value="242">Antalya</option>
                                <option value="478">Ardahan</option>
                                <option value="466">Artvin</option>
                                <option value="256">Aydın</option>
                                <option value="266">Balıkesir</option>
                                <option value="378">Bartın</option>
                                <option value="488">Batman</option>
                                <option value="458">Bayburt</option>
                                <option value="228">Bilecik</option>
                                <option value="426">Bing&#246;l</option>
                                <option value="434">Bitlis</option>
                                <option value="374">Bolu</option>
                                <option value="248">Burdur</option>
                                <option value="224">Bursa</option>
                                <option value="286">&#199;anakkale</option>
                                <option value="376">&#199;ankırı</option>
                                <option value="364">&#199;orum</option>
                                <option value="258">Denizli</option>
                                <option value="412">Diyarbakır</option>
                                <option value="380">D&#252;zce</option>
                                <option value="284">Edirne</option>
                                <option value="424">Elazığ</option>
                                <option value="446">Erzincan</option>
                                <option value="442">Erzurum</option>
                                <option value="222">Eskişehir</option>
                                <option value="342">Gaziantep</option>
                                <option value="454">Giresun</option>
                                <option value="456">G&#252;m&#252;şhane</option>
                                <option value="438">Hakkari</option>
                                <option value="326">Hatay</option>
                                <option value="476">Iğdır</option>
                                <option value="246">Isparta</option>
                                <option value="216">İstanbul (Anadolu)</option>
                                <option value="212">İstanbul (Avrupa)</option>
                                <option value="232">İzmir</option>
                                <option value="344">Kahramanmaraş</option>
                                <option value="370">Karab&#252;k</option>
                                <option value="338">Karaman</option>
                                <option value="474">Kars</option>
                                <option value="366">Kastamonu</option>
                                <option value="352">Kayseri</option>
                                <option value="318">Kırıkkale</option>
                                <option value="288">Kırklareli</option>
                                <option value="386">Kırşehir</option>
                                <option value="348">Kilis</option>
                                <option value="262">Kocaeli</option>
                                <option value="332">Konya</option>
                                <option value="274">K&#252;tahya</option>
                                <option value="422">Malatya</option>
                                <option value="236">Manisa</option>
                                <option value="482">Mardin</option>
                                <option value="324">Mersin</option>
                                <option value="252">Muğla</option>
                                <option value="436">Muş</option>
                                <option value="384">Nevşehir</option>
                                <option value="388">Niğde</option>
                                <option value="452">Ordu</option>
                                <option value="328">Osmaniye</option>
                                <option value="464">Rize</option>
                                <option value="264">Sakarya</option>
                                <option value="362">Samsun</option>
                                <option value="484">Siirt</option>
                                <option value="368">Sinop</option>
                                <option value="346">Sivas</option>
                                <option value="414">Şanlıurfa</option>
                                <option value="486">Şırnak</option>
                                <option value="282">Tekirdağ</option>
                                <option value="356">Tokat</option>
                                <option value="462">Trabzon</option>
                                <option value="428">Tunceli</option>
                                <option value="276">Uşak</option>
                                <option value="432">Van</option>
                                <option value="226">Yalova</option>
                                <option value="354">Yozgat</option>
                                <option value="372">Zonguldak</option>
                            </select>
                        </label>
                    </fieldset>
                    <fieldset class="required">
                        <p>Telefon (Ev/İş)</p>
                        <label class="xsmall left">
                            <input type="tel" id="TelefonKod" name="TelefonKod" class="input-text phone-pre" >
                            <span class="note">Alan Kodu</span>
                        </label>
                        <label class="large left">
                            <input type="tel" id="Telefon" name="Telefon" class="input-text phone-num" >
                            <span class="note">Telefon Numarası</span>
                        </label>
                    </fieldset>
                    <div class="clear"></div>
                    <fieldset class="required">
                        <p>Telefon (Cep)</p>
                        <label class="xsmall left">
                            <input type="tel" id="GSMKod" name="GSMKod" class="input-text phone-pre" >
                            <span class="note">GSM Kodu</span>
                        </label>
                        <label class="large left">
                            <input type="tel" id="GSM" name="GSM" class="input-text phone-num" >
                            <span class="note">Telefon Numarası</span>
                        </label>
                    </fieldset>
                    <div class="clear"></div>
                    <fieldset class="checkbox required">
                        <p>Medeni Durum</p>
						
						<div class="left">
							<input type="radio" name="Medeni Durum" class="radio_input" value="1" id="bekar"><label for="bekar" class="radio_label">Bekar</label>
						</div>
                            
                        <div class="left" style="padding-left: 50px;">
							<input type="radio" name="Medeni Durum" value="2" class="radio_input" id="Evli"><label for="Evli" class="radio_label">Evli</label>
						</div>
                    </fieldset>
                    <fieldset class="required">
                        <p>Uyruğu</p>
                        <label>
                            <select id="Uyruk" name="Uyruk">
                                <option value="">Seçiniz</option>
                                <option value="1">T.C.</option>
                                <option value="2">Diğer</option>
                            </select>
                        </label>
                    </fieldset>
                    <fieldset class="required tc-kimlik">
                        <p>T.C. Kimlik No</p>
                        <label>
                            <input type="tel" id="TCKimlik" name="TCKimlik" class="input-text tc-kimlik-no" >
                        </label>
                    </fieldset>
                </div>
                <div class="form-title">Eğitim Durumu</div>
                <div class="text-module gray">
                    <fieldset class="required">
                        <p>Eğitim Seviyesi</p>
                        <label>
                            <select id="EgitimSeviyesi" name="Eğitim Seviyesi">
                                <option value="">Seçiniz</option>
                                <option value="1">İlkokul</option>
                                <option value="2">Ortaokul</option>
                                <option value="3">Lise</option>
                                <option value="4">Üniversite</option>
                                <option value="5">Yüksek Lisans</option>
                            </select>
                        </label>
                    </fieldset>
                    <fieldset class="required">
                        <p>Son Mezun Olunan Okul</p>
                        <label>
                            <input type="text" id="SonMezunOlunanOkul" name="Son Mezun Olunan Okul" class="input-text" >
                        </label>
                    </fieldset>
                    <fieldset class="required">
                        <p>Mezuniyet Yılı</p>
                        <label class="medium">
                            <select id="MezuniyetYili" name="Mezuniyet Yılı">
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                                <option value="2009">2009</option>
                                <option value="2008">2008</option>
                                <option value="2007">2007</option>
                                <option value="2006">2006</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                                <option value="2002">2002</option>
                                <option value="2001">2001</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                                <option value="1997">1997</option>
                                <option value="1996">1996</option>
                                <option value="1995">1995</option>
                                <option value="1994">1994</option>
                                <option value="1993">1993</option>
                                <option value="1992">1992</option>
                                <option value="1991">1991</option>
                                <option value="1990">1990</option>
                                <option value="1989">1989</option>
                                <option value="1988">1988</option>
                                <option value="1987">1987</option>
                                <option value="1986">1986</option>
                                <option value="1985">1985</option>
                                <option value="1984">1984</option>
                                <option value="1983">1983</option>
                                <option value="1982">1982</option>
                                <option value="1981">1981</option>
                                <option value="1980">1980</option>
                                <option value="1979">1979</option>
                                <option value="1978">1978</option>
                                <option value="1977">1977</option>
                                <option value="1976">1976</option>
                            </select>
                        </label>
                    </fieldset>
                </div>
                <div class="form-title">Dil Bilgisi</div>
                <div class="text-module gray">
                    <fieldset class="required">
                        <p>İngilizce</p>
                        <label>
                            <select id="DilBilgisi" name="Dil Bilgisi">
                                <option value="">Seçiniz</option>
                                <option value="1">Orta</option>
                                <option value="2">İyi</option>
                                <option value="3">Çok İyi</option>
                            </select>
                        </label>
                    </fieldset>
                    <fieldset>
                        <p>Diğer</p>
                        <label>
                            <input type="text" id="Diger" name="Diğer" class="input-text" >
                            <span class="note">Bildiğiniz diğer dilleri virgülle ayırarak yazabilirsiniz.<br>Örnek: Almanca, Fransızca</span>
                        </label>
                    </fieldset>
                </div>
                <div class="form-title">İş Deneyimi</div>
                <div class="text-module gray">
                    <fieldset>
                        <p>Son Çalışılan Firma Adı</p>
                        <label>
                            <input type="text" id="SonCalisilanFirmaAdi" name="Son Çalışılan Firma Adı" class="input-text " >
                        </label>
                    </fieldset>
                    <fieldset>
                        <p>Toplam Çalışma Süresi (Yıl)</p>
                        <label>
                            <select id="ToplamCalismaSuresiYil" name="ToplamÇalışmaSüresiYıl">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                            </select>
                        </label>
                    </fieldset>
                    <a class="button submit x3">Devam</a>
                    <p class="avenir add-top small">*İlgili bölümlerin doldurulması zorunludur.</p>
                </div>
            </div>
        </div>
        <div class="form-step">
            <div class="text-module remove-bottom">
                <h1><strong>Başvuru Formu</strong></h1>
            </div>
            <div class="text-center add-bottom">
                <h5>Öz Yazı</h5>
                <div class="breadcrumps-number">
                    <ul>
                        <li class="passed"><a href="javascript:;">1</a></li>
                        <li class="passed"><a href="javascript:;">2</a></li>
                        <li class="passed"><a href="javascript:;">3</a></li>
                        <li class="active"><a href="javascript:;">4</a></li>
                    </ul>
                </div>
				<span class="icon alert add-bottom" style="opacity: 0;"></span>
            </div>
            <div class="no-margin">
                <div class="form-title">Ön Yazınız (*)</div>
                <div class="text-module gray">
                    <fieldset class="textarea required">
                        <div class="text">Lütfen en az 70, en fazla 500 kelime ile neden bu mesleği seçmek istediğinizi, kariyer planlarınızı ve kendinizi neden bu meslek için uygun gördüğünüzü açıklayınız.</div>
                        <label>
                            <textarea class="textarea" id="OnYazi" name="Öz Yazı" ></textarea>
                        </label>
                    </fieldset>
                    <a class="tamamla" onclick="Send();">Başvuruyu Tamamla</a>

                    <script>
                        function Send() {
							
							var OnYazi = $("textarea#OnYazi").val();
							var OnYaziTrim = $.trim(OnYazi);
							var minLength = 70;
							var courseYiyecek = $('#courses option:selected').val();

							if(courseYiyecek != "46"){
							
								if(!OnYazi.length){
									$("#OnYazi").parent().parent().addClass("red");
									$(".application-form .alert").fadeTo("fast",1);
									return false;
								}
								if(!OnYaziTrim){
									$("#OnYazi").parent().parent().addClass("red");
									$(".application-form .alert").fadeTo("fast",1);
									return false;
								}
							  
							   if(OnYazi.split(/\s+/).length < minLength) {
									$("#OnYazi").parent().parent().addClass("red");
									$(".application-form .alert").fadeTo("fast",1);
									return false;
							   }
								
							};
							
							
							
                            var birthday = $("#birthday").val();
                            var birthmonth = $("#birthmonth").val();
                            var birthyear = $("#birthyear").val();
                            var courseID = $("#courses").val();
                            var termID = $("#terms").val();
                            var chefcourseID = $("#chefcoursesddl").val();
                            var chefhourID = $("input:radio[name='chefhour']:checked").val();
                            var hourID = $("input:radio[name='hour']:checked").val();
                            var firstname = $("#Ad").val();
                            var lastname = $("#Soyad").val();
                            var email = $("#EPosta").val();
                            var countryCode = $("#country").val();
                            var cityID = $("#city").val();
                            var phone = $("#TelefonKod").val() + " " + $("#Telefon").val();
                            var mobilePhone = $("#GSMKod").val() + " " + $("#GSM").val();
                            var maritalStatusID = $("input:radio[name='Medeni Durum']:checked").val();
                            var nationalityID = $("#Uyruk").val();
                            var tcID = $("#TCKimlik").val();
                            var educationalLevelID = $("#EgitimSeviyesi").val();
                            var lastSchool = $("#SonMezunOlunanOkul").val();
                            var lastGraduatedYear = $("#MezuniyetYili").val();
                            var englishLevel = $("#DilBilgisi").val();
                            var otherLanguages = $("#Diger").val();
                            var lastWorkedCompany = $("#SonCalisilanFirmaAdi").val();
                            var totalWorkedYear = $("#ToplamCalismaSuresiYil").val();
                            var description = $("#OnYazi").val();



                            $.post("/Home/Basvuru", {
                                birthday: birthday,
                                birthmonth: birthmonth,
                                birthyear: birthyear,
                                courseID: courseID,
                                termID: termID,
                                chefcourseID: chefcourseID,
                                chefhourID: chefhourID,
                                hourID: hourID,
                                firstname: firstname,
                                lastname: lastname,
                                email: email,
                                countryCode: countryCode,
                                cityID: cityID,
                                phone: phone,
                                mobilePhone: mobilePhone,
                                maritalStatusID: maritalStatusID,
                                nationalityID: nationalityID,
                                tcID: tcID,
                                educationalLevelID: educationalLevelID,
                                lastSchool: lastSchool,
                                lastGraduatedYear: lastGraduatedYear,
                                englishLevel: englishLevel,
                                otherLanguages: otherLanguages,
                                lastWorkedCompany: lastWorkedCompany,
                                totalWorkedYear: totalWorkedYear,
                                description: description
                            },
                                function (viewModel) {
                                    if (viewModel.IsSuccess == false) {
                                        alert("Başvuru kaydedilirken bir hata oluştu. Lütfen daha sonra tekrar deneyiniz. Hata Detayı: " + viewModel.Message);
                                    } else {
                                        FormSlider.goToNextSlide();
                                    }
                                });

                            return false;
                        };
                    </script>

                    <p class="avenir add-top small">*İlgili bölümlerin doldurulması zorunludur.</p>
                </div>
            </div>
        </div>
        <div class="form-step">
            <div class="text-module">
                <h1><strong>Başvuru Formu</strong></h1>
                <div class="text-center add-bottom">
                    <span class="icon checked add-bottom"></span>
                    <h4>Başvurunuz başarıyla kaydedilmiştir.</h4>
                    <p>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için MSA'ya davet edilecektir. Size gönderdiğimiz onay mesajını e-posta hesabınızda göremiyorsanız lütfen spam ve junk (önemsiz) klasörlerinizi de kontrol edin.</p>
                </div>
            </div>

        </div>
    </div>
</form>






<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/Profesyonel-Egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><span>Başvuru</span></li>
        </ul>
    </div>
</div>
