﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Burgers &amp; Fries</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/burgers-and-fries.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Burgers &amp; Fries</h2>
                    <p>En iyi burger tarifleri bu Workshop’ta.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>İdeal burger yapımının tüm inceliklerini öğrenebileceğiniz harika bir workshop. <br /> Kapı kapı dolaşıp burgerci denemeyin, kalpleri evinizde fethedin. Dilerseniz kendi keyfiniz için, dilerseniz eşe dosta caka satmak için, dilerseniz de sevgiliye hava atmak için gelin kendiniz burger yapmayı öğrenin. Yanında enfes kızarmış patatesinden soğan halkalarına; mantar ketçabından özel mayonezine kadar bu burger %100 sizin. </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/burgers-and-fries/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">10 Ocak Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>
