﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Cheesecakeler</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Cheesecakeler</strong></h1>


    <p>
“Kıvamı en yerinde ve lezzeti bol cheesecake benim olmalı!” diyorsanız tarif arayışına bir son vererek MSA şeflerinin özel reçeteleriyle tanışın. Kusursuz cheesecake ziyafetinizi en yaratıcı yorumlarıyla yerinde öğrenin ve bu Workshop’ta yerinizi şimdiden ayırın.
    </p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Muzlu, bitter parça çikolatalı cheesecake</li>
        <li>Limonlu cheesecake</li>
        <li>Vişneli cheesecake</li>
        <li>Oreo bisküvili ve vanilyalı cheesecake</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">07 Mart Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/cheesecakeler">Cheesecakeler</a></li>
            <li class=""><span>Cheesecakeler Detay</span></li>
        </ul>
    </div>
</div>

