﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Cheesecakeler</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/cheesecakeler_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Cheesecakeler</h2>
                    <p>Güzel cheesecake arayışına son.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
"Kıvamı en yerinde ve lezzeti bol cheesecake benim olmalı!” diyorsanız tarif arayışına bir son vererek MSA şeflerinin özel reçeteleriyle tanışın. Kusursuz cheesecake ziyafetinizi en yaratıcı yorumlarıyla yerinde öğrenin ve bu Workshop’ta yerinizi şimdiden ayırın.
    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/cheesecakeler/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">07 Mart Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

