﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Chef &amp; Owner</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="paragraph">

    <h1><strong>Chef &amp; Owner</strong></h1>
    <p>
    <p>Chef & Owner programı, T.C Milli Eğitim Bakanlığı onaylı bir program olup, aynı zamanda uluslararası bir mesleki eğitim akreditasyon kurumu olan City & Guilds eğitim içerik ve sistemini uygulamaktadır. Eğitim sonucunda, eğitim dönemini başarılı bir şekilde tamamlayan ve sınavlarından geçer notu alan Uzun Dönem Profesyonel Aşçılık, Uzun Dönem Profesyonel Pasta-Ekmekçilik, Profesyonel Aşçılık ve Profesyonel Pasta-Ekmekçililk öğrencilerine MEB onaylı sertifika ile City & Guilds diploması verilmektedir. Stajsız Profesyonel Aşçılık ve Stajsız profesyonel Pasta-Ekmekçilik programlarından başarı ile mezun olan öğrenciler ise MEB onaylı sertifika almaya hak kazanmaktadırlar. Dileyen Chef&Owner programı öğrencileri 100'den fazla ülkede geçerliliğe sahip, turizm ve eğlence sektöründe çalışan yönetici ve yönetici adaylarına yönelik bir eğitim kurumu olan Institute of Hospitality (IOH) sertifika sınavına katılabilir.</p>
    <p>İlk sınav %50 geçer not beklenen T.C. MEB sınavıdır ve öğrencinin başarısı T.C. MEB sertifikası ile belgelenir. İlk sınavdan geçer not alan, dönem içindeki görevlerini tam anlamı ile yerine getiren, dönem içindeki sözlü, yazılı ve uygulamalı sınavlarında başarılı olan, günlük ödevlerinde ve kendisine dönem başında verilen proje genelinde başarı gösteren Uzun Dönem Profesyonel Aşçılık, Uzun Dönem Profesyonel Pasta-Ekmekçilik, Profesyonel Aşçılık ve Profesyonel Pasta-Ekmekçililk öğrencileri tüm dünya ile aynı anda yapılan ve %65 geçer not beklenen City & Guilds sınavına girmeye hak kazanır. Başarı, dünya genelinde tanınan ve kabul gören City & Guilds diploması ile belgelenir.</p>
    </p>


</div>

<div class="testimonials text-module text-left">


    <div class="testimonials text-module text-center">
        <p><em>“Hayatınızı bir anda değiştirebilen bir mesleğe adım atmamızı sağlayabilecek inanılmaz bir okul burası.”</em></p>

        <div class="testimonial-detail text-left">
            <div class="text avenir">
                <p>
                    <b>Fırat Yanardağ / 2008 Aşçılık Mezunu</b>
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>




    <div class="clear"></div>
    <h2><strong>MSA mezunları hangi diploma ve sertifikalara sahip oluyor?</strong></h2>
</div>

<div class="accordion-module collapse-all">
    <h3>City & Guilds</h3>
    <div><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p></div>

    <h3>MEB Onaylı Sertifika</h3>
    <div><p>Milli Eğitim Bakanlığı tarafından onaylı sertifikaları sayesinde MSA mezunları aldıkları eğitim kalitesini Türkiye’nin en yüksek eğitim merci tarafından tasdik etmekte, eğitimin ulusal standartlara uygun olduğunu belgelendirmektedir.</p></div>

    <h3>HACCP sertifikası</h3>
    <div><p>HACCP belgesi; günümüzde gıda üretimi ile ilgili tüm fiziksel, kimyasal ve/veya mikrobiyolojik süreçlerin güvenli işleyişini sağlamak amacı ile hem yurt dışında hem de ülkemizdeki endüstriyel mutfaklarda çalışanlardan sahip olmaları beklenen bir belgedir. Özellikle yurt dışında bulunan işletmeler tarafından mecburi tutulan, ülkemizde de aynı şekilde talep edilen HACCP sertifikası, mutfak personeline büyük değer katmaktadır. MSA Uzun Dönem Profesyonel Pasta ve Ekmekçilik öğrencileri, eğitim müfredatına dahil olan bu detaylı HACCP eğitimi ile tüm sektörde talep edilen bu sertifikaya sahip olmaktadır.</p></div>

    <h3>Uluslararası Johnson & Wales Diplomasına İlk Adım</h3>
    <div><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p></div>

    <h3>Staj</h3>
    <div><p>Eğitimin ilk sekiz ayı MSA profesyonel mutfaklarında, son dört ayı MSA tarafından belirlenen staj lokasyonunda gerçekleşir. Haftada 6 gün, günde 8-9 saati kapsayan staj yerleştirmeleri MSA tarafından düzenlenir. Öğrenciler ülkenin önde gelen otel, restoran ve işletmelerinde staj görür. MSA Profesyonel Uzun Dönem Profesyonel Pasta-Ekmekçilik mezunları 12 aylık eğitimlerini tamamladıktan sonra, Amerika’ya maaşlı staja da gidebilirler.</p></div>

    <h3>Alma La Scuola Internazionale di Cucina Italiana</h3>
    <div><p>İtalyan Hükümeti'nin desteklediği saygın aşçılık okulu ALMA La Scuola Internazionale di Cucina Italiana'nın, MSA ile yaptığı özel anlaşma çerçevesinde MSA öğrencileri, "Uzun Dönem Profesyonel Pasta-Ekmekçilik Eğitimi"ni tamamladıktan sonra, ALMA'da 7 aylık pratik uygulamalı ileri seviye İtalyan Mutfağı eğitimlerine devam edebilir ve İtalya'nın en iyi otel ve restoranlarında staj yapma şansı kazanır. MSA'da temel eğitimlerini başarı ile tamamlayan ve kariyerlerini İtalyan Mutfağı konusunda ilerletmek isteyen öğrencilerimiz, ALMA'da hafta içi 5 gün ve günde 8 saat olarak pratik derse girebilir.</p></div>
</div>

<div class="text-center add-top add-bottom">
    <a href="/basvuru-formu" class="button x3">Başvuru Formu</a>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/chef-and-owner">Chef and Owner</a></li>
            <li class=""><span>Chef and Owner</span></li>
        </ul>
    </div>
</div>

