﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"Chef &amp; Owner</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="paragraph">
    <h1><strong>Dönemler ve Eğitim Süresi</strong></h1>
</div>

<div class="gray text-module">
            <div class="prices text-center add-border-top add-padding-top">

        <h4>Chef & Owner (Uzun Dönem Profesyonel Aşçılık Eğitimi & İşletmecilik)</h4>
        <p class="large half-bottom"><strong>30.900 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)</p>
        <!-- <p class="yeniTarih">2 Mart 2015'ten itibaren</p>
		<p class="large half-bottom yeniFiyat"><strong>30.900 TL</strong></p> -->

    </div>
    <div class="prices text-center add-border-top add-padding-top">

        <h4>Chef & Owner (Uzun Dönem Profesyonel Pasta ve Ekmekçilik Eğitimi & İşletmecilik)</h4>
        <p class="large half-bottom"><strong>24.800 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)</p>
        <!-- <p class="yeniTarih">2 Mart 2015'ten itibaren</p>
		<p class="large half-bottom yeniFiyat"><strong>24.800 TL</strong></p> -->
    </div>
    <div class="prices text-center add-border-top add-padding-top">

        <h4>Chef & Owner (Stajsız Profesyonel Aşçılık Eğitimi & İşletmecilik)</h4>
        <p class="large half-bottom"><strong>21.800 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)</p>
        <!-- <p class="yeniTarih">2 Mart 2015'ten itibaren</p>
		<p class="large half-bottom yeniFiyat"><strong>21.800 TL</strong></p> -->

    </div>
	<div class="prices text-center add-border-top add-padding-top">

        <h4>Chef & Owner (Profesyonel Aşçılık Eğitimi & İşletmecilik)</h4>
        <p class="large half-bottom"><strong>21.800 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)</p>
        <!-- <p class="yeniTarih">2 Mart 2015'ten itibaren</p>
		<p class="large half-bottom yeniFiyat"><strong>21.800 TL</strong></p> -->

    </div>
	<div class="prices text-center add-border-top add-padding-top">

        <h4>Chef & Owner (Profesyonel Pasta ve Ekmekçilik Eğitimi & İşletmecilik)</h4>
        <p class="large half-bottom"><strong>19.000 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)</p>
        <!-- <p class="yeniTarih">2 Mart 2015'ten itibaren</p>
		<p class="large half-bottom yeniFiyat"><strong>19.000 TL</strong></p> -->

    </div>
	<div class="prices text-center add-border-top add-padding-top">

        <h4>Chef & Owner (Stajsız Pasta ve Ekmekçilik Eğitimi & İşletmecilik)</h4>
        <p class="large half-bottom"><strong>19.000 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)</p>

    </div>
    <div class="prices add-border-top add-padding-top">

        <h4><strong>Eğitim S&#252;resi</strong></h4>
        <p>Aşçılık, 4 ay teori-uygulama ve 110 iş günü staj olmak üzere toplam 8 aydır. Sınıf kontenjanları 24 kişi ile sınırlıdır.</p>
        <p>Stajsız Aşçılık, teori-uygulama olmak üzere toplam 4 aydır. Sınıf kontenjanları 24 kişi ile sınırlıdır.</p>
        <p>Pasta-Ekmekçilik, 4 ay teori-uygulama ve 110 iş günü staj olmak üzere toplam 8 aydır. Sınıf kontenjanları 20 kişi ile sınırlıdır.</p>
        <p>Stajsız Pasta-Ekmekçilik, teori-uygulama olmak üzere toplam 4 aydır. Sınıf kontenjanları 20 kişi ile sınırlıdır.</p>
        <p>Yiyecek İçecek İşletmeciliği, 21 ders teorik, 15 ders pratik olmak üzere toplam 2 aydır. Sınıf kontenjanları 28 kişi ile sınırlıdır.</p>


    </div>
</div>

<div class="akademikTakvim">
    <h3>Yiyecek İ&#231;ecek İşletmeciliği</h3>
    <ul>
        <li>
            <h5 class="half-bottom">25 Mayıs 2015 - Sabah </h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş (10:00-13:00 (Sabah mutfak dersleri 09.00'da başlar.))</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
    </ul>
    <h3>Pasta ve Ekmekçilik</h3>
    <ul>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Sabah </h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş  (09:00-13:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Akşam </h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş  (19:00-23:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
		<li>
            <h5 class="half-bottom">23 Mayıs 2015 - Sabah </h5>
            <h4 class="normal">Cumartesi-Pazar  (09:00-18:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
    </ul>
    <h3>Profesyonel Aşçılık</h3>
    <ul>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Sabah</h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş  (09:00-13:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Öğle </h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş (14:00-18:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
        <li>
            <h5 class="half-bottom">23 Mayıs 2015 - Hafta Sonu </h5>
            <h4 class="normal">Cumartesi- Pazar  (09:00-18:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
    </ul>
    <h3>Uzun Dönem Profesyonel Aşçılık - İlk 4 ay</h3>
    <ul>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Sabah </h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş-Cum  (09:00-13:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Öğle </h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş-Cum   (14:00-18:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
        <li>
            <h5 class="half-bottom">23 Mayıs 2015 - Hafta Sonu </h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş-Cum  (09:00-14:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
    </ul>
   <!--
   <h3>Uzun Dönem Profesyonel Pasta-Ekmekçilik - İlk 4 ay</h3>
    <ul>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Sabah </h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş  (09:00-13:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Akşam </h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş  (19:00-23:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
		
		<li>
            <h5 class="half-bottom">23 Mayıs 2015 - Hafta Sonu</h5>
            <h4 class="normal">Cumartesi-Pazar (09:00-18:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
    </ul>
	-->
    <div class="clear"></div>

</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/chef-and-owner">Chef and Owner</a></li>
            <li class=""><span>Chef and Owner</span></li>
        </ul>
    </div>
</div>
