﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>"Eğitimler</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/gunluk-workshoplar.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Dönemlik Workshoplar</h2>
                    <p>Dönemlik Workshoplar</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>

<div class="slider-module list text-center donemlikworkshoplar">
    <ul>
        <li>
            <div class="slide">
                <a href="/donemlik-workshoplar/mutfakta-8-hafta">
                    <div class="image"><img src="/uploads/donemlikworkshoplar/272x136/mutfakta8hafta.jpg">
                    </div>
                    <div class="text-title">Mutfakta 8 Hafta</div>
                    <div class="text-desc">12 Nisan 2015 - 14 Haziran 2015 - Her Pazar 10:00-14:00</div>
                </a>
            </div>
            <div class="slide">
                <a href="/donemlik-workshoplar/mutfakta-8-hafta-devrialem">
                    <div class="image"><img src="/uploads/donemlikworkshoplar/272x136/mutfakta8hafta_devrialem.jpg">
                    </div>
                    <div class="text-title">Mutfakta 8 Hafta Devri&#226;lem</div>
                    <div class="text-desc">Yeni eğitim programı belirlenince açıklanacaktır.</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/donemlik-workshoplar/artisan-ekmek-yapimi">
                    <div class="image">
                        <img src="/uploads/donemlikworkshoplar/272x136/artisan_ekmek_yapimi.jpg">
                    </div>
                    <div class="text-title">Artisan Ekmek Yapımı</div>
                    <div class="text-desc">Yeni eğitim programı belirlenince açıklanacaktır.</div>
                </a>
            </div>
            <div class="slide">
                <a href="/donemlik-workshoplar/jamies-home-cooking-skills-14-17-yas">
                    <div class="image"><img src="/uploads/donemlikworkshoplar/272x136/jamiescookingskills.jpg">
                    </div>
                    <div class="text-title">Jamie's Home Cooking Skills (14-17 yaş)</div>
                    <div class="text-desc">Yeni eğitim programı belirlenince açıklanacaktır.</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/donemlik-workshoplar/artisan-cikolata-yapimi">
                    <div class="image">
                        <img src="/uploads/donemlikworkshoplar/272x136/artisan_cikolata_yapimi.jpg">
                    </div>
                    <div class="text-title">Artisan Çikolata Yapımı</div>
                    <div class="text-desc">Yeni eğitim programı belirlenince açıklanacaktır.</div>
                </a>
            </div>
            <div class="slide">
                <a href="/donemlik-workshoplar/tekne-personeli-icin-ascilik-egitimi">
                    <div class="image">
                        <img src="/uploads/donemlikworkshoplar/272x136/tekno_personeli_icin_ascilik_egitimi.jpg">
                    </div>
                    <div class="text-title">Tekne Personeli İçin Aşçılık Eğitimi</div>
                    <div class="text-desc">Yeni eğitim programı belirlenince açıklanacaktır.</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/donemlik-workshoplar/mutfakta-8-hafta-pastacilik-2">
                    <div class="image">
                        <img src="/uploads/donemlikworkshoplar/272x136/mutfakta_8_hafta_pastacılık2.jpg">
                    </div>
                    <div class="text-title">Mutfakta 8 Hafta Pastacılık 2</div>
                    <div class="text-desc">17 Nisan 2015 - 12 Haziran 2015 Her Cuma 10.00-14.00</div>
                </a>
            </div>
            <div class="slide">
                <a href="/donemlik-workshoplar/artisan-kahve-egitimi-ve-isletmeciligi">
                    <div class="image">
                        <img src="/uploads/donemlikworkshoplar/272x136/artisan_kahve_egitimi_isletmeciligi.jpg">
                    </div>
                    <div class="text-title">Artisan Kahve Eğitimi ve İşletmeciliği</div>
                    <div class="text-desc">13-14-15 Nisan 2015 - 13-14-15-16 Nisan 2015 - 10.00-15.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/donemlik-workshoplar/artisan-peynir-yapimi">
                    <div class="image">
                        <img src="/uploads/donemlikworkshoplar/272x136/artisan_peynir_yapimi.jpg">
                    </div>
                    <div class="text-title">Artisan Peynir Yapımı</div>
                    <div class="text-desc">20 nisan 2015 Pazartesi - 21 Nisan 2015 Salı 10.00-15.00</div>
                </a>
            </div>
            <div class="slide">
                <a href="/donemlik-workshoplar/mutfakta-8-hafta-pastacilik">
                    <div class="image">
                        <img src="/uploads/donemlikworkshoplar/272x136/mutfakta8hafta_pasticilik.jpg">
                    </div>
                    <div class="text-title">Mutfakta 8 Hafta – Pastacılık</div>
                    <div class="text-desc">22 Mart 2015 - 10 Mayıs 2015 - Her Pazar 16:00-20:00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/donemlik-workshoplar/food-styling-giris">
                    <div class="image">
                        <img src="/uploads/donemlikworkshoplar/272x136/food_stylinge_giris.jpg">
                    </div>
                    <div class="text-title">Food Styling'e Giriş</div>
                    <div class="text-desc">20 Şubat 2015 - 21 Şubat 2015 - Cuma 16:00-20:00 / Cumartesi 10:00-14:00</div>
                </a>
            </div>
            <div class="slide">
                <a href="/donemlik-workshoplar/gencler-icin-profesyonel-mutfaga-hazirlik">
                    <div class="image">
                        <img src="/uploads/donemlikworkshoplar/272x136/gencler_icin_pro-mutfaga-hazirlik.jpg">
                    </div>
                    <div class="text-title">Gençler için Profesyonel Mutfağa Hazırlık</div>
                    <div class="text-desc">Yeni eğitim programı belirlenince açıklanacaktır.</div>
                </a>
            </div>
        </li>

    </ul>
</div>






<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><span>Dönemlik Workshoplar</span></li>
        </ul>
    </div>
</div>
