﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="page-title">
            <h4><strong>Eğitim Kadrosu</strong></h4>
        </div>

        <div class="paragraph">
            <h1><strong>Mutfağın Okulu’nda onların sözü geçiyor</strong></h1>
            <p>MSA eğitim kadrosu uluslararası okullarda eğitim almış, dünyanın önemli otel ve restoranlarında çalışmış, deneyimli, konularında uzman, profesyonel şeflerden oluşmaktadır. MSA'da uzman şeflerimizin yanı sıra eğitmen olarak, ünlü executive şefler ve sektörün önde gelen isimleri de ders vermektedir.</p>

            <form>
                <fieldset class="remove-bottom">
                    <label>
                        <select>
                            <option value="">Seçiniz</option>
                            <option value="">MSA Eğitmenleri</option>
                        </select>
                    </label>
                </fieldset>
            </form>

        </div>



        <div class="egitim-kadrosu">
            <ul>
                <li>
                    <div class="person-image"><img src="/assets/images/files/04.jpg"></div>
                    <div class="clear"></div>
                    <div class="person-name">Erkan Yeşil</div>
                    <div class="person-title">Eğitmen Şef</div>
                    <p>1976 Bolu doğumlu Erkan Yeşil, aile mesleği olan aşçılığa 1989 yılında Büyük Sürmeli Oteli'nde başladı. Ardından Da Mario, sonrasında ise açılışında bulunduğu The Plaza Otel’inde iki yıl süre ile çalışmalarına devam etti. Sonra sırası ile Havana Restaurant&Club, Divan Otel ve Titanic Business Asia’da çalıştı. Son olarak Divan Asia’da Sous Chef olarak meslek hayatına devam eden Yeşil, MSA’ya Kasım 2009’da Profesyonel Aşçılık Eğitmeni olarak katıldı.</p>
                </li>
                <li>
                    <div class="person-image"><img src="/assets/images/files/04.jpg"></div>
                    <div class="clear"></div>
                    <div class="person-name">Erkan Yeşil</div>
                    <div class="person-title">Eğitmen Şef</div>
                    <p>1976 Bolu doğumlu Erkan Yeşil, aile mesleği olan aşçılığa 1989 yılında Büyük Sürmeli Oteli'nde başladı. Ardından Da Mario, sonrasında ise açılışında bulunduğu The Plaza Otel’inde iki yıl süre ile çalışmalarına devam etti. Sonra sırası ile Havana Restaurant&Club, Divan Otel ve Titanic Business Asia’da çalıştı. Son olarak Divan Asia’da Sous Chef olarak meslek hayatına devam eden Yeşil, MSA’ya Kasım 2009’da Profesyonel Aşçılık Eğitmeni olarak katıldı.</p>
                </li>
                <li>
                    <div class="person-image"><img src="/assets/images/files/04.jpg"></div>
                    <div class="clear"></div>
                    <div class="person-name">Erkan Yeşil</div>
                    <div class="person-title">Eğitmen Şef</div>
                    <p>1976 Bolu doğumlu Erkan Yeşil, aile mesleği olan aşçılığa 1989 yılında Büyük Sürmeli Oteli'nde başladı. Ardından Da Mario, sonrasında ise açılışında bulunduğu The Plaza Otel’inde iki yıl süre ile çalışmalarına devam etti. Sonra sırası ile Havana Restaurant&Club, Divan Otel ve Titanic Business Asia’da çalıştı. Son olarak Divan Asia’da Sous Chef olarak meslek hayatına devam eden Yeşil, MSA’ya Kasım 2009’da Profesyonel Aşçılık Eğitmeni olarak katıldı.</p>
                </li>
            </ul>
        </div>




        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="#">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>

