﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="homepage-slider cover">
            <ul>
                <li style="background-image:url('/assets/images/slideshow/06.jpg');"><div class="slide"><div class="slide-content"><h2>Profesyonel Eğitimler</h2></div></div></li>
            </ul>
            <div class="icon arrow-down"></div>
        </div>

        <div class="paragraph short">
            <p>
                Mutfağı profesyonel iş alanı olarak gören
                ve kariyer hedefi dünya mutfaklarında sayılı isimler arasında yer almak olan herkesi, uluslararası eğitim standartlarıyla buluşturuyoruz.
            </p>
        </div>


        <div class="slider-module list text-center">

            <ul>
                <li>
                    <div class="slide">
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Aşcılık</div>
                        </a>
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Aşcılık</div>
                        </a>
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Aşcılık</div>
                        </a>
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                        </a>
                    </div>
                </li>
            </ul>

        </div>

        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="#">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>
