﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"El Yapımı Makarnalar</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/elyapimi_makarnalar_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>El Yapımı Makarnalar</h2>
                    <p>Hazır makarna devri rafa kalkıyor.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>“Yemeğe makarna yaptım.” dediğinizde heyecanlı bakışları üzerinize toplayacak Workshop burada. En az İtalyanlar kadar güzel makarna hamuru açıp hangi makarna çeşidine en nefis sos ve dolgu uyarlaması nasıl hazırlanır öğrenmek istiyorsanız bu etkinlik tam size göre.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/el-yapimi-makarnalar/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">19 Mart Perşembe</div>
    <div class="time">19.00 - 23.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY061/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>
