﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"El Yapımı Makarnalar</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>El Yapımı Makarnalar</strong></h1>


    <p>“Yemeğe makarna yaptım.” dediğinizde heyecanlı bakışları üzerinize toplayacak Workshop burada. En az İtalyanlar kadar güzel makarna hamuru açıp hangi makarna çeşidine en nefis sos ve dolgu uyarlaması nasıl hazırlanır öğrenmek istiyorsanız bu etkinlik tam size göre.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
		<li>Ragu soslu fettuccine</li>
		<li>Közlenmiş patlıcan ve parmesan dolgulu tortellini, fesleğenli domates sos</li>
		<li>Kremalı, mantarlı spaghetti</li>
		<li>Tatlı ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">19 Mart Perşembe</div>
    <div class="time">19.00 - 23.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY061/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/el-yapimi-makarnalar">El Yapımı Makarnalar</a></li>
            <li class=""><span>El Yapımı Makarnalar Detay</span></li>
        </ul>
    </div>
</div>