﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Etkinlik Takvimi</title>
<meta name="keywords" content="">
<meta name="description" content="">


<script type="text/javascript">

    $(document).ready(function () {


        /*
                var custom_event;
                var events = [];
                    events.push({ "id": 444, "date": "2015-1-10", "title": "Etler ve Pişirme Teknikleri" });
                    events.push({ "id": 450, "date": "2015-01-03", "title": "Cheesecakeler" });
                    events.push({ "id": 456, "date": "2015-01-05", "title": "İtalyan Mutfağı 1" });
                    events.push({ "id": 462, "date": "2015-01-08", "title": "Vazge&#231;emediklerimiz 2" });
                    events.push({ "id": 468, "date": "2015-01-10", "title": "Matmazel Macaron" });
                    events.push({ "id": 474, "date": "2015-01-10", "title": "Burgers &amp; Fries" });
                    events.push({ "id": 480, "date": "2015-01-11", "title": "Haftanın Yemeği" });
                    events.push({ "id": 486, "date": "2015-01-12", "title": "İtalyan Mutfağı 2" });
                    events.push({ "id": 492, "date": "2015-01-14", "title": "Parizyen Tatlılar" });
                    events.push({ "id": 498, "date": "2015-01-15", "title": "Uzak Doğu Mutfağı" });
                    events.push({ "id": 504, "date": "2015-01-17", "title": "K&#252;&#231;&#252;k Gurme 1 (5-9 Yaş)" });
                    events.push({ "id": 510, "date": "2015-01-17", "title": "Pizzalar ve Salatalar" });
                    events.push({ "id": 516, "date": "2015-01-19", "title": "Şaraba Eşlik Edenler" });
                    events.push({ "id": 522, "date": "2015-01-22", "title": "Tapas" });
                    events.push({ "id": 528, "date": "2015-01-24", "title": "Pasta, B&#246;rek, &#199;&#246;rek" });
                    events.push({ "id": 534, "date": "2015-01-24", "title": "Sandwiches &amp; Wraps" });
                    events.push({ "id": 540, "date": "2015-01-26", "title": "İtalyan Mutfağı 3" });
                    events.push({ "id": 546, "date": "2015-01-29", "title": "El Yapımı Makarnalar" });
            
                var FirstDate = new Date("2015-01-24").setDate(1);
                var SelectedDate = new Date("2015-01-24");
                $(".calendarMonths").attr("data-today", moment(FirstDate).format("YYYY-MM-DD"));
        
                var today = moment(FirstDate);
                var newMonth = today.month() + 1;
                var newYear = today.year();
        
                changeMonth("next", today, newMonth, newYear);
        
                var dragging = false;
        
                $("body").on("touchstart", function () {
                    dragging = false;
                });
        
                $("body").bind('touchmove', function (event) {
                    dragging = true;
                });
        
                //if(Modernizr.touch){ custom_event = "tap" }else{ custom_event = "click" }
                if (Modernizr.touch) {
                    if (dragging) {
                        custom_event = "click"
                    }
                    else {
                        custom_event = "touchend"
                    }
                }
                else {
                    custom_event = "click"
                }
        
                
                
                
                function changeMonth(direction, today, newMonth, newYear) {
                    newMonth = newMonth < 10 ? "0"+newMonth : newMonth;
                    var prevMonthText = $(".calendarMonths .changeMonth.prev");
                    var currentText = $(".calendarMonths .currentMonth");
                    var nextMonthText = $(".calendarMonths .changeMonth.next");
                    var diff;
                    var currentDate;
                    var prevDate;
                    var nextDate;
        
                    currentDate = moment(newYear + "-" + newMonth + "-01");
                    prevDate = moment(currentDate).subtract(1, 'month');
                    nextDate = moment(currentDate).add(1, 'month');
                    diff = currentDate.diff(today, 'month');
                    if (diff > -1) {
                        newMonth = moment(currentDate).format("MMMM");
                        newYear = moment(currentDate).format("YYYY");
                        currentText.text(newMonth + " " + newYear);
        
                        currentText.attr("data-month", moment(currentDate).format("MM"));
                        currentText.attr("data-year", moment(currentDate).format("YYYY"));
                        prevMonthText.attr("data-month", moment(prevDate).format("MM"));
                        prevMonthText.attr("data-year", moment(prevDate).format("YYYY"));
                        nextMonthText.attr("data-month", moment(nextDate).format("MM"));
                        nextMonthText.attr("data-year", moment(nextDate).format("YYYY"));
        
                        var last = moment(currentDate).add(1, 'month').date(0).format("DD");
                        var first;
        
                        if (diff == "-0" && moment(today).format("MM") == moment(currentDate).format("MM")) {
                            first = moment(today).format("D");
                        }
                        else {
                            first = 1;
                        }
                        $(document).find(".daysInMonths ul").empty();
                        for (i = first; i <= last; i++) {
                            var date = moment(currentDate).date(i).format("YYYY-MM-DD");
                            listDays(date);
                            if (i == last) {
                                listEventsDots();
                            }
                        }
                    }
        
                    $("li[data-date='" + moment(SelectedDate).format("YYYY-MM-DD") + "']").click();
        
                }
        
                function listEventsDots() {
                    var list = $(document).find(".daysInMonths ul");
                    list.find("li").eq(0).addClass("active");
        
                    $.each(events, function (index, event) {
                        var eventDate = event.date;
                        var eventTitle = event.title;
                        var point = '<a class="event-dot" data-title="' + eventTitle + '" data-date="' + eventDate + '"></a>';
                        list.find("li[data-date=" + eventDate + "] .eventsDots").append(point);
                    });
                }
        
                function listDays(date) {
                    var dayName = moment(date).format("ddd");
                    var dayNumber = moment(date).format("D");
        
                    var dd = moment(date).format("DD");
                    var mm = moment(date).format("MM");
                    var yyyy = moment(date).format("YYYY");
        
                    var list = $(document).find(".daysInMonths ul");
        
                    var item = '<li data-date="' + date + '" data-year="' + yyyy + '" data-month="' + mm + '" data-day="' + dd + '"><div class="dayName">' + dayName + '</div><div class="eventsDots"></div><div class="dayNumber">' + dayNumber + '</div></li>';
                    list.append(item);
        
                    var width = 0;
                    $(".daysInMonths li").each(function () {
                        width += $(this).outerWidth();
                    });
                    $(".daysInMonths ul").css({
                        width: width + "px"
                    });
                    var breadcrumps = new IScroll(".daysInMonths", {
                        mouseWheel: true,
                        scrollX: true,
                        scrollY: false
                    });
                }
                if ($(document).find(".calendarMonths").length > 0) {
                    $(document).find(".calendarMonths").ready(function () {
                        for (i = first; i <= last; i++) {
                            var date = moment(today).date(i).format("YYYY-MM-DD");
                            listDays(date);
                            if (i == last) {
                                listEventsDots();
                                var today = moment($(".calendarMonths").attr("data-today"));
                                var first = moment(today).format("D");
                                var last = moment(today).add(1, 'month').date(0).format("DD");
                                $(document).find(".daysInMonths ul").empty();
                            }
                        }
                    });
                }
        
                $(document).on(custom_event, ".calendarMonths .changeMonth", function (event) {
                    event.preventDefault();
                    var today = moment($(".calendarMonths").attr("data-today"));
                    var newMonth = $(this).attr("data-month");
                    var newYear = $(this).attr("data-year");
                    changeMonth("next", today, newMonth, newYear);
                });
        
                $(document).find(".calendarMonths").swipe({
                    swipeLeft: function () {
                        var nextItem = $(document).find(".calendarMonths .changeMonth.next");
                        var item = $(document).find(".calendarMonths");
                        var today = moment(item.attr("data-today"));
                        var newMonth = nextItem.attr("data-month");
                        var newYear = nextItem.attr("data-year");
                        changeMonth("next", today, newMonth, newYear);
                    },
                    swipeRight: function () {
                        var prevItem = $(document).find(".calendarMonths .changeMonth.next");
                        var item = $(document).find(".calendarMonths");
                        var today = moment(item.attr("data-today"));
                        var newMonth = prevItem.attr("data-month");
                        var newYear = prevItem.attr("data-year");
                        changeMonth("prev", today, newMonth, newYear);
                    },
                    threshold: 25
                });
        
                //$(document).on(custom_event, ".daysInMonths ul li", function (event) {
                //    event.preventDefault();
                //    $(this).parents("ul").find("li").removeClass("active");
                //    $(this).addClass("active");
                //}););
        
                $("li").removeClass("active");
                $("li[data-date='" + moment(SelectedDate).format("YYYY-MM-DD") + "']").addClass('active');
        
                $(document).on(custom_event, ".daysInMonths ul li:has(a)", function (event) {
                    window.location.href = "?d="+$(this).attr("data-date");
                });*/

    });




</script>

<div class="text-module">
    <h2 class="remove-bottom"><strong>Etkinlik Takvimi</strong></h2>
    <a href="/etkinlik-takvimi-liste" class="button x1 bordered list-button">Liste</a>
</div>

<div class="takvim">
    <div class="calendarMonths" data-today="2015-04-01">
        <a href="" class="changeMonth prev" data-month="03" data-year="2015"></a>
        <div class="currentMonth" data-month="04" data-year="2015">Nisan 2015</div>
        <a href="" class="changeMonth next" data-month="05" data-year="2015"></a>
    </div>
    <div class="daysInMonths">
        <ul></ul>
    </div>
</div>




<div class="workshop-detail nobg text-center tarih_20150404" style="display: none;">
    <h1><strong>ETLER VE PİŞİRME TEKNİKLERİ</strong></h1>
    <p>Ete dair her konuda hakimiyet kazanacağınız bir deneyim için bekliyoruz. Steakhouse müdavimi arkadaşlarınızın yeni mekanı artık sizinki!</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/9935_2083_1_tr_imagegallery_MSA_Etler_ve_Pisirme_Teknikleri_-540x300-copy.jpg" alt="">
    </div>
    <div class="date">04 Nisan Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="#" class="button x2 add-top dark">Tükendi</a>
        <a href="/gunluk-workshoplar/etler-ve-pisirme-teknikleri-3/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150404" style="display: none;">
    <h1><strong>CUPCAKE’LER</strong></h1>
    <p>Sayısız lezzet uyarlaması ve rengarenk çeşitleriyle herkesin gönlüne taht kurmuş bu sevimli tatlı atıştırmalığın yapımını siz de öğrenin.</p>
    <div class="image add-bottom">
        <img src="/Uploads/gunlukworkshoplar/nisan/256x144/4080_2084_1_tr_imagegallery_cupcakeler_540x300-kopya.jpg" alt="">
    </div>

    <div class="date">04 Nisan Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="#" class="button x2 add-top dark">Tükendi</a>
        <a href="/gunluk-workshoplar/cupcakeler-1/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150406" style="display: none;">
    <h1><strong>İTALYAN MUTFAĞI 1</strong></h1>
    <p>Dünyaca sevilip kabul gören İtalyan Mutfağı’nı evinize taşımaya ne dersiniz?</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/4260_2085_1_tr_imagegallery_MSA_Italyan_Mutfagi_1_540x315.jpg" alt="">
    </div>

    <div class="date">6 Nisan Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="#" class="button x2 add-top dark">Tükendi</a>
        <a href="/gunluk-workshoplar/italyan-mutfagi-3-1/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150409" style="display: none;">
    <h1><strong>PİZZALAR VE SALATALAR</strong></h1>
    <p>Kendi evinin pizza ustası olmak isteyenler buraya!</p>
    <div class="image add-bottom">
        <img src="/Uploads/gunlukworkshoplar/nisan/256x144/7072_2086_1_tr_imagegallery_MSA_Pizzalar_Salatalar_540x300.jpg" alt="">
    </div>

    <div class="date">9 Nisan Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="#" class="button x2 add-top dark">Tükendi</a>
        <a href="/gunluk-workshoplar/pizzalar-ve-salatalar-1/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150411" style="display: none;">
    <h1><strong>İLK DAVET MENÜM</strong></h1>
    <p>Davetinizde harikalar yaratmak ve misafirlerinize unutulmaz bir lezzet şöleni yaşatmak isteyenleri bekliyoruz.</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/9659_2087_1_tr_imagegallery_MSA_Ilk_Davet_Menum_540x300.jpg" alt="">
    </div>

    <div class="date">11 Nisan Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">160 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY068/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/ilk-davet-menum-3/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150411" style="display: none;">
    <h1><strong>ÇİKOLATA BUTİĞİ</strong></h1>
    <p>Yepyeni tarifleriyle MSA’nın Çikolata Butiği’nde yerinizi şimdiden alın. Çikolata yapımının inceliklerini öğrenin.</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/6066_2088_1_tr_imagegallery_MSA_Cikolata_Butigi_540x300-(1).jpg" alt="">
    </div>

    <div class="date">11 Nisan Cumartesi</div>
    <div class="time">16.00 - 21.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY084/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/cikolata-butigi/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150413" style="display: none;">
    <h1><strong>ŞARABA EŞLİK EDENLER</strong></h1>
    <p>Temel şarap kategorileri ve şaraplara eşlik etmek üzere özenle seçilmiş yaratıcı lezzetlerle MSA’da buluşuyoruz.</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/4996_2089_1_tr_imagegallery_saraba_eslikedenler_540x300-copy.jpg" alt="">
    </div>

    <div class="date">13 Nisan Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">190 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY085/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/saraba-eslik-edenler-1/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150415" style="display: none;">
    <h1><strong>PIE’LAR VE TART’LAR</strong></h1>
    <p>Vazgeçilmez tartların en yaratıcı ve farklı yorumlarıyla tanışın. Tart ve pie hazırlamanın inceliklerini öğrenme vakti…</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/6417_2090_1_tr_imagegallery_MSA_Pielar_Tartlar_540x300.jpg" alt="">
    </div>

    <div class="date">15 Nisan Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY086/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/Pie-Tart/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150416" style="display: none;">
    <h1><strong>VAZGEÇEMEDİKLERİMİZ 1</strong></h1>
    <p>Bıkmadan sipariş ettiğimiz en keyifli yemekleri siz de hazırlayabilirsiniz. Vazgeçemediğimiz lezzetler bu Workshop’ta!</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/4865_2091_1_tr_imagegallery_Vazgecemediklerimiz_540x300.jpg" alt="">
    </div>

    <div class="date">16 Nisan Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY087/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/italyan-mutfagi-3/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150418" style="display: none;">
    <h1><strong>GENÇ GURME (14-17 Yaş)</strong></h1>
    <p>Genç gurmelerin en sevdikleri lezzetlerin listesini çıkardık, en güzel tarifleri onlar için hazırladık. Gen gurmeler mutfakta!</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/9843_2092_1_tr_imagegallery_Genc-Gurme_540x300.jpg" alt="">
    </div>

    <div class="date">18 Nisan Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">140 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY088/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/genc-gurme/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>






<div class="workshop-detail nobg text-center tarih_20150418" style="display: none;">
    <h1><strong>HAFTANIN YEMEĞİ</strong></h1>
    <p>Hafta içleri sizi yemek yapma stresinden kurtarıyoruz. “Bugün ne pişirsem?” derdine son!</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/5481_2093_1_tr_imagegallery_MSA_Haftanin_Yemegi_540x300.jpg" alt="">
    </div>

    <div class="date">18 Nisan Cumartesi</div>
    <div class="time">16.00 - 21.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY089/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/haftanin-yemegi-1/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150420" style="display: none;">
    <h1><strong>İTALYAN MUTFAĞI 2</strong></h1>
    <p>Toscana’dan Milano’ya uzanan enfes tarifler öğrenmek için bekliyoruz. Pazartesi akşamlarını İtalya’dan lezzetlerle buluşturuyoruz.</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/7193_2094_1_tr_imagegallery_MSA_Italyan_Mutfagi_2_540x300.jpg" alt="">
    </div>

    <div class="date">20 Nisan Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY090/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/italyan-mutfagi-3-2/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150422" style="display: none;">
    <h1><strong>GLUTENSİZ</strong></h1>
    <p>Glutensiz ürünlerin özellikleri ve yapımını öğrenmek için bekliyoruz. Glutensiz ürünlerin en lezzetli hali…</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/7151_2095_1_tr_imagegallery_glutensiz_540x300.jpg" alt="">
    </div>

    <div class="date">22 Nisan Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY091/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/glutensiz/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150425" style="display: none;">
    <h1><strong>KÜÇÜK GURME 1- Çocuk Bayramı Özel (5-9 Yaş)</strong></h1>
    <p>Minikler en özel günlerini kutlamak için mutfağa giriyor, ebeveynleri de eşlik ediyor.</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/3938_2096_1_tr_imagegallery_kucukgurme1_540x300.jpg" alt="">
    </div>

    <div class="date">25 Nisan Cumartesi</div>
    <div class="time">10.00 - 12.00</div>
    <div class="clear hr"></div>
    <div class="price">110 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY092/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/kucuk-gurme1-1-5-9-yas/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150425" style="display: none;">
    <h1><strong>BURGERS&FRIES</strong></h1>
    <p>Kızarmış patatesinden soğan halkasına %100 ev yapımı en leziz hamburgeri hazırlamak için bekliyoruz.</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/8246_2097_1_tr_imagegallery_burgersandfries540x300-copy.jpg" alt="">
    </div>

    <div class="date">25 Nisan Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">160 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="#" class="button x2 add-top dark">Tükendi</a>
        <a href="/gunluk-workshoplar/burgers-and-fries-1/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150427" style="display: none;">
    <h1><strong>UZAKDOĞU MUTFAĞI</strong></h1>
    <p>Uzakdoğu’nun yöresel baharatları ve özel teknikleriyle nefis tarifler hazırlıyoruz. Uzakdoğu mutfağının en özel tarifleri…</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/4177_2098_1_tr_imagegallery_uzakdogu_540x315.jpg" alt="">
    </div>

    <div class="date">27 Nisan Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY094/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/uzak-dogu-mutfagi-1/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<div class="workshop-detail nobg text-center tarih_20150429" style="display: none;">
    <h1><strong>PARİZYEN TATLILAR</strong></h1>
    <p>Dünyaya nam salmış Fransız tatlılarını öğrenmek isteyenlere… En özel Fransız tatlıları sizden sorulacak.</p>
    <div class="image add-bottom">
        <img src="/uploads/gunlukworkshoplar/nisan/256x144/1611_2099_1_tr_imagegallery_MSA_Parizyen_Tatlilar_540x300.jpg" alt="">
    </div>

    <div class="date">29 Nisan Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">(KDV Dahil)</div>

    <div class="inlines">
        <a href="http://www.biletix.com/etkinlik/SY095/TURKIYE/tr" class="button x2 add-top dark">Biletix’ten Satın Al</a>
        <a href="/gunluk-workshoplar/parizyen-tatlilar-1/detay" class="button x2 add-top margin-left">Detaylar</a>
    </div>
</div>

<!--
<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><span>Etkinlik Takvimi</span></li>
        </ul>
    </div>
</div>
--!>
