﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="text-module">
            <h2 class="remove-bottom"><strong>Etkinlik Takvimi</strong></h2>
            <a href="/Etkinlik-Takvimi" class="button x1 bordered list-button">Takvim</a>
        </div>

        <div class="etkinlikListe">
            <h3>Şubat 2015</h3>
            <ul>
                <li>
                    <a href="/gunluk-workshoplar/italyan-mutfagi-1">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/italyan_mutfagi_1.jpg" alt=""></div>
                        <div class="text ">
                            <h4>İtalyan Mutfağı 1</h4>
                            <h5 class="normal">02 Şubat Pazartesi 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/gunluk-workshoplar/vazgecemediklerimiz-1">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/vazgecemediklerimiz.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Vazgeçemediklerimiz 1</h4>
                            <h5 class="normal">05 Şubat Perşembe 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/etler-ve-pisirme-teknikleri">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/etler_ve_pisirme_teknikleri.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Etler ve Pişirme Teknikleri</h4>
                            <h5 class="normal">07 Şubat Cumartesi 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/cikolata-askina">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/cikolata_askina.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Çikolata Aşkına</h4>
                            <h5 class="normal">07 Şubat Cumartesi 16.00 - 20.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/italyan-mutfagi-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/italyan_mutfagi_2.jpg" alt=""></div>
                        <div class="text ">
                            <h4>İtalyan Mutfağı 2</h4>
                            <h5 class="normal">09 Şubat Pazartesi 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/sevgilim-menum">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/sevgilim_menum.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Sevgilim Menüm</h4>
                            <h5 class="normal">10 Şubat Salı 19.00 - 23.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/sevgililer-gunu-hediyelikleri">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/sevgililer_gunu_hediyelikleri.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Sevgililer Günü Hediyelikleri</h4>
                            <h5 class="normal">11 Şubat Çarşamba 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>				
				<li>
                    <a href="/gunluk-workshoplar/sevgilim-menum-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/sevgilim_menum_2.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Sevgilim Menüm</h4>
                            <h5 class="normal">12 Şubat Perşembe 19.00 - 23.00</h5>
                        </div>
                    </a>
                </li>				
				<li>
                    <a href="/gunluk-workshoplar/cooktail-askina">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/cooktail_askina.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Cooktail Aşkına</h4>
                            <h5 class="normal">13 Şubat Cuma 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>					
				<li>
                    <a href="/gunluk-workshoplar/kahvalti-keyfi-sevgililer-gunu-ozel">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/kahvalti_keyfi.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Kahvaltı Keyfi - Sevgililer Günü Özel</h4>
                            <h5 class="normal">14 Şubat Cumartesi 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>				
				<li>
                    <a href="/gunluk-workshoplar/sevgilim-menum-3">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/sevgilim_menum_3.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Sevgilim Menüm</h4>
                            <h5 class="normal">14 Şubat Cumartesi 16.00 - 20.00</h5>
                        </div>
                    </a>
                </li>	
				<li>
                    <a href="/gunluk-workshoplar/mutfakta-8-hafta">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/m8h.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Mutfakta 8 Hafta</h4>
                            <h5 class="normal">15 Şubat Pazar 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>		
				<li>
                    <a href="/gunluk-workshoplar/meksika-ruzgari">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/meksika_ruzgari.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Meksika Rüzgarı</h4>
                            <h5 class="normal">16 Şubat Pazartesi 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/cupcakeler">
                        <div class="image x1 "><img src="/uploads/cupcake.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Cupcake'ler</h4>
                            <h5 class="normal">18 Şubat Çarşamba 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>	
				<li>
                    <a href="/gunluk-workshoplar/ilk-davet-menum">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/ilk_davet_menum.jpg" alt=""></div>
                        <div class="text ">
                            <h4>İlk Davet Menüm</h4>
                            <h5 class="normal">19 Şubat Perşembe 19.00 - 23.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/food-styling-giris">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/food_styling_giris.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Food Styling'e Giriş</h4>
                            <h5 class="normal">20 Şubat Cuma 16.00 - 20.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/mutfakta-8-hafta-pastacilik">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/m8hp.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Mutfakta 8 Hafta - Pastacılık</h4>
                            <h5 class="normal">20 Şubat Cuma 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>	
				<li>
                    <a href="/gunluk-workshoplar/sekersiz">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/sekersiz.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Şekersiz</h4>
                            <h5 class="normal">21 Şubat Cumartesi 16.00 - 20.00</h5>
                        </div>
                    </a>
                </li>	
				<li>
                    <a href="/gunluk-workshoplar/tapas">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/tapas.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Tapas</h4>
                            <h5 class="normal">23 Şubat Pazartesi 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>	
				<li>
                    <a href="/gunluk-workshoplar/artisan-peynir-yapimi">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/artisan_peynir-yapimi.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Artisan Peynir Yapımı</h4>
                            <h5 class="normal">23 Şubat Pazartesi 10.00 - 15.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/artisan-kahve-egitimi-ve-isletmeciligi">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/artisan_kahve.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Artisan Kahve Eğitimi ve İşletmeciliği</h4>
                            <h5 class="normal">23 Şubat Pazartesi 10.00 - 15.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/sokak-lezzetleri-istanbul">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/sokak_lezzetleri.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Sokak Lezzetleri - İstanbul</h4>
                            <h5 class="normal">26 Şubat Perşembe 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/matmazel-macaron">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/matmazel.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Matmazel Macaron</h4>
                            <h5 class="normal">28 Şubat Cumartesi 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>	
				<li>
                    <a href="/gunluk-workshoplar/burger-fries">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/burger.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Burgers&Fries</h4>
                            <h5 class="normal">28 Şubat Cumartesi 16.00 - 20.00</h5>
                        </div>
                    </a>
                </li>					
            </ul>
            <div class="clear"></div>
            <h3>Mart 2015</h3>
            <ul>
                <li>
                    <a href="/gunluk-workshoplar/etler-ve-pisirme-teknikleri-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/etler_pisirme_teknikleri.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Etler ve Pişirme Teknikleri</h4>
                            <h5 class="normal">07 Mart Cumartesi 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/gunluk-workshoplar/cheesecakeler">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/cheesecakeler.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Cheesecakeler</h4>
                            <h5 class="normal">07 Mart Cumartesi 16.00 - 20.00</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/gunluk-workshoplar/italyan-mutfagi-1-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/italyanmutfagi1.jpg" alt=""></div>
                        <div class="text ">
                            <h4>İtalyan Mutfağı 1</h4>
                            <h5 class="normal">09 Mart Pazartesi 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/sekersiz-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/subat/272x136/sekersiz.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Şekersiz</h4>
                            <h5 class="normal">11 Mart Çarşamba 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/mutfakta-8-hafta-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/m8h_540x315.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Mutfakta 8 Hafta</h4>
                            <h5 class="normal">11 Mart Çarşamba 19.00 - 23.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/vazgecemediklerimiz-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/vazgecemediklerimiz.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Vazgeçemediklerimiz 2</h4>
                            <h5 class="normal">12 Mart Perşembe 19.00 - 23.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/deniz-urunleri-ve-pisirme-teknikleri">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/Deniz_urunleri_540x300-kopya.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Deniz Ürünleri ve Pişirme Teknikleri</h4>
                            <h5 class="normal">14 Mart Cumartesi 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/haftanin-yemegi">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/haftanin_yemegi.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Haftanın Yemeği</h4>
                            <h5 class="normal">15 Mart Pazar 16.00 - 21.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/italyan-mutfagi-2-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/italyan_mutfagi2.jpg" alt=""></div>
                        <div class="text ">
                            <h4>İtalyan Mutfağı 2</h4>
                            <h5 class="normal">16 Mart Pazartesi 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/pasta-borek-corek">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/pasta_borek_corek_540x300.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Pasta, Börek, Çörek</h4>
                            <h5 class="normal">18 Mart Çarşamba 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/el-yapimi-makarnalar">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/elyapimi_makarnalar_540x300.jpg" alt=""></div>
                        <div class="text ">
                            <h4>El Yapımı Makarnalar</h4>
                            <h5 class="normal">19 Mart Perşembe 19.00 - 23.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/kokteylle">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/kokteylle_540x300.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Kokteylle</h4>
                            <h5 class="normal">20 Mart Cuma 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/kucuk-gurme-1-5-9-yas">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/kucuk_gurme1_540x300-copy.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Küçük Gurme 1 (5-9 yaş)</h4>
                            <h5 class="normal">21 Mart Cumartesi 10.00 - 12.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/raw-food">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/RAWFOOD_540x300.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Raw Food</h4>
                            <h5 class="normal">21 Mart Cumartesi 14.00 - 19.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/mutfakta-8-hafta-pastacilik-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/m8hp_540x315.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Mutfakta 8 Hafta - Pastacılık</h4>
                            <h5 class="normal">21 Mart Cumartesi 10.00 - 12.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/italyan-mutfagi-3">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/italyan_mutfagi3.jpg" alt=""></div>
                        <div class="text ">
                            <h4>İtalyan Mutfağı 3</h4>
                            <h5 class="normal">23 Mart Pazartesi 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/sandwiches-wraps">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/sandwiches_wraps_540x300.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Sandwiches & Wraps</h4>
                            <h5 class="normal">26 Mart Perşembe 19.00 - 23.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/kahvalti-keyfi">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/kahvalti_keyfi_540x300.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Kahvaltı Keyfi</h4>
                            <h5 class="normal">28 Mart Cumartesi 10.00 - 14.00</h5>
                        </div>
                    </a>
                </li>
				<li>
                    <a href="/gunluk-workshoplar/ilk-davet-menum-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/ilkdavetmenum_540x300.jpg" alt=""></div>
                        <div class="text ">
                            <h4>İlk Davet Menüm</h4>
                            <h5 class="normal">28 Mart Cumartesi 16.00 - 20.00</h5>
                        </div>
                    </a>
                </li>	
				<li>
                    <a href="/gunluk-workshoplar/tapas-2">
                        <div class="image x1 "><img src="/uploads/gunlukworkshoplar/mart/272x136/tapas_540x300.jpg" alt=""></div>
                        <div class="text ">
                            <h4>Tapas</h4>
                            <h5 class="normal">30 Mart Pazartesi 19.00 - 22.00</h5>
                        </div>
                    </a>
                </li>				
            </ul>
        </div>

        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="/Etkinlik-Takvimi">Etkinlik Takvimi</a></li>
                    <li class=""><span>Liste</span></li>
                </ul>
            </div>
        </div>

