﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"Etler ve Pişirme Teknikleri</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/etler_ve_pisirme_teknikleri.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Etler ve Pişirme Teknikleri</h2>
                    <p>En popüler eğitimimizi kaçırmayın.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Etler emin ellerde! Bu workshop sayesinde etler konusunda artık hata payınız kalmayacak. Tek yapmanız gereken MSA’nın tariflerini uygularken ipuçlarından şaşmamak. Her defasında yepyeni uygulamalar</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/etler-ve-pisirme-teknikleri/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">07 Şubat Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

