﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Food Styling'e Giriş</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/donemlikworkshoplar/640x992/food_stylinge_giris.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Food Styling'e Giriş</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Gözlerinizi kapatın ve hayatınızda gördüğünüz en iştah kabartan yemek fotoğrafını düşünün. Muhteşem poz veren bu tabağın aslında tadına varılması için değil, işin uzmanları tarafından sadece fotoğrafla ölümsüzleştirilmek için hazırlandığını unutmayın.
        Siz de yemeklerin lezzetlerini, renklerin ve formların uyumuyla fotoğraf karelerine taşımanın inceliklerini öğrenmek istiyorsanız MSA’nın “Food Styling’e Giriş” eğitimi sizi bekliyor. Yemeklerin profesyonel fotoğraf çekimine hazırlık aşamasını öğreneceğiniz ve yemek stilisti olmak için ilk adımı atacağınız iki günlük "Food Styling'e Giriş" eğitimiyle profesyonellerden işin püf noktalarını öğrenecek, görselliği unutulmaz tabaklar tasarlayacaksınız.


    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/food-styling-giris/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">20 Şubat 2015 - 21 Şubat 2015</div>
    <div class="time">Cuma 16:00-20:00 / Cumartesi 10:00-14:00</div>
    <div class="clear hr"></div>
    <div class="price">720 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY028/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

