﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Food Styling'e Giriş</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Food Styling'e Giriş</strong></h1>
    <p>
        Gözlerinizi kapatın ve hayatınızda gördüğünüz en iştah kabartan yemek fotoğrafını düşünün. Muhteşem poz veren bu tabağın aslında tadına varılması için değil, işin uzmanları tarafından sadece fotoğrafla ölümsüzleştirilmek için hazırlandığını unutmayın.
        Siz de yemeklerin lezzetlerini, renklerin ve formların uyumuyla fotoğraf karelerine taşımanın inceliklerini öğrenmek istiyorsanız MSA’nın “Food Styling’e Giriş” eğitimi sizi bekliyor. Yemeklerin profesyonel fotoğraf çekimine hazırlık aşamasını öğreneceğiniz ve yemek stilisti olmak için ilk adımı atacağınız iki günlük "Food Styling'e Giriş" eğitimiyle profesyonellerden işin püf noktalarını öğrenecek, görselliği unutulmaz tabaklar tasarlayacaksınız.


    </p>
</div>
<div class="workshop-menu">
    <h2>
        Eğitimin konu başlıkları
    </h2>
        <ul>

            <li>Yemek stilistliğine giriş</li>
            <li>Yemek stilistinin araç gereçleri ve kullanım yerleri</li>
            <li>Görsel örnekler üzerinden dikkat edilmesi gerekenler ve uygulanan teknikler</li>
            <li>Yemek ve tabak kompozisyonları</li>
            <li>Yemek stilisti ve fotoğrafçı arasındaki ilişki</li>
            <li>Fotoğrafçının yemek fotoğrafçılığı hakkındaki yorumları ve önemli noktalar</li>
        </ul>
    <h2> Ders İçerikleri</h2>
        <ul>

            <li>
                1. Gün<br />
                Makarna stilistliği/pratik<br />
                Salata stilistliği/pratik<br />
                Hamburger stilistliği/pratik<br />
            </li>
            <li>
                2. Gün<br />
                Tavuk stilistliği/pratik<br />
                Dondurma stilistliği/pratik<br />
                Soğuk içecek stilistliği/pratik<br />
                **Yemek Stilistliği seti MSA’dan size hediye.<br />
            </li>

        </ul>







</div>

<div class="workshop-detail text-center">
    <div class="date">20 Şubat 2015 - 21 Şubat 2015</div>
    <div class="time">Cuma 16:00-20:00 / Cumartesi 10:00-14:00</div>
    <div class="clear hr"></div>
    <div class="price">720 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY028/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/food-styling-giris">Food Styling'e Giriş</a></li>
            <li class=""><span>Food Styling'e Giriş Detay</span></li>
        </ul>
    </div>
</div>

