﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Food Blogging Eğitimi</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Food Blogging Eğitimi</strong></h1>
    <p>
   Önünüzde açılacak onlarca işletme kapısı, nefis yemekler ve unutulmaz gezilerle dolu renkli bir hayat. Sizin de kulağınıza hoş geliyor değil mi? Ama madalyonun bir de öteki yüzü var; saatlerce tutkuyla çalışmak, sabretmek, sürekli okumak, dili iyi kullanmak ve daha pek çok şeyi aynı anda yapmayı gerektiren sınav gibi bir hayat. Siz de bu hayatın bir parçası olmak, kendi yemek blog'unuzu hazırlayıp yemek üzerine etkili yazılar yazmak istiyorsanız, MSA'nın "Food Blogging" eğitimi tam size göre. Nasıl yemek yapmayı sevmekle profesyonel bir mutfakta çalışmak farklıysa, yemek yemeyi sevmekle yenilen yemeği etkili bir şekilde yazıya dökmek ya da onu en iyi şekildefotoğraflamak da birbirinden çok farklı.  Bu programda işin inceliklerini öğrenecek ve kendinizi bu konuda geliştirme fırsatı yakalayacaksınız.
    </p>
</div>
<div class="workshop-menu">
    <h2>Kimler katılabilir?</h2>
	<ul>

		<li>Kendi yemek blog'unu açmak isteyen ya da blog'unu geliştirmek isteyenler</li>
		<li>Yemek blogger'lığı konusuna ilgi duyan aşçılık ve pastacılık öğrencileri ile mezunları </li>
	</ul>
	<h2>Program detayları;</h2>
	<ul>
		<li>Eğitim süresince katılımcılar, MSA'nın özel eğitim salonunda çalışacaktır.</li>
		<li>Food Blogging seti katılımcılara hediye edilecektir.</li>
		<li>Tüm katılımcılara ders kitabı verilecektir.</li>
		<li>Eğitimin sonunda katılımcılara eğitmenin imzaladığı özel sertifika verilecektir. </li>
		<li>* Program 6 saat teorik, 1 saat pratik olmak üzere 2 gün sürmektedir. </li>
		<li>** Derslerin telafisi yapılmaz. Ücret iadesi yoktur. </li>
		<li>*** Uygulama sırasında fotoğraf çekimi yapılacağı için, yanınızda fotoğraf makinesi ya da akıllı telefonlarınızı getirmenizi rica ederiz. </li>
		<li>**** Özel bir fotoğrafçılık bilgisi gerekmemektedir. </li>
	</ul>
	<h2>Ders İçerikleri</h2>
	<ul>
		<li><strong>1. Gün; </strong></li>
		<li>Mecra olarak blog ve blog yazarlığı: </li>
		<li>- Nereden başlamalı?</li>
		<li>- Strateji geliştirme</li>
		<li>- İsim bulma</li>
		<li>•Yemek üzerine yazmak:</li>
		<li>-Yemek yazarlığına giriş</li>
		<li>-Tarif, restoran eleştirisi ve bir malzeme hakkında yazmak</li>
		<li><strong>2. Gün; </strong></li>
		<li>-Yemek fotoğrafçılığı ve stilistliği; stil oluşturma, prop kullanımı, ekipman ihtiyacı, styling,  fotoğraf çekimi, yayına hazırlama hakkında teorik anlatım.</li>
		<li>-Platformun tasarlanması; domain satın alma ve hosting, platformun seçimi, kullanıcı  deneyimi, görsel tasarım, mobil ve farklı cihazlardan görüntülenme, teknik konular:  Google Analytics, Webmaster Tools, SEO hakkında bilgiler.</li>
		<li>-Topluluk oluşturma ve sosyal medya yönetimi; sosyal medya strateji geliştirme, kanalların  seçimi, içerik geliştirme, topluluk yönetimi ve analizi</li>
		<li>-Uygulama; örnek bir blog yazısı çalışması yapılması, metnin hazırlanması, fotoğrafının  çekilmesi ve yayına hazır hale getirilmesi.</li>
	</ul>

</div>
<div class="text-module border-top">
<h2>Eğitmen Kim?</h2>
<strong>Sercan Karabulut</strong>
<p>Dergicilik ve dijital reklam sektörlerinde uzun yıllar çalışan Karabulut, 4 senedir mybeautifulcookbook.com adlı yemek blog'unu yazıyor. Markalara dijital strateji ve içerik geliştirme konularında danışmanlık veriyor. "Yemekle ilgili deneyimlerimi mybeautifulcookbook aracılığıyla okunabilir, görülebilir, yaşanabilir hale getirmeye çalışıyorum." diyor. Hem yemek yapıyor, hem fotoğraflıyor, hem tadıyor, hem yazıyor, hem araştırıyor, hem de seyahat ediyor.</p>
</div>

<div class="workshop-detail text-center">
    <div class="date">21 Mart 2015 - 22 Mart 2015</div>
    <div class="time">Cumartesi-Pazar 10:00-13:00 / 10:00-14:00</div>
    <div class="clear hr"></div>
    <div class="price">690 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY071/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/food-blogging-egitimi">Food Blogging Eğitimi</a></li>
            <li class=""><span>Food Blogging Eğitimi Detay</span></li>
        </ul>
    </div>
</div>

