﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Food Blogging Eğitimi</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/donemlikworkshoplar/01_buyuk.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Food Blogging Eğitimi</h2>
                    <p></p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Önünüzde açılacak onlarca işletme kapısı, nefis yemekler ve unutulmaz gezilerle dolu renkli bir hayat. Sizin de kulağınıza hoş geliyor değil mi? Ama madalyonun bir de öteki yüzü var; saatlerce tutkuyla çalışmak, sabretmek, sürekli okumak, dili iyi kullanmak ve daha pek çok şeyi aynı anda yapmayı gerektiren sınav gibi bir hayat. Siz de bu hayatın bir parçası olmak, kendi yemek blog'unuzu hazırlayıp yemek üzerine etkili yazılar yazmak istiyorsanız, MSA'nın "Food Blogging" eğitimi tam size göre. Nasıl yemek yapmayı sevmekle profesyonel bir mutfakta çalışmak farklıysa, yemek yemeyi sevmekle yenilen yemeği etkili bir şekilde yazıya dökmek ya da onu en iyi şekildefotoğraflamak da birbirinden çok farklı.  Bu programda işin inceliklerini öğrenecek ve kendinizi bu konuda geliştirme fırsatı yakalayacaksınız.
    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/food-blogging-egitimi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">21 Mart 2015 - 22 Mart 2015</div>
    <div class="time">Cumartesi-Pazar 10:00-13:00 / 10:00-14:00</div>
    <div class="clear hr"></div>
    <div class="price">690 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY071/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

