﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Gençler için Profesyonel Mutfağa Hazırlık</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Gençler için Profesyonel Mutfağa Hazırlık</strong></h1>
    <p>
        Geleceğine karar verirken aşçılık mesleğini yakından tanımak isteyen gençlere yönelik olarak hazırlanan bir programdır.
        Eğitime katılabilmek için 15-17 yaş grubunda olunması ve eğitim başlangıcında nüfus cüzdanı beyanı zorunludur.


    </p>
</div>
<div class="workshop-menu">
    <h2>
        Eğitimin konu başlıkları
    </h2>
    <br />
        Eğitim süresince öğrenciler kendi istasyonlarında çalışmaktadır.<br />
        2 hafta boyunca hafta içi her gün ve mutfak eğitimi sonunda 1 gün restoran deneyimi olmak üzere toplam 11 günlük bir eğitimdir.<br />
        Eğitim boyunca kullanılacak bıçak seti ve 1 adet aşçı ceketi öğrencilere hediye edilmektedir.<br />
        Tüm katılımcılara ders içerikleri ile ilgili bir kitapçık verilmektedir.<br />
        Eğitimlerin sonunda öğrencilere MSA’dan eğitime katılım sertifikası verilecektir.<br />
    <br /><br />
        <h2> Ders İçerikleri</h2>
        <ul>

            <li>
                1. Gün<br />
                Profesyonel mutfağa giriş<br />
                Mutfaklarda çalışan aşçı pozisyonları ve görevleri<br />
                Bıçak seçme ve kullanma teknikleri<br />
                Kesme şekilleri ve uygulamaları<br />

            </li>
            <li>
                2. Gün - Ana ve türev soslar hazırlama ve kullanma metodları, çorbalar
            </li>
            <li>
                3. Gün - Salata ve pizza yapımı
            </li>
            <li>
                4. Gün - Pirinçler ve pişirme teknikleri
            </li>
            <li>
                5. Gün - Taze makarna hamuru ve sos hazırlama teknikleri
            </li>
            <li>
                6. Gün - Balıklar ve temizleme teknikleri
            </li>
            <li>
                7. Gün - Etler ve pişirme teknikleri
            </li>
            <li>
                8. Gün - Tavuk porsiyonlama, temizleme ve pişirme teknikleri
            </li>
            <li>
                9. Gün - Ekmek çeşitleri
            </li>
            <li>
                10.Gün -Temel pastacılık
            </li>
            <li>11.Gün - Uygulamalı Restoran Eğitimi</li>


        </ul>







</div>

<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">1.850 TL</div>
    <div class="note">KDV Dahil</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/gencler-icin-profesyonel-mutfaga-hazirlik">Gençler için Profesyonel Mutfağa Hazırlık</a></li>
            <li class=""><span>Gençler için Profesyonel Mutfağa Hazırlık Detay</span></li>
        </ul>
    </div>
</div>

