﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Gençler için Profesyonel Mutfağa Hazırlık</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gencler_icin_pro-mutfaga-hazirlik.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Gençler için Profesyonel Mutfağa Hazırlık</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Geleceğine karar verirken aşçılık mesleğini yakından tanımak isteyen gençlere yönelik olarak hazırlanan bir programdır.
        Eğitime katılabilmek için 15-17 yaş grubunda olunması ve eğitim başlangıcında nüfus cüzdanı beyanı zorunludur.


    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/gencler-icin-profesyonel-mutfaga-hazirlik/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">1.850 TL</div>
    <div class="note">KDV Dahil</div>
</div>

