﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"Eğitimler</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/gunluk-workshoplar.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Günlük Workshoplar</h2>
                    <p>Profesyonellerle meraklıları bir araya getiren workshop programları</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Yeni yılda da mutfak tutkunları yepyeni workshop programlarıyla MSA’da buluşmaya devam ediyor! Yıl boyunca güncellenen etkinliklerimizi buradan takip edebilirsiniz.</p>
</div>

<div class="slider-module list text-center gunluk-workshoplar">
    <ul>
		<!--
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/italyan-mutfagi-1">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/italyan_mutfagi_1.jpg"></div>
                    <div class="text-title">İtalyan Mutfağı 1</div>
                    <div class="text-desc">02 Şubat Pazartesi 19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/vazgecemediklerimiz-1">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/vazgecemediklerimiz.jpg"></div>
                    <div class="text-title">Vazgeçemediklerimiz 1</div>
                    <div class="text-desc">05 Şubat Perşembe 19.00 - 22.00</div>
                </a>
            </div>
        </li>
         <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/etler-ve-pisirme-teknikleri">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/etler_ve_pisirme_teknikleri.jpg"></div>
                    <div class="text-title">Etler ve Pişirme Teknikleri</div>
                    <div class="text-desc">07 Şubat Cumartesi 10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/cikolata-askina">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/cikolata_askina.jpg"></div>
                    <div class="text-title">Çikolata Aşkına</div>
                    <div class="text-desc">07 Şubat Cumartesi 16.00 - 20.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/italyan-mutfagi-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/italyan_mutfagi_2.jpg"></div>
                    <div class="text-title">İtalyan Mutfağı 2</div>
                    <div class="text-desc">09 Şubat Pazartesi 19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/sevgilim-menum">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/sevgilim_menum.jpg"></div>
                    <div class="text-title">Sevgilim Menüm</div>
                    <div class="text-desc">10 Şubat Salı 19.00 - 23.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/sevgililer-gunu-hediyelikleri">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/sevgililer_gunu_hediyelikleri.jpg"></div>
                    <div class="text-title">Sevgililer Günü Hediyelikleri</div>
                    <div class="text-desc">11 Şubat Çarşamba 10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/sevgilim-menum-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/sevgilim_menum_2.jpg"></div>
                    <div class="text-title">Sevgilim Menüm</div>
                    <div class="text-desc">12 Şubat Perşembe 19.00 - 23.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/cooktail-askina">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/cooktail_askina.jpg"></div>
                    <div class="text-title">Cooktail Aşkına</div>
                    <div class="text-desc">13 Şubat Cuma 19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/kahvalti-keyfi-sevgililer-gunu-ozel">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/kahvalti_keyfi.jpg"></div>
                    <div class="text-title">Kahvaltı Keyfi - Sevgililer Günü Özel</div>
                    <div class="text-desc">14 Şubat Cumartesi 10.00 - 14.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/sevgilim-menum-3">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/sevgilim_menum_3.jpg"></div>
                    <div class="text-title">Sevgilim Menüm</div>
                    <div class="text-desc">14 Şubat Cumartesi 16.00 - 20.00</div>
                </a>
                <a href="/gunluk-workshoplar/mutfakta-8-hafta">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/m8h.jpg"></div>
                    <div class="text-title">Mutfakta 8 Hafta</div>
                    <div class="text-desc">15 Şubat Pazar 10.00 - 14.00</div>
                </a>
            </div>
        </li>		
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/meksika-ruzgari">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/meksika_ruzgari.jpg"></div>
                    <div class="text-title">Meksika Rüzgarı</div>
                    <div class="text-desc">16 Şubat Pazartesi 19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/cupcakeler">
                    <div class="image"><img src="/uploads/cupcake.jpg"></div>
                    <div class="text-title">Cupcake'ler</div>
                    <div class="text-desc">18 Şubat Çarşamba 10.00 - 14.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/ilk-davet-menum">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/ilk_davet_menum.jpg"></div>
                    <div class="text-title">İlk Davet Menüm</div>
                    <div class="text-desc">19 Şubat Perşembe 19.00 - 23.00</div>
                </a>
                <a href="/gunluk-workshoplar/food-styling-giris">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/food_styling_giris.jpg"></div>
                    <div class="text-title">Food Styling'e Giriş</div>
                    <div class="text-desc">20 Şubat Cuma 16.00 - 20.00</div>
                </a>
            </div>
        </li>		
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/mutfakta-8-hafta-pastacilik">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/m8hp.jpg"></div>
                    <div class="text-title">Mutfakta 8 Hafta - Pastacılık</div>
                    <div class="text-desc">20 Şubat Cuma 10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/sekersiz">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/sekersiz.jpg"></div>
                    <div class="text-title">Şekersiz</div>
                    <div class="text-desc">21 Şubat Cumartesi 16.00 - 20.00</div>
                </a>
            </div>
        </li>	
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/tapas">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/tapas.jpg"></div>
                    <div class="text-title">Tapas</div>
                    <div class="text-desc">23 Şubat Pazartesi 19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/artisan-peynir-yapimi">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/artisan_peynir-yapimi.jpg"></div>
                    <div class="text-title">Artisan Peynir Yapımı</div>
                    <div class="text-desc">23 Şubat Pazartesi 10.00 - 15.00</div>
                </a>
            </div>
        </li>	
		<li>
		<div class="slide">
                <a href="/gunluk-workshoplar/artisan-kahve-egitimi-ve-isletmeciligi">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/artisan_kahve.jpg"></div>
                    <div class="text-title">Artisan Kahve Eğitimi ve İşletmeciliği</div>
                    <div class="text-desc">23 Şubat Pazartesi 10.00 - 15.00</div>
                </a>
                <a href="/gunluk-workshoplar/sokak-lezzetleri-istanbul">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/sokak_lezzetleri.jpg"></div>
                    <div class="text-title">Sokak Lezzetleri - İstanbul</div>
                    <div class="text-desc">26 Şubat Perşembe 19.00 - 22.00</div>
                </a>
            </div>
        </li>	
		<li>
		<div class="slide">
                <a href="/gunluk-workshoplar/matmazel-macaron">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/matmazel.jpg"></div>
                    <div class="text-title">Matmazel Macaron</div>
                    <div class="text-desc">28 Şubat Cumartesi 10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/burger-fries">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/burger.jpg"></div>
                    <div class="text-title">Burgers&Fries</div>
                    <div class="text-desc">28 Şubat Cumartesi 16.00 - 20.00</div>
                </a>
            </div>
        </li>
		-->
		 <!--<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/etler-ve-pisirme-teknikleri-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/etler_pisirme_teknikleri.jpg"></div>
                    <div class="text-title">Etler ve Pişirme Teknikleri</div>
                    <div class="text-desc">07 Mart Cumartesi 10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/cheesecakeler">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/cheesecakeler.jpg"></div>
                    <div class="text-title">Cheesecakeler</div>
                    <div class="text-desc">07 Mart Cumartesi 16.00 - 20.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/italyan-mutfagi-1-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/italyanmutfagi1.jpg"></div>
                    <div class="text-title">İtalyan Mutfağı 1</div>
                    <div class="text-desc">09 Mart Pazartesi 19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/sekersiz-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/subat/272x136/sekersiz.jpg"></div>
                    <div class="text-title">Şekersiz</div>
                    <div class="text-desc">11 Mart Çarşamba 10.00 - 14.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/mutfakta-8-hafta-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/m8h_540x315.jpg"></div>
                    <div class="text-title">Mutfakta 8 Hafta</div>
                    <div class="text-desc">11 Mart Çarşamba 19.00 - 23.00</div>
                </a>
                <a href="/gunluk-workshoplar/vazgecemediklerimiz-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/vazgecemediklerimiz.jpg"></div>
                    <div class="text-title">Vazgeçemediklerimiz 2</div>
                    <div class="text-desc">12 Mart Perşembe 19.00 - 23.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/deniz-urunleri-ve-pisirme-teknikleri">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/Deniz_urunleri_540x300-kopya.jpg"></div>
                    <div class="text-title">Deniz Ürünleri ve Pişirme Teknikleri</div>
                    <div class="text-desc">14 Mart Cumartesi 10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/haftanin-yemegi">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/haftanin_yemegi.jpg"></div>
                    <div class="text-title">Haftanın Yemeği</div>
                    <div class="text-desc">15 Mart Pazar 16.00 - 21.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/italyan-mutfagi-2-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/italyan_mutfagi2.jpg"></div>
                    <div class="text-title">İtalyan Mutfağı 2</div>
                    <div class="text-desc">16 Mart Pazartesi 19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/pasta-borek-corek">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/pasta_borek_corek_540x300.jpg"></div>
                    <div class="text-title">Pasta, Börek, Çörek</div>
                    <div class="text-desc">18 Mart Çarşamba 10.00 - 14.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/el-yapimi-makarnalar">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/elyapimi_makarnalar_540x300.jpg"></div>
                    <div class="text-title">El Yapımı Makarnalar</div>
                    <div class="text-desc">19 Mart Perşembe 19.00 - 23.00</div>
                </a>
                <a href="/gunluk-workshoplar/kokteylle">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/kokteylle_540x300.jpg"></div>
                    <div class="text-title">Kokteylle</div>
                    <div class="text-desc">20 Mart Cuma 19.00 - 22.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/kucuk-gurme-1-5-9-yas">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/kucuk_gurme1_540x300-copy.jpg"></div>
                    <div class="text-title">Küçük Gurme 1 (5-9 yaş)</div>
                    <div class="text-desc">21 Mart Cumartesi 10.00 - 12.00</div>
                </a>
                <a href="/gunluk-workshoplar/raw-food">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/RAWFOOD_540x300.jpg"></div>
                    <div class="text-title">Raw Food</div>
                    <div class="text-desc">21 Mart Cumartesi 14.00 - 19.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/mutfakta-8-hafta-pastacilik-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/m8hp_540x315.jpg"></div>
                    <div class="text-title">Mutfakta 8 Hafta - Pastacılık</div>
                    <div class="text-desc">21 Mart Cumartesi 10.00 - 12.00</div>
                </a>
                <a href="/gunluk-workshoplar/italyan-mutfagi-3">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/italyan_mutfagi3.jpg"></div>
                    <div class="text-title">İtalyan Mutfağı 3</div>
                    <div class="text-desc">23 Mart Pazartesi 19.00 - 22.00</div>
                </a>
            </div>
        </li>
		<li>
			<div class="slide">
                <a href="/gunluk-workshoplar/sandwiches-wraps">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/sandwiches_wraps_540x300.jpg"></div>
                    <div class="text-title">Sandwiches & Wraps</div>
                    <div class="text-desc">26 Mart Perşembe 19.00 - 23.00</div>
                </a>
                <a href="/gunluk-workshoplar/kahvalti-keyfi">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/kahvalti_keyfi_540x300.jpg"></div>
                    <div class="text-title">Kahvaltı Keyfi</div>
                    <div class="text-desc">28 Mart Cumartesi 10.00 - 14.00</div>
                </a>
            </div>
        </li>
		<li>
			<div class="slide">
                <a href="/gunluk-workshoplar/ilk-davet-menum-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/ilkdavetmenum_540x300.jpg"></div>
                    <div class="text-title">İlk Davet Menüm</div>
                    <div class="text-desc">28 Mart Cumartesi 16.00 - 20.00</div>
                </a>
                <a href="/gunluk-workshoplar/tapas-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/tapas_540x300.jpg"></div>
                    <div class="text-title">Tapas</div>
                    <div class="text-desc">30 Mart Pazartesi 19.00 - 22.00</div>
                </a>
            </div>
        </li>-->
<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/etler-ve-pisirme-teknikleri-3">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/9935_2083_1_tr_imagegallery_MSA_Etler_ve_Pisirme_Teknikleri_-540x300-copy.jpg"></div>
                    <div class="text-title">ETLER VE PİŞİRME TEKNİKLERİ</div>
                    <div class="text-desc">04 Nisan Cumartesi 10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/cupcakeler-1">
                    <div class="image"><img src="/Uploads/gunlukworkshoplar/nisan/256x144/4080_2084_1_tr_imagegallery_cupcakeler_540x300-kopya.jpg"></div>
                    <div class="text-title">CUPCAKE’LER</div>
                    <div class="text-desc">04 Mart Cumartesi 16.00 - 20.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/italyan-mutfagi-3-1">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/4260_2085_1_tr_imagegallery_MSA_Italyan_Mutfagi_1_540x315.jpg"></div>
                    <div class="text-title">İTALYAN MUTFAĞI 1</div>
                    <div class="text-desc">06 Nisan Pazartesi 19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/pizzalar-ve-salatalar-1">
                    <div class="image"><img src="/Uploads/gunlukworkshoplar/nisan/256x144/7072_2086_1_tr_imagegallery_MSA_Pizzalar_Salatalar_540x300.jpg"></div>
                    <div class="text-title">PİZZALAR VE SALATALAR</div>
                    <div class="text-desc">9 Nisan Perşembe 19.00 - 22.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/ilk-davet-menum-3">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/9659_2087_1_tr_imagegallery_MSA_Ilk_Davet_Menum_540x300.jpg"></div>
                    <div class="text-title">İLK DAVET MENÜM</div>
                    <div class="text-desc">11 Nisan Cumartesi 10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/cikolata-butigi">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/6066_2088_1_tr_imagegallery_MSA_Cikolata_Butigi_540x300.jpg"></div>
                    <div class="text-title">ÇİKOLATA BUTİĞİ</div>
                    <div class="text-desc">11 Nisan Cumartesi 16.00 - 21.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/saraba-eslik-edenler-1">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/4996_2089_1_tr_imagegallery_saraba_eslikedenler_540x300-copy.jpg"></div>
                    <div class="text-title">ŞARABA EŞLİK EDENLER</div>
                    <div class="text-desc">13 Nisan Pazartesi 19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/Pie-Tart">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/6417_2090_1_tr_imagegallery_MSA_Pielar_Tartlar_540x300.jpg"></div>
                    <div class="text-title">PIE’LAR VE TART’LAR</div>
                    <div class="text-desc">15 Nisan Çarşamba 10.00 - 14.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="gunluk-workshoplar/vazgecemediklerimiz-3">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/4865_2091_1_tr_imagegallery_Vazgecemediklerimiz_540x300.jpg"></div>
                    <div class="text-title">VAZGEÇEMEDİKLERİMİZ 1</div>
                    <div class="text-desc">16 Nisan Perşembe 19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/genc-gurme">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/9843_2092_1_tr_imagegallery_Genc-Gurme_540x300.jpg"></div>
                    <div class="text-title">GENÇ GURME (14-17 Yaş)</div>
                    <div class="text-desc">18 Nisan Cumartesi 10.00 - 14.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/haftanin-yemegi-1">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/5481_2093_1_tr_imagegallery_MSA_Haftanin_Yemegi_540x300.jpg"></div>
                    <div class="text-title">HAFTANIN YEMEĞİ</div>
                    <div class="text-desc">18 Nisan Cumartesi 16.00 - 21.00</div>
                </a>
                <a href="/gunluk-workshoplar/italyan-mutfagi-3-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/7193_2094_1_tr_imagegallery_MSA_Italyan_Mutfagi_2_540x300.jpg"></div>
                    <div class="text-title">İTALYAN MUTFAĞI 2</div>
                    <div class="text-desc">20 Nisan Pazartesi 19.00 - 22.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/glutensiz">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/7151_2095_1_tr_imagegallery_glutensiz_540x300.jpg"></div>
                    <div class="text-title">GLUTENSİZ</div>
                    <div class="text-desc">22 Nisan Çarşamba 10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/kucuk-gurme1-1-5-9-yas">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/3938_2096_1_tr_imagegallery_kucukgurme1_540x300.jpg"></div>
                    <div class="text-title">KÜÇÜK GURME 1- Çocuk Bayramı Özel (5-9 Yaş)</div>
                    <div class="text-desc">25 Nisan Cumartesi 10.00 - 12.00</div>
                </a>
            </div>
        </li>
		<li>
            <div class="slide">
                <a href="/gunluk-workshoplar/burgers-and-fries-1">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/8246_2097_1_tr_imagegallery_burgersandfries540x300-copy.jpg"></div>
                    <div class="text-title">BURGERS&FRIES</div>
                    <div class="text-desc">25 Nisan Cumartesi 16.00 - 20.00</div>
                </a>
                <a href="/gunluk-workshoplar/uzak-dogu-mutfagi-1">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/4177_2098_1_tr_imagegallery_uzakdogu_540x315.jpg"></div>
                    <div class="text-title">UZAKDOĞU MUTFAĞI</div>
                    <div class="text-desc">27 Nisan Pazartesi 19.00 - 22.00</div>
                </a>
            </div>
        </li>
		<li>
			<div class="slide">
                <a href="/gunluk-workshoplar/parizyen-tatlilar-1">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/1611_2099_1_tr_imagegallery_MSA_Parizyen_Tatlilar_540x300.jpg"></div>
                    <div class="text-title">PARİZYEN TATLILAR</div>
                    <div class="text-desc">29 Nisan Çarşamba 10.00 - 14.00</div>
                </a>
                <!--<a href="/gunluk-workshoplar/kahvalti-keyfi">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/kahvalti_keyfi_540x300.jpg"></div>
                    <div class="text-title">Kahvaltı Keyfi</div>
                    <div class="text-desc">28 Mart Cumartesi 10.00 - 14.00</div>
                </a>
            </div>
        </li>
		<li>
			<div class="slide">
                <a href="/gunluk-workshoplar/ilk-davet-menum-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/ilkdavetmenum_540x300.jpg"></div>
                    <div class="text-title">İlk Davet Menüm</div>
                    <div class="text-desc">28 Mart Cumartesi 16.00 - 20.00</div>
                </a>
                <a href="/gunluk-workshoplar/tapas-2">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/mart/272x136/tapas_540x300.jpg"></div>
                    <div class="text-title">Tapas</div>
                    <div class="text-desc">30 Mart Pazartesi 19.00 - 22.00</div>
                </a>
            </div>
        </li>-->
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><span>Günlük Workshoplar</span></li>

        </ul>
    </div>
</div>

