﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Kahve Eğitimi ve İşletmeciliği</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Artisan Kahve Eğitimi ve İşletmeciliği</strong></h1>


    <p>
Artisan Kahve Eğitimi ve İşletmeciliği, kahve tutkunlarına kahvenin tüm çeşitlerini, çekirdeğinden itibaren kahve hazırlamanın inceliklerini öğretmek için tasarlandı.
<br />
3 günlük veya tercihe göre 4 günlük olarak satın alınabilen program kapsamı ise şöyle;
<br />
3 günlük teorik ve pratik olarak gerçekleşen programda kahvenin tarihinden farklı yapım yöntemlerine, sunum ve süslemelere kadar kahveyle ilgili her detayı öğrenebilirsiniz. Üstelik 2. günün sonunda kendi özel harmanınızı yapıp evinize götürebilirsiniz. Eğitim sonunda iyi kahveyi anlama ve kahve çeşitlerine göre doğru ekipmanları seçme konularında uzmanlaşabilir, öğrendiğiniz teknikleri evde uygulayıp misafirleriniz için kusursuz kahveler hazırlayabilirsiniz.
<br />
4 günlük program ise, yukarıdaki kapsama ilave olarak bir kahve dükkânı açabilmek için size fikir verebilecek eğitim detaylarını kapsar. Eğitim sonunda sahip olacağınız işletmecilik donanımıyla, isterseniz hayalinizdeki mekânı açabilirsiniz.
<br />
Kimler katılabilir?
<ul>
	<li>Evinde profesyonel tekniklerle mükemmel kahve hazırlayıp sunmak isteyen kahve tutkunları</li>
	<li>Kahve konusunda uzmanlaşmak isteyen, mutfağın tüm alanlarına ilgi duyan ve/veya mutfak alanında eğitim alan kişiler</li>
	<li>4 günlük program da kendi kahve dükkânını açmak veya mevcut kahve işletmesini geliştirmek isteyen kahve sever veya girişimci ruhlu herkese hitap etmektedir.</li>
</ul>
&nbsp;
<br />
Dilerseniz eğitimin 3 günlük paketini satın alabilir ve kahve hakkında engin bilgiye sahip olabilirsiniz. Dilerseniz de 4 günlük paketi satın alarak, bir kahve işletmesi hakkında donanımlı bilgi edinebilirsiniz.
<br />
<strong>23- 24- 25 Şubat, 10.00-15.00 / 1.750 TL</strong>
<br />
<strong>23-24-25-26 Şubat, 10.00- 15.00/ 2.250 TL </strong>
<br />
Hangi kahve çeşitlerini öğreneceksiniz?
<br />
Eğitim boyunca farklı ekipmanlarla filtre kahve yapımı, cold brew, moccachino, espresso con panna, espresso, lungo, double espresso, ristretto, macchiato, cappuccino, cafe latte, americano ve soğuk kahve çeşitleri yapımlarını tüm detaylarıyla öğreneceksiniz.
<br /><br />
<strong>Program detayları:</strong><br />
<ul>
	<li>Eğitim süresince 16 katılımcı, MSA'nın özel kahve eğitim salonunda çalışacaktır.</li>
	<li>"Kahve Yapım Seti" ve eğitim kitabı tüm katılımcılara hediye edilecektir.</li>
	<li>Program sonunda katılımcılara, eğitmenler tarafından imzalanmış özel sertifikalar verilecektir.</li>
	<li>Eğitim süresince sabah atıştırmalıkları, öğle yemeği ve içecekler MSA'nın ikramı olacaktır.</li>
</ul>
<ul>
	<li><strong>Dersler 5 saattir. </strong></li>
	<li><strong>Derslerin telafisi yapılmaz. Ücret iadesi yoktur.</strong></li>
</ul>
&nbsp;
<br />
<strong>Eğitmenler kim?</strong><br /><br />

<strong>Musa Gümüştaş</strong><br />

İTÜ İşletme Mühendisliği Fakültesi mezunu olan Gümüştaş, 1988'den bu yana yiyecek-içecek sektörü ile iç içe bir kariyer sürüyor. Türkiye'ye birçok ünlü marka ve ürünün girmesine öncülük eden Gümüştaş, Lavazza Kahveleri'nin Türkiye başkanlığını yürüttü. Kahveyle ilgili eğitimlerini ise İtalya'da Lavazza’nın ana merkezinde aldı. 2008 yılından beri aktif olarak kahve perakendeciliği konusunda danışmanlık ve eğitimler veriyor.
<br /><br />
<strong>Pınar Özdemir</strong><br />

2006 yılında Türkiye'de ilk kez düzenlenen barista yarışması Baristanbul'da dereceye giren Pınar Özdemir, Hollanda'da Master Barista eğitimi ödülü kazandı. 2007-2013 yılları arasında Kahve Dünyası'nda Barista Eğitmeni olarak görev aldı ve AR-GE çalışmalarına katıldı. Özdemir'in yetiştirdiği baristalar arasında Türkiye'deki yarışmalarda birincilik elde eden ve Londra'da düzenlenen World Barista Championship'te Türkiye'yi başarıyla temsil eden baristalar bulunuyor.

Eğitim başlangıç tarihleri ve fiyatla ilgili ayrıntılı bilgi için:<br />

www.msa.com.tr <br />

www.biletix.com<br />

0212 290 35 50<br />
	
	</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li><strong>1.Gün:</strong></li>
        <li>Kahvenin tarihi</li>
        <li>Kahve pazarı, "Sektörel Durum" </li>
        <li>Kahvenin serüveni, "Tarladan Fincana"</li>
        <li>Roasting çeşitleri</li>
        <li>Öğütülme kalibrasyonları</li>
        <li>Kahvenin ticari formları</li>
        <li>Kahve yapım yöntemleri</li>
        <li>Ürün yapım standartları </li>
        <li>Kahve ve sağlık ilişkisi</li>
        <li>Yüksek orijinli kahveler</li>
        <li>23 Şubat Pazartesi, 10.00-15.00</li>
        <li><strong>2.Gün:</strong></li>
        <li>Roasting (Kavurma)</li>
		<li>Grinding (Öğütme)</li>
		<li>Blending (Harmanlama)</li>
		<li><strong>24 Şubat Salı, 10.00-15.00</strong></li>
		<li><strong>3.Gün:</strong></li>
		<li>Kahve çeşitlerinin uygulamalı yapımları, sunumları, süslemeleri ve tadımları</li>
		<li><strong>25 Şubat Çarşamba, 10.00-15.00</strong></li>
		<li><strong>4.Gün:</strong></li>
		<li>İş planı oluşturmak</li>
		<li>Kahvenin ekonomisi</li>
		<li>İşletme ergonomisi ve temel mimari</li>
		<li>Ekipman seçimi ve yerleşimi</li>
		<li>Kahve ve food management</li>
		<li><strong>26 Şubat Perşembe, 10.00-15.00</strong></li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">23 Şubat Pazartesi</div>
    <div class="time">10.00 - 15.00</div>
    <div class="clear hr"></div>
    <div class="price">1.750 TL (3 gün) </div>
    <div class="price">2.250 TL (4 gün)</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/artisan-kahve-egitimi-ve-isletmeciligi">Artisan Kahve Eğitimi ve İşletmeciliği</a></li>
            <li class=""><span>Artisan Kahve Eğitimi ve İşletmeciliği Detay</span></li>
        </ul>
    </div>
</div>
