﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Peynir Yapımı</title>
<meta name="keywords" content="Artisan Peynir Yapımı">
<meta name="description" content="Artisan Peynir Yapımı">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/artisan_peynir-yapimi.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Artisan Peynir Yapımı</h2>
                    <p>Kendi peynirini evinde yapmak isteyenler için…</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Siz de her malzemenin en doğalının peşinde koşan, her yemeği en sağlıklı şekilde pişirmek isteyenlerdenseniz, doğal yöntemlerle evde peynir yapımını öğrenmenizin zamanı geldi. Birbirinden lezzetli peynirlerin yapımını her aşamasıyla öğreneceğiniz Artisan Peynir Yapımı MSA'da sizi bekliyor.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/artisan-peynir-yapimi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">23 Şubat Pazartesi</div>
    <div class="time">10.00 - 15.00</div>
    <div class="clear hr"></div>
    <div class="price">1050 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

