﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Peynir Yapımı</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Artisan Peynir Yapımı</strong></h1>


    <p>Siz de her malzemenin en doğalının peşinde koşan, her yemeği en sağlıklı şekilde pişirmek isteyenlerdenseniz, doğal yöntemlerle evde peynir yapımını öğrenmenizin zamanı geldi. Birbirinden lezzetli peynirlerin yapımını her aşamasıyla öğreneceğiniz Artisan Peynir Yapımı MSA'da sizi bekliyor.

Artisan Peynir Yapımı'nda çiğ süt ve pastörizasyondan peynir mayasına, tuzlama ve salamura tekniklerinden mevsimine göre süt farklılıklarına ve kültür bakterilerine kadar peynir yapımının tüm inceliklerini öğreneceksiniz. Ayrıca eğitim sırasında, kendi yaptığınız peynirlerin lezzetini öne çıkaracak tatlı ve yemeklerin tadımını yapacaksınız

İki gün süren bu eğitimin ardından yoğurt, sepet peyniri, ricotta-lor peyniri, suda mozzarella ve mascarpone yapımlarında uzmanlaşacak, istediğiniz peyniri evde en doğal yöntemlerle yapmanın keyfini çıkaracaksınız.
<br /><br />
<strong>Kimler katılabilir?</strong><br />

•Tüm peynir ve süt ürünü tutkunları<br />

•Kendi yoğurdunu mayalayan ve “artık sıra peynirde” diyenler<br />

•Peynir yapımının temellerini öğrenmek isteyen aşçılık ve pastacılık öğrencileri ile mezunları<br />
<br />
<strong>Program detayları:</strong><br />

•Eğitim süresince 14 katılımcı, kendi özel istasyonunda tek kişi olarak çalışacaktır.<br />

•Artisan Peynir Yapımı Seti katılımcılara hediye edilecektir.<br />

•Tüm katılımcılara önlük seti ve reçetelerin yer aldığı "Artisan Peynir Yapımı" ders kitabı verilecektir.<br />

•Eğitimin sonunda katılımcılara MSA eğitmen şeflerinin imzaladığı özel sertifika verilecektir.<br />
<br />
<strong>Eğitmen Şef: Ömer Tezel</strong><br />

MSA'nın Profesyonel Aşçılık Eğitmeni Ömer Tezel, profesyonel ve kişisel merakı sebebiyle peynir yapımı ve farklı reçeteler geliştirme konularında uzun yıllar ar-ge çalışmaları yaptı. Bir yandan konuyla ilgili çalışmalarına devam eden Tezel, bu alanda dünyanın önde gelen okullarından biri olan The School of Artisan Food'da eğitim aldı. Ömer Şef, MSA’nın Artisan Peynir Yapımı eğitiminde peynir hakkında en temel bilgileri tüm katılımcılar ile paylaşacak.

*Program 2 gün sürmektedir.<br />

**Derslerin telafisi yapılmaz. Ücret iadesi yoktur.<br /><br />

<em><strong>23 Şubat Pazartesi - 24 Şubat Salı 10.00-15.00 / 1050 TL</strong></em></p><br />
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
		<li><strong>1. Gün:</strong></li>
        <li>Artisan peynir kavramı, sütün tanımı, çiğ süt ve pastörizasyon, peynir mayası, mevsimine göre süt farklılıkları ve kültür bakterileri hakkında teorik bilgi.</li>
        <li>Yoğurt</li>
        <li>Sepet peyniri </li>
        <li>Ricotta-lor peyniri</li>
        <li>Lactic peynir</li>
		<li><strong>2. Gün:</strong></li>
		<li>1. gün başlanılan peynir yapımlarının devamı ve tüm ürünlerin bitmiş hallerinin tadımı.</li>
		<li>Lactic peynir (devam)</li>
		<li>Suda mozzarella</li>
		<li>Mascarpone peyniri</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">23 Şubat Pazartesi</div>
    <div class="time">10.00 - 15.00</div>
    <div class="clear hr"></div>
    <div class="price">1050 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
		<li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
		
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/artisan-peynir-yapimi">Artisan Peynir Yapımı</a></li>
            <li class=""><span>Artisan Peynir Yapımı Detay</span></li>
        </ul>
    </div>
</div>
