﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Artisan Kahve Eğitimi ve İşletmeciliği</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="Artisan Kahve Eğitimi ve İşletmeciliği">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/artisan_khv.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Artisan Kahve Eğitimi ve İşletmeciliği</h2>
                    <p>Kahve hakkında öğrenmek istediğiniz her şeyi bu eğitimde bulacaksınız!</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Artisan Kahve Eğitimi ve İşletmeciliği, kahve tutkunlarına kahvenin tüm çeşitlerini, çekirdeğinden itibaren kahve hazırlamanın inceliklerini öğretmek için tasarlandı.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/artisan-kahve-egitimi-ve-isletmeciligi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">23 Şubat Pazartesi</div>
    <div class="time">10.00 - 15.00</div>
    <div class="clear hr"></div>
    <div class="price">1.750 TL (3 gün) </div>
    <div class="price">2.250 TL (4 gün)</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

