﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Burgers&Fries</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Burgers&Fries</strong></h1>


    <p>Hamburger kimden sorulsun istersiniz? Tabii ki sizden. En beğenilen burger tariflerini MSA şefleri sizin için hazırladı, bir workshop’ta topladı. “Eşe dosta nisbet, damaklara lezzet” diyoruz; sizi ketçabından köftesine, her aşamasını kendiniz hazırlayacağınız ideal hamburger tarifi için mutlaka bu workshop’a bekliyoruz.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Cheeseburger, köz patlıcan sos ve yeşillikler ile</li>
        <li>Bira paneli soğan halkaları ve kajun baharatlı patates kızartması</li>
        <li>Tavuk burger, mantar ketçap ve karamelize soğan ve yeşillikler ile</li>
        <li>Ev yapımı sarımsaklı ve acılı mayonez </li>
        <li>Tatlı ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">28 Şubat Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">160 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/burger-fries">Burgers&Fries</a></li>
            <li class=""><span>Burgers&Fries Detay</span></li>
        </ul>
    </div>
</div>
