﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Burgers&Fries</title>
<meta name="keywords" content="Burgers&Fries">
<meta name="description" content="Burgers&Fries">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/burgersandfries.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Burgers&Fries</h2>
                    <p>En iyi burger tarifleri bu Workshop’ta</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Hamburger kimden sorulsun istersiniz? Tabii ki sizden. En beğenilen burger tariflerini MSA şefleri sizin için hazırladı, bir workshop’ta topladı. “Eşe dosta nisbet, damaklara lezzet” diyoruz; sizi ketçabından köftesine, her aşamasını kendiniz hazırlayacağınız ideal hamburger tarifi için mutlaka bu workshop’a bekliyoruz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/burger-fries/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">28 Şubat Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">160 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

