﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Çikolata Aşkına</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Çikolata Aşkına</strong></h1>


    <p>Çikolatasız bir Şubat düşünemiyoruz. MSA’da birbirinden lezzetli el yapımı çikolatalar hazırlıyor, romantik kutlamalarımıza bu enfes tatları dahil ediyoruz. Sevgiliniz yoksa da çikolatanız olsun, bu Şubat tadınız bol olsun!</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Orman meyveli beyaz kalp kalıp çikolata</li>
        <li>Antep fıstıklı bitter krokan crunch</li>
        <li>Elmalı ve tarçınlı sütlü trüf çikolata</li>
        <li>Tuzlu atıştırmalıklar ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">07 Şubat Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/cikolata-askina">Çikolata Aşkına</a></li>
            <li class=""><span>Çikolata Aşkına Detay</span></li>
        </ul>
    </div>
</div>
