﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Çikolata Aşkına</title>
<meta name="keywords" content="Çikolata Aşkına">
<meta name="description" content="Çikolata Aşkına">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/cikolata_askina.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Çikolata Aşkına</h2>
                    <p>Aşk ayına anlam katan çikolatalar.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Çikolatasız bir Şubat düşünemiyoruz. MSA’da birbirinden lezzetli el yapımı çikolatalar hazırlıyor, romantik kutlamalarımıza bu enfes tatları dahil ediyoruz. Sevgiliniz yoksa da çikolatanız olsun, bu Şubat tadınız bol olsun!</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/cikolata-askina/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">07 Şubat Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

