﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Cooktail Aşkına</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Cooktail Aşkına</strong></h1>


    <p>Kokteyl değil, bunun adı “cooktail”. Cooktail eksperi Göksel Güleç, Sevgililer Günü’ne özel olarak MSA’ya konuk oluyor. Tamamen doğal ürünlerle hazırlayacağınız aromaları çok özel teknik uygulamalarla birleştirecek ve ortaya harika cooktailler çıkaracaksınız. Daha önce hiç tatmadığınız lezzette hazırlayacağınız bu içeceklerle davetlerinizin yıldızı olacaksınız.
<br />
<br />
	<strong>Göksel Güleç hakkında:</strong><br />
Türkiye’de mutfağı barla birleştiren ilk mixologist olan Göksel Güleç bara ilk adımını 1997 yılında attı. O tarihten bu yana gerek kendi araştırmaları gerek uluslararası çalışma imkânları ile mixology seviyesini bir üst konuma getirdi. Göksel Güleç kişiye özel maximum damak tatminine odaklanarak “Culinary Mixology” sloganiyla “The Cooktail Master” markasını yarattı. Yarattığı tatlara genel olarak ‘Cooktail’ adını veren Göksel Güleç; pişirme, fümeleme, demleme, aromalı tuz yapımı gibi birçok mutfak tekniğini likitler üzerinde kullanarak tüm malzemelerin taze meyve ve sebzelerden hazırlanmasına maksimum özen göstermektedir.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Rosella; Hibiscus çiçeği ve portakal ile demlenmiş tekila, ev yapımı gül şurubu ile </li>
        <li>Harvest of Amasya; Hurma, ceviz, karanfil ile demlenmiş konyak, ev yapımı kabak şurubu ile</li>
        <li>Wild Cat; Adaçayı ve armutlu votka, çarkıfelek meyve köpüğü ile </li>
        <li>Viper Cooktail; Ananas, taze acı biber ile demlenmiş votka, greyfurt ve sıvı azot ile (DEMO)</li>
        <li>Gönülçelen; Taze gül yaprakları, rasberry votka, misket limonu ve şampanya ve çilek köpüğü</li>
        <li>Atıştırmalık ikramımız olacaktır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">13 Şubat Cuma</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">190 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/cooktail-askina">Cooktail Aşkına</a></li>
            <li class=""><span>Cooktail Aşkına Detay</span></li>
        </ul>
    </div>
</div>
