﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Cooktail Aşkına</title>
<meta name="keywords" content="Cooktail Aşkına">
<meta name="description" content="Cooktail Aşkına">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/cooktail_askina.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Cooktail Aşkına</h2>
                    <p>Cooktail eksperi Göksel Güleç’ten unutamayacağınız sıradışı tarifler sizleri bekliyor.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Kokteyl değil, bunun adı “cooktail”. Cooktail eksperi Göksel Güleç, Sevgililer Günü’ne özel olarak MSA’ya konuk oluyor. Tamamen doğal ürünlerle hazırlayacağınız aromaları çok özel teknik uygulamalarla birleştirecek ve ortaya harika cooktailler çıkaracaksınız. Daha önce hiç tatmadığınız lezzette hazırlayacağınız bu içeceklerle davetlerinizin yıldızı olacaksınız.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/cooktail-askina/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">13 Şubat Cuma</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">190 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

