﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Cupcake'ler</title>
<meta name="keywords" content="Cupcake'ler">
<meta name="description" content="Cupcake'ler">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/cupcake.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Cupcake'ler</h2>
                    <p>Cupcakesiz bir Sevgililer Günü düşünemiyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Mutfağın en renkli ve eğlenceli lezzeti yepyeni tariflerle karşınızda. MSA şefleri yine yaratıcılık ve lezzet sınırlarını zorluyor. Bu Workshop'ta cupcake becerilerinizi katlayacak, öğreneceğiniz uygulamalarla evinizde harikalar yaratacaksınız.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/cupcakeler/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">18 Şubat Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

