﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Cupcake'ler</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Cupcake'ler</strong></h1>


    <p>Mutfağın en renkli ve eğlenceli lezzeti yepyeni tariflerle karşınızda. MSA şefleri yine yaratıcılık ve lezzet sınırlarını zorluyor. Bu Workshop'ta cupcake becerilerinizi katlayacak, öğreneceğiniz uygulamalarla evinizde harikalar yaratacaksınız.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Muzlu beyaz çikolatalı cupcake, earl grey çaylı Fransız butter cream ile</li>
        <li>Vişneli ganaj dolgulu, kakaolu ve fındıklı cupcake, bitter çikolata ve zencefilli frosting ile</li>
        <li>Marzipan dolgulu damla sakızlı cupcake, krem peynirli ve kahveli frosting ile</li>
        <li>Tuzlu atıştırmalıklar ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">18 Şubat Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/cupcakeler">Cupcake'ler</a></li>
            <li class=""><span>Cupcake'ler Detay</span></li>
        </ul>
    </div>
</div>
