﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Deniz Ürünleri ve Pişirme Teknikleri</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Deniz Ürünleri ve Pişirme Teknikleri</strong></h1>


    <p>Birbirinden özel deniz ürünlerini ayıklama tekniklerinden, fileto çıkarmaya ve pişirme yöntemlerine kadar derinlemesine öğrenmek ve en lezzetli tariflerini uyarlamak için maviliklerden çıkanlar kadar taze bir Workshop. “Ben balığı gözünden anlarım!” diyorsanız MSA sizi bekliyor.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Tereyağlı karides güveç </li>
        <li>Fırında levrek buğulama, limon ve beyaz şarap soslu</li>
        <li>Şişte dil balığı, yasemin pilavı ve sote balık patates</li>
        <li>Biralı kalamar, taze reyhanlı tartar sos</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">14 Mart Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/italyan-mutfagi-1">Deniz Ürünleri ve Pişirme Teknikleri</a></li>
            <li class=""><span>Deniz Ürünleri ve Pişirme Teknikleri Detay</span></li>
        </ul>
    </div>
</div>
