﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Deniz Ürünleri ve Pişirme Teknikleri 1</title>
<meta name="keywords" content="Deniz Ürünleri ve Pişirme Teknikleri">
<meta name="description" content="Deniz Ürünleri ve Pişirme Teknikleri 1">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/Deniz_urunleri_540x300-kopya.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Deniz Ürünleri ve Pişirme Teknikleri 1</h2>
                    <p>“Ben balığı gözünden anlarım!” diyenlere…</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Birbirinden özel deniz ürünlerini ayıklama tekniklerinden, fileto çıkarmaya ve pişirme yöntemlerine kadar derinlemesine öğrenmek ve en lezzetli tariflerini uyarlamak için maviliklerden çıkanlar kadar taze bir Workshop. “Ben balığı gözünden anlarım!” diyorsanız MSA sizi bekliyor.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/deniz-urunleri-ve-pisirme-teknikleri/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">14 Mart Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

