﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Etler ve Pişirme Teknikleri</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Etler ve Pişirme Teknikleri</strong></h1>
	<p>Et pişirmek ustalık ister. Fakat önemli püf noktaları ve bilgi birikimiyle herkes yumuşacık ve sulu etler pişirebilir. Et marinasyonundan, pişirme tekniklerine her konuda hâkimiyet kazanacağınız, üstüne üstlük ete doyacağınız lezzetli bir Workshop için MSA’ya bekliyoruz.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Ağır ateşte şarap ve sebzelerle pişirilmiş dana yanak (Demo)</li>
        <li>Taze biberiye ve worcestershire marineli Dallas steak, karamelize soğanlı sote patates ve acı domates sos</li>
        <li>Tatlı ekşi soslu kuzu pirzola, yeşillik ve sarımsaklı bagetler ile</li>
        <li>Tatlı ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">07 Mart Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/etler-ve-pisirme-teknikleri-2">Etler ve Pişirme Teknikleri</a></li>
            <li class=""><span>Etler ve Pişirme Teknikleri Detay</span></li>
        </ul>
    </div>
</div>
