﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Food Styling'e Giriş</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Food Styling'e Giriş</strong></h1>


    <p><ul>
	<li>Gözlerinizi kapatın ve hayatınızda gördüğünüz en iştah kabartan yemek fotoğrafını düşünün.</li>
	<li>Muhteşem poz veren bu tabağın aslında tadına varılması için değil, işin uzmanları tarafından sadece fotoğrafla ölümsüzleştirilmek için hazırlandığını unutmayın. Siz de yemeklerin lezzetlerini, renklerin ve formların uyumuyla fotoğraf karelerine taşımanın inceliklerini öğrenmek istiyorsanız MSA’nın “Food Styling’e Giriş” eğitimi sizi bekliyor.</li>
	<li>Yemeklerin profesyonel fotoğraf çekimine hazırlık aşamasını öğreneceğiniz ve yemek stilisti olmak için ilk adımı atacağınız iki günlük "Food Styling'e Giriş" eğitimiyle profesyonellerden işin püf noktalarını öğrenecek, görselliği unutulmaz tabaklar tasarlayacaksınız.</li>
</ul>
&nbsp;
<ul>
	<li>**Yemek Stilistliği seti MSA’dan size hediye.</li>
</ul>
&nbsp;
<ul>
	<li><strong>EĞİTMENLER:</strong></li>
	<li><strong>Bahar Kitapçı-</strong><strong>Yemek Fotoğrafçısı ve Prop Stilisti</strong></li>
	<li>10 seneyi aşkın pazarlama tecrübesine sahip olan Bahar Kitapçı, bugün ülkenin önde gelen yemek fotoğrafçı ve prop stilistliği uzmanları arasında. 2008’de İspanya’da yaşadığı dönemde fotoğrafçılığa olan tutkusunu tekrar keşfeden Bahar Kitapçı, Mucize Lezzetler ve Refika'nın mutfağı gibi çeşitli fotoğraf ve kitap projelerinde çalışmaktadır. Güncel işleri icin www.baharkitapci.com  adresini ziyaret edebilirsiniz.</li>
</ul>
<ul>
	<li>Eğitim boyunca Bahar Kitapçı’ya<strong> MSA</strong>’nın yemek stilistliği konusunda deneyimli profesyonel eğitmen şefleri eşlik edecek. Şefler, tabakları fotoğraf için hazırlarken nelere dikkat edilmesi gerektiği ile her tema için pişirme sürecindeki püf noktaları ve sunumdaki detaylar hakkında katılımcılara bilgi verecekler.</li>
</ul>
&nbsp;
<ul>
	<li><em><strong>20 Şubat Cuma 16.00-20.00 / 21 Şubat Cumartesi 10.00-14.00, 720 TL</strong></em></li>
</ul></p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Eğitimin konu başlıkları:</li>
        <li><strong>Yemek stilistliğine giriş</strong></li>
        <li>Yemek stilistinin araç gereçleri ve kullanım yerleri </li>
        <li>Görsel örnekler üzerinden dikkat edilmesi gereken noktalar ve uygulanan teknikler</li>
        <li>Yemek ve tabak kompozisyonları</li>
        <li>Yemek stilisti ve fotoğrafçı arasındaki ilişki</li>
        <li>Fotoğrafçının yemek fotoğrafçılığı hakkındaki yorumları ve önemli noktaları</li>
		<li><strong>1.Gün</strong></li>
		<li>Makarna stilistliği/pratik</li>
		<li>Salata stilistliği/pratik</li>
		<li>Hamburger stilistliği/pratik</li>
		<li><strong>2.Gün </strong></li>
		<li>Tavuk stilistliği/pratik</li>
		<li>Dondurma stilistliği/pratik</li>
		<li>Soğuk içecek stilistliği/pratik</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">20 Şubat Cuma</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">720 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY028/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/food-styling-giris">Food Styling'e Giriş</a></li>
            <li class=""><span>Food Styling'e Giriş Detay</span></li>
        </ul>
    </div>
</div>
