﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>İlk Davet Menüm</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>İlk Davet Menüm</strong></h1>
    <p>Yeni ev, yeni iş veya evlilik… Tebrikler, hayatınızda artık yeni bir döneme girdiniz! Ama misafirler kapıda, herkes tebriğe gelmek için sırada. İlk davetinizi vermenin ve misafirlerinizi layığıyla ağırlamanın telaşlı heyecanına çare MSA’da. Zahmetli görünen o harika sofraların vazgeçilmez lezzetlerini davet workshop’umuzda topladık. Davetinizde şimdi harikalar yaratacak ve misafirlerinize unutulmaz bir lezzet şöleni yaşatacaksınız.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Mercimek çorbası, kruton ile</li>
        <li>Keçi peynirli ve pancarlı roka salatası</li>
        <li>Ağır ateşte pişirilmiş kuzu incik</li>
        <li>Kestaneli iç pilav</li>
		<li>Sakızlı muhallebi, vişne sos ile</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">2 Şubat Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/ilk-davet-menum-2">İlk Davet Menüm</a></li>
            <li class=""><span>İlk Davet Menüm Detay</span></li>
        </ul>
    </div>
</div>
