﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>İlk Davet Menüm</title>
<meta name="keywords" content="İlk Davet Menüm">
<meta name="description" content="İlk Davet Menüm">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/ilkdavetmenum_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>İlk Davet Menüm</h2>
                    <p>Evinizin ilk davetini harika lezzetlerle unutulmaz kılacaksınız.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">
    <p>Yeni ev, yeni iş veya evlilik… Tebrikler, hayatınızda artık yeni bir döneme girdiniz! Ama misafirler kapıda, herkes tebriğe gelmek için sırada. İlk davetinizi vermenin ve misafirlerinizi layığıyla ağırlamanın telaşlı heyecanına çare MSA’da. Zahmetli görünen o harika sofraların vazgeçilmez lezzetlerini davet workshop’umuzda topladık. Davetinizde şimdi harikalar yaratacak ve misafirlerinize unutulmaz bir lezzet şöleni yaşatacaksınız.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/ilk-davet-menum-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">28 Şubat Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">160 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY068/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>
</div>

