﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"İtalyan Mutfağı 2</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="İtalyan Mutfağı 2">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/italyan2_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>İtalyan Mutfağı 2</h2>
                    <p>İtalyan esintilerini MSA’ya getiriyoruz. Kaçırmayın!</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>İtalya kokan lezzetleri sezonun en taze malzemeleriyle buluşturuyor ve ortaya harika bir menü çıkarıyoruz. MSA eğitmen şefleri tarafından özenle derlenen reçetelerde malzemelerin çapraz uyumuna keşfe çıkıp yine lezzete doymak için İtalyan Mutfağı Workshop’una bekliyoruz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/italyan-mutfagi-2-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">16 Mart Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

