﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"İtalyan Mutfağı 1</title>
<meta name="keywords" content="İtalyan Mutfağı 1">
<meta name="description" content="İtalyan Mutfağı 1">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/italyanmutfagi1_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>İtalyan Mutfağı 1</h2>
                    <p>Pazartesi akşamlarının İtalyan keyfi</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>İtalyan mutfağını öğrenmek için İtalya’ya gitmenize gerek yok. Dünya’ya nam salmış en özel İtalyan lezzetlerini MSA’da meraklılarıyla buluşturuyoruz. Bu enfes tatları siz de öğrenip kendi evinizin İtalyan şefi olmak için bu Workshop’u kaçırmayın. </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/italyan-mutfagi-1-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">09 Mart Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

