﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Kahvaltı Keyfi</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Kahvaltı Keyfi</strong></h1>
    <p>Dünyanın dört bir yanında kahvaltı sofralarını süsleyen en keyifli tabakları hazırlamaya ne dersiniz? Kahvaltının en lezzetli halini MSA’da öğrendikten sonra kahvaltı davetlerinin en yaratıcısı sizinki olacak. </p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Pancake, kırmızı orman meyveleri ve maple syrup ile</li>
        <li>Eggs Benedict; İngiliz muffin, dana bacon, poşe yumurta ve hollandaise sos ile</li>
        <li>Taze otlu börek</li>
        <li>Brioche, ev yapımı baharatlı marmelat ile</li>
		<li>İstasyonlarda peynir ve şarküteri ürünleri, yeşillikler, marine domates-salatalık, zeytin, çay ve kahve sizleri beklemektedir.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">28 Mart Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY067/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/kahvalti-keyfi">Kahvaltı Keyfi</a></li>
            <li class=""><span>Kahvaltı Keyfi Detay</span></li>
        </ul>
    </div>
</div>
