﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Kahvaltı Keyfi - Sevgililer Günü Özel</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Kahvaltı Keyfi - Sevgililer Günü Özel</strong></h1>


    <p>Bu 14 Şubat, kutlamaya erkenden başlayın. Vazgeçilmez klasiklerle enfes bir kahvaltı sofrası kurmak için en sevdiğinizi MSA’ya getirin. Siz kendi ellerinizle bu harika tarifleri hazırlarken, geleneksel kahvaltı sofralarımızın en beğenilen lezzetleri de MSA tarafından ikram edilecek. 14 Şubat rutinlerinden sıkılanlara şiddetle öneriyoruz.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Pancake, mevsim meyveleri ve maple syrup ile</li>
        <li>Eggs Benedict; İngiliz muffin, dana bacon, poşe yumurta ve hollandaise sos ile</li>
        <li>Brioche, marmelat ile</li>
        <li>Bitter çikolatalı, vişne soslu kek </li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">14 Şubat Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>


   <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/kahvalti-keyfi-sevgililer-gunu-ozel">Kahvaltı Keyfi - Sevgililer Günü Özel</a></li>
            <li class=""><span>Kahvaltı Keyfi - Sevgililer Günü Özel Detay</span></li>
        </ul>
    </div>
</div>