﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Kahvaltı Keyfi - Sevgililer Günü Özel</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="Kahvaltı Keyfi - Sevgililer Günü Özel">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/kahve_keyfi.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Kahvaltı Keyfi - Sevgililer Günü Özel</h2>
                    <p>Pazar günün tadı MSA’da çıkar.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">
    <p>Bu 14 Şubat, kutlamaya erkenden başlayın. Vazgeçilmez klasiklerle enfes bir kahvaltı sofrası kurmak için en sevdiğinizi MSA’ya getirin. Siz kendi ellerinizle bu harika tarifleri hazırlarken, geleneksel kahvaltı sofralarımızın en beğenilen lezzetleri de MSA tarafından ikram edilecek. 14 Şubat rutinlerinden sıkılanlara şiddetle öneriyoruz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/kahvalti-keyfi-sevgililer-gunu-ozel/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">14 Şubat Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

