﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Kahvaltı Keyfi</title>
<meta name="keywords" content="Kahvaltı Keyfi">
<meta name="description" content="Kahvaltı Keyfi">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/kahvalti_keyfi_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Kahvaltı Keyfi</h2>
                    <p>Klasik kahvaltılıkların dışına çıkıyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Dünyanın dört bir yanında kahvaltı sofralarını süsleyen en keyifli tabakları hazırlamaya ne dersiniz? Kahvaltının en lezzetli halini MSA’da öğrendikten sonra kahvaltı davetlerinin en yaratıcısı sizinki olacak. </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/kahvalti-keyfi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">28 Mart Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY067/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>
</div>

