﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Kokteylle</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Kokteylle</strong></h1>


    <p>Ev partilerinize müdavimlik yaratacak en özel kokteyl tarifleri bu Workshop’ta. Kokteyl yapımının püf noktalarını öğrenmek, görüntü ve lezzetteki o ince çizgiyi yakalamak ve yanlarına tamamlayıcı unsur en iyi ne gider sorularının cevabını öğrenmek için haydi yine MSA’da kokteylliyoruz.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
		<li>Pineapple margharita ile; erik soslu bonfile şişleri</li>
		<li>Long island iced tea ile; barbekü soslu tavuk kanatları</li>
		<li>Tequila sunrise ile; beef&cheddar nachos, salsa sos ile</li>
		<li>Tatlı ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">20 Mart Cuma</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY062/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/el-yapimi-makarnalar">Kokteylle</a></li>
            <li class=""><span>Kokteylle Detay</span></li>
        </ul>
    </div>
</div>