﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Kokteylle</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/kokteylle_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Kokteylle</h2>
                    <p>MSA’da kokteylliyoruz!</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Ev partilerinize müdavimlik yaratacak en özel kokteyl tarifleri bu Workshop’ta. Kokteyl yapımının püf noktalarını öğrenmek, görüntü ve lezzetteki o ince çizgiyi yakalamak ve yanlarına tamamlayıcı unsur en iyi ne gider sorularının cevabını öğrenmek için haydi yine MSA’da kokteylliyoruz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/kokteylle/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">20 Mart Cuma</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY062/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>
