﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Küçük Gurme 1 (5-9 yaş)</title>
<meta name="keywords" content="Küçük Gurme 1 (5-9 yaş)">
<meta name="description" content="Küçük Gurme 1 (5-9 yaş)">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/kucuk_gurme1_540x300-copy.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Küçük Gurme 1 (5-9 yaş)</h2>
                    <p>Minik gurmelerimize özel</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Kim demiş minikler yemek yapamaz diye. Gurmeliğe erken yaşta adım atmak isteyen minik şeflerimiz mutfağa giriyor ve eşlik eden anne veya babalarına fark atıyor. Lezzetli bir aile aktivitesi için Workshop’ta yerinizi ayırın.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/kucuk-gurme-1-5-9-yas/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">21 Mart Cumartesi</div>
    <div class="time">10.00 - 12.00</div>
    <div class="clear hr"></div>
    <div class="price">120 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

