﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Küçük Gurme 1 (5-9 yaş)</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Küçük Gurme 1 (5-9 yaş)</strong></h1>


    <p>Kim demiş minikler yemek yapamaz diye. Gurmeliğe erken yaşta adım atmak isteyen minik şeflerimiz mutfağa giriyor ve eşlik eden anne veya babalarına fark atıyor. Lezzetli bir aile aktivitesi için Workshop’ta yerinizi ayırın.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Misket köfte ve spaghetti, domates sos ile</li>
        <li>Damla çikolatalı kurabiyeler</li>
        <li>Muzlu milkshake ikramımızdır.</li>
        <li><strong>*Çocukların bir yetişkin eşliğinde katılması gerekmektedir.</strong></li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">2 Şubat Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/kucuk-gurme-1-5-9-yas">Küçük Gurme 1 (5-9 yaş)</a></li>
            <li class=""><span>Küçük Gurme 1 (5-9 yaş) Detay</span></li>
        </ul>
    </div>
</div>
