﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Meksika Rüzgarı</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Meksika Rüzgarı</strong></h1>
    <p>MSA’da Latin Amerika’nın göz alıcı renklerini tabaklarımıza yansıtacağımız nefis bir workshop! Siz de baharatları ve kokularıyla bu bölgenin yemeklerine hayransanız, gelin MSA eğitmen şeflerinden bu lezzetlerin bir de hazırlık aşamalarını öğrenin. Sonunda tadına doyacağınız harika Meksika yemekleri sizi bekliyor. Viva México!</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Cheddar ve sebzeli nachos</li>
        <li>Siyah fasulye ve piliç burritos</li>
        <li>Lime ve kekik marineli mexican steak, kremalı chipotle sos ile</li>
        <li>Çikolata soslu churro</li>
        <li>Margarita ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">16 Şubat Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/meksika-ruzgari">Meksika Rüzgarı</a></li>
            <li class=""><span>Meksika Rüzgarı Detay</span></li>
        </ul>
    </div>
</div>
