﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Meksika Rüzgarı</title>
<meta name="keywords" content="Meksika Rüzgarı">
<meta name="description" content="Meksika Rüzgarı">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/meksika_ruzgari.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Meksika Rüzgarı</h2>
                    <p>Sizi Meksika’ya götürüyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>MSA’da Latin Amerika’nın göz alıcı renklerini tabaklarımıza yansıtacağımız nefis bir workshop! Siz de baharatları ve kokularıyla bu bölgenin yemeklerine hayransanız, gelin MSA eğitmen şeflerinden bu lezzetlerin bir de hazırlık aşamalarını öğrenin. Sonunda tadına doyacağınız harika Meksika yemekleri sizi bekliyor. Viva México!</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/meksika-ruzgari/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">16 Şubat Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

