﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Mutfakta 8 Hafta - Pastacılık</title>
<meta name="keywords" content="Mutfakta 8 Hafta - Pastacılık">
<meta name="description" content="Mutfakta 8 Hafta - Pastacılık">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/mutfakta8hafta_pasticilik.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Mutfakta 8 Hafta - Pastacılık</h2>
                    <p></p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Vanilyanın kokusuna, çikolatanın lezzetine, hamurun kıvamına, ekmeğin sıcaklığına tutkun, kendi evinin pasta şefi olma hayalleri kuranlar için profesyonel şeflerden “Mutfakta 8 Hafta Pastacılık Eğitimi”…</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/mutfakta-8-hafta-pastacilik/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">20 Şubat Cuma</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">1.550 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

