﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Mutfakta 8 Hafta</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="Mutfakta 8 Hafta">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/mutfakta8hafta.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Mutfakta 8 Hafta</h2>
                    <p>Kendi evinin executive chef’i olmak isteyenler için...</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Mutfağın temeli olan Bıçak Kullanma Tekniklerinden Sos ve Çorba yapımına, Et Pişirme Tekniklerinden Deniz Ürünlerine ve Wok Yemek Tekniklerine kadar mutfağın inceliklerini 8 hafta boyunca her Pazar günü keşfedeceksiniz. Eğitim süresince kendi özel istasyonunuzda çalışacak ve profesyonellerin teknikleriyle gerçek bir şef gibi yemek pişirmenin keyfine varacaksınız. </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/mutfakta-8-hafta-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">11 Mart Çarşamba</div>
    <div class="time">19.00 - 23.00</div>
    <div class="clear hr"></div>
    <div class="price">1.850 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

