﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Mutfakta 8 Hafta - Pastacılık</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Mutfakta 8 Hafta - Pastacılık</strong></h1>


    <p><strong>Program detayları;</strong>
<br /> 
<br /> 
•Eğitim süresince katılımcılar 14 kişilik mutfakta, kendi özel istasyonlarında tek kişi olarak çalışacaktır. <br /> 

•Eğitimde kullanılacak F.Dick spatula ve soyma bıçağı katılımcılara hediye edilecektir.<br /> 

•Tüm katılımcılara önlük seti ve ders içerikleri ile ilgili reçete kitabı verilecektir.<br /> 

•Eğitimin sonunda eğitmen şeflerin imzaladığı özel sertifika verilecektir.<br /> 

&nbsp;

*Program 8 hafta sürmektedir.<br /> 

*Derslerin telafisi yapılmaz. Ücret iadesi yoktur.<br /> 

<strong>20 Şubat 2014  – 10 Nisan 2015 Cuma 10.00- 14.00 / 1.550 TL </strong></p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li><strong>Kurabiyeler</strong></li>
        <li>Çikolatalı çatlak kurabiye</li>
        <li>Bademli üzümlü biscotti</li>
        <li>Kandil simidi/çatal</li>
        <li>Linzer kurabiye</li>
        <li><strong>20 Şubat Cuma, 10.00-14.00</strong></li>
        <li><strong>Tart, kiş ve pie’ lar</strong></li>
		<li>Çikolatalı vişneli tart</li>
		<li>Pırasalı mantarlı kiş</li>
		<li>Portakallı mereng pie</li>
		<li><strong>27 Şubat Cuma, 10.00 - 14.00</strong></li>
		<li><strong>Ekmek Yapımı</strong></li>
		<li>Baget ekmeği</li>
		<li>Foccacia</li>
		<li>Çavdarlı tahıllı köy ekmeği</li>
		<li><strong>06 Mart Cuma, 10.00 - 14.00  </strong></li>
		<li><strong>Kekler </strong></li>
		<li>Vişneli cheesecake</li>
		<li>Yoğun çikolatalı limonlu kek</li>
		<li>İncirli cevizli kek</li>
		<li><strong>13 Mart Cuma, 10.00- 14.00 </strong></li>
		<li><strong>Pastalar </strong></li>
		<li>Muzlu çikolatalı rulo</li>
		<li>Orman meyveli pasta</li>
		<li>Tiramisu (DEMO)</li>
		<li><strong>20 Mart Cuma, 10.00 - 14.00</strong></li>
		<li><strong>Custards ve choux hamuru</strong></li>
		<li>Pastacı kreması</li>
		<li>Profiterol</li>
		<li>Creme brulee</li>
		<li>Çilekli yeşil fıstıklı custard</li>
		<li><strong>27 Mart  Cuma, 10.00 – 14.00   </strong></li>
		<li><strong>Şuruplu ve sütlü tatlılar</strong></li>
		<li>Portakallı şekerpare</li>
		<li>Revani</li>
		<li>Damla sakızlı muhallebi</li>
		<li>Çikolatalı panna cotta, vişne sos ile</li>
		<li><strong>03 Nisan Cuma, 10.00- 14.00</strong></li>
		<li><strong>Çikolatalar</strong></li>
		<li>Earl Grey çaylı kalıp çikolata</li>
		<li>Lavantalı bitter truffle çikolata</li>
		<li>Rochers dökme çikolata </li>
		<li><strong>10 Nisan Cuma, 10.00 – 14.00 </strong></li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">20 Şubat Cuma</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">1.550 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>


    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/mutfakta-8-hafta-pastacilik">Mutfakta 8 Hafta - Pastacılık</a></li>
            <li class=""><span>Mutfakta 8 Hafta - Pastacılık Detay</span></li>
        </ul>
    </div>
</div>
