﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Mutfakta 8 Hafta</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Mutfakta 8 Hafta</strong></h1>


    <p>
	Mutfağın temeli olan Bıçak Kullanma Tekniklerinden Sos ve Çorba yapımına, Et Pişirme Tekniklerinden Deniz Ürünlerine ve Wok Yemek Tekniklerine kadar mutfağın inceliklerini 8 hafta boyunca her Pazar günü keşfedeceksiniz. Eğitim süresince kendi özel istasyonunuzda çalışacak ve profesyonellerin teknikleriyle gerçek bir şef gibi yemek pişirmenin keyfine varacaksınız. 
Eğitim süresince katılımcılar 14 kişilik mutfakta, kendi özel istasyonlarında tek kişi olarak çalışacaktır.
Eğitimde kullanılacak F.Dick şef bıçağı ve soyma bıçağı katılımcılara hediye edilecektir.
Tüm katılımcılara önlük seti ve ders içerikleri ile ilgili reçete kitabı verilecektir.
Eğitimin sonunda eğitmen şeflerin imzaladığı özel sertifika verilecektir.
  <br />
*Program 8 hafta sürmektedir. <br />
*Derslerin telafisi yapılmaz. Ücret iadesi yoktur. 
 <br />
<strong>11 Mart 2015 – 29 Nisan 2015 Çarşamba, 19.00-23.00 / 1.850 TL </strong>
</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Bıçak Seçme, Kesim ve Kullanma Teknikleri, Mutfak Set-up ve Hazırlıkları  </li>
        <li>Profesyonel şefler gibi iyi bıçak kullanmanın temel tekniklerinin gösterileceği bu derste, bıçaklarınızı keskin tutmaktan çeşitli doğrama tekniklerine, meyve dilimlemeden sebze kesme biçimlerine kadar tüm bıçak becerilerinin neden ve nasıllarını öğreneceksiniz. Ders sırasında ve 8 hafta boyunca kullanacağınız bıçak seti hediye.</li>
        <li>11 Mart Çarşamba, 19.00-23.00</li>
        <li><strong>Ana ve Türev Soslar ve Çorbalar, Hazırlama ve Kullanma Metodları</strong></li>
		<li>Tavuk suyu (DEMO)</li>
		<li>Kahverengi et suyu (DEMO)</li>
		<li>Mayonez (DEMO)</li>
		<li>Bechamel sos</li>
		<li>Veloute sos (DEMO)</li>
		<li>Fransız soğan çorbası</li>
		<li>Minestrone çorbası</li>
		<li><strong>18 Mart Çarşamba, 19.00-23.00</strong></li>
		<li><strong>Et Çeşitleri ve Yapıları, Pişirme Teknikleri ve Püf Noktaları</strong></li>
		<li>Bonfile ayıklama ve temizleme teknikleri (DEMO)</li>
		<li>T-Bone steak (DEMO)</li>
		<li>Roastbeef (DEMO)</li>
		<li>Porçini mantarlı ve kremalı bonfile</li>
		<li>Kuzu karski, patates püresi, demi glace sos, sote mantar</li>
		<li><strong>25 Mart Çarşamba, 19.00-23.00</strong></li>
		<li><strong>Tüm Detaylarıyla Tavuk Pişirme Yöntemleri</strong></li>
		<li>Çıtır tavuk kanatları, ev yapımı acılı barbekü sos</li>
		<li>Germolata marineli tavuk but, chili garlic sos ile</li>
		<li>Parmesan kaplı tavuk göğüs, beurre blanc sos</li>
		<li>Röşti patates</li>
		<li><strong>1 Nisan Çarşamba, 19.00-23.00</strong></li>
		<li><strong>Pilavlar ve Pirinç Çeşitleri, Pişirme Teknikleri ve Püf Noktaları</strong></li>
		<li>Özbek pilavı</li>
		<li>Porçini mantarlı risotto </li>
		<li>Firik pilavı</li>
		<li>Kurutulmuş meyveli basmati pilav</li>
		<li>8 Nisan Çarşamba, 19.00-23.00</li>
		<li>Uzakdoğu Wok Yemekleri, Pad Thai ve Noodle Pişirme Teknikleri </li>
		<li>Pad thai</li>
		<li>Karidesli egg noodle</li>
		<li>Yeşil körili tavuk, yasemin pilavı ile</li>
		<li>Sıcak soba noodle salata</li>
		<li>15 Nisan Çarşamba, 19.00-23.00</li>
		<li><strong>Deniz ürünleri Seçme, Temizleme ve Pişirme Teknikleri</strong></li>
		<li>Ahtapot (DEMO)</li>
		<li>Düz balıkların ayıklanması (levrek)</li>
		<li>Yassı balıkların ayıklanması (dil balığı)</li>
		<li>Istakoz thermidor (DEMO)</li>
		<li>Akdeniz usulü levrek</li>
		<li>Dil balığı tempura, tatlı chili sos</li>
		<li><strong>22 Nisan Çarşamba, 19.00-23.00</strong></li>
		<li>Taze Makarna Hamuru Hazırlama ve Makarna Sosları </li>
		<li>Taze makarna hamuru yapımı</li>
		<li>Pesto soslu fettucine</li>
		<li>Köz patlıcan dolgulu ravioli ve domates sos</li>
		<li>Bolognese soslu lazanya</li>
		<li><strong>29 Nisan Çarşamba, 19.00-23.00</strong></li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
	<div class="date">11 Mart Çarşamba</div>
    <div class="time">19.00 - 23.00</div>
    <div class="clear hr"></div>
    <div class="price">1.850 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/italyan-mutfagi-1">Mutfakta 8 Hafta</a></li>
            <li class=""><span>Mutfakta 8 Hafta Detay</span></li>
        </ul>
    </div>
</div>
