﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Mutfakta 8 Hafta - Pastacılık</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Mutfakta 8 Hafta - Pastacılık</strong></h1>


    <p>Vanilyanın kokusuna, çikolatanın lezzetine, hamurun kıvamına, ekmeğin sıcaklığına tutkun, kendi evinin pasta şefi olma hayalleri kuranlar için profesyonel şeflerden “Mutfakta 8 Hafta Pastacılık Eğitimi”…</p>
	<br />
	<p><strong>Program detayları;</strong> <br />
•Eğitim süresince katılımcılar 14 kişilik mutfakta, kendi özel istasyonlarında tek kişi olarak çalışacaktır.<br />
•Eğitimde kullanılacak F.Dick spatula ve soyma bıçağı katılımcılara hediye edilecektir.<br />
•Tüm katılımcılara önlük seti ve ders içerikleri ile ilgili reçete kitabı verilecektir.<br />
•Eğitimin sonunda eğitmen şeflerin imzaladığı özel sertifika verilecektir.<br />
<br />
*Program 8 hafta sürmektedir.<br />
*Derslerin telafisi yapılmaz. Ücret iadesi yoktur. <br /><br />
 
<strong>22 Mart  2015  – 10 Mayıs 2015 Pazar 16.00- 20.00 / 1.550 TL </strong></p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li><strong>Kurabiyeler</strong></li>
        <li>Çikolatalı çatlak kurabiye</li>
        <li>Bademli üzümlü biscotti</li>
        <li>Kandil simidi/çatal</li>
		<li>Linzer kurabiye</li>
		<li><strong>22 Mart Pazar, 16.00-20.00</strong></li>
		<li><strong>Tart, kiş ve pie’ lar</strong></li>
		<li>Çikolatalı vişneli tart</li>
		<li>Pırasalı mantarlı kiş</li>
		<li>Portakallı mereng pie</li>
		<li><strong>29 Mart Pazar, 16.00-20.00</strong></li>
		<li><strong>Ekmek Yapımı</strong></li>
		<li>Baget ekmeği</li>
		<li>Foccacia</li>
		<li>Çavdarlı tahıllı köy ekmeği</li>
		<li><strong>05 Nisan Pazar, 16.00-20.00</strong></li>
		<li><strong>Kekler</strong></li>
		<li>Vişneli cheesecake</li>
		<li>Yoğun çikolatalı limonlu kek</li>
		<li>İncirli cevizli kek</li>
		<li><strong>12 Nisan Pazar, 16.00-20.00 </strong></li>
		<li><strong>Pastalar </strong></li>
		<li>Muzlu çikolatalı rulo</li>
		<li>Orman meyveli pasta</li>
		<li>Tiramisu (DEMO)</li>
		<li><strong>19 Nisan Pazar, 16.00-20.00</strong></li>
		<li><strong>Custards ve choux hamuru</strong></li>
		<li>Pastacı kreması</li>
		<li>Profiterol</li>
		<li>Creme brulee</li>
		<li>Çilekli yeşil fıstıklı custard</li>
		<li><strong>26 Nisan Pazar, 16.00-20.00</strong></li>
		<li><strong>Şuruplu ve sütlü tatlılar</strong></li>
		<li>Portakallı şekerpare</li>
		<li>Revani</li>
		<li>Damla sakızlı muhallebi</li>
		<li>Çikolatalı panna cotta, vişne sos ile</li>
		<li><strong>03 Mayıs Pazar, 16.00-20.00</strong></li>
		<li><strong>Çikolatalar</strong></li>
		<li>Earl Grey çaylı kalıp çikolata</li>
		<li>Lavantalı bitter truffle çikolata</li>
		<li>Rochers dökme çikolata </li>
		<li><strong>10 Mayıs Pazar, 16.00-20.00 </strong></li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">22 mart Pazar</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">1.550 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY051/TURKIYE/tr" target="_blank" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/mutfakta-8-hafta-pastacilik-2">Mutfakta 8 Hafta - Pastacılık</a></li>
            <li class=""><span>Mutfakta 8 Hafta - Pastacılık Detay</span></li>
        </ul>
    </div>
</div>