﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Raw Food</title>
<meta name="keywords" content="Raw Food">
<meta name="description" content="Raw Food">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/RAWFOOD_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Raw Food</h2>
                    <p>Yiyeceklerin en taze hali bu Workshop’ta.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">
    <p>Yiyeceklerin doğadan gelen halleriyle kusursuz lezzetler yaratmak ister misiniz? O zaman sizi MSA şeflerinin özel reçeteleriyle hazırladığı Raw Food Workshop'ına bekliyoruz. Bu Workshop'la yiyeceklerin pişmeden, besin değerlerini kaybetmeden en doğal halleriyle kullanıldığı farklı tarifler öğreneceksiniz. Kendi mutfağınızda öğrendiklerinizi uygulayıp misafirleriniz için daha önce hiç denemedikleri hem sağlıklı hem nefis vegan tabaklar hazırlayacaksınız. </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/raw-food/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">21 Mart Cumartesi</div>
    <div class="time">14.00 - 19.00</div>
    <div class="clear hr"></div>
    <div class="price">210 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY064/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>
</div>

