﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Raw Food</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Raw Food</strong></h1>


    <p>Yiyeceklerin doğadan gelen halleriyle kusursuz lezzetler yaratmak ister misiniz? O zaman sizi MSA şeflerinin özel reçeteleriyle hazırladığı Raw Food Workshop'ına bekliyoruz. Bu Workshop'la yiyeceklerin pişmeden, besin değerlerini kaybetmeden en doğal halleriyle kullanıldığı farklı tarifler öğreneceksiniz. Kendi mutfağınızda öğrendiklerinizi uygulayıp misafirleriniz için daha önce hiç denemedikleri hem sağlıklı hem nefis vegan tabaklar hazırlayacaksınız.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Karnabahar çorbası, balzamik marineli kurutulmuş kırmızı soğan, yedikule marulu ile</li>
        <li>Kaju peynir yapımı (ravioli ve pizza için)</li>
        <li>Pancar ravioli, cherry domates sos ile</li>
        <li>Keten tohumundan pizza hamuru, mevsim sebzeleri, domates ve pesto sos ile</li>
		<li>Raw çikolata dolgulu, ceviz tabanlı tart</li>
		<li>Pancar cipsi, guacamole sos ve smoothie ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">21 Mart Cumartesi</div>
    <div class="time">14.00 - 19.00</div>
    <div class="clear hr"></div>
    <div class="price">210 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY064/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/raw-food">Raw Food</a></li>
            <li class=""><span>Raw Food Detay</span></li>
        </ul>
    </div>
</div>
