﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Sandwiches &amp; Wraps</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/sandwiches_wraps_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Sandwiches &amp; Wraps</h2>
                    <p>İki ekmek arası en lezzetli Workshop!</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Sandviçin iki ekmek arası kültüründen çok öte olduğunu MSA şeflerinin sizin için bir araya getirdiği tariflerle keşfedin. “Hangi sandviçin ekmeği nasıl olur, malzeme-sos uyumu nasıl yakalanır ve işin ustaları gibi nasıl wrap sarılır” gibi sorulara cevap bulacağınız Workshop’tan sonra arkadaş toplanmalarının aranılan evi sizinki olacak.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/sandwiches-wraps/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">26 Mart Perşembe</div>
    <div class="time">19.00 - 23.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY066/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

