﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Sevgililer Günü Hediyelikleri</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Sevgililer Günü Hediyelikleri</strong></h1>


    <p>Sevgilinize kalbinizden bir hediye verin. İçinde emek olsun, çikolata olsun, aşk olsun. İstedik ki bu sevgililer gününde hediyeniz gönlünüzden kopsun, süslemesi de paketlemesi de sizden olsun. Sevgiliye afiyet olsun!</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Red velvet cupcake, vanilyalı frosting ile</li>
        <li>Yoğun çikolatalı kek, bitter ve beyaz çikolatalı çileklerle</li>
        <li>Mini pavlova, karamelize ananas ve yaban mersini ile</li>
        <li>Hindistan cevizi ve bademli sticky cookies</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">11 Şubat Pazartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">160 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY034/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/sevgililer-gunu-hediyelikleri">Sevgililer Günü Hediyelikleri</a></li>
            <li class=""><span>Sevgililer Günü Hediyelikleri Detay</span></li>
        </ul>
    </div>
</div>
