﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Şekersiz</title>
<meta name="keywords" content="Şekersiz">
<meta name="description" content="Şekersiz">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/sekersiz_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Şekersiz</h2>
                    <p>En hafif ve sağlıklı tatlılar burada.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Rafine şeker kullanmadan neler yapabileceğinize siz de şaşıracaksınız. "Kendinden tatlı" ürünler kullanarak nefis tatlılar hazırlayacağız. Oldukça besleyici bu lezzetlerin nasıl hazırlanacağını öğrenebileceğiniz, şekersiz ama bir o kadar tatlı tarifler MSA'da sizi bekliyor.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/sekersiz-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">11 Mart Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY055/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>
</div>

