﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Şekersiz</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="Şekersiz">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/sekersiz.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Şekersiz</h2>
                    <p>Şeker kullanmadan da ne kadar lezzetli tatlılar yapabileceğinizi göreceksiniz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Rafine şeker kullanmadan neler yapabileceğinize siz de şaşıracaksınız. "Kendinden tatlı" ürünler kullanarak nefis tatlılar hazırlayacağız. Oldukça besleyici bu lezzetlerin nasıl hazırlanacağını öğrenebileceğiniz, şekersiz ama bir o kadar tatlı tarifler MSA'da sizi bekliyor.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/sekersiz/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">21 Şubat Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

