﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Sevgilim Menüm</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Sevgilim Menüm</strong></h1>
    <p>Sevgililer Günü’nü sevgilinizle birlikte, kendi hazırladığınız yemekler eşliğinde kutlamaya ne dersiniz? MSA şefleri tarafından özenle hazırlanan, 14 Şubat’a yakışır lezzetlerle dolu bir workshop sizi bekliyor. Dilerseniz en sevdiğinize armağan edin, dilerseniz birlikte gelin, yeter ki kaçırmayın! Sevginiz bol olsun!</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Taze nane ve zencefilli jumbo karides, yer elması püresi ve passion fruit sos ile</li>
        <li>Pancarlı risotto, kuşkonmaz ve sote deniztarağı</li>
        <li>Beyaz şarap ve lemongrass marineli somon fileto, limonlu breze enginar ve şampanyalı beurre blanc sos ile</li>
        <li>Baileys creme brulee, frambuaz sos ve çilek dilimleri</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">14 Şubat Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/sevgilim-menum-3">Sevgilim Menüm</a></li>
            <li class=""><span>Sevgilim Menüm Detay</span></li>
        </ul>
    </div>
</div>
