﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Şekersiz</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Şekersiz</strong></h1>


    <p>Rafine şeker kullanmadan neler yapabileceğinize siz de şaşıracaksınız. "Kendinden tatlı" ürünler kullanarak nefis tatlılar hazırlayacağız. Oldukça besleyici bu lezzetlerin nasıl hazırlanacağını öğrenebileceğiniz, şekersiz ama bir o kadar tatlı tarifler MSA'da sizi bekliyor.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Coco-badem tabanlı muzlu ballı cheesecake</li>
        <li>Portakallı fındıklı kek</li>
        <li>Elmalı pay</li>
        <li>Hurmalı kuru meyveli granola</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">21 Şubat Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/sekersiz">Şekersiz</a></li>
            <li class=""><span>Şekersiz Detay</span></li>
        </ul>
    </div>
</div>
