﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Sevgilim Menüm</title>
<meta name="keywords" content="Sevgilim Menüm">
<meta name="description" content="Sevgilim Menüm">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/sevgilim_menum.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Sevgilim Menüm</h2>
                    <p>Sevgilinizle mükemmel vakit geçireceğiniz, tadına doyamayacağınız harika bir workshop</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Sevgililer Günü’nü sevgilinizle birlikte, kendi hazırladığınız yemekler eşliğinde kutlamaya ne dersiniz? MSA şefleri tarafından özenle hazırlanan, 14 Şubat’a yakışır lezzetlerle dolu bir workshop sizi bekliyor. Dilerseniz en sevdiğinize armağan edin, dilerseniz birlikte gelin, yeter ki kaçırmayın! Sevginiz bol olsun!</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/sevgilim-menum-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">12 Şubat Perşembe</div>
    <div class="time">19.00 - 23.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

