﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Sevgililer Günü Hediyelikleri</title>
<meta name="keywords" content="Sevgililer Günü Hediyelikleri">
<meta name="description" content="Sevgililer Günü Hediyelikleri">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/sevgililer_gunu_hediyelikleri.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Sevgililer Günü Hediyelikleri</h2>
                    <p>Sevdiğiniz için hazırlayabileceğiniz en nefis hediyelikler.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Sevgilinize kalbinizden bir hediye verin. İçinde emek olsun, çikolata olsun, aşk olsun. İstedik ki bu sevgililer gününde hediyeniz gönlünüzden kopsun, süslemesi de paketlemesi de sizden olsun. Sevgiliye afiyet olsun!</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/sevgililer-gunu-hediyelikleri/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">11 Şubat Pazartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">160 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY034/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>
</div>

