﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Sokak Lezzetleri - İstanbul</title>
<meta name="keywords" content="Sokak Lezzetleri - İstanbul">
<meta name="description" content="Sokak Lezzetleri - İstanbul">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/sokak_lezzetleri.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Sokak Lezzetleri - İstanbul</h2>
                    <p>Her gün yediğimiz lezzetleri mutfağımıza taşıyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Tüm mahalleler, yollar, köşe başları... Her birinde birer lezzet durağı saklı. İstanbul’un en sevilen lezzetlerini bu mutfağa taşıdık, istedik ki hep birlikte onları hazırlayıp sokak ruhunu mutfağımıza taşıyalım. En orijinal halleriyle hazırlayacağımız bu nefis yemeklere MSA ikramı pamuk şeker, simit de eşlik edecek.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/sokak-lezzetleri-istanbul/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">26 Şubat Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY043/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>
</div>

