﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Sokak Lezzetleri - İstanbul</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Sokak Lezzetleri - İstanbul</strong></h1>
    <p>Tüm mahalleler, yollar, köşe başları... Her birinde birer lezzet durağı saklı. İstanbul’un en sevilen lezzetlerini bu mutfağa taşıdık, istedik ki hep birlikte onları hazırlayıp sokak ruhunu mutfağımıza taşıyalım. En orijinal halleriyle hazırlayacağımız bu nefis yemeklere MSA ikramı pamuk şeker, simit de eşlik edecek.
</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Kumpir</li>
        <li>Balık ekmek</li>
        <li>Tantuni dürüm, acı biber turşusu ile</li>
        <li>Şerbetli halka tatlısı</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">26 Şubat Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY043/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>


    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/sokak-lezzetleri-istanbul">Sokak Lezzetleri - İstanbul</a></li>
            <li class=""><span>Sokak Lezzetleri - İstanbul Detay</span></li>
        </ul>
    </div>
</div>
