﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Tapas</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/tapas.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Tapas</h2>
                    <p>İspanyol esintilerinizi mutfaklarına taşıyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>İspanya sahillerinden yepyeni tariflerle karşınızdayız. Mavi derinliklerin enfes aromaları tariflerimizde harika tatlar yaratıyor, özgün lezzetler tapas keyfimizi ikiye katlıyor. MSA ikramı nefis Sangria’mız ile müthiş bir tapas menüsü bizi bekliyor.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/tapas/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">23 Şubat Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

