﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Tapas</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Tapas</strong></h1>
    <p>İspanya’nın bütün dünyaya nam salmış hem göze hem de damaklara hitap eden tapas lezzetlerini evinizde hazırlayabilirsiniz. Tabi yanına eşlikçi taptaze sangria’sız olmaz. Bu nefis atıştırmalıklarının inceliklerini öğrenip evinizde de en yaratıcı yorumlarla geliştirerek keyfinize keyif katmak için buyurun Tapas Workshop’una.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Şarap marineli deniztarağı, parmesanlı bezelye püresi ve limon sos</li>
        <li>Şişte Jumbo karides, ev yapımı tarhunlu mayonez ile</li>
        <li>Yeşil otlu köfteler, tatlı ekşi sos</li>
        <li>Acı marineli tavuk şişler, kurutulmuş domates sos</li>
		<li>Sangria ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">30 Mart Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY069/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/tapas-2">Tapas</a></li>
            <li class=""><span>Tapas Detay</span></li>
        </ul>
    </div>
</div>
