﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Tapas</title>
<meta name="keywords" content="Tapas">
<meta name="description" content="Tapas">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/tapas_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Tapas</h2>
                    <p>İspanyol ateşi evinizde yükselecek!</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">
    <p>İspanya’nın bütün dünyaya nam salmış hem göze hem de damaklara hitap eden tapas lezzetlerini evinizde hazırlayabilirsiniz. Tabi yanına eşlikçi taptaze sangria’sız olmaz. Bu nefis atıştırmalıklarının inceliklerini öğrenip evinizde de en yaratıcı yorumlarla geliştirerek keyfinize keyif katmak için buyurun Tapas Workshop’una.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/tapas-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">30 Mart Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY069/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>
</div>

