﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Vazgeçemediklerimiz 1</title>
<meta name="keywords" content="Vazgeçemediklerimiz 1">
<meta name="description" content="Vazgeçemediklerimiz 1">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/vazgecemediklerimiz1.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Vazgeçemediklerimiz 1</h2>
                    <p>Kontenjanı hızla dolan Vazgeçemediklerimiz eğitimi sizi bekliyor.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Her café’ye gittiğimizde usanmadan aynı yemekleri sipariş ediyoruz. Peki, acaba bu yemekler nasıl hazırlanıyor, biliyor muyuz? Öğrenmek için MSA’ya geliyoruz ve MSA şefleri tarafından hazırlanan özgün reçetelerle ortaya harika bir menü çıkarıyoruz. Evimizde dilediğimiz kadar tekrar ediyor ve gönülleri fethediyoruz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/vazgecemediklerimiz-1/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">05 Şubat Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

