﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

	
        <div class="text-module">
            <h1><strong>MSA’dan Haberdar Olun!</strong></h1>
            <p>E-Bültenimize üye olun ve gelişmelerden haberdar olun.</p>
        </div>
		
		<div class="text-module text-left gray">
			<form action="" method="post" id="HaberdarOlun">
				<fieldset class="required">
					<strong>Lütfen abone olmak istediğiniz bültenleri seçiniz</strong>
					<br />
					<br />
					<input type="checkbox" value="1" id="msa" name="bulten" class="radio_input" checked><label class="radio_label" for="msa">MSA'dan Haberler</label>
					<br>
					<input type="checkbox" value="2" id="workshop" name="bulten" class="radio_input"><label class="radio_label" for="workshop">Workshop'lar</label>
					<br />
					<br />
					<label>
						<input type="text" name="EPosta" class="input-text" placeholder="E-posta adresinizi giriniz" required="required" />
					</label>
					<br />
					 <input type="submit" class="button submit x3" value="Abone Ol">
					 <div id="hata" style="text-align: center; color: red; padding-top: 10px;"></div>
				</fieldset>	

			</form>
			
		</div>

        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><span>Haberdar Olun</span></li>
                </ul>
            </div>
        </div>
		

	
