﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Haftanın Yemeği</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/haftanin_yemegi.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Haftanın Yemeği</h2>
                    <p>Evde yemek yapmaya üşenen anneler buraya.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>İş hayatından yemek yapmaya fırsat bulamayanlar, bu eğitim tam size göre!<br />1 haftalık yemeklerinizin hazırlığını önceden yapıyoruz, çalışan anneleri “bu akşam ne pişirsem” tasasından kurtarıyoruz. Üstelik buradan elde edeceğiniz ipuçları ile yemekler arası kombinleme konusunda yaratıcılığınızı da kullanabilmeniz için ufkunuzu açıyoruz. Hazır yemek yemeden, dışarıdan söylemeden evinizde kolayca hazırlayacağınız bu nefis ve besleyici yemeklerle artık iş dönüşü yemek stresinize son verin, siz de ailecek evde akşam yemeğinin keyfini çıkarın.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/haftanin-yemegi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">15 Mart Pazar</div>
    <div class="time">16.00 - 21.00</div>
    <div class="clear hr"></div>
    <div class="price">190 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY058/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>
