﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="homepage-slider cover">
            <ul>
                <li style="background-image:url('/Uploads/hakkimizda.jpg');"><div class="slide"><div class="slide-content"><h2>Hakkımızda</h2><p>Türkiye’nin en kapsamlı yiyecek-içecek eğitim merkezi </p></div></div></li>
            </ul>
            <div class="icon arrow-down"></div>
        </div>

        <div class="paragraph short">
            <p>2004 yılında kurulan Mutfak Sanatları Akademisi (MSA), verdiği ayrıcalıklı eğitim ile bugün dünyanın en iyi aşçılık okulları arasında gösteriliyor.
T.C. Milli Eğitim Bakanlığı’na bağlı bir özel okul olmasının yanı sıra dünyanın en büyük akreditasyon kurumlarının başında gelen İngiltere kökenli City & Guilds tarafından onaylı Türkiye’deki tek okul.</p>
<p>MSA kampüsünde, profesyonel aşçılık ve profesyonel pasta-ekmekçilik eğitim mutfakları, uygulamalı barmenlik ve miksoloji sınıfı, mutfakseverlere yönelik etkinlikler için tasarlanmış mutfak, seminer odaları, Türkiye’nin ilk ve tek mutfak oditoryumu, ‘Yeme - İçme Konulu Uzmanlık ve Nadir Eserler Kütüphanesi’ ve yiyecek - içecek tarihi konusunda özel bir koleksiyona sahip müzesi, AR-GE çalışmalarının yürütüldüğü mutfak laboratuvarı ve Okulun Mutfağı isimli restoranı yer alıyor.</p>
        </div>

        <div class="text-module  text-center">
            <div class="image center add-bottom"><img src="/assets/images/files/05.jpg" alt=""></div>
            <p class="medium"><em>“Maslak’taki 4000 m2 ve 3 milyon Euro’luk yeni kampüsü, özgün mimarisiyle, her ayrıntının düşünüldüğü, modern, dünya standartlarında bir aşçılık okulu olarak tasarlandı.”</em></p>
        </div>

        <div class="text-module text-left gray">
            <h1><strong>Geçmişten günümüze mutfağa dair her şey MSA’da</strong></h1>
            <p>Sürekli gelişimini sürdüren ve dinamik yapısını en üst düzeyde teknik altyapı ile destekleyen MSA’nın Maslak kampüsünde; Euro 2011 normlarındaki profesyonel mutfak ve ekipmanlarının yanı sıra amatör ‘workshop’lar için tasarlanmış mutfak, barmen, barista ve sommelier eğitim salonu, değişik kullanım amaçlarına göre planlanmış seminer odaları, 24 kişilik eğitim sınıfları, Türkiye’nin ilk ve tek mutfak auditorium’u, AR-GE çalışmalarının yürütüldüğü mutfak laboratuvarı ve Okulun Mutfağı isimli okul restoranı yer alıyor.</p>
        </div>

       
        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><span>Hakkımızda</span></li>
                </ul>
            </div>
        </div>
