﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MSA.Mobile.Controllers.IletisimViewModel

<div class="page-title">
            <h4><strong>Bize Ulaşın</strong></h4>
        </div>

        <div class="text-module">
            <h1><strong>İletişim Formu</strong></h1>
            <p>
                MSA hakkında sorunuz ya da bize iletmek istediğiniz bir mesajınız mı var?
                Aşağıdaki formla bize iletin, en kısa sürede cevaplayalım.
            </p>
            <p>(*) İlgili bölümlerin doldurulması zorunludur.</p>
        </div>

@Html.DisplayFor(model=> model.Result)

@using (Html.BeginForm("IletisimFormu", "Home", FormMethod.Post, new { @class="no-margin contact-form", @id="iletisimFormu" }))
        {
    @Html.AntiForgeryToken()
    

            <div class="form-title">İletişim Bilgileriniz (*)</div>
            <div class="text-module gray">
                <fieldset class="required">
                    <p>Ad</p>
                    <label>
                        @Html.TextBoxFor(model => model.Firstname, new { @class = "input-text alphaonly", onkeyup="this.value=this.value.replace(/[^a-z]/g,'');"})
                    </label>
                </fieldset>
                <fieldset class="required">
                    <p>Soyad</p>
                    <label>
                        @Html.TextBoxFor(model => model.Lastname, new { @class = "input-text alphaonly", onkeyup="this.value=this.value.replace(/[^a-z]/g,'');"})
                    </label>
                </fieldset>
                <fieldset class="required">
                    <p>E-Posta Adresi</p>
                    <label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "input-text email"})
                    </label>
                </fieldset>
                <fieldset class="required">
                    <p>Telefon (Ev/İş)</p>
                    <label class="xsmall left">
                        @Html.TextBoxFor(model => model.PhoneCode, new { @class = "input-text phone-pre"})
                        <span class="note">Alan Kodu</span>
                    </label>
                    <label class="large left">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "input-text phone-num"})
                        <span class="note">Telefon Numarası</span>
                    </label>
                </fieldset>
                <fieldset class="required">
                    <p>Ulaşmak İstediğiniz Bölüm</p>
                    <label>
                        @Html.DropDownListFor(
                           model => model.SectionID,
                           new SelectList(
                                  new List<Object>{ 
                                       new { value = "" , text = "-- Seçiniz --"  },
                                       new { value = "Genel Bilgi" , text = "Genel Bilgi" },
                                       new { value = "Öğrenci İşleri" , text = "Öğrenci İşleri"},
                                       new { value = "Workshop Etkinlikleri" , text = "Workshop Etkinlikleri"},
                                       new { value = "Muhasebe" , text = "Muhasebe"},
                                       new { value = "İnsan Kaynakları" , text = "İnsan Kaynakları"},
                                       new { value = "Müze-Kütüphane" , text = "Müze-Kütüphane"},
                                       new { value = "Kurumsal Çözümler" , text = "Kurumsal Çözümler"},
                                       new { value = "Mezunlar Derneği" , text = "Mezunlar Derneği"}
                                    },
                                  "value",
                                  "text"
                           )
                        )
                        
                    </label>
                </fieldset>
                <fieldset class="required">
                    <p>Notunuz</p>
                    <label>

                        @Html.TextAreaFor(model => model.Note, new { @class = "textarea", id = "iletisimMesaj", name = "Not" })

                        <span class="clear"></span>
                        <span class="limit"></span>
                    </label>
                </fieldset>
                <!--
				<fieldset class="required">
                    <p>Güvenlik Kodu</p>
                   
					<div class="g-recaptcha" data-sitekey="6LenQgETAAAAAO3UPPSGjOye7cCsGFeznNwewQTy"></div>
					
                </fieldset>
				-->
                <input type="submit" class="button submit x3" value="Gönder">
            </div>
        }

        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
					<li class=""><a href="/iletisim">Bize Ulaşın</a></li>
                    <li class=""><span>İletişim Formu</span></li>
                </ul>
            </div>
        </div>

	