﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="page-title">
            <h4><strong>Bize Ulaşın</strong></h4>
        </div>

        <div class="text-module">
            <h1><strong>İletişim Bilgilerimiz</strong></h1>
            <h4>Adres</h4>
            <p>MSA Mesleki Eğitim Ticaret A.Ş. Maslak Mahallesi, Maslak Meydan Sokak Numara:1 Beybi Giz Plaza B Blok No: 123-134,136 Şişli,Maslak 34398 İstanbul - Türkiye</p>
            <p><a href="https://goo.gl/maps/iUJ3x" target="_blank">Haritada göster.</a></p>
            <h4>Telefon</h4>
            <p>
                +90 212 290 35 50 - 16 hat<br>
                212 444 9 MSA (212 444 9 672)<br>
                +90 533 222 81 41
            </p>
            <h4>Faks</h4>
            <p>+90 212 290 35 55</p>
			
			<iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=tr&amp;geocode=&amp;q=Mutfak+Sanatlar%C4%B1+Akademisi,+Meydan+Sokak,+%C4%B0stanbul,+T%C3%BCrkiye&amp;aq=0&amp;oq=mutfak+sanatlar%C4%B1&amp;sll=37.0625,-95.677068&amp;sspn=62.870523,135.263672&amp;ie=UTF8&amp;hq=Mutfak+Sanatlar%C4%B1+Akademisi,&amp;hnear=Meydan+Sk,+Be%C5%9Fikta%C5%9F,+T%C3%BCrkiye&amp;t=m&amp;cid=11648408361688874792&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
			
        </div>


        <div class="links-module">
            <ul>
                <li><a href="/Iletisim-Formu">İletişim Formu</a></li>
            </ul>
        </div>


        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><span>Bize Ulaşın</span></li>
                </ul>
            </div>
        </div>

