﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript"> document.getElementsByTagName('body')[0].className = 'homepage';</script>

<div class="homepage-slider">
    <ul>
        <li style="background-image: url('/assets/images/slideshow/1slider.jpg'); background-size: cover;">
            <div class="slide">
                <div class="slide-content">
                    <a href="http://www.msa.com.tr/tanitim-gunleri.aspx">
                        <h2>Profesyonel eğitimlerimizi tanımak isteyen ve mutfakta kariyer hedefleyenleri "MSA Tanıtım Günleri"ne bekliyoruz.</h2>
                        <p>Detaylı bilgi için tıklayın.</p>
                    </a>
                </div>
            </div>
        </li>
        <li style="background-image: url('/assets/images/slideshow/2slider.jpg'); background-size: cover;">
            <div class="slide">
                <div class="slide-content">
                    <a href="/basvuru">
                        <h2>Siz de dünyanın dört bir yanındaki başarılı MSA mezunları arasında yerinizi alın.</h2>
                        <p>"Avantajlı Erken Kayıt Dönemi" için son gün 2 Mart.</p>
                    </a>
                </div>
            </div>
        </li>
        <li style="background-image: url('/assets/images/slideshow/msa-dukkan-slider02ok.jpg'); background-size: cover;">
            <div class="slide">
                <div class="slide-content">
                    <a href="/kampus?acc_id=2">
                        <h2>MSA öğrencilerinin eğitmen şeflerinden öğrenip derste pişirdiği lezzetler MSA Dükkan’da.</h2>
                        <p>MSA Dükkan hafta içi 08.00-19.00, hafta sonu 09.00-14.00 arası açık. Bekliyoruz.</p>
                    </a>
                </div>
            </div>
        </li>
        <li style="background-image: url('/assets/images/slideshow/02.jpg'); background-size: cover;">
            <div class="slide">
                <div class="slide-content">
                    <a href="/profesyonel-egitimler/uzun-donem-profesyonel-ascilik">
                        <h2>Uzun dönem profesyonel eğitimler başlıyor.</h2>
                        <p>Hemen başvurun, ileriye seviye mutfak eğitimiyle hayallerinizdeki kariyere adım atın.</p>
                    </a>
                </div>
            </div>
        </li>
        <li style="background-image: url('/assets/images/slideshow/slider6.jpg'); background-size: cover;">
            <div class="slide">
                <div class="slide-content">
                    <a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi">
                        <h2>358 MSA’lı kendi işletmesini kurdu. 359. Işletme neden sizinki olmasın?</h2>
                        <p>Profesyonel Yiyecek ve İçecek İşletmeciliği başlıyor.</p>
                    </a>
                </div>
            </div>
        </li>
        <li style="background-image: url('/assets/images/slideshow/slider4.jpg'); background-size: cover;">
            <div class="slide">
                <div class="slide-content">
                    <a href="/donemlik-workshoplar/food-blogging-egitimi">
                        <h2>Food Blogging eğitimi başlıyor.</h2>
                        <p>"Nasıl Yemek Blogger'ı Olunur?" diye merak ediyorsanız detaylar için tıklayın.</p>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>

<div class="accordion-module collapse-all">
    <h3>Eğitimler</h3>
    <div class="accordion-menu">
        <ul>
            <li><a href="/Profesyonel-Egitimler">Profesyonel Eğitimler</a></li>
            <li><a href="/yurtdisi-egitim-olanaklari">Yurtdışı Eğitim Olanakları</a></li>
            <li>
                <div class="accordion-module collapse-all">
                    <h3>Workshop’lar</h3>
                    <div>
                        <ul>
                            <li><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
                            <li><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
                            <li><a href="/Etkinlik-Takvimi">Etkinlik Takvimi</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="links-module no-border">
    <ul>
        <li><a href="Kampus">Kampüs</a></li>
        <li><a href="Basvuru">Başvuru Formu</a></li>
        <li><a href="Hakkimizda">Hakkımızda</a></li>
        <li><a href="Iletisim">İletişim</a></li>
    </ul>
</div>

<div class="slider-module text-center" id="profesyonelEgitimler">

    <h1><strong>Profesyonel Eğitimler</strong></h1>
    <p>Mutfağı profesyonel iş alanı olarak gören ve kariyer hedefi dünya mutfaklarında sayılı isimler arasında yer almak olan herkesi, uluslararası eğitim standartlarıyla buluşturuyoruz.</p>

    <ul>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/uzun-donem-profesyonel-ascilik">
                    <div class="image">
                        <img src="/ui/images/files/uzun-donem-profesyonel-ascilik.jpg">
                    </div>
                    <div class="text-title">Uzun Dönem Profesyonel Aşçılık</div>
                </a>
                <a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik">
                    <div class="image">
                        <img src="/ui/images/files/uzun-donem-profesyonel-pasta-ve-ekmekcilik.jpg">
                    </div>
                    <div class="text-title">Uzun Dönem Profesyonel Pasta ve Ekmekçilik</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/profesyonel-ascilik">
                    <div class="image">
                        <img src="/ui/images/files/profesyonel-ascilik.jpg">
                    </div>
                    <div class="text-title">Profesyonel Aşcılık</div>
                </a>
                <a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik">
                    <div class="image">
                        <img src="/ui/images/files/stajsiz-profesyonel-ascilik.jpg">
                    </div>
                    <div class="text-title">Stajsız Profesyonel Aşçılık</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/profesyonel-pasta-ve-ekmekcilik">
                    <div class="image">
                        <img src="/ui/images/files/profesyonel-pasta-ve-ekmekcilik.jpg">
                    </div>
                    <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                </a>
                <a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik">
                    <div class="image">
                        <img src="/ui/images/files/stajsiz-profesyonel-pasta-ve-ekmekcilik.jpg">
                    </div>
                    <div class="text-title">Stajsız Profesyonel Pasta ve Ekmekçilik</div>
                </a>
            </div>
        </li>


        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/chef-and-owner">
                    <div class="image">
                        <img src="/ui/images/files/chef-owner.jpg">
                    </div>
                    <div class="text-title">Chef & Owner</div>
                </a>
                <a href="/profesyonel-egitimler/prochef">
                    <div class="image">
                        <img src="/ui/images/files/prochef.jpg">
                    </div>
                    <div class="text-title">Prochef</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi">
                    <div class="image">
                        <img src="/ui/images/files/yiyecek-icecek-isletmeciligi.jpg">
                    </div>
                    <div class="text-title">Yiyecek İçecek İşletmeciliği</div>
                </a>
                <a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji">
                    <div class="image">
                        <img src="/ui/images/files/profesyonel-barmenlik-ve-miksoloji.jpg">
                    </div>
                    <div class="text-title">Profesyonel Barmenlik ve Miksoloji</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/ileri-seviye-uluslararasi-diplomali-turk-mutfagi-egitimi">
                    <div class="image">
                        <img src="/ui/images/files/ileri-seviye-uluslararasi-diplomali-turk-mutfagi-egitimi.jpg">
                    </div>
                    <div class="text-title">İleri Seviye Uluslararası Diplomalı Türk Mutfağı Eğitimi</div>
                </a>
            </div>
        </li>
    </ul>

    <a href="/profesyonel-egitimler" class="button arrow bordered add-top">Tüm Profesyonel Eğitimler</a>

</div>

<div class="slider-module text-center gray" id="amatorWorkshoplar">

    <h1><strong>Workshop’lar</strong></h1>
    <p>Yeni yılda da mutfak tutkunları yepyeni workshop programlarıyla MSA’da buluşmaya devam ediyor!</p>

    <ul>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/etler-ve-pisirme-teknikleri-3">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/9935_2083_1_tr_imagegallery_MSA_Etler_ve_Pisirme_Teknikleri_-540x300-copy.jpg">
                    </div>
                    <div class="text-title">ETLER VE PİŞİRME TEKNİKLERİ</div>
                    <div class="text-desc">04 Nisan Cumartesi</div>
                    <div class="text-desc">10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/cupcakeler-1">
                    <div class="image">
                        <img src="/Uploads/gunlukworkshoplar/nisan/256x144/4080_2084_1_tr_imagegallery_cupcakeler_540x300-kopya.jpg">
                    </div>
                    <div class="text-title">CUPCAKE’LER</div>
                    <div class="text-desc">04 Nisan Cumartesi</div>
                    <div class="text-desc">16.00 - 20.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/italyan-mutfagi-3-1">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/4260_2085_1_tr_imagegallery_MSA_Italyan_Mutfagi_1_540x315.jpg">
                    </div>
                    <div class="text-title">İTALYAN MUTFAĞI 1</div>
                    <div class="text-desc">6 Nisan Pazartesi</div>
                    <div class="text-desc">19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/pizzalar-ve-salatalar-1">
                    <div class="image">
                        <img src="/Uploads/gunlukworkshoplar/nisan/256x144/7072_2086_1_tr_imagegallery_MSA_Pizzalar_Salatalar_540x300.jpg">
                    </div>
                    <div class="text-title">PİZZALAR VE SALATALAR</div>
                    <div class="text-desc">9 Nisan Perşembe</div>
                    <div class="text-desc">19.00 - 22.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/ilk-davet-menum-3">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/9659_2087_1_tr_imagegallery_MSA_Ilk_Davet_Menum_540x300.jpg">
                    </div>
                    <div class="text-title">İLK DAVET MENÜM</div>
                    <div class="text-desc">11 Nisan Cumartesi</div>
                    <div class="text-desc">10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/cikolata-butigi">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/6066_2088_1_tr_imagegallery_MSA_Cikolata_Butigi_540x300.jpg">
                    </div>
                    <div class="text-title">ÇİKOLATA BUTİĞİ</div>
                    <div class="text-desc">11 Nisan Cumartesi</div>
                    <div class="text-desc">16.00 - 21.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/saraba-eslik-edenler-1">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/4996_2089_1_tr_imagegallery_saraba_eslikedenler_540x300-copy.jpg">
                    </div>
                    <div class="text-title">ŞARABA EŞLİK EDENLER</div>
                    <div class="text-desc">13 Nisan Pazartesi</div>
                    <div class="text-desc">19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/Pie-Tart">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/6417_2090_1_tr_imagegallery_MSA_Pielar_Tartlar_540x300.jpg">
                    </div>
                    <div class="text-title">PIE’LAR VE TART’LAR</div>
                    <div class="text-desc">15 Nisan Çarşamba</div>
                    <div class="text-desc">10.00 - 14.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/italyan-mutfagi-3">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/4865_2091_1_tr_imagegallery_Vazgecemediklerimiz_540x300.jpg">
                    </div>
                    <div class="text-title">VAZGEÇEMEDİKLERİMİZ 1</div>
                    <div class="text-desc">16 Nisan Perşembe</div>
                    <div class="text-desc">19.00 - 22.00</div>
                </a>
                <a href="/gunluk-workshoplar/genc-gurme">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/9843_2092_1_tr_imagegallery_Genc-Gurme_540x300.jpg">
                    </div>
                    <div class="text-title">GENÇ GURME (14-17 Yaş)</div>
                    <div class="text-desc">18 Nisan Cumartesi</div>
                    <div class="text-desc">10.00 - 14.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/haftanin-yemegi-1">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/5481_2093_1_tr_imagegallery_MSA_Haftanin_Yemegi_540x300.jpg">
                    </div>
                    <div class="text-title">HAFTANIN YEMEĞİ</div>
                    <div class="text-desc">18 Nisan Cumartesi</div>
                    <div class="text-desc">16.00 - 21.00</div>
                </a>
                <a href="/gunluk-workshoplar/italyan-mutfagi-3-2">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/7193_2094_1_tr_imagegallery_MSA_Italyan_Mutfagi_2_540x300.jpg">
                    </div>
                    <div class="text-title">İTALYAN MUTFAĞI 2</div>
                    <div class="text-desc">20 Nisan Pazartesi</div>
                    <div class="text-desc">19.00 - 22.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/glutensiz">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/7151_2095_1_tr_imagegallery_glutensiz_540x300.jpg">
                    </div>
                    <div class="text-title">GLUTENSİZ</div>
                    <div class="text-desc">22 Nisan Çarşamba</div>
                    <div class="text-desc">10.00 - 14.00</div>
                </a>
                <a href="/gunluk-workshoplar/kucuk-gurme1-1-5-9-yas">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/3938_2096_1_tr_imagegallery_kucukgurme1_540x300.jpg">
                    </div>
                    <div class="text-title">KÜÇÜK GURME 1- Çocuk Bayramı Özel (5-9 Yaş)</div>
                    <div class="text-desc">25 Nisan Cumartesi</div>
                    <div class="text-desc">10.00 - 12.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/burgers-and-fries-1">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/8246_2097_1_tr_imagegallery_burgersandfries540x300-copy.jpg">
                    </div>
                    <div class="text-title">BURGERS&FRIES</div>
                    <div class="text-desc">25 Nisan Cumartesi</div>
                    <div class="text-desc">16.00 - 20.00</div>
                </a>
                <a href="/gunluk-workshoplar/uzak-dogu-mutfagi-1">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/4177_2098_1_tr_imagegallery_uzakdogu_540x315.jpg">
                    </div>
                    <div class="text-title">UZAKDOĞU MUTFAĞI</div>
                    <div class="text-desc">27 Nisan Pazartesi</div>
                    <div class="text-desc">19.00 - 22.00</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/gunluk-workshoplar/parizyen-tatlilar-1">
                    <div class="image">
                        <img src="/uploads/gunlukworkshoplar/nisan/256x144/1611_2099_1_tr_imagegallery_MSA_Parizyen_Tatlilar_540x300.jpg">
                    </div>
                    <div class="text-title">PARİZYEN TATLILAR</div>
                    <div class="text-desc">29 Nisan Çarşamba</div>
                    <div class="text-desc">10.00 - 14.00</div>
                </a>
                <!--<a href="/gunluk-workshoplar/genc-gurme">
                    <div class="image"><img src="/uploads/gunlukworkshoplar/nisan/256x144/9843_2092_1_tr_imagegallery_Genc-Gurme_540x300.jpg"></div>
                    <div class="text-title">GENÇ GURME (14-17 Yaş)</div>
                    <div class="text-desc">18 Nisan Cumartesi</div>
                    <div class="text-desc">10.00 - 14.00</div>
                </a>-->
            </div>
        </li>
    </ul>

    <a href="/gunluk-workshoplar" class="button arrow bordered add-top">Tüm Workshop’lar</a>

</div>

<div class="text-module">
    <h1>MSA Hakkında</h1>
    <p>Mutfak Sanatları Akademisi (MSA), verdiği ayrıcalıklı eğitim ile bugün dünyanın en iyi aşçılık okulları arasında gösteriliyor. T.C. Milli Eğitim Bakanlığı’na bağlı bir özel okul olmasının yanı sıra dünyanın en büyük akreditasyon kurumlarının başında gelen İngiltere kökenli City&Guilds tarafından onaylı Türkiye’deki tek okul.</p>

    <div class="video-container">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/SJUcMnZlgGw" frameborder="0" allowfullscreen></iframe>
    </div>

    <!--
            <div class="video-wrapper">
				<video width="100%" controls poster="/assets/images/files/preview.jpg" id="msaHakkinda">
				<source src=videos/tanitim_01.webm type=video/webm>
                </video>
            </div>
			-->

    <a href="/Hakkimizda" class="button arrow bordered add-top center">MSA Hakkında daha fazla bilgi alın</a>

</div>

<footer>
    <ul>
        <li class="even"><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
        <li><a href="/kampus">Kampüs</a></li>
        <li class="even"><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
        <li><a href="/basvuru">Başvuru Formu</a></li>
        <li class="even"><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
        <li><a href="/hakkimizda">Hakkımızda</a></li>
        <li class="even"><a href="/yurtdisi-egitim-olanaklari">Yurtdışı Eğitim Olanakları</a></li>
        <li><a href="/iletisim">İletişim</a></li>
    </ul>
    <div class="clear"></div>
    <div class="slider-module text-center">
        <a href="/haberdar-olun" class="button arrow bordered add-top">Haberdar Olun</a>
    </div>
    <div class="socials">
        <a href="https://twitter.com/MSAistanbul" class="icon-social icon-twitter"></a>
        <a href="https://www.facebook.com/mutfaksanatlariakademisi" class="icon-social icon-facebook"></a>
        <a href="http://instagram.com/msaistanbul" class="icon-social icon-instagram"></a>
    </div>
    <div class="copyright">
        © 2015 Mutfak Sanatları Akademisi<br>
        Tüm hakları saklıdır.
    </div>
    <div class="clear"></div>
</footer>
