﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"İtalyan Mutfağı 1</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="İtalyan Mutfağı 1">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/italyan_mutfagi1.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>İtalyan Mutfağı 1</h2>
                    <p>Vazgeçemediğimiz enfes İtalyanlara devam ediyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">
    <p>Şubat’ı İtalya’ya romantik bir kaçamakla açıyoruz. Birbirinden güzel ve içimizi ısıtacak tarifleri hazırlamayı öğreniyor, nefis lezzetler keşfediyoruz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/italyan-mutfagi-1/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">02 Şubat Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

