﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"İtalyan Mutfağı 3</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/italyan-mutfağı-3_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>İtalyan Mutfağı 3</h2>
                    <p>Mart ayının son İtalyanı’ı</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>EMart ayının son İtalyan deneyiminde iyice profesyonelleşerek gerçek bir İtalyan oluyoruz ve Toskana’dan Sicilya’ya lezzetlerle soframızı şenlendiriyoruz. Limonlu tiramisu ile sonlandıracağımız workshop’ta İtalya’nın en hafif halini keşfetmeye hazırsan seni de MSA’ya bekliyoruz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/italyan-mutfagi-3/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">23 Mart Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY065/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

