﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"İtalyan Mutfağı 2</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>İtalyan Mutfağı 2</strong></h1>


    <p>İtalya’dan enfes bir menü MSA’da.<br />Bu Pazartesi rotamız yine İtalya! MSA şefleri öyle güzel menüler hazırlıyor ki, bir yanımız "Pazartesi’ler hiç bitmesin" diyor... Özgün tariflerle dolu bu yepyeni menü tam da “iş çıkışı ne yapsak” diyenlerin imdadına yetişiyor</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Parmagiana di melanzane </li>
        <li>domates soslu fırınlanmış patlıcan dilimleri</li>
        <li>parmesan ve mozzarella ile	</li>
        <li>Dana piccata</li>
        <li>Porçini mantarlı risotto </li>
        <li>Limonlu mascarpone kek, frambuaz sos ile</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">12 Ocak Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/italyan-mutfagi-2">İtalyan Mutfağı 2</a></li>
            <li class=""><span>İtalyan Mutfağı 2 Detay</span></li>
        </ul>
    </div>
</div>
