﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"İtalyan Mutfağı 3</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>İtalyan Mutfağı 3</strong></h1>


    <p>Mart ayının son İtalyan deneyiminde iyice profesyonelleşerek gerçek bir İtalyan oluyoruz ve Toskana’dan Sicilya’ya lezzetlerle soframızı şenlendiriyoruz. Limonlu tiramisu ile sonlandıracağımız workshop’ta İtalya’nın en hafif halini keşfetmeye hazırsan seni de MSA’ya bekliyoruz.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Yeşil salata, gorgonzola sos ile</li>
        <li>Arpacık soğan ve beyaz şarap soslu Jumbo karidesler</li>
        <li>Yaban mantarlı pizza, parmesan ve roka ile</li>
        <li>Limonlu tiramisu</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">23 Mart Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY065/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/italyan-mutfagi-3">İtalyan Mutfağı 3</a></li>
            <li class=""><span>İtalyan Mutfağı 3 Detay</span></li>
        </ul>
    </div>
</div>

