﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"İtalyan Mutfağı 2</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/italyan-mutfagi-2.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>İtalyan Mutfağı 2</h2>
                    <p>Pazartesi sendromunuza "dur" deyin.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>İtalya’dan enfes bir menü MSA’da.<br />Bu Pazartesi rotamız yine İtalya! MSA şefleri öyle güzel menüler hazırlıyor ki, bir yanımız "Pazartesi’ler hiç bitmesin" diyor... Özgün tariflerle dolu bu yepyeni menü tam da “iş çıkışı ne yapsak” diyenlerin imdadına yetişiyor</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/italyan-mutfagi-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">12 Ocak Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

