﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Jamie's Home Cooking Skills (14-17 yaş)</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/cheesecakeler.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Jamie's Home Cooking Skills (14-17 yaş)</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Msa, ünlü şef  Jamie Oliver'ın temel yemek ve mutfak eğitimi "Jamie's Home Cooking Skills" programıyla gençleri mutfağa davet ediyor.
        İngiltere'den sonra dünyada ilk defa Türkiye'de MSA katılımı ile gerçekleştirilen "Jamie's Home Cooking Skills" programı, gençlere hayat boyu ihtiyaçları olan temel yemek bilgisiyle, doğru ürün ve malzemeleri kullanarak basit, besleyici ve ekomomik yemekler  hazırlama becerisi kazandıyor.

    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/jamies-home-cooking-skills-14-17-yas/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">2.250 TL</div>
    <div class="note">KDV Dahil</div>
</div>

