﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Jamie's Home Cooking Skills (14-17 yaş)</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Jamie's Home Cooking Skills (14-17 yaş)</strong></h1>


    <p>
        Msa, ünlü şef  Jamie Oliver'ın temel yemek ve mutfak eğitimi "Jamie's Home Cooking Skills" programıyla gençleri mutfağa davet ediyor.
        İngiltere'den sonra dünyada ilk defa Türkiye'de MSA katılımı ile gerçekleştirilen "Jamie's Home Cooking Skills" programı, gençlere hayat boyu ihtiyaçları olan temel yemek bilgisiyle, doğru ürün ve malzemeleri kullanarak basit, besleyici ve ekomomik yemekler  hazırlama becerisi kazandıyor.
    </p>
</div>
<div class="workshop-menu">
    <h2>Ders İçerikleri</h2>
    <ul>
        <li>1. Gün; Beslenme</li>
        <li>2. Gün; Sebze-Çorba</li>
        <li>3. Gün; Atıştırmalık-Kahvaltı</li>
        <li>4. Gün; Yahni-Kıyma</li>
        <li>5. Gün; Salata-Yumurta</li>
        <li>6. Gün; Et-Tavuk</li>
        <li>7. Gün; Makarna-Pirinç</li>
        <li>8. Gün; Balık</li>
        <li>9. Gün; Tatlı</li>
        <li>10. Gün; Ekmek-Meyve</li>
        <li>11. Gün; Uygulamalı restoran eğitimi kapsamında öğrenciler ebeveynlerine yemek hazırlayıp servis edecekler.</li>
    </ul>
    <p>
        Eğitime katılma yaşı 14-17 yaş aralığıdır.Eğitim başında kimlik beyanı zorunludur. İstasyonalarda tek kişi çalışılacaktır. Kontenjan 14 kişi ile sınırlıdır. 2 hafta boyunca hafta içi her gün mutfaktaki eğitimin ardından 1 gün restoran deneyimi olmak üzere toplam 11 günlük bir eğitimdir.
        Eğitimin boyunca kullanılcak bıçak seti, 1 adet aşçı ceketi ve Jamie's Home Cooking Skills önlükleri öğrencilerehediye edicektir. Detaylı teorik bilgileri ve reçeteleri içeren özel eğitim kitabı verilecektir. Programın sonunda öğrenciler MSA katılım sertifikası ile uluslararası Jamie's Home Cooking Skill sertifikası elde edecektir.


    </p>
</div>

<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">2.250 TL</div>
    <div class="note">KDV Dahil</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/jamies-home-cooking-skills-14-17-yas">Jamie's Home Cooking Skills (14-17 yaş)</a></li>
            <li class=""><span>Jamie's Home Cooking Skills (14-17 yaş) Detay</span></li>
        </ul>
    </div>
</div>

