﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

      
<script type="text/javascript">
	$(window).load(function() {
		function getQueryVariable(variable)
		{
			   var query = window.location.search.substring(1);
			   var vars = query.split("&");
			   for (var i=0;i<vars.length;i++) {
					   var pair = vars[i].split("=");
					   if(pair[0] == variable){return pair[1];}
			   }
			   return(false);
		};
		
		var acc_id = getQueryVariable("acc_id");
		$("#ui-accordion-3-header-0").removeClass("ui-accordion-header-active ui-state-active ui-corner-top");
		$("#ui-accordion-3-panel-0").removeClass("ui-accordion-content-active");
		$("#ui-accordion-3-panel-0").css( "display", "none" );
		$("#ui-accordion-3-header-0").addClass("ui-corner-all");
		$('#ui-accordion-3-header-'+acc_id).addClass('ui-accordion-header-active ui-state-active ui-corner-top');
		$("#ui-accordion-3-panel-"+acc_id).addClass("ui-accordion-content-active");
		$("#ui-accordion-3-panel-"+acc_id).css( "display", "block" );
	});
</script>
<title>"Kamp&#252;s</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/kampus.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Kamp&#252;s</h2>
                    <p>Geçmişten günümüze mutfağa dair her şey MSA'da.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>

<div class="paragraph short">


    <p>S&uuml;rekli gelişimini s&uuml;rd&uuml;ren ve dinamik yapısını en &uuml;st d&uuml;zeyde teknik altyapı ile destekleyen MSA&rsquo;nın Maslak kamp&uuml;s&uuml;nde; Euro 2011 normlarındaki profesyonel mutfak ve ekipmanlarının yanı sıra &lsquo;workshop&rsquo;lar i&ccedil;in tasarlanmış mutfak, barmen, barista ve sommelier eğitim salonu, değişik kullanım ama&ccedil;larına g&ouml;re planlanmış seminer odaları, 24 kişilik eğitim sınıfları, T&uuml;rkiye&rsquo;nin ilk ve tek mutfak auditorium&rsquo;u, AR-GE &ccedil;alışmalarının y&uuml;r&uuml;t&uuml;ld&uuml;ğ&uuml; mutfak laboratuvarı ve Okulun Mutfağı isimli okul restoranı yer alıyor</p>
    <p>B&uuml;nyesinde MSA Electrolux Auditorium&rsquo;unu bulunduran MSA, bu &ouml;zel donanımlı merkez ile eğitim alanında sekt&ouml;re b&uuml;y&uuml;k katkı sağlıyor. 140 kişilik oturma kapasite bulunan auditorium&rsquo;da sadece &uuml;lkenin değil, b&uuml;t&uuml;n b&ouml;lgenin en b&uuml;y&uuml;k Molteni pişirme &uuml;nitesi yer alıyor. MSA Electrolux Auditorium&rsquo;unda T&uuml;rkiye&rsquo;nin &ouml;nde gelen işletmelerin sefleri ağırlanıyor, yeni &uuml;r&uuml;n deneme ve geliştirmeleri yapılıyor ve geleceğin şef adaylarının gelişimine y&ouml;nelik eğitim projeleri hayata ge&ccedil;iriliyor.</p>
</div>

<div class="accordion-module">
    <h3>Laboratuvar</h3>
    <div>
        <div class="accordion-item">
            <h1><strong>MSA'nın AR-GE mutfağı</strong></h1>
            <p>AR-GE mutfağı olarak da adlandırılan MSA laboratuvarı, profesyonel mutfaklarda kullanılan ileri teknoloji tekniklerini uygulamak, takip etmek ve geliştirmek amacı ile kurulmuştur. Laboratuvarda geleneksel pişirme ve hazırlama y&ouml;ntemlerini yarının mutfaklarına adapte etme, global gastronomi trendlerini deneyimleme ve uygulama amacıyla &ccedil;alışmalar yapılmaktadır. Son teknoloji ekipman donanımı ile sous-vide, likit nitrojen ile gıdalara farklı doku ve formlar kazandırmak i&ccedil;in kullanılan diğer uygulamalara imkan veren laboratuvar, MSA eğitmen kadrosu, &ouml;ğrencileri ve kurumsal m&uuml;şterilerinin kullanımına a&ccedil;ıktır.</p>
        </div>
    </div>
    <h3>Okulun Mutfağı</h3>
    <div>
        <div class="accordion-item">
            <p>Mutfak Sanatları Akademisi&rsquo;nin (MSA) eğitim restoranı olan Okulun Mutfağı, okulun &ouml;ğrencilerinin mutfak ve serviste &ccedil;alıştığı ve staj yaptığı uygulama restoranı. Eğitmen şeflere, MSA&rsquo;da profesyonel aş&ccedil;ılık eğitimlerini s&uuml;rd&uuml;ren ve geleceğin parlak şefleri olacak &ouml;ğrenciler eşlik ediyor. Sizi karşılayan, şarabınızı servis eden, yemeğinizin &ouml;zelliklerini anlatan ekip arkadaşlarımız aslında dersteler. Onlar birer şef adayı ve Okulun Mutfağı&rsquo;ndaki pratik eğitimlerinin ardından, ger&ccedil;ek hayata, aş&ccedil;ılık mesleğinin tutkulu yolculuğuna atılacaklar.</p>
            <p>Okulun Mutfağı&rsquo;nın dinamik ve g&uuml;lery&uuml;zl&uuml; ekibi yemekte harikalar yaratıyor. Tek ama&ccedil; en kaliteli, yerel malzeme ile en sade g&ouml;r&uuml;nen yemekte bile beklenmedik tatlar, eşsiz lezzetler yaratmak. Sade bir dekorasyonda, keyifli, farklı ve tekrar tekrar yaşanmak istenecek bir atmosfer sunmak.</p>
            <p><br/> 75 kişi kapasiteli Okulun Mutfağı&rsquo;nın t&uuml;m geliri ise eğitimi destelemek amacıyla MSA Mezunlar Derneği&rsquo;ne aktarılıyor.</p> <br />
			<p>
			Çalışma Saatleri<br /><br />
			Pazartesi - Cuma <br />
			08:00 - 10:30 Sabah Kahvaltısı <br />
			12:00 - 15:30 Öğle Yemeği <br />
			15:30 – 17:00 Tatlı ve Çay Servisi <br /><br />
			Rezervasyon için 0212 290 35 60 numaralı telefonu arayınız. Rezervasyon hattımız hafta içi mesai saatlerinde hizmet vermektedir. Restoranımız hafta sonları kapalıdır.
			</p>
        </div>
    </div>
	<h3>MSA Dükkan</h3>
	<div>
        <div class="accordion-item">
		<p>MSA öğrencileri tarafından derste yapılan uluslararası eğitim müfredatından, tamamı günlük, taptaze ve nefis ürünleri Maslak çevresindekilerle buluşturmak üzere Mutfak Sanatları Akademisi bünyesinde hizmet veriyor.</p>
<p>Türkiye’nin lider profesyonel mutfak okulu MSA’nın bünyesine bir lezzet merkezi daha eklendi. Senede sayısı 8000’i bulan workshop katılımcılarının talepleri üzerine; okulda hazırlanan pek çok ürünün satıldığı MSA Dükkan; yine MSA’da eğitim alan stajyerler tarafından, eğitmen şeflerinin önderliğinde işletiliyor. Maslak iş çevresinin müdavimi olduğu Okulun Mutfağı Restoran’ın halen menüsünde bulunan; tamamen yerel ve mevsimsel ürünlerle hazırlanan sos, chutney, ev yapımı tarhana gibi pek çok lezzet de yine MSA Dükkan’da meraklıları ile buluşuyor.</p>
<p>Ekmeğinden sosuna baştan aşağı MSA yapımı sandviçlerden croissant çeşitlerine, ev yapımı ekmeklerden özel karışım taze meyve sularına ve her damağa hitap eden çeşit çeşit tatlılara kadar geniş ürün yelpazesiyle MSA Dükkan Maslak civarında lezzet arayışında olanlara hitap ediyor. MSA Dükkan, gerek kahvaltıda gurme seçimler yapmak isteyenler, gerekse gün içinde acıkınca ufak kaçamaklar yapmayı sevenlere günlük olarak taptaze hazırlanan ve müdavimlik yaratacak tatlar sunuyor. Bu özel lezzetlerin yanı sıra; MSA Dükkan’da bulunan ve iş dönüşü evdekilere sürpriz yapmak isteyenlerin kendi pişirebilecekleri yemekler, kavanozda ev yapımı soslar ve ekmek çeşitleri de damak çatlatıyor.</p>
<p>MSA Dükkan’da ekşi mayadan ve özel unlardan hazırlanan doğal ev yapımı ekmek çeşitleri, Delifrance Dünya Sandviç Yarışması’nda ülkemizi temsil ederek ödül alan sandviçler, Çırağan Palace Kempinski’de tanıtılan MSA tatlıları gibi pek çok özellikli ürünü bir arada bulmak mümkün. Yine MSA Dükkan’da taze ve sağlıklı meyve sularının yanı sıra; özel hazırlanan meyve-sebze karışımları da temin edilebiliyor.</p>
<p><a href="/Uploads/msa-dukkan-menu01.pdf" target="_blank">Menüyü görüntülemek için tıklayın.</a></p>
<p>MSA Dükkan'dan, özel davetler için sipariş alınabilir ve hatta catering hizmeti de verilebiliyor.<br>
MSA Dükkan hafta içi 08.00-19.00, hafta sonu 09.00-14.00 saatleri arasında hizmet veriyor.</p>
		</div>
    </div>	
    <h3>MSA M&#252;zesi</h3>
    <div>
        <div class="accordion-item">
            <h1><strong>T&uuml;rkiye&rsquo;nin ilk ve tek gastronomi m&uuml;zesi</strong>
            </h1>
            <p>MSA'nın kurucusu Mehmet Aksel'in &ouml;zenle kurduğu ve halen geliştirmekte olduğu, sekt&ouml;rel olarak bir ilke imza atan bu m&uuml;ze, ge&ccedil;mişi g&uuml;n&uuml;m&uuml;ze taşıyor, yiyecek - i&ccedil;ecek k&uuml;lt&uuml;r&uuml;m&uuml;z ve sanayimizin tarihi yolculuğunu hem &ouml;ğrencilere, hem de ziyaret&ccedil;ilerine &ouml;rneklerle sunuyor.</p>
            <p>Babaannelerimizin kullandığı şeker kalıpları, pirin&ccedil; kahve değirmeni ya da şimdi ancak eski T&uuml;rk filmlerinde g&ouml;rd&uuml;ğ&uuml;m&uuml;z teneke kutular MSA'da dolaşırken birden karşınıza &ccedil;ıkıyor, nostaljiyi yaşatıyor. Aş&ccedil;ılık ve pastacılık ara&ccedil; gere&ccedil;leri, eski sahanlar, yağ kutuları, bira, rakı, i&ccedil;ki, su ve gazlı i&ccedil;ecek şişeleri, Cumhuriyet D&ouml;nemi bakkaliye malzemeleri, şekerleme ve sakız paketlemeleri, etiketler, Cumhuriyet D&ouml;nemi'nden kalan temizlik i&ccedil;in kullanılan malzemeler ve mutfak ile ilgili akla gelebilecek her obje, bu m&uuml;ze ile sekt&ouml;r&uuml;n sanayisine ve tarihine ışık tutuyor.</p>
            <p>2000'i aşkın eser ile, Osmanlı'nın son d&ouml;nemlerinden Cumhuriyet'in ilk ve orta d&ouml;nemine uzanan sekt&ouml;rel yaşayış ve gelişime tanıklık eden bir arşive ev sahipliği yapıyor.</p>
        </div>
    </div>
    <h3>MSA Yiyecek - İ&#231;ecek K&#252;t&#252;phanesi</h3>
    <div>
        <div class="accordion-item">
            <h1><strong>Yeme i&ccedil;me k&uuml;lt&uuml;r&uuml; &uuml;zerine bilmek istediğiniz her şey burada!</strong>
            </h1>
            <p>MSA K&uuml;t&uuml;phanesi'nde, akademik &ccedil;alışmalardan, g&uuml;ncel kaynaklara, nadir eserlerden, eşsiz eserlere uzanan yeme - i&ccedil;me ile ilgili &ccedil;ok sayıda &ouml;nemli kaynak yer alıyor. Yalnızca MSA &ouml;ğrencilerinin ve mezunlarının değil, yurti&ccedil;i ve yurtdışında eğitim g&ouml;ren, mutfakla ilgilenen herkesin yararlanabileceği, sekt&ouml;rle ilgili d&uuml;nya genelinde basılan bir&ccedil;ok yayına sahip MSA K&uuml;t&uuml;phanesi, zamanın nasıl ge&ccedil;tiğini size unutturacak, mutfak yolculuğunuzda durak yeriniz olacak &ouml;zel bir yer. Herkesin faydalanabileceği MSA Yiyecek - İ&ccedil;ecek K&uuml;t&uuml;phanesi'nde bug&uuml;n, 5000'e yakın yayın bulunuyor. K&uuml;t&uuml;phanede gastronomi konularının yanı sıra, işletmecilik, mimari, yetiştiricilik, seracılık, ziraat, beslenme ve sağlık, g&ouml;rg&uuml; kuralları, sofra d&uuml;zeni ve sofra adabı, ilk yardım gibi farklı konuları da kapsayan kitaplar, danışma kaynakları ve s&uuml;reli yayınlar da mevcut.</p>
            <p>K&uuml;t&uuml;phanemizden Nasıl Yararlanabilirsiniz?</p>
            <p>&bull; MSA Yiyecek-İ&ccedil;ecek K&uuml;t&uuml;phanesi&rsquo;nden okulumuzun &ouml;ğrencileri ve bu alana ilgi duyan herkes yararlanabilir.<br/> &bull; MSA &ouml;ğrencileri doğal &uuml;ye kabul edilirler.<br/> &bull; &Uuml;yelerimizin &ouml;d&uuml;n&ccedil; alma, kitap iadesi, s&uuml;re uzatma gibi hizmetlerden yararlanabilmeleri i&ccedil;in k&uuml;t&uuml;phanemize başvurmaları yeterlidir.<br/> &bull; K&uuml;t&uuml;phanedeki bilgi kaynakları &ccedil;er&ccedil;evesinde araştırma yapmak isteyen kişiler ise yerinde okuma ve fotokopi hizmetlerinden yaralanabilirler.
            </p>
        </div>
    </div>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><span>Kamp&#252;s</span></li>
        </ul>
    </div>
</div>

