﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"K&#252;&#231;&#252;k Gurme 1</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>K&#252;&#231;&#252;k Gurme 1</strong></h1>


    <p>Evinizin küçük gurmeleri ile beraber sizi MSA’ya bekliyoruz.<br />Minik eller mutfakta! Mutfağın meraklı misafirleri bu workshop ile harika lezzetler yaratıyorlar. Evinizin küçük gurmesi ile beraber MSA’da çok keyifli vakit geçirebileceğiniz bu workshop’ta yerinizi hemen alın.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Mini köfteli spaghetti, tatlı ketçap sos ile </li>
        <li>Bonibonlu kurabiyeler</li>
        <li>Çocuklar ebevynleri ile katılabilirler</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">17 Ocak Cumartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">120 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/kucuk-gurme-1">K&#252;&#231;&#252;k Gurme 1</a></li>
            <li class=""><span>K&#252;&#231;&#252;k Gurme 1 Detay</span></li>
        </ul>
    </div>
</div>
