﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"K&#252;&#231;&#252;k Gurme 1 (5-9 Yaş)</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/kucuk-gurme-1.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>K&#252;&#231;&#252;k Gurme 1</h2>
                    <p>Belki ileride ünlü birer şef olacaklar.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Evinizin küçük gurmeleri ile beraber sizi MSA’ya bekliyoruz.<br />Minik eller mutfakta! Mutfağın meraklı misafirleri bu workshop ile harika lezzetler yaratıyorlar. Evinizin küçük gurmesi ile beraber MSA’da çok keyifli vakit geçirebileceğiniz bu workshop’ta yerinizi hemen alın.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/kucuk-gurme-1/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">17 Ocak Cumartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">120 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>


