﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Matmazel Macaron</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/subat/640x992/matmazel-mac.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Matmazel Macaron</h2>
                    <p>Hayran bırakan Macaron’ları hazırlamayı öğrenebilirsiniz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>MSA şeflerinden harika ve yepyeni tariflerle dolu bu Workshop sayesinde siz de artık macaron'larınızı evinizde hazırlayacak, ikramlarınızı ve partilerinizi rengârenk macaron'larla zenginleştireceksiniz</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/matmazel-macaron/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">28 Şubat Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

