﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Matmazel Macaron</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Matmazel Macaron</strong></h1>
    <p>MSA şeflerinden harika ve yepyeni tariflerle dolu bu Workshop sayesinde siz de artık macaron'larınızı evinizde hazırlayacak, ikramlarınızı ve partilerinizi rengârenk macaron'larla zenginleştireceksiniz</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Lavantalı macaron, lavantalı sütlü çikolatalı ganaj ile</li>
        <li>Vanilyalı macaron, vanilyalı beyaz çikolatalı ganaj ile</li>
        <li>Zencefilli macaron, zencefil ve muskatlı ganaj ile</li>
        <li>Tuzlu atıştırmalıklar ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">28 Şubat Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/matmazel-macaron">Matmazel Macaron</a></li>
            <li class=""><span>Matmazel Macaron Detay</span></li>
        </ul>
    </div>
</div>

