﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Mutfakta 8 Hafta – Pastacılık</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Mutfakta 8 Hafta – Pastacılık</strong></h1>
    <p>
        Custard ve choux hamuru yapım tekniklerinden ekmeğin doğru mayalanmasına, sıvama pasta yapım yöntemlerinden çikolata temperlemeye ve tart hamuru yapım yöntemlerine kadar
        pastacılığın hata kabul etmeyen tüm püf noktalarını haftada 1 gün olmak üzere 8 hafta boyunca MSA’nın profesyonel şefleri eşliğinde öğrenecek, 8 hafta sonunda kendi evinizin pasta şefi, çikolata ustası ve ekmek uzmanı olacaksınız.


    </p>
</div>
<div class="workshop-menu">
    <h2>Ders İçerikleri</h2>
    <ul>
        <li>Kurabiyeler</li>
        <li>Tart, kiş ve pie’lar</li>
        <li>Ekmek yapımı</li>
        <li> Kekler</li>
        <li>Pastalar</li>
        <li>Custards ve choux hamuru</li>
        <li>Şuruplu ve sütlü tatlılar</li>
        <li>Çikolatalar</li>

    </ul>
    <p>
        Eğitimin konu başlıkları
        Eğitim süresince öğrenciler 14 kişilik mutfakta, kendi özel istasyonlarında tek kişi olarak çalışmaktadır.
        Eğitimde kullanılacak F. Dick spatula ve soyma bıçağı katılımcılara hediye edilir.
        Tüm katılımcılara ders içerikleri ile ilgili notlar verilmektedir.
        Eğitimlerin sonunda özel sertifika verilecektir.







    </p>
</div>

<div class="workshop-detail text-center">
    <div class="date">22 Mart 2015 - 10 Mayıs 2015</div>
    <div class="time">Her Pazar 16:00-20:00</div>
    <div class="clear hr"></div>
    <div class="price">1.550 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY051/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>


<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/mutfakta-8-hafta-pastacilik">Mutfakta 8 Hafta – Pastacılık</a></li>
            <li class=""><span>Mutfakta 8 Hafta – Pastacılık Detay</span></li>
        </ul>
    </div>
</div>

