﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Mutfakta 8 Hafta</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Mutfakta 8 Hafta</strong></h1>

    <p>
        
        Mutfakta 8 hafta programıyla; mutfağın temeli olan bıçak kullanma tekniklerinden sos ve çorba yapımına, et pişirme tekniklerinden deniz ürünlerine ve wok yemeklerine kadar mutfağın inceliklerini,
        haftada 1 gün olmak üzere, tam 8 hafta boyunca profesyonel şefler eşliğinde keşfedeceksiniz. Mutfağa dair her şeyi işin eğitmenlerinden öğrenip, en özel teknikleriyle gerçek bir şef gibi yemek pişirmenin keyfine varacaksınız.

        

    </p>
</div>
<div class="workshop-menu">
    <h2>Ders İçerikleri</h2>
    <ul>
        <li>Bıçak seçme, Kesim ve Kullanma Teknikleri, Mutfak Set-up ve Hazırlıkları, Şefin İhtiyacı</li>
        <li>Ana ve Türev Soslar ve Çorbalar, Hazırlama ve Kullanma Metodları</li>
        <li>Et Çeşitleri ve Yapıları, Pişirme Teknikleri ve Püf Noktaları</li>
        <li>Tüm Detaylarıyla Tavuk Pişirme Yöntemleri</li>
        <li>Pilav ve Pirinç Çeşitleri, Pişirme Teknikleri ve Püf Noktaları</li>
        <li>Uzakdoğu Wok Yemekleri, Pad Thai ve Noodle Pişirme Teknikleri</li>
        <li>Deniz ürünleri Seçme, Temizleme ve Pişirme Teknikleri</li>
        <li>Taze Makarna Hamuru Hazırlama, Makarna Sosları ve Risotto Yapımı</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">11 Mart 2015 - 29 Nisan 2015</div>
    <div class="time">Her Çarşamba 19:00-23:00</div>
    <div class="clear hr"></div>
    <div class="price">1.850 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY050/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/mutfakta-8-hafta">Mutfakta 8 Hafta</a></li>
            <li class=""><span>Mutfakta 8 Hafta Detay</span></li>
        </ul>
    </div>
</div>

