﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Mutfakta 8 Hafta Devrialem</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/mutfakta8hafta_devrialem.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Mutfakta 8 Hafta Devriâlem</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Mutfakta 8 hafta Devriâlem ile mutfak tekniklerinizi MSA’nın profesyonel şefleri eşliğinde geliştirecek, 8 hafta boyunca popüler ülke mutfaklarının geleneksel ve en çok sevilen tariflerini öğrenecek, değişik ülkelerin yemek kültürlerini yakından tanıyacaksınız.
        Haftada 1 gün olmak üzere toplam 8 hafta boyunca Batı Avrupa’dan Uzak Doğu’ya, hatta Meksika’ya kadar uzanan bir mutfak devriâlemine çıkacak, 8 ayrı yemek kültürü deneyimi yaşayacaksınız. Profesyonellerden öğreneceğiniz mutfak beceri ve teknikleri ile tariflerde kullanacağınız ülkelere özel malzemeler sayesinde ülke mutfaklarının temel uygulamalarını keşfedecek ve bu eğitimin sonunda dünyanın lezzetlerini kendi mutfağınızda yaratmanın keyfine varacaksınız.

    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/mutfakta-8-hafta-devrialem/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">1.800 TL</div>
    <div class="note">KDV Dahil</div>
</div>

