﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Mutfakta 8 Hafta – Pastacılık</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/mutfakta8hafta_pasticilik.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Mutfakta 8 Hafta – Pastacılık</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Custard ve choux hamuru yapım tekniklerinden ekmeğin doğru mayalanmasına, sıvama pasta yapım yöntemlerinden çikolata temperlemeye ve tart hamuru yapım yöntemlerine kadar
        pastacılığın hata kabul etmeyen tüm püf noktalarını haftada 1 gün olmak üzere 8 hafta boyunca MSA’nın profesyonel şefleri eşliğinde öğrenecek, 8 hafta sonunda kendi evinizin pasta şefi, çikolata ustası ve ekmek uzmanı olacaksınız.


    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/mutfakta-8-hafta-pastacilik/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">22 Mart 2015 - 10 Mayıs 2015</div>
    <div class="time">Her Pazar 16:00-20:00</div>
    <div class="clear hr"></div>
    <div class="price">1.550 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY051/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

