﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Mutfakta 8 Hafta Pastacılık 2</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Mutfakta 8 Hafta Pastacılık 2</strong></h1>


    <p>
        Pastacılıkla  ilgili daha fazla detay öğrenmek ve evinin pasta şefi olmak isteyenler için cupcake'ten mereng'e kadar yepyeni tariflerin yer aldığı Mutfakta 8 Hafta Pastacılık-2 başlıyor.
        Mutfakta 8 Hafta Pastacılık-2'yle haftada 1 gün olmak üzere toplam 8 hafta boyunca, bugüne kadar pastacılıkla ilgili sahip olduğunuz bilgilere yenilerini ekleyecek, pratik yapacak ve profesyonellerden yepyeni tarifler öğreneceksiniz. Bu eğitimin sonunda kendi mutfağınızda birbirinden lezzetli tatlı ve tuzlu kurabiyeler, pastalar, cupcake'ler ve a la carte tatlılar yaratmada uzmanlaşacaksınız.



    </p>
</div>
<div class="workshop-menu">
    <h2>Ders İçerikleri</h2>
    <ul>
        <li>Tatlı ve tuzlu kurabiyeler</li>
        <li>Kekler</li>
        <li>Ala carte tatlılar ve tabak tatlıları</li>
        <li>Pastalar</li>
        <li>Mayalı hamurlar</li>
        <li>Cupcake'ler</li>
        <li>Hazır hamurlarla börekler</li>
        <li>Şeker hamuru icing ile kurabiye süsleme</li>
    </ul>
    <p>
        Eğitim süresince öğrenciler 14 kişilik mutfakta, kendi özel istasyonlarında tek kişi olarak çalışmaktadır.
        Eğitimde kullanılacak hamur ezici ve Paşabahçe sızdırmaz kapaklı saklama kavanozu katılımcılara hediye edilecektir.
        Tüm katılımcılara önlük seti  ders içerikleri ile ilgili reçete kitapçığı verilmektedir. verilmektedir.
        Eğitimin sonunda eğitmen şeflerin imzaladığı özel sertifika verilecektir.



    </p>
</div>

<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">1.550 TL</div>
    <div class="note">KDV Dahil</div>
</div>


<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/mutfakta-8-hafta-pastacilik-2">Mutfakta 8 Hafta Pastacılık 2</a></li>
            <li class=""><span>Mutfakta 8 Hafta Pastacılık 2 Detay</span></li>
        </ul>
    </div>
</div>

