﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Mutfakta 8 Hafta Pastacılık 2</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/mutfakta_8_hafta_pastacilik2.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Mutfakta 8 Hafta Pastacılık 2</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Pastacılıkla  ilgili daha fazla detay öğrenmek ve evinin pasta şefi olmak isteyenler için cupcake'ten mereng'e kadar yepyeni tariflerin yer aldığı Mutfakta 8 Hafta Pastacılık-2 başlıyor.
        Mutfakta 8 Hafta Pastacılık-2'yle haftada 1 gün olmak üzere toplam 8 hafta boyunca, bugüne kadar pastacılıkla ilgili sahip olduğunuz bilgilere yenilerini ekleyecek, pratik yapacak ve profesyonellerden yepyeni tarifler öğreneceksiniz. Bu eğitimin sonunda kendi mutfağınızda birbirinden lezzetli tatlı ve tuzlu kurabiyeler, pastalar, cupcake'ler ve a la carte tatlılar yaratmada uzmanlaşacaksınız.

    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/mutfakta-8-hafta-pastacilik-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">1.550 TL</div>
    <div class="note">KDV Dahil</div>
</div>

