﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Mutfakta 8 Hafta Devrialem</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Mutfakta 8 Hafta Devrialem</strong></h1>


    <p>
        Mutfakta 8 hafta Devriâlem ile mutfak tekniklerinizi MSA’nın profesyonel şefleri eşliğinde geliştirecek, 8 hafta boyunca popüler ülke mutfaklarının geleneksel ve en çok sevilen tariflerini öğrenecek, değişik ülkelerin yemek kültürlerini yakından tanıyacaksınız.
        Haftada 1 gün olmak üzere toplam 8 hafta boyunca Batı Avrupa’dan Uzak Doğu’ya, hatta Meksika’ya kadar uzanan bir mutfak devriâlemine çıkacak, 8 ayrı yemek kültürü deneyimi yaşayacaksınız. Profesyonellerden öğreneceğiniz mutfak beceri ve teknikleri ile tariflerde kullanacağınız ülkelere özel malzemeler sayesinde ülke mutfaklarının temel uygulamalarını keşfedecek ve bu eğitimin sonunda dünyanın lezzetlerini kendi mutfağınızda yaratmanın keyfine varacaksınız.

    </p>
</div>
<div class="workshop-menu">
    <h2>Ders İçerikleri</h2>
    <ul>
        <li>İspanya</li>
        <li>Fransa</li>
        <li>Orta Ve Kuzey İtalya </li>
        <li>Güney İtalya</li>
        <li>Türkiye</li>
        <li>Çin</li>
        <li>Tayland</li>
        <li>Meksika</li>
    </ul>
    <p>
        Eğitim süresince öğrenciler 14 kişilik mutfakta, kendi özel istasyonlarında tek kişi olarak çalışmaktadır.
        Tüm katılımcılara ders içerikleri ile ilgili notlar verilmektedir.
        Eğitimlerin sonunda özel sertifika verilecektir.

    </p>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">1.800 TL</div>
    <div class="note">KDV Dahil</div>

    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/mutfakta-8-hafta-devrialem">Mutfakta 8 Hafta Devrialem</a></li>
            <li class=""><span>Mutfakta 8 Hafta Devrialem Detay</span></li>
        </ul>
    </div>
</div>

