﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Cheesecakeler</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/mutfakta8hafta.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Mutfakta 8 Hafta</h2>
                    <p>“Merak tutkuya dönüşünce”</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        Mutfakta 8 hafta programıyla; mutfağın temeli olan bıçak kullanma tekniklerinden sos ve çorba yapımına, et pişirme tekniklerinden deniz ürünlerine ve wok yemeklerine kadar mutfağın inceliklerini,
        haftada 1 gün olmak üzere, tam 8 hafta boyunca profesyonel şefler eşliğinde keşfedeceksiniz. Mutfağa dair her şeyi işin eğitmenlerinden öğrenip, en özel teknikleriyle gerçek bir şef gibi yemek pişirmenin keyfine varacaksınız.

    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/mutfakta-8-hafta/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">11 Mart 2015 - 29 Nisan 2015</div>
    <div class="time">Her Çarşamba 19:00-23:00</div>
    <div class="clear hr"></div>
    <div class="price">1.850 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY050/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

