﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Burgers &amp; Fries</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/8246_2097_1_tr_imagegallery_burgersandfries540x300-copy.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>BURGERS &amp; FRIES</h2>
                    <p>Kızarmış patatesinden soğan halkasına %100 ev yapımı en leziz hamburgeri hazırlamak için bekliyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Hamburgerleriniz hem göze hem mideye şölen yaşatacak. Kapı kapı dolaşıp burgerci denemeyin, kalpleri evinizde fethedin. Dilerseniz kendi keyfiniz için, dilerseniz eşe dosta caka satmak için, dilerseniz de sevgiliye hava atmak için gelin kendiniz burger yapmayı öğrenin. Yanında enfes kızarmış patatesinden soğan halkalarına; mantar ketçabından özel mayonezine kadar bu burger %100 sizin.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/burgers-and-fries-1/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">25 Nisan Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">160 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>
