﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Burgers and Fries</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>BURGERS &amp; FRIES</strong></h1>

    <p>Hamburgerleriniz hem göze hem mideye şölen yaşatacak. Kapı kapı dolaşıp burgerci denemeyin, kalpleri evinizde fethedin. Dilerseniz kendi keyfiniz için, dilerseniz eşe dosta caka satmak için, dilerseniz de sevgiliye hava atmak için gelin kendiniz burger yapmayı öğrenin. Yanında enfes kızarmış patatesinden soğan halkalarına; mantar ketçabından özel mayonezine kadar bu burger %100 sizin.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Cheeseburger, köz patlıcan sos ve yeşillikler ile</li>
        <li>Tavuk burger, mantar ketçap ve karamelize soğan ve yeşillikler ile</li>
        <li>Bira paneli soğan halkaları ve kajun baharatlı patates kızartması</li>
        <li>Ev yapımı sarımsaklı ve acılı mayonez</li>
        <li>Tatlı ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">25 Nisan Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">160 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/burgers-and-fries">Burgers and Fries</a></li>
            <li class=""><span>Burgers and Fries Detay</span></li>
        </ul>
    </div>
</div>
