﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Çikolata Aşkına</title>
<meta name="keywords" content="Çikolata Aşkına">
<meta name="description" content="Çikolata Aşkına">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/6066_2088_1_tr_imagegallery_MSA_Cikolata_Butigi_540x300-(1).jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>ÇİKOLATA BUTİĞİ</h2>
                    <p>Yepyeni tarifleriyle MSA’nın Çikolata Butiği’nde yerinizi şimdiden alın. Çikolata yapımının inceliklerini öğrenin.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Bu workshop ile el yapımı çikolata konusunda becerilerinizi geliştirip, kendi evinizde minik bir çikolata butiği oluşturabilirsiniz. Edindiğiniz ince teknik bilgilerle öğrendiklerinizi evde pekiştirebilir, sevdiklerinize özel bir hediye olarak kendi el yapımı çikolatalarınızı hediye edebilirsiniz. Yepyeni tarifleriyle MSA’nın Çikolata Butiği’nde yerinizi şimdiden alın.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/cikolata-butigi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">11 Nisan Cumartesi</div>
    <div class="time">16.00 - 21.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY084/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

