﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Çikolata Aşkına</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>ÇİKOLATA BUTİĞİ</strong></h1>


    <p>Bu workshop ile el yapımı çikolata konusunda becerilerinizi geliştirip, kendi evinizde minik bir çikolata butiği oluşturabilirsiniz. Edindiğiniz ince teknik bilgilerle öğrendiklerinizi evde pekiştirebilir, sevdiklerinize özel bir hediye olarak kendi el yapımı çikolatalarınızı hediye edebilirsiniz. Yepyeni tarifleriyle MSA’nın Çikolata Butiği’nde yerinizi şimdiden alın.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Yer fıstıklı bademli crunch</li>
        <li>Vişne dolgulu bitter kalıp çikolata</li>
        <li>Marshmallow dolgulu sütlü çikolata puf</li>
        <li>Tuzlu atıştırmalıklar ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">11 Nisan Cumartesi</div>
    <div class="time">16.00 - 21.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY084/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/cikolata-askina">Çikolata Aşkına</a></li>
            <li class=""><span>Çikolata Aşkına Detay</span></li>
        </ul>
    </div>
</div>
