﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Cupcake'ler</title>
<meta name="keywords" content="Cupcake'ler">
<meta name="description" content="Cupcake'ler">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/Uploads/gunlukworkshoplar/nisan/4080_2084_1_tr_imagegallery_cupcakeler_540x300-kopya.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>CUPCAKE’LER</h2>
                    <p>Sayısız lezzet uyarlaması ve rengarenk çeşitleriyle herkesin gönlüne taht kurmuş bu sevimli tatlı atıştırmalığın yapımını siz de öğrenin.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>En yaratıcı ve leziz cupcakeler sizinki olacak! Sayısız lezzet uyarlaması ve rengarenk çeşitleriyle herkesin gönlüne taht kurmuş bu sevimli tatlı atıştırmalığın yapımını siz de öğrenin, sevdiklerinize kendi ellerinizle yaptığınız bir cupcake hediye edip gönülleri fethedin.
    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/cupcakeler-1/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">4 Nisan Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

