﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Cupcake'ler</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>CUPCAKE’LER</strong></h1>


    <p>Sayısız lezzet uyarlaması ve rengarenk çeşitleriyle herkesin gönlüne taht kurmuş bu sevimli tatlı atıştırmalığın yapımını siz de öğrenin.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Devil’s cupcake, bitter çikolata ve biberli ganaj frosting</li>
        <li>Limon curd dolgulu bademli cupcake, vanilyalı frosting</li>
        <li>Haşhaşlı beyaz çikolatalı cupcake, damla sakızlı Fransız butter cream frosting</li>
        <li>Tuzlu atıştırmalıklar ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">4 Nisan Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/cupcakeler">Cupcake'ler</a></li>
            <li class=""><span>Cupcake'ler Detay</span></li>
        </ul>
    </div>
</div>
