﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Etler ve Pişirme Teknikleri</title>
<meta name="keywords" content="Etler ve Pişirme Teknikleri">
<meta name="description" content="Etler ve Pişirme Teknikleri">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/9935_2083_1_tr_imagegallery_MSA_Etler_ve_Pisirme_Teknikleri_-540x300-copy.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>ETLER VE PİŞİRME TEKNİKLERİ</h2>
                    <p>Ete dair her konuda hakimiyet kazanacağınız bir deneyim için bekliyoruz.
Steakhouse müdavimi arkadaşlarınızın yeni mekanı artık sizinki!</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">
    <p>Marinasyondan kesim ve pişirme tekniklerine; ete dair her türlü konuda hâkimiyet kazanıp, püf noktaları öğreneceğiniz en havalı ve lezzetli tarifleri içeren bir Workshop arayışında iseniz, mutlaka MSA’ya bekliyoruz. Steakhouse müdavimi arkadaşlarınızın yeni mekânı sizin mutfağınız olacak.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/etler-ve-pisirme-teknikleri-3/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">4 Nisan Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

