﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>GENÇ GURME (14-17 Yaş)</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="İtalyan Mutfağı 1">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/9843_2092_1_tr_imagegallery_Genc-Gurme_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>GENÇ GURME (14-17 Yaş)</h2>
                    <p>Genç gurmelerin en sevdikleri lezzetlerin listesini çıkardık, en güzel tarifleri onlar için hazırladık. Gen gurmeler mutfakta!</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>“Mutfağa girmenin yaşı yok” dedik ve gençleri de ihmal etmedik. En sevdikleri lezzetlerin listesini çıkardık, en güzel tarifleri gençler için hazırladık. Eğer aranızda kendini mutfağa yakın hisseden gençler varsa ve “Yemekleri en iyi ben yaparım, arkadaşlarıma da havamı atarım!” diyorsanız MSA’ya bekliyoruz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/genc-gurme/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">18 Nisan Cumartesi</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">140 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY088/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

