﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>GLUTENSİZ</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>GLUTENSİZ</strong></h1>

    <p>Glutensiz ürün ihtiyacının farkındalığının giderek arttığı bu dönemde siz de glutensiz ürün nasıl hazırlanır öğrenmek ve dışarıdaki hazır gıdalara bağlı kalmadan kendi glutensiz ürününüzü en sağlıklı şekilde evinizde hazırlamak istiyorsanız bu workshop’u kaçırmayın.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Ay çekirdekli ve keten tohumlu ekmek</li>
        <li>Ispanaklı ve lor peynirli makarna</li>
        <li>Vişneli ve bitter çikolatalı biscotti</li>
        <li>Kuru incirli ve cevizli kek</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">22 Nisan Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY091/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>

    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/italyan-mutfagi-2-2">İtalyan Mutfağı 2</a></li>
            <li class=""><span>İtalyan Mutfağı 2 Detay</span></li>
        </ul>
    </div>
</div>