﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>GLUTENSİZ</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="İtalyan Mutfağı 2">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/7151_2095_1_tr_imagegallery_glutensiz_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>GLUTENSİZ</h2>
                    <p>Glutensiz ürünlerin özellikleri ve yapımını öğrenmek için bekliyoruz. Glutensiz ürünlerin en lezzetli hali…</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">

    <p>Glutensiz ürün ihtiyacının farkındalığının giderek arttığı bu dönemde siz de glutensiz ürün nasıl hazırlanır öğrenmek ve dışarıdaki hazır gıdalara bağlı kalmadan kendi glutensiz ürününüzü en sağlıklı şekilde evinizde hazırlamak istiyorsanız bu workshop’u kaçırmayın.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/glutensiz/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">22 Nisan Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY091/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

