﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Haftanın Yemeği</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>HAFTANIN YEMEĞİ</strong></h1>


    <p>1 haftalık yemeklerinizin hazırlığını önceden yapıyoruz, çalışan anneleri “bu akşam ne pişirsem” tasasından kurtarıyoruz. Üstelik buradan elde edeceğiniz ipuçları ile yemekler arası kombinleme konusunda yaratıcılığınızı da kullanabilmeniz için ufkunuzu açıyoruz. Hazır yemek yemeden, dışarıdan söylemeden evinizde kolayca hazırlayacağınız bu nefis ve besleyici yemeklerle artık iş dönüşü yemek stresinize son verin, siz de ailecek evde akşam yemeğinin keyfini çıkarın.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Et suyu yapımı</li>
        <li>Et suyu ile kremalı mantar çorbası</li>
        <li>Et suyu ile mevsim sebzeleriyle ağır ateşte pişirilmiş dana yahni</li>
        <li>Patates püresi</li>
        <li>Mevsim sebzelerinden sebze graten</li>
        <li>Izgara piliç göğüs</li>
        <li>Sezar salata yapımı, ızgara piliç göğüs parçaları ile</li>
        <li>Bolonez sos yapımı</li>
        <li>Bolonez sos ile türetilecek spaghetti, fırında wrap, taco (Demo)</li>
        <li>Çikolatalı sıcak kek</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">18 Nisan Cumartesi</div>
    <div class="time">16.00 - 21.00</div>
    <div class="clear hr"></div>
    <div class="price">170 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY089/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/haftanin-yemegi">Haftanın Yemeği</a></li>
            <li class=""><span>Haftanın Yemeği Detay</span></li>
        </ul>
    </div>
</div>
