﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"İtalyan Mutfağı 1</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="İtalyan Mutfağı 2">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/4260_2085_1_tr_imagegallery_MSA_Italyan_Mutfagi_1_540x315.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>İTALYAN MUTFAĞI 1</h2>
                    <p>Dünyaca sevilip kabul gören İtalyan Mutfağı’nı evinize taşımaya ne dersiniz?</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">

    <p>
    Pazartesi akşamlarının İtalyan’ı… Makarnasından pizzasına enfes lezzetlerin yapımını öğreneceğiniz keyifli bir Pazartesi Workshop’u için MSA’ya bekliyoruz.
    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/italyan-mutfagi-3-1/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">6 Nisan Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>
</div>

