﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"İtalyan Mutfağı 2</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="İtalyan Mutfağı 2">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/7193_2094_1_tr_imagegallery_MSA_Italyan_Mutfagi_2_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>İTALYAN MUTFAĞI 2</h2>
                    <p>Toscana’dan Milano’ya uzanan enfes tarifler öğrenmek için bekliyoruz. Pazartesi akşamlarını İtalya’dan lezzetlerle buluşturuyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">

    <p>Bir Pazartesi akşamını yine İtalya’nın vazgeçilmez tatlarıyla şenlendirip Toscana’dan Milano’ya uzanan enfes reçetelerle buluşturuyoruz. Siz de bu lezzet şölenine dahil olup İtalyan Mutfağı’na doymak istiyorsanız şimdiden biletinizi alın.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/italyan-mutfagi-3-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">20 Nisan Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY090/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

