﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"İtalyan Mutfağı 1</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>İTALYAN MUTFAĞI 1</strong></h1>

    <p>Dünyaca sevilip kabul gören İtalyan Mutfağı’nı evinize taşımaya ne dersiniz?</p>

</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Sotelenmiş mevsim sebzeleri, ceviz, kuşkonmaz ve roka salatası</li>
        <li>Bonfile ve kestane mantarlı, kremalı el yapımı fettuccine</li>
        <li>Çikolata ve meyveli pizza</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">6 Nisan Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Tükendi</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/italyan-mutfagi-2-2">İtalyan Mutfağı 2</a></li>
            <li class=""><span>İtalyan Mutfağı 2 Detay</span></li>
        </ul>
    </div>
</div>