﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Küçük Gurme 1 (5-9 yaş)</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>KÜÇÜK GURME 1- Çocuk Bayramı Özel (5-9 Yaş)</strong></h1>


    <p>Minik ellerden çıkan en özel lezzetler… Miniklerimizin en özel koltuklara oturdukları, çocukluklarını doyasıya yaşadıkları onlara armağan edilmiş bu en güzel ayda mutfağa neden girmesinler dedik ve Küçük Gurme etkinliğimizi onlar için hazırladık. Anne veya babaların eşliğinde gerçekleşecek bu etkinliği unutulmaz bir aile aktivitesine dönüştürüp minik ellerin hünerlerini özgür bırakmak için yerinizi ayırın.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Sebzeli minik neşeli pizzalar</li>
        <li>Havuçlu ve Hindistan cevizli çikolata topları</li>
        <li>Naneli ev yapımı limonata ikramımızdır.</li>
        <li><strong>*Çocukların bir yetişkin eşliğinde katılması gerekmektedir.</strong></li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">25 Nisan Cumartesi</div>
    <div class="time">10.00 - 12.00</div>
    <div class="clear hr"></div>
    <div class="price">110 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY092/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/kucuk-gurme-1-5-9-yas">Küçük Gurme 1 (5-9 yaş)</a></li>
            <li class=""><span>Küçük Gurme 1 (5-9 yaş) Detay</span></li>
        </ul>
    </div>
</div>
