﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Küçük Gurme 1 (5-9 yaş)</title>
<meta name="keywords" content="Küçük Gurme 1 (5-9 yaş)">
<meta name="description" content="Küçük Gurme 1 (5-9 yaş)">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/3938_2096_1_tr_imagegallery_kucukgurme1_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>KÜÇÜK GURME 1- Çocuk Bayramı Özel (5-9 Yaş)</h2>
                    <p>Minikler en özel günlerini kutlamak için mutfağa giriyor, ebeveynleri de eşlik ediyor.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">

    <p>Minik ellerden çıkan en özel lezzetler… Miniklerimizin en özel koltuklara oturdukları, çocukluklarını doyasıya yaşadıkları onlara armağan edilmiş bu en güzel ayda mutfağa neden girmesinler dedik ve Küçük Gurme etkinliğimizi onlar için hazırladık. Anne veya babaların eşliğinde gerçekleşecek bu etkinliği unutulmaz bir aile aktivitesine dönüştürüp minik ellerin hünerlerini özgür bırakmak için yerinizi ayırın.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/kucuk-gurme1-1-5-9-yas/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">25 Nisan Cumartesi</div>
    <div class="time">10.00 - 12.00</div>
    <div class="clear hr"></div>
    <div class="price">110 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY092/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

