﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Parizyen Tatlılar</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>PARİZYEN TATLILAR</strong></h1>


    <p>Fransa’nın pastacılık ve artisan tatlıları konusunda öncü olduğunu unutmamak gerek. Biz de en özel Fransız tatlılarını bütün teknikleriyle birlikte sizlerle buluşturuyoruz. Siz de bu tatları öğrenip ufkunuzu genişletmek istiyorsanız MSA’ya bekliyoruz.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Fraisier; genoise pandispanya ve diplomat kremayla çilekli pasta</li>
        <li>Profiterol</li>
        <li>Yeşil fıstıklı financier</li>
        <li>Tuzlu atıştırmalıklar ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">29 Nisan &#199;arşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY095/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/parizyen-tatlilar">Parizyen Tatlılar</a></li>
            <li class=""><span>Parizyen Tatlılar Detay</span></li>
        </ul>
    </div>
</div>

