﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<title>"Parizyen Tatlılar</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/1611_2099_1_tr_imagegallery_MSA_Parizyen_Tatlilar_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>PARİZYEN TATLILAR</h2>
                    <p>Dünyaya nam salmış Fransız tatlılarını öğrenmek isteyenlere… En özel Fransız tatlıları sizden sorulacak.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Fransa’nın pastacılık ve artisan tatlıları konusunda öncü olduğunu unutmamak gerek. Biz de en özel Fransız tatlılarını bütün teknikleriyle birlikte sizlerle buluşturuyoruz. Siz de bu tatları öğrenip ufkunuzu genişletmek istiyorsanız MSA’ya bekliyoruz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/parizyen-tatlilar-1/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">29 Nisan &#199;arşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY095/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

