﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<title>"Pizzalar ve Salatalar</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/Uploads/gunlukworkshoplar/nisan/7072_2086_1_tr_imagegallery_MSA_Pizzalar_Salatalar_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>PİZZALAR VE SALATALAR</h2>
                    <p>Kendi evinin pizza ustası olmak isteyenler buraya!</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>En leziz pizzalar burada! Çevrede bir sürü pizzacı açılırken, kendi evinizin pizza ustası olmaya ne dersiniz? Pizzanın hamurundan sosuna en idealini öğreneceğiniz, yanına da en çok yakışan salatayı hazırlayacağınız bu nefis workshop için MSA’da yerinizi ayırın, pizza partilerinizi şimdiden planlamaya başlayın.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/pizzalar-ve-salatalar-1/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">9 Nisan Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">TÜKENDİ</a>
</div>

