﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>PIE’LAR VE TART’LAR</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="İtalyan Mutfağı 2">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/6417_2090_1_tr_imagegallery_MSA_Pielar_Tartlar_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>PIE’LAR VE TART’LAR</h2>
                    <p>Vazgeçilmez tartların en yaratıcı ve farklı yorumlarıyla tanışın. Tart ve pie hazırlamanın inceliklerini öğrenme vakti…</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">

    <p>Akşamüstü davetlerinin vazgeçilmezi tartların en yaratıcı ve farklı yorumlarını enfes reçetelerle öğretiyoruz; eşinizi, dostunuzu büyüleyeceğinizi garanti ediyoruz. “Pie ve Tart hamuru nasıl açılır, iç harç nasıl hazırlanır ve son olarak pişirme işleminin incelikleri nelerdir?” gibi sorularınız varsa kaçırmayın.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/Pie-Tart/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">15 Nisan Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY086/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

