﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>PIE’LAR VE TART’LAR</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>PIE’LAR VE TART’LAR</strong></h1>

    <p>Akşamüstü davetlerinin vazgeçilmezi tartların en yaratıcı ve farklı yorumlarını enfes reçetelerle öğretiyoruz; eşinizi, dostunuzu büyüleyeceğinizi garanti ediyoruz. “Pie ve Tart hamuru nasıl açılır, iç harç nasıl hazırlanır ve son olarak pişirme işleminin incelikleri nelerdir?” gibi sorularınız varsa kaçırmayın.</p>

</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Portakallı mereng pie</li>
        <li>Karamelize ananaslı tart</li>
        <li>Pırasalı ve mantarlı pie</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">15 Nisan Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY086/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">"Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz."</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Programlarımız en az 8 kişinin katılımı ile gerçekleşmektedir.</li>
        <li>17 yaşından küçükler etkinliğe alınmamaktadır. 17 yaş ve üzeri katılımcılar bilete tabidir.</li>
        <li>İstasyonlarda 2 kişi çalışılmaktadır.</li>
        <li>Alınan dersin iptali ve ders değişikliği yapılamamaktadır.</li>
        <li>MSA, dilediği zaman ve önceden hiçbir uyarı yayınlamaksızın, tüm bilgilerde değişiklik yapma hakkını saklı tutar.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/italyan-mutfagi-2-2">İtalyan Mutfağı 2</a></li>
            <li class=""><span>İtalyan Mutfağı 2 Detay</span></li>
        </ul>
    </div>
</div>