﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Pizzalar ve Salatalar</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>PİZZALAR VE SALATALAR</strong></h1>


    <p>En leziz pizzalar burada! Çevrede bir sürü pizzacı açılırken, kendi evinizin pizza ustası olmaya ne dersiniz? Pizzanın hamurundan sosuna en idealini öğreneceğiniz, yanına da en çok yakışan salatayı hazırlayacağınız bu nefis workshop için MSA’da yerinizi ayırın, pizza partilerinizi şimdiden planlamaya başlayın.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Pizza funghi, yaban mantarı ve taze mozzarella ile</li>
        <li>Pane keçi peynirli baby ıspanak ve roka salatası, balzamik vinaigrette ile</li>
        <li>Breasola pizza, roka ve parmesan dilimleri</li>
        <li>Rokfor soslu iceberg salata, kıtır ceviz ve yeşil elma ile</li>
        <li>Tatlı ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">9 Nisan Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">TÜKENDİ</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/pizzalar-ve-salatalar">Pizzalar ve Salatalar</a></li>
            <li class=""><span>Pizzalar ve Salatalar Detay</span></li>
        </ul>
    </div>
</div>

