﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Şaraba Eşlik Edenler</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>ŞARABA EŞLİK EDENLER</strong></h1>


    <p>Oğul Türkkan hakkında:<br />İngiltere’de Wine and Spirit Education Trust Advance Course, Londra’da Beer Academy Advance Course, ardından da Fransa’da Cordon Bleu ve Reims Üniversitesinin Lezzet, Gastronomi ve Masa Sanatları bölümünde Master yaptı. Hürriyet ve Radikal gazeteleri, La Cucina İtaliana ve GQ gibi dergilerde yazarlık yaptı. Halen GQ ve dergisinde La Cucina İtaliana içecekler konusunda yazmaya devam etmektedir. Yeme & İçme konularındaki faaliyetlerinden dolayı Fransa ve Şili devletleri tarafından madalya ile ödüllendirildi.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Somon füme ve Camembert’li kanepeler (İkram)</li>
        <li>Özel baharatlarla tatlandırılmış, şarapta pişmiş kuzu incik.</li>
        <li>Lezzet tabağı (özel şarküteri ürünleri, özel seçilmiş peynir çeşitleri, ekmek çeşitleri, taze meyve çeşitleri)</li>
        <li>Frambuazlı çikolata mousse (ikram)</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">13 Nisan Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">190 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY085/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshoplar</a></li>
            <li class=""><a href="/gunluk-workshoplar/saraba-eslik-edenler">Şaraba Eşlik Edenler</a></li>
            <li class=""><span>Şaraba Eşlik Edenler Detay</span></li>
        </ul>
    </div>
</div>
