﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<title>"Şaraba Eşlik Edenler</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/4996_2089_1_tr_imagegallery_saraba_eslikedenler_540x300-copy.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>ŞARABA EŞLİK EDENLER</h2>
                    <p>Temel şarap kategorileri ve şaraplara eşlik etmek üzere özenle seçilmiş yaratıcı lezzetlerle MSA’da buluşuyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Şaraba en yakışanlar…<br />Temel şarap kategorileri ve şaraplara eşlik etmek üzere özenle seçilmiş yaratıcı lezzetlerle MSA’ da buluşuyoruz.</p>
    <p>Dünyaca ünlü şarap eksperi Oğul Türkkan eşliğinde yapılacak bu workshoptan sonra artık hangi yemekle hangi şarabı seçmeniz gerektiğini, lezzetlerin şarap üzerindeki etkilerini ve karakterinize uygun şarapların hangileri olduğunu öğrenebileceksiniz. Chardonnay, Kalecik Karası, Boğazkere, Cabernet ve Misket gibi çeşitli üzümlerden üretilen şaraplar  hakkında bilgilere sahip olacaksınız. Üstelik kendi ellerinizle hazırlayacağınız ana yemek ve MSA’ nın ikramları ile mükemmel bir akşam geçireceksiniz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/saraba-eslik-edenler-1/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">13 Nisan Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">190 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY085/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>
