﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<title>Uzak Doğu Mutfağı</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/4177_2098_1_tr_imagegallery_uzakdogu_540x315.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>UZAKDOĞU MUTFAĞI</h2>
                    <p>Uzakdoğu’nun yöresel baharatları ve özel teknikleriyle nefis tarifler hazırlıyoruz. Uzakdoğu mutfağının en özel tarifleri…</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>MSA, dünya mutfaklarının en iyi tariflerini en özgün yöntemleriyle mutfağımıza taşımaya devam ediyor. Bu defa Doğu’nun uzak diyarlarına uzanıyor, yöresel baharatlar ve tekniklerle nefis tarifler hazırlıyoruz. Enfes kokular mutfaktan taşacak, hazırlayacağımız yemekler de damaklarımızı şenlendirecek.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/uzak-dogu-mutfagi-1/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">27 Nisan Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY094/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

