﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>VAZGEÇEMEDİKLERİMİZ 1</title>
<meta name="keywords" content="İtalyan Mutfağı">
<meta name="description" content="İtalyan Mutfağı 1">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/nisan/4865_2091_1_tr_imagegallery_Vazgecemediklerimiz_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>VAZGEÇEMEDİKLERİMİZ 1</h2>
                    <p>Bıkmadan sipariş ettiğimiz en keyifli yemekleri siz de hazırlayabilirsiniz. Vazgeçemediğimiz lezzetler bu Workshop’ta!</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Her café’ye gittiğimizde usanmadan aynı yemekleri sipariş ediyoruz. Peki, acaba bu yemekler nasıl hazırlanıyor, biliyor muyuz? Öğrenmek için MSA’ya geliyoruz ve MSA şefleri tarafından hazırlanan özgün reçetelerle ortaya harika bir menü çıkarıyoruz. Evimizde dilediğimiz kadar tekrar ediyor ve gönülleri fethediyoruz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/italyan-mutfagi-3/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">16 Nisan Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY087/TURKIYE/tr" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

