﻿
<!DOCTYPE html>
<!--[if IE 6]><html class="ie ie6" lang="tr"> <![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="tr"> <![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="tr"> <![endif]-->
<!--[if IE 9]><html class="ie ie9" lang="tr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="tr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/images/favicons/opengraph.png">

    <!--Detail: https://dev.twitter.com/cards/types/summary-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="/assets/images/favicons/touch-icon-120x120.png">

    <link rel="icon" href="/assets/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/favicons/touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/touch-icon-152x152.png">

    <meta name="google-site-verification" content="">
    <meta name="msvalidate.01" content="">
    <link href="https://plus.google.com/b/1/1" rel="publisher">

    <!--Stylesheets-->
    <link rel="stylesheet" href="/assets/js/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!--Js-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/assets/js/jquery.inputmask.js"></script>
    <script src="/assets/js/jquery.inputmask.regex.extensions.js"></script>
    <script src="/assets/js/jquery.inputmask.numeric.extensions.js"></script>
    <script src="/assets/js/jquery.inputmask.date.extensions.js"></script>
    <script src="/assets/js/jquery.bxslider.js"></script>
    <script src="/assets/js/jquery.cookie.js"></script>
    <script src="/assets/js/iscroll.js"></script>
    <script src="/assets/js/moment.js"></script>
    <!--<script src="/assets/js/jquery.tap.min.js"></script>-->
    <script src="/assets/js/jquery.touchSwipe.min.js"></script>
    <script src="/assets/js/readmore.min.js"></script>

    <script src="/assets/js/functions.js"></script>
    <script src="/assets/js/calendar.js"></script>
    <!--[if lt IE 9]>
        <!--<script src="/assets/js/respond.js"></script>-->
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/selectivizr-min.js"></script>
    <![endif]-->
    <script>
        /*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-00000000-0', 'auto');
        ga('send', 'pageview');*/
    </script>
</head>
<body>

    <div class="links-module">
        <ul>
            <li><a href="/" target="_blank">Anasayfa</a></li>
            <li><a href="Basvuru" target="_blank">Başvuru Formu</a></li>
            <li><a href="Egitim-Kadrosu" target="_blank">Eğitim Kadrosu</a></li>
            <li><a href="Etkinlik-Takvimi" target="_blank">Etkinlik Takvimi</a></li>
            <li><a href="Etkinlik-Takvimi-Liste" target="_blank">Etkinlik Takvimi (Liste)</a></li>
            <li><a href="Hakkimizda" target="_blank">Hakkımızda</a></li>
            <li><a href="Iletisim" target="_blank">İletişim</a></li>
            <li><a href="Iletisim-Formu" target="_blank">İletişim Formu</a></li>
            <li><a href="Kampus" target="_blank">Kampüs</a></li>
            <li><a href="Program" target="_blank">Program</a></li>
            <li><a href="Program-Ders-Konulari" target="_blank">Program (Ders Konuları)</a></li>
            <li><a href="Program-Detay" target="_blank">Program (Detay)</a></li>
            <li><a href="Program-SS" target="_blank">Program (SSS)</a></li>
            <li><a href="Program-Ucretler" target="_blank">Program (Ücretler)</a></li>
            <li><a href="Arama-Sonuclari" target="_blank">Arama Sonuçları</a></li>
            <li><a href="Workshop" target="_blank">Workshop</a></li>
            <li><a href="Workshop-2" target="_blank">Workshop 2</a></li>
            <li><a href="Egitimler" target="_blank">Eğitimler</a></li>
            <li><a href="Akademik-Takvim" target="_blank">Akademik Takvim</a></li>
        </ul>
    </div>

</body>
</html>