﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<title>"Parizyen Tatlılar</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/parizyen-tatlilar.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Parizyen Tatlılar</h2>
                    <p>En leziz Fransız tatlıları için acele edin.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Fransız’ların en özgün tatlı tarifleri MSA şeflerinin yorumlarıyla MSA’da.<br />Fransız tatlılarını kim sevmez? Lezzeti dünyaca kabul edilmiş, sunumları birbiriyle yarışan bu tatlıları tam da Fransızlar gibi en özgün halleri ile MSA mutfağına taşıdık. Meraklıları ile paylaşmaya hazırız.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/parizyen-tatlilar/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">14 Ocak &#199;arşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

