﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Pasta, B&#246;rek, &#199;&#246;rek</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Pasta, B&#246;rek, &#199;&#246;rek</strong></h1>


    <p>“Evinizde vereceğiniz davetlerinizde misafirlerinizi daha ne kadar şımartmak istersiniz” diye düşündük. Kıtalar arası lezzetlerden en seçkinlerini bir araya getirdik. Eşinizi dostunuzu kolunuza takıp gelin.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Tarçınlı rulo çörek</li>
        <li>Ispanaklı, keçi peynirli sufle börek</li>
        <li>Muzlu alt-üst kek</li>
        <li>Hindi füme ve cheddar peynirli kiş</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">18 Mart Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY060/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/pasta-borek-corek">Pasta, B&#246;rek, &#199;&#246;rek</a></li>
            <li class=""><span>Pasta, B&#246;rek, &#199;&#246;rek Detay</span></li>
        </ul>
    </div>
</div>