﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Pasta, Börek, Çörek</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/pasta_borek_corek_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Pasta, Börek, Çörek</h2>
                    <p>Fırından mis gibi kokular çıkan Workshop</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>“Evinizde vereceğiniz davetlerinizde misafirlerinizi daha ne kadar şımartmak istersiniz” diye düşündük. Kıtalar arası lezzetlerden en seçkinlerini bir araya getirdik. Eşinizi dostunuzu kolunuza takıp gelin.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/pasta-borek-corek/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">18 Mart Çarşamba</div>
    <div class="time">10.00 - 14.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY060/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>
