﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Pizzalar ve Salatalar</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Pizzalar ve Salatalar</strong></h1>


    <p>MSA’nın akıllara zarar lezzet kombini yeni yıla da damgasını vuruyor. Bu pizzaların hamurundan sosuna siz sorumlusunuz, salatanın en alası da sizden sorulur; tabii ki bu mutfakta MSA eğitmen şefleri her adımda ipuçlarıyla yanı başınızda! Size de keyfine varmak kalıyor...</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Köz patlıcan ve kırmızı biberli, bonfile dilimli pizza </li>
        <li>Rokfor soslu iceberg salata, kıtır ceviz ve yeşil elma ile</li>
        <li>Pizza margherita, roka ve traş parmesan ile</li>
        <li>Keçi peynirli baby ıspanak salatası, balzamik vinaigrette ile </li>
        <li>Tatlı ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">17 Ocak Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/pizzalar-ve-salatalar">Pizzalar ve Salatalar</a></li>
            <li class=""><span>Pizzalar ve Salatalar Detay</span></li>
        </ul>
    </div>
</div>

