﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<title>"Pizzalar ve Salatalar</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/pizzalar-ve-salatalar.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Pizzalar ve Salatalar</h2>
                    <p>En güzel pizzayı yemek için İtalya’ya gitmenize gerek kalmadı. Sofraların vazgeçilmezi salataları da unutmadık.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>MSA’nın akıllara zarar lezzet kombini yeni yıla da damgasını vuruyor. Bu pizzaların hamurundan sosuna siz sorumlusunuz, salatanın en alası da sizden sorulur; tabii ki bu mutfakta MSA eğitmen şefleri her adımda ipuçlarıyla yanı başınızda! Size de keyfine varmak kalıyor...</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/pizzalar-ve-salatalar/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">17 Ocak Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

