﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"Profesyonel Barmenlik ve Miksoloji</title>
<meta name="keywords" content="">
<meta name="description" content="">


<div class="paragraph">

    <h1><strong>Ders Programı</strong></h1>
    <p></p>

</div>

<div class="haftalik-program">
    <ul>
        <li>
            <div class="week-title">Bar Tanımı</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Meslek standartı nedir</p>
                <p>Barman ve barmaid tanımı</p>
                <p>İşyeri çalışma prosedürleri bilgisi</p>
                <p>Öğrenme yeteneği</p>
                <p>Satış teknikleri bilgisi</p>
                <p>Bar çeşitleri</p>

            </div>
        </li>
        <li>
            <div class="week-title">Ara&#231; ve Gere&#231;ler</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Barda hijyen</p>
                <p>Bar küçük malzemeleri (Shaker'lar, karıştırıcılar, süzgeçler, blender'lar ve mikser'ler)</p>
                <p>Bar için gerekli bardaklar süslemeler ve garnitürler</p>
                <p>Bar ekipmanları</p>
                <p>Bar organisazyonu ve çalışma teknikleri</p>

            </div>
        </li>
        <li>
            <div class="week-title">D&#252;nyadaki Belli Başlı İ&#231;ki Grupları ve Uygulamaları</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Viskiler (İskoç, İrlanda, Amerikan, Kanada ve Japon)</p>
                <p>Votkalar (Polonya, Rus ve diğer)</p>
                <p>Grappalar</p>
                <p>Cinler</p>
                <p>Romlar (Açık ve Koyu Renk)</p>
                <p>Tekilalar (Açık ve Koyu Renk)</p>
                <p>Brendiler (Konyak, Armanyak vb.)</p>
                <p>Biralar</p>
                <p>Likörler (Meyve ve diğerleri)</p>
                <p>Rakılar (Rakı, Uzo, Arak ve diğerleri)</p>
                <p>Aperatifler</p>
                <p>Dijestifler</p>
                <p>Vermutlar, Şaraplar ve Şarap Kokteylleri</p>
                <p>Dünyanın Belli Başlı Şarapçılık Bölgeleri ve Şarapları</p>
                <p>Alkolsüz Kokteyller</p>
                <p>Alkollü Kokteyller</p>
                <p>Alkollü Kahveler</p>

            </div>
        </li>
        <li>
            <div class="week-title">Sofra D&#252;zeni ve Uygulamaları</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Klasik Sofra Düzeni</p>
                <p>Klasik Sofra Düzenlerken Kullanılan Tabak, Bardak Takımları, Kuverler ve Aksesuarlar, Masa Örtüleri ve Peçeteler</p>
                <p>Servis Teknikleri ve Serviste Görgü Kuralları</p>
                <p>Takım Halinde Çalışma</p>
                <p>Sofranın Toplanması</p>
                <p>Kişisel Hijyen ve Görünüş, Üniforma</p>
                <p>Genel Uygulamalar</p>

            </div>
        </li>
    </ul>



</div>

<div class="text-center add-top add-bottom">
    <a href="/basvuru-formu" class="button x3">Başvuru Formu</a>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji">Profesyonel Barmenlik ve Miksoloji</a></li>
            <li class=""><span>Ders Programı</span></li>
        </ul>
    </div>
</div>
