﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"Profesyonel Aş&#231;ılık</title>
<meta name="keywords" content="">
<meta name="description" content="">


<div class="paragraph">

    <h1><strong>Ders Programı</strong></h1>
    <p>Mutfakta en iyiye ulaşmak üzerine profesyonel eğitimciler tarafından hazırlanan pratik ağırlıklı Profesyonel Aşçılık Eğitimi ders programı, teorik ve pratik sınavları, proje ödevlerini ve birebir uygulamaları içerir. Ayrıca MSA'ya gelen dünyaca ünlü konuk executive chefler öğrencilerimize özel demo etkinlikler hazırlar; yeni trend ve teknikler konusunda birebir eğitim verir.</p>

</div>

<div class="haftalik-program">
    <ul>
        <li>
            <div class="week-title">01. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Gıda Güvenliği</p>
                <p>İş Güvenliği</p>
                <p>Maliyet Hesaplama </p>
                <p>Tabak Sunumu</p>
                <p>Mutfak Ekipmanları</p>
				<p>Menü Planlama</p>
				<p>Beslenme</p>
				<p>Satın Alma</p>
            </div>
        </li>
        <li>
            <div class="week-title">02. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Bıçak Kullanımı ve Kesim Teknikleri</p>
                <p>Kemik Suları I</p>
                <p>Kemik Suları II</p>
                <p>Bağlayıcılar</p>

            </div>
        </li>
        <li>
            <div class="week-title">03. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Temel Soslar I</p>
                <p>Temel Soslar II</p>
                <p>Emülsiyon Soslar I</p>
                <p>Emülsiyon Soslar II</p>

            </div>
        </li>
        <li>
            <div class="week-title">04. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Çorbalar</p>
                <p>Yumurtalar</p>
                <p>Sandviçler</p>
                <p>Pratik Sınav I</p>

            </div>
        </li>
        <li>
            <div class="week-title">05. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Et Kesim Teknikleri I</p>
                <p>Et Kesim Teknikleri II</p>
                <p>Pastacılık I</p>

            </div>
        </li>
        <li>
            <div class="week-title">06. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Salatalar ve Sosları</p>
                <p>Sote Tekniği I</p>
                <p>Sote Tekniği II</p>
                <p>Pratik Sınav II</p>

            </div>
        </li>
        <li>
            <div class="week-title">07. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Rosto Tekniği I</p>
                <p>Rosto Tekniği II</p>
                <p>Izgara Tekniği</p>
                <p>Pratik Sınav III</p>

            </div>
        </li>
        <li>
            <div class="week-title">08. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Workta Pişirme Tekniği</p>
                <p>Kümes Hayvanları</p>
                <p>Derin Yağda Kızartma Tekniği</p>
                <p>Klasik Türk Mutfağı I</p>
                <p>Pratik Sınav IV</p>

            </div>
        </li>
        <li>
            <div class="week-title">09. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Deniz Mahsulleri I</p>
                <p>Deniz Mahsulleri II</p>
                <p>Az Yağda Kızartma Tekniği</p>
                <p>Klasik Türk Mutfağı II</p>

            </div>
        </li>
        <li>
            <div class="week-title">10. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Fırında Pişirme Tekniği</p>
                <p>Kaynatma Tekniği</p>
                <p>Poşe Tekniği</p>
                <p>Pratik Sınav V</p>

            </div>
        </li>
        <li>
            <div class="week-title">11. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Breze Tekniği</p>
                <p>Sebze ve Baklagiller</p>
                <p>Klasik Türk Mutfağı III</p>

            </div>
        </li>
        <li>
            <div class="week-title">12. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Sakatat ve Av Hayvanları</p>
                <p>Makarnalar I</p>
                <p>Makarnalar II</p>
                <p>Pratik Sınav VI</p>

            </div>
        </li>
        <li>
            <div class="week-title">13. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Yahni Tekniği</p>
                <p>Pirinç ve Türevleri</p>
                <p>Klasik Türk Mutfağı II</p>
                <p>Pratik Sınav IV</p>

            </div>
        </li>
        <li>
            <div class="week-title">14. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Klasik Türk Mutfağı V</p>
                <p>Buharda Pişirme Tekniği</p>
                <p>Pastacılık II</p>
                <p>Ekmekçilik</p>

            </div>
        </li>
        <li>
            <div class="week-title">15. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Soğuk Mutfak</p>
                <p>Klasik Türk Mutfağı VI</p>
                <p>Klasik Türk Mutfağı VII</p>
                <p>Vejetaryen Mutfağı </p>

            </div>
        </li>
        <li>
            <div class="week-title">16. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Klasik Türk Mutfağı VIII</p>
                <p>Pratik sınav VII</p>
                <p>Demo dersleri</p>

            </div>
        </li>
    </ul>



</div>
<div class="paragraph">
<p>* HACCP, Haşere Eğitimi, Zorunlu Hijyen Eğitimi ve Kariyer Dersi gibi eğitimler verilebilecektir.</p>
</div>
<div class="text-center add-top add-bottom">
    <a href="/basvuru-formu" class="button x3">Başvuru Formu</a>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/profesyonel-ascilik">Profesyonel Aş&#231;ılık</a></li>
            <li class=""><span>Ders Programı</span></li>
        </ul>
    </div>
</div>

