﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<title>"Profesyonel Barmenlik ve Miksoloji</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/profesyonel-egitimler.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Profesyonel Barmenlik ve Miksoloji</h2>
                    <p></p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>

<div class="paragraph short">



    <p>Barmenlik ve Miksoloji Eğitimi, bar ve servis eğitimi konusunda uzmanlaşmış personel ihtiyacının karşılanması amacıyla hazırlanmış bir sertifika programıdır. Program, profesyonel barmenliği öğrenmek isteyen adaylar ve halen sektörde çalışan fakat bu mesleğe ilişkin temel bir eğitim almamış kişilere yöneliktir. Teorik ve bar uygulamalı derslerden oluşan eğitimlerde öğrenciler, konularında uzman eğitmenler tarafından verilen bar organizasyonu, bar ekipmanları ve kullanımı, hijyen, içki grupları, kokteyl tarifleri dersleri ile barmenlik mesleğine dair detaylı bilgileri alırlar; mesleğin keyifli ve yaratıcılığa açık yönü hakkında kendini geliştirme şansını yakalarlar. Barmenlik ve Miksoloji Eğitimi programı, haftada 2 gün olmak üzere toplam 8 haftalık bir zaman diliminde tamamlanır. Program sonunda öğrenciler EuroPass geçerliliği ile dünyanın her yerinde çalışma imkanı sağlayan City & Guilds Barmenlik & Miksoloji ve T.C. Milli Eğitim Bakanlığı onaylı sertifikaya sahibi olurlar.</p>

</div>

<div class="links-module">
    <ul>
        <li><a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji/detay">Program Hakkında Detaylı Bilgi</a></li>
        <li><a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji/ucret">Ücret ve Kredi İmkanları</a></li>
        <li><a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji/donemler">Dönemler ve Eğitim Süresi</a></li>
        <li><a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji/ders-programi">Ders Programı</a></li>
        <li><a href="/sikca-sorulan-sorular#Profesyonel Barmenlik ve Miksoloji">Sıkça Sorulanlar</a></li>
    </ul>
</div>

<div class="text-center add-top add-bottom">
    <a href="/basvuru" class="button x3">Başvuru Formu</a>
</div>

<div class="slider-module text-center" id="profesyonelEgitimler">

    <h1><strong>Bunlar da ilginizi çekebilir</strong></h1>
    <p>Mutfağı profesyonel iş alanı olarak gören ve kariyer hedefi dünya mutfaklarında sayılı isimler arasında yer almak olan herkesi, uluslararası eğitim standartlarıyla buluşturuyoruz.</p>
    <ul>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/uzun-donem-profesyonel-ascilik">
                    <div class="image"><img src="/ui/images/files/uzun-donem-profesyonel-ascilik.jpg"></div>
                    <div class="text-title">Uzun Dönem Profesyonel Aşçılık</div>
                </a>
                <a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik">
                    <div class="image"><img src="/ui/images/files/uzun-donem-profesyonel-pasta-ve-ekmekcilik.jpg"></div>
                    <div class="text-title">Uzun Dönem Profesyonel Pasta ve Ekmekçilik</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/profesyonel-ascilik">
                    <div class="image"><img src="/ui/images/files/profesyonel-ascilik.jpg"></div>
                    <div class="text-title">Profesyonel Aşcılık</div>
                </a>
                <a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik">
                    <div class="image"><img src="/ui/images/files/stajsiz-profesyonel-ascilik.jpg"></div>
                    <div class="text-title">Stajsız Profesyonel Aşçılık</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/profesyonel-pasta-ve-ekmekcilik">
                    <div class="image"><img src="/ui/images/files/profesyonel-pasta-ve-ekmekcilik.jpg"></div>
                    <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                </a>
                <a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik">
                    <div class="image"><img src="/ui/images/files/stajsiz-profesyonel-pasta-ve-ekmekcilik.jpg"></div>
                    <div class="text-title">Stajsız Profesyonel Pasta ve Ekmekçilik</div>
                </a>
            </div>
        </li>


        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/chef-and-owner">
                    <div class="image"><img src="/ui/images/files/chef-owner.jpg"></div>
                    <div class="text-title">Chef & Owner</div>
                </a>
                <a href="/profesyonel-egitimler/prochef">
                    <div class="image"><img src="/ui/images/files/prochef.jpg"></div>
                    <div class="text-title">Prochef</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi">
                    <div class="image"><img src="/ui/images/files/yiyecek-icecek-isletmeciligi.jpg"></div>
                    <div class="text-title">Yiyecek İçecek İşletmeciliği</div>
                </a>
                <a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji">
                    <div class="image"><img src="/ui/images/files/profesyonel-barmenlik-ve-miksoloji.jpg"></div>
                    <div class="text-title">Profesyonel Barmenlik ve Miksoloji</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/ileri-seviye-uluslararasi-diplomali-turk-mutfagi-egitimi">
                    <div class="image"><img src="/ui/images/files/ileri-seviye-uluslararasi-diplomali-turk-mutfagi-egitimi.jpg"></div>
                    <div class="text-title">İleri Seviye Uluslararası Diplomalı Türk Mutfağı Eğitimi</div>
                </a>
            </div>
        </li>
    </ul>

    <a href="/profesyonel-egitimler" class="button arrow bordered add-top">Tüm Profesyonel Eğitimler</a>

</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><span>Profesyonel Barmenlik ve Miksoloji</span></li>
        </ul>
    </div>
</div>
