﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/profesyonel-egitimler.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Profesyonel Eğitimler</h2>
                    <p>Mutfağı profesyonel iş alanı olarak gören ve dünyanın önde gelen işletmelerinin mutfaklarında çalışma hedefi olan herkesi, uluslararası eğitim standartlarıyla buluşturuyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">
    <p>Mutfağı profesyonel iş alanı olarak gören ve kariyer hedefi dünya mutfaklarında sayılı isimler arasında yer almak olan herkesi, uluslararası eğitim standartlarıyla buluşturuyoruz.</p>
</div>

<div class="slider-module list text-center">
    <ul>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/uzun-donem-profesyonel-ascilik">
                    <div class="image"><img src="/ui/images/files/uzun-donem-profesyonel-ascilik.jpg"></div>
                    <div class="text-title">Uzun Dönem Profesyonel Aşçılık</div>
                </a>
                <a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik">
                    <div class="image"><img src="/ui/images/files/uzun-donem-profesyonel-pasta-ve-ekmekcilik.jpg"></div>
                    <div class="text-title">Uzun Dönem Profesyonel Pasta ve Ekmekçilik</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/profesyonel-ascilik">
                    <div class="image"><img src="/ui/images/files/profesyonel-ascilik.jpg"></div>
                    <div class="text-title">Profesyonel Aşcılık</div>
                </a>
                <a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik">
                    <div class="image"><img src="/uploads/stajsiz_ascilik_thumbnail.jpg"></div>
                    <div class="text-title">Stajsız Profesyonel Aşçılık</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/profesyonel-pasta-ve-ekmekcilik">
                    <div class="image"><img src="/ui/images/files/profesyonel-pasta-ve-ekmekcilik.jpg"></div>
                    <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                </a>
                <a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik">
                    <div class="image"><img src="/ui/images/files/stajsiz-profesyonel-pasta-ve-ekmekcilik.jpg"></div>
                    <div class="text-title">Stajsız Profesyonel Pasta ve Ekmekçilik</div>
                </a>
            </div>
        </li>


        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/chef-and-owner">
                    <div class="image"><img src="/ui/images/files/chef-owner.jpg"></div>
                    <div class="text-title">Chef & Owner</div>
                </a>
                <a href="/profesyonel-egitimler/prochef">
                    <div class="image"><img src="/ui/images/files/prochef.jpg"></div>
                    <div class="text-title">Prochef</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi">
                    <div class="image"><img src="/Uploads/yiyecek_icecek_isletme_thumbnail.jpg"></div>
                    <div class="text-title">Yiyecek İçecek İşletmeciliği</div>
                </a>
                <a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji">
                    <div class="image"><img src="/ui/images/files/profesyonel-barmenlik-ve-miksoloji.jpg"></div>
                    <div class="text-title">Profesyonel Barmenlik ve Miksoloji</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/ileri-seviye-uluslararasi-diplomali-turk-mutfagi-egitimi">
                    <div class="image"><img src="/ui/images/files/ileri-seviye-uluslararasi-diplomali-turk-mutfagi-egitimi.jpg"></div>
                    <div class="text-title">İleri Seviye Uluslararası Diplomalı Türk Mutfağı Eğitimi</div>
                </a>
            </div>
        </li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><span>Profesyonel Eğitimler</span></li>
        </ul>
    </div>
</div>

