﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Profesyonel Barmenlik ve Miksoloji</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="paragraph">
    <h1><strong>Dönemler ve Eğitim Süresi</strong></h1>
</div>

<div class="gray text-module">
    <div class="prices text-center add-border-top add-padding-top">

        <h4>Uluslararası Profesyonel Barmenlik ve Miksoloji*</h4>
        <p class="large half-bottom"><strong>3.850 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)<br /><b><i>*Bu eğitimde +18 yaş sınırı uygulaması vardır.</i></b></p>

    </div>

    <div class="prices add-border-top add-padding-top">

        <h4><strong>Eğitim S&#252;resi</strong></h4>
        <p>8 hafta teori-uygulama.</p>

    </div>
</div>

<div class="akademikTakvim">
	<h3>Nisan</h3>
    <ul>
        <li>
            <h5 class="half-bottom">4 Nisan 2015</h5>
            <h4 class="normal">Cumartesi-Pazar 12:00 - 15:00 </h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
    </ul>

    <div class="clear"></div>

</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji">Profesyonel Barmenlik ve Miksoloji</a></li>
            <li class=""><span>Profesyonel Barmenlik ve Miksoloji</span></li>
        </ul>
    </div>
</div>

