﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="paragraph">

            <h1><strong>Uzun Dönem Profesyonel Aşçılık Ders Konuları</strong></h1>

            <p>Mutfakta en iyiye ulaşmak üzerine profesyonel eğitimciler tarafından hazırlanan pratik ağırlıklı Uzun Dönem Profesyonel Aşçılık Eğitimi ders programı, teorik ve pratik sınavları, proje ödevlerini ve birebir restoran uygulamaları içerir. Ayrıca MSA'ya gelen dünyaca ünlü konuk executive chefler öğrencilerimize özel demo etkinlikler hazırlar; yeni trend ve teknikler konusunda birebir eğitim verir.</p>
        </div>

        <div class="haftalik-program">
            <ul>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
                <li>
                    <div class="week-title">İlk 4 Ay</div>
                    <div class="clear"></div>
                    <div class="week-detail-title">01. Hafta</div>
                    <div class="week-details">
                        <p>Gıda Güvenliği ve İş Güvenliği</p>
                        <p>Maliyet Hesaplama, Tabak Sunumu</p>
                        <p>Mutfak Ekipmanları, Menü Planlama</p>
                        <p>Beslenme ve Satın Alma</p>
                        <p>Yemek Tarihi</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="text-center add-top add-bottom">
            <a href="#" class="button x3">Başvuru Formu</a>
        </div>

        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="#">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>

