﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="paragraph">

            <h1>
                <strong>
                    Uzun Dönem Uluslararası
                    Profesyonel Aşçılık
                    Diploma Programı
                </strong>
            </h1>

            <p>Uzun Dönem Uluslararası Profesyonel Aşçılık programı, dörder ay süreli 3 eğitim kademesinden oluşan, sürekli gelişim ve ileri seviye beceri kazanımını hedefleyen uzun dönemli bir meslek eğitimidir. Toplam 12 ay süren bu eğitim,18-30 yaş arası adaylara ileri seviye mutfak becerisi kazandırmaya yönelik tasarlanmıştır.</p>

            <p>Eğitimin ilk 4 ayı MSA'nın profesyonel mutfaklarında pratik temel eğitim olarak gerçekleşir. Öğrenciler, ikinci 4 ayı ise MSA tarafından yerleştirdikleri lokasyonda mecburi stajlarını yaparak tamamlar.</p>

            <p>Staj tamamlandıktan sonra okula dönen öğrenciler son 4 ayı ileri seviye eğitimler ile gerçek müşteriye hizmet veren Okulun Mutfağı restoranında el becerisini pekiştirmeye yönelik dersler, mutfak yönetimi, restoran servis standartları gibi eğitimlerle sektöre hazırlanma dönemi olarak geçirirler.</p>

            <p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programını başarıyla tamamlayan öğrenciler, profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olurlar. Programı başarıyla bitiren öğrenciler City & Guilds Uluslararası Uzun Dönem Profesyonel Aşçılık (Advanced Diploma in Culinary Arts) Diploması ile mezun olurlar.</p>
        </div>

        <div class="workshop-detail">
            <div class="video-wrapper">
                <video width="100%" poster="/assets/images/files/preview.jpg" id="msaHakkinda">
                    <source src=http://techslides.com/demos/sample-videos/small.webm type=video/webm>
                    <source src=http://techslides.com/demos/sample-videos/small.ogv type=video/ogg>
                    <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
                    <source src=http://techslides.com/demos/sample-videos/small.3gp type=video/3gp>
                </video>
            </div>
            <a href="#" class="button arrow nobg add-top center">MSA Hakkında daha fazla bilgi alın</a>
        </div>

        <div class="testimonials text-module text-center">
            <h2><strong>MSA mezunları hangi diploma ve sertifikalara sahip oluyor?</strong></h2>
            <p><em>"Mutfağı profesyonel iş alanı olarak gören ve kariyer hedefi dünya mutfaklarında sayılı isimler arasında yer almak olan herkesi, uluslararası eğitim standartlarıyla buluşturuyoruz."</em></p>

            <div class="testimonial-detail text-left">
                <div class="text avenir">
                    <p>
                        <strong>Pamela Rabone</strong><br>
                        City & Guilds<br>
                        Uluslararası Eğitim Denetmeni
                    </p>
                </div>
                <div class="logo"><img src="/assets/images/files/logo.jpg" alt=""></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

        </div>

        <div class="accordion-module collapse-all">

            <h3>City & Guilds</h3>
            <div><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p></div>

            <h3>HACCP sertifikası</h3>
            <div><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p></div>

            <h3>Uluslararası Johnson & Wales Diplomasına İlk Adım</h3>
            <div><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p></div>

            <h3>Staj</h3>
            <div><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p></div>

            <h3>Alma La Scuola Internazionale di Cucina Italiana</h3>
            <div><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p></div>


        </div>

        <div class="text-center add-top add-bottom">
            <a href="#" class="button x3">Başvuru Formu</a>
        </div>

        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="#">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>
