﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="paragraph">
            <h1><strong>Uzun Dönem Profesyonel Aşçılık Ücret ve Kredi İmkanları</strong></h1>
        </div>

        <div class="accordion-module collapse-all">

            <h3>Eğitim Ücretleri</h3>
            <div>
                <div class="prices text-center">
                    <h4>Uzun Dönem Profesyonel Aşçılık Eğitimi</h4>
                    <p class="large half-bottom"><strong>25.800 TL</strong></p>
                    <p>(Eğitim seti ve KDV dahil)</p>
                </div>
                <div class="prices text-center add-border-top add-padding-top">
                    <h4>Chef & Owner (Uzun Dönem Profesyonel Aşçılık Eğitimi & İşletmecilik)</h4>
                    <p class="large half-bottom"><strong>25.800 TL</strong></p>
                    <p>(Eğitim seti ve KDV dahil)</p>
                </div>
                <div class="prices add-border-top add-padding-top">
                    <h4>Sınav Ücretleri</h4>
                    <p>Uzun Dönem Profesyonel Aşçılık öğrencileri için City&Guilds sınavı ücreti <strong>90 sterlin</strong>’dir.</p>
                    <p class="avenir"><strong>Hesap Bilgileri :</strong></p>
                    <p>STR TR30 0004 6006 4500 3000 1142 28</p>
                </div>
                <div class="prices add-border-top add-padding-top">
                    <h4>Eğitim Boyunca Kullanılacak Malzemeler</h4>
                    <p>Öğrenciler MSA'daki eğitimleri boyunca okulun malzeme ve üniformasını kullanmak zorundadır. Bu malzeme seti okuldan temin edilmektedir.</p>
                </div>
            </div>

            <h3>Ödeme Seçenekleri</h3>
            <div>
                <div class="prices">
                    <h4>Kredi İmkanları</h4>
                    <p><strong>Tekstilbank, ING Bank, Akbank</strong> ve <strong>TEB</strong> işbirliği ile MSA öğrencilerine özel geliştirdiğimiz mesleki eğitim kredisi imkanlarından yararlanın.</p>
                </div>
                <div class="prices add-border-top add-padding-top">
                    <h4>Kredi Kartı</h4>
                    <p>Detaylı bilgi almak için <strong>0212 290 35 50 (0212 444 9 MSA)</strong> numaralı telefondan <strong>3</strong>'ü tuşlayabilirsiniz.</p>
                </div>
                <div class="prices add-border-top add-padding-top">
                    <h4>Nakit</h4>
                    <p>Eğitim programlarımıza katılım ücretini nakit ödemeyi tercih ediyor iseniz, bankaların <strong>hesap</strong> ve <strong>IBAN</strong> numaralarını yanda bulabilirsiniz.</p>
                </div>
            </div>

            <h3>Hesap Numaralarımız</h3>
            <div>
                <div class="prices">
                    <h4>TL Hesaplar</h4>
                    <p>
                        <strong>Akbank, Maslak Şubesi</strong><br>
                        TL TR60 0004 6006 4588 8000 0641 01
                    </p>

                    <p>
                        <strong>Garanti, Maslak Şubesi</strong><br>
                        TL TR 80 0006 2000 3420 0006 2975 27
                    </p>
                </div>
                <div class="prices add-border-top add-padding-top">
                    <h4>Dövizli Hesaplar</h4>
                    <p>
                        <strong>Akbank, Maslak Şubesi</strong><br>
                        EUR TR63 0004 6006 4503 6000 1161 01<br>
                        STR TR30 0004 6006 4500 3000 1142 28
                    </p>
                </div>
            </div>

            <h3>Kredi İmkanları</h3>
            <div>
                <div class="prices">
                    <div class="image x1 center add-bottom"><img src="/assets/images/files/banka-logo-01.jpg" alt=""></div>
                    <h4>Eylül 2014 MSA Öğrencilerine Özel..</h4>
                    <p>Tekstilbank, MSA öğrecilerine özel aylık %1.10 faiz oranı ile, dosya masrafsız, dilerseniz 1 yılı ödemesiz ve 1 yılın sonunda 24 aya varan taksit imkanı ile özel bir eğitim kredisi sunuyor.</p>
                </div>
                <div class="prices add-border-top add-padding-top">
                    <h4>
                        TEKSTİLBANK, MSA Eğitim Kredisi
                        Özel Başvuru Numarası;
                    </h4>
                    <p>
                        <strong>0216 411 14 90</strong><br>
                        Ebru Ergül Dahili <strong>1700</strong><br>
                        Sibel Karakoç Dahili <strong>1701</strong>
                    </p>
                </div>
            </div>


        </div>

        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>
