﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="homepage-slider cover">
            <ul>
                <li style="background-image:url('/assets/images/slideshow/02.jpg');"><div class="slide"><div class="slide-content"><h2>Uzun Dönem Profesyonel Aşçılık</h2><p>Güncel uygulamaları ileri seviye yönetim becerileri ile birleştiren tam donanımlı bir eğitim programı.</p></div></div></li>
            </ul>
            <div class="icon arrow-down"></div>
        </div>

        <div class="paragraph short">
            <p>Uzun Dönem Uluslararası Profesyonel Aşçılık programı, hızla gelişen yiyecek içecek sektörüne kalifiye ve donanımlı şef adayları kazandırmayı amaçlıyor. Türkiye’nin lider profesyonel aşçılık okulu olan MSA yine bir ilki gerçekleştiriyor, bu programdan mezun olan öğrencilerde teknik bilgi ve becerileri bir üst seviyeye çıkartıyor, çıtayı bir kademe daha yükseltiyor.</p>

            <p>Uzun Dönem Uluslararası Profesyonel Aşçılık programı, hızla gelişen yiyecek içecek sektörüne kalifiye ve donanımlı şef adayları kazandırmayı amaçlıyor. Türkiye’nin lider profesyonel aşçılık okulu olan MSA yine bir ilki gerçekleştiriyor, bu programdan mezun olan öğrencilerde teknik bilgi ve becerileri bir üst seviyeye çıkartıyor, çıtayı bir kademe daha yükseltiyor.</p>
        </div>

        <div class="links-module">
            <ul>
                <li><a href="#">Program Hakkında Detaylı Bilgi</a></li>
                <li><a href="#">Ücret ve Kredi İmkanları</a></li>
                <li><a href="#">Dönemler ve Eğitim Süresi</a></li>
                <li><a href="#">Ders Programı</a></li>
                <li><a href="#">Sıkça Sorulanlar</a></li>
            </ul>
        </div>

        <div class="text-center add-top add-bottom">
            <a href="#" class="button x3">Başvuru Formu</a>
        </div>

        <div class="slider-module text-center" id="profesyonelEgitimler">

            <h1><strong>Bunlar da ilginizi çekebilir</strong></h1>
            <p>Mutfağı profesyonel iş alanı olarak gören ve kariyer hedefi dünya mutfaklarında sayılı isimler arasında yer almak olan herkesi, uluslararası eğitim standartlarıyla buluşturuyoruz.</p>

            <ul>
                <li>
                    <div class="slide">
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Aşcılık</div>
                        </a>
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Aşcılık</div>
                        </a>
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Aşcılık</div>
                        </a>
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                        </a>
                    </div>
                </li>
            </ul>

            <a href="/profesyonel-egitimler" class="button arrow bordered add-top">Tüm Profesyonel Eğitimler</a>

        </div>

        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="#">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>
