﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="paragraph">

            <h1><strong>Sıkça Sorulan Sorular</strong></h1>

            <p>MSA hakkında merak ettiğiniz ve duymak istediğiniz her şeyi sizler için başlıklar altında topladık. Eğitimlerin tümü, ulaşım ve MSA ile ilgili her türlü bilgiye aşağıdaki başlıklar altından ulaşabilirsiniz.</p>
        </div>

        <div class="clear"></div>
        <div class="program-select">
            <form>
                <fieldset>
                    <label>
                        <select>
                            <option value="0">Seçiniz</option>
                            <option value="0">Uzun Dönem Aşçılık Eğitimi</option>
                            <option value="0">Uzun Dönem Aşçılık Eğitimi 2</option>
                            <option value="0">Uzun Dönem Aşçılık Eğitimi 3</option>
                            <option value="0">Uzun Dönem Aşçılık Eğitimi 4</option>
                        </select>
                    </label>
                </fieldset>
            </form>
        </div>
        <div class="clear"></div>

        <div class="accordion-module collapse-all">

            <h3>Genel Bilgi</h3>
            <div>
                <p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı, dörder ay süreli 3 eğitim kademesinden oluşan, sürekli gelişim ve ileri seviye beceri kazanımını hedefleyen uzun dönemli bir meslek eğitimidir. Toplam 12 ay süren bu eğitim, ileri seviye mutfak becerisi kazandırmaya yönelik tasarlanmıştır.</p>

                <p>Eğitimin ilk 4 ayı MSA profesyonel mutfaklarında pratik temel eğitim olarak gerçekleşir. İkinci 4 ayı ek ileri seviye eğitimler ile gerçek müşteriye hizmet veren Okulun Mutfağı restoranında el becerisini pekiştirmeye yönelik dersler, mutfak yönetimi, restoran servis standartları gibi eğitimlerle sektöre hazırlanma dönemi olarak geçer. Üçüncü 4 aylık dönemde, öğrenciler MSA tarafından yerleştirildikleri lokasyonda mecburi eğitim stajlarını tamamlar.</p>

                <p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programını başarıyla tamamlayan öğrenciler, profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olurlar. Programı başarıyla bitiren öğrenciler City & Guilds Uluslararası Uzun Dönem Profesyonel Aşçılık Diploması ile mezun olurlar.</p>
            </div>

            <h3>Mevcut program ile arasındaki fark nedir?</h3>
            <div>
                <p></p>
            </div>

            <h3>Hangi programa katılmalıyım?</h3>
            <div>
                <p></p>
            </div>

            <h3>Uzun Dönem programdan mezun olunca daha ileri pozisyondan ve daha yüksek maaşla mı işe giriliyor?</h3>
            <div>
                <p></p>
            </div>

            <h3>Bu eğitimde diğerinde olmayan hangi dersler olacak?</h3>
            <div>
                <p></p>
            </div>


        </div>

        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="#">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>
