﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Sandwiches &amp; Wraps</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/sandwiches-and-wraps.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Sandwiches &amp; Wraps</h2>
                    <p>Klasik ikramların dışına çıkın.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Bu wrap’ler ev partilerinizin vazgeçilmezi olacak.<br />Sandviç deyip de geçmeyin. O kadar inçe iş, o kadar detay var ki her birinde... MSA şefleri sizin için en ideal sandviç ve wrap tarifleriyle dolu bir workshop hazırladı. Bundan sonra evinizdeki maç partilerinin şefi siz olabileceksiniz.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/sandwiches-and-wraps/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">24 Ocak Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

