﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Sandwiches and Wraps</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Sandwiches and Wraps</strong></h1>


    <p>Bu wrap’ler ev partilerinizin vazgeçilmezi olacak.<br />Sandviç deyip de geçmeyin. O kadar inçe iş, o kadar detay var ki her birinde... MSA şefleri sizin için en ideal sandviç ve wrap tarifleriyle dolu bir workshop hazırladı. Bundan sonra evinizdeki maç partilerinin şefi siz olabileceksiniz.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Tavuklu sezar wrap, elma dilim patates ile </li>
        <li>Philly-cheese steak sandviç</li>
        <li>Falafel wrap, taze yeşillikler ile	</li>
        <li>Club sandviç, parmesanlı patates kızartması</li>
        <li>Tatlı ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">24 Ocak Cumartesi</div>
    <div class="time">16.00 - 20.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/sandwiches-and-wraps">Sandwiches and Wraps</a></li>
            <li class=""><span>Sandwiches and Wraps Detay</span></li>
        </ul>
    </div>
</div>
