﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Şaraba Eşlik Edenler</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Şaraba Eşlik Edenler</strong></h1>


    <p>Oğul Türkkan’dan engin bilgiler eşliğinde neis bir workshop.<br />Temel şarap kategorileri ve şaraplara eşlik etmek üzere özenle seçilmiş yaratıcı lezzetlerle MSA’ da buluşuyoruz. </p>
    <p>Dünyaca ünlü şarap eksperi Oğul Türkkan eşliğinde yapılacak bu workshoptan sonra artık hangi yemekle hangi şarabı seçmeniz gerektiğini, lezzetlerin şarap üzerindeki etkilerini ve karakterinize uygun şarapların hangileri olduğunu öğrenebileceksiniz. Chardonnay, kalecik karası, boğazkere, cabernet ve misket gibi çeşitli üzümlerden üretilen şaraplar  hakkında bilgilere sahip olacaksınız. Üstelik kendi ellerinizle hazırlayacağınız ana yemek ve MSA’ nın ikramları ile mükemmel bir akşam geçireceksiniz. </p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Somon füme ve Camembert’li kanepeler (İkram) </li>
        <li>Özel baharatlarla tatlandırılmış, şarapta pişmiş kuzu incik.</li>
        <li>Lezzet tabağı (özel şarküteri ürünleri, özel seçilmiş peynir çeşitleri, ekmek çeşitleri, taze meyve çeşitleri)</li>
        <li>Frambuazlı çikolata mousse (ikram)</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">19 Ocak Pazartesi</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">190 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/saraba-eslik-edenler">Şaraba Eşlik Edenler</a></li>
            <li class=""><span>Şaraba Eşlik Edenler Detay</span></li>
        </ul>
    </div>
</div>
