﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Sıkça Sorulan Sorular</title>
<meta name="keywords" content="">
<meta name="description" content="">


<script type="text/javascript">
    $(function () {
        var FirstGroup = $("select[name=groups]").val();

        $(".sss h3").hide();
        $(".sss h3[data-group='" + FirstGroup + "']").show();


        var hash = decodeURIComponent(window.location.hash);
        //var hash = window.location.hash;
        if (hash != "")
        {
            hash = hash.replace("#", "").replace(" and ", " & ");
            if ($("h3[data-group='" + hash + "']").length == -1) {
                return;
            }
            $(".sss h3").hide();
            $(".sss div").hide();
            $("h3[data-group='" + hash + "']").show();
            $("h3[data-group='" + hash + "']").first().click();
            $(".masked-select-text").text(hash);
        }


        $("select[name=groups]").change(function () {
            var Opt = $("select[name=groups]").val();
            $(".sss h3").hide();
            $(".sss div").hide();
            $("h3[data-group='" + Opt + "']").show();
            $("h3[data-group='" + Opt + "']").first().click();
        });
    });
</script>
<div class="paragraph">
    <h1><strong>Sıkça Sorulan Sorular</strong></h1>
    <p>MSA hakkında merak ettiğiniz ve duymak istediğiniz her şeyi sizler için başlıklar altında topladık. Eğitimlerin tümü, ulaşım ve MSA ile ilgili her türlü bilgiye aşağıdaki başlıklar altından ulaşabilirsiniz.</p>
</div>

<div class="clear"></div>
<div class="program-select">
    <form>
        <fieldset>
            <label>
                <select name="groups">
                    <option value="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Uzun Dönem Profesyonel Pasta ve Ekmekçilik</option>
                    <option value="Stajsız Profesyonel Aşçılık">Stajsız Profesyonel Aşçılık</option>
                    <option value="Stajsız Profesyonel Pasta ve Ekmekçilik">Stajsız Profesyonel Pasta ve Ekmekçilik</option>
                    <option value="Uzun Dönem Profesyonel Aşçılık">Uzun Dönem Profesyonel Aşçılık</option>
                    <option value="Yiyecek - İçecek İşletmeciliği">Yiyecek - İçecek İşletmeciliği</option>
                    <option value="Chef & Owner">Chef & Owner</option>
                    <option value="Profesyonel Barmenlik ve Miksoloji">Profesyonel Barmenlik ve Miksoloji</option>
                </select>

            </label>
        </fieldset>
    </form>
</div>
<div class="clear"></div>
<div class="accordion-module sss">
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Kimler katılabilir?</h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none"><p>Profesyonel Aşçılık ve Pasta Ekmekçilik eğitimleri, aşçılığı kendilerine profesyonel bir kariyer olarak seçmiş, eğitimin önemine inanan, mesleki başarının teorik ve pratik eğitimlerin dengeli bir sonucu olduğunu bilen ve gerçek bir şef olmak isteyenler kişiler için hazırlanmıştır. Profesyonel Aşçılık ve Profesyonel Pasta Ekmekçilik eğitimi, 18-30 yaş arası adaylara yöneliktir. </p></div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Eğitimlerde neden yaş sınırı vardır? </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none"><p>Stajlı eğitimlerimiz meslek edindirme programları olduğu için bu eğitimlere 18-30 yaş arası öğrenciler kabul edilmektedir, stajsız eğitimlerimize 31 - 55 yaş arası adaylar katılabilir.</p></div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Yaşım stajlı programa uygun olduğu halde stajlı programa katılmak istemiyorum, olabilir mi?</h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none"><p>Yaşınızın uygun olması durumunda stajlı programa katılmanız gerekmektedir. Stajsız program için ayrı bir yaş grubu belirlenmiştir. Okulumuzda verilen mesleki bir eğitim olduğu için 18 – 30 yaş arası tüm öğrencilerimizin staj yapması zorunludur ve eğitiminin devamı niteliğindedir.</p></div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">MSA&#39;ya nasıl başvuru / kayıt yaptırabilirim? </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none"><p>Başvuru için adayların www.msa.com.tr adresinde bulunan "Başvuru" formunu eksiksiz doldurmaları gerekmektedir. Başvurular ön değerlendirmede olumlu bulunursa; aday, bir eğitmen şef ve öğrenci işleri departman yetkilisiyle görüşme için MSA'ya davet edilir. Görüşmesi olumlu sonuçlanan adaylar okula kayıt hakkı kazanır.</p></div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Kayıtlar i&#231;in son tarih nedir? </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none"><p>Eğitimlerde sınıf kapasiteleri kontenjanla sınırlıdır, kontenjan dolduğu zaman kayıtlar kapanmaktadır. Bu sebeple son kayıt için kesin bir tarih yoktur.</p></div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Ders programında neler var?</h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p><a href="/profesyonel-egitimler/profesyonel-ascilik/ders-programi">Aşçılık eğitimi ders konuları</a> </p>
        <p><a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/ders-programi">Pasta ve Ekmekçilik eğitimi ders konuları</a> </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Katılmak i&#231;in İngilizce bilmek gerekiyor mu?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none"><p> Program içeriği Türkçe olmakla beraber, eğitimin City &amp; Guilds tarafından tüm dünyada uygulanan temel aşçılık eğitimi olması sebebiyle İngilizce mutfak terminolojisi kullanılmaktadır. Bu sebeple, temel İngilizce bilgisinin olması tercih edilmektedir. </p></div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Program tarihleri nedir?</h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none"><p>Program tarihleri hakkında detaylı bilgi almak için <a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/ucret" target="_blank">tıklayın.</a> </p></div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Eğitim g&#252;n-saatleri nedir?</h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <table>
            <tr class="frame">
                <td class="lefty"><strong>Öğlen sınıfları</strong> </td>
                <td class="righty">
                    Pazartesi-Salı-Çarşamba-Perşembe
                    <br />14.00–18.00
                </td>
            </tr>
            <tr class="frame lasty">
                <td class="lefty"><strong>Hafta sonu</strong> </td>
                <td class="righty">
                    Cumartesi-Pazar
                    <br />09.00–18.00
                    <br /><em>(Öğlen 1 saat ara verilmektedir)</em>
                </td>
            </tr>
        </table>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Sınıflar ka&#231; kişilik?</h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none"><p> Aşçılık sınıfı 24, pastacılık sınıfları 20 kişiliktir. </p></div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Eğitim ne kadar s&#252;r&#252;yor?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p> İlk 4 ay MSA içinde mutfak uygulamalı eğitim ve 110 iş günü olmak üzere toplam 8 ay sürüyor. </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Programlarda devamsızlık sınırı var mıdır? </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>Profesyonel Aşçılık ve Pasta & Ekmekçilik öğrencilerinin devamsızlık sınırı maksimum 32 saattir.</p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Eğitim sonunda yapılacak olan sertifika sınavlarına katılamazsak veya başarısız olduğumuzda tekrar sınava katılma hakkımız var mıdır?</h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <h4>C&G</h4>
        <p>8 aylık eğitim sonunda yapılacak olan C&G sınavına katılamadığınızda veya başarısızlık durumunda takip eden 2 dönemin katılacağı sınava kaydınızı yaptırabilirsiniz. Bunun için öğrenci işlerine takip eden dönem sınavından en az 2 ay önce mail ile bilgi vermeniz ve sınav ücretini tekrar ödemeniz gerekmektedir.</p>
        <br />
        <h4>MEB</h4>
        <p>4 aylık eğitim sonunda yapılacak olan MEB sınavına katılamadığınızda veya başarısızlık durumunda takip eden 2 dönemin öğrencilerinin katılacağı sınava katılabilirsiniz. Bunun için öğrenci işlerine takip eden dönem sınavından en az 1 ay önce mail ile bilgi vermeniz gerekmektedir. Sınav ücretsizdir.</p>
        <br />
        <h4>HACCP</h4>
        <p>2 günlük eğitim sonunda yapılacak olan sınava katılamadığınızda veya başarısızlık durumunda takip eden 2 dönemin öğrencilerinin katılacağı sınava kaydınızı yaptırabilirsiniz. Bunun için öğrenci işlerine takip eden dönem sınavından 1 ay önce mail ile bilgi vermeniz gerekmektedir. Sınav ücretsizdir. Eğitimin tekrarı yoktur.</p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Nerelerde staj yapılıyor?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p> Staj, MSA tarafından organize edilmekte olup, Türkiye’nin önde gelen otel mutfakları ve restoranlarında gerçekleşmektedir. </p>
        <p><a href="#">Staj Lokasyonları</a> </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Staj yerleri nasıl belirleniyor? / Kendim staj yeri ayarlayabilir miyim?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p> Staj, MSA profesyonel eğitiminin bir parçası olup, MSA tarafından belirlenmektedir. Öğrenciler kendi staj lokasyonlarını ayarlamamaktadır. </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Staja başladıktan sonra staj yerimi değiştirebilir miyim? </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>İstanbul, Ankara ve İzmir şehirlerinde yapılması durumunda staj lokasyonu MSA tarafından ayarlanır. Staj, okul tarafından belirlenen işletmede tamamlanmalıdır. Herhangi bir sebeple staj tamamlanamaz ise staj iptal olur, bir sonraki staj döneminde tekrar başlar.</p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Zorunlu stajımı erteleyebilir miyim?</h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>Staj ancak ciddi bir sağlık sorunu doktor raporuyla belgelendiğinde, birinci dereceden bir yakının vefatı belgelenebildiğinde veya milli sporcu olunması ve antreman/yarışmaların aynı tarihlere gelmesi sebepleriyle ertelenebilir. Bunlar haricindekiler erteleme için geçerli sebepler değildir.</p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Eğitim T.C. Milli Eğitim Bakanlığı’ndan onaylı mı?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p> MSA, T.C. Milli Eğitim Bakanlığı’na bağlı olup, verdiği profesyonel eğitimler sonunda katılımcılarına T.C. Milli Eğitim Bakanlığı onaylı sertifika verme yetkisine sahiptir.</p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        City & Guilds nedir?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p> 1878’de İngiltere Kraliçesi Victoria’nın direktifi ile kurulan ve İngiliz Kraliyeti’nin himayesinde olan City &amp; Guilds, eğitim ve öğretim alanındaki yüz yılı aşkın deneyimi ile uluslararası geçerlilikte mesleki yeterlilik belgesi ve eğitim vermeye yeterlilik belgesi veren bir kuruluştur. City &amp; Guilds’in ana misyonu dünyada akredite etmiş olduğu tüm eğitim kurumlarında eğitim kalitesinin aynı standartlarda korunuyor olmasıdır. </p>
        <p> City &amp; Guilds diplomasının özelliği ise, eğitim kurumunun yeri ve adına bağlı kalınmaksızın, dünya üzerinde tanınırlığı ve geçerliliğidir. City &amp; Guilds 100’den fazla ülkede, içinde küçük bir bölümü profesyonel aşçılık eğitimi veren 8500’ü aşkın okula akreditasyon vermiştir. Bu okullardan 500 değişik meslekten yılda 1 milyon mezun iş hayatına atılmaktadır. </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Mezun olmak i&#231;in ne yapmak gerekiyor?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p> Eğitim bitiminde, iki farklı sınav yapılıyor. İlk sınav %50 geçer not beklenen T.C. MEB sınavıdır ve öğrencinin başarısı T.C. MEB sertifikası ile belgelenir. Ek olarak, dönem içindeki görevlerini tam anlamı ile yerine getiren, dönem içindeki sözlü, yazılı ve uygulamalı sınavlarında başarılı olan, günlük ödevlerinde başarı gösteren öğrenciler tüm dünya ile aynı anda yapılan ve %65 geçer not beklenen City &amp; Guilds sınavına girmeye hak kazanır. Başarı, dünya genelinde tanınan ve kabul gören City &amp; Guilds sertifikası ile belgelenir.</p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">MSA&#39; dan mezun olduğumuz seviye nedir? </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>Mezunlarımız &quot;commis&quot; yani çırak seviyesinde mezun olmaktadır. Şefliğe giden uzun yolda MSA, doğru ve tam donanımlı olarak başlamanıza aracılık etmektedir. Eğitim programlarımız ve içerikleri hakkında bilgi almak için <a href="/profesyonel-egitimler">tıklayınız</a>.</p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Eğitim kadrosu kimlerden oluşuyor?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p> Eğitim, konularında uzman eğitmen kadrosu ve dönemsel olarak katılan konuk uzman şefler tarafından veriliyor. MSA’daki eğitim, dünyaca ünlü şeflerle yapılan workshoplar, sektörün önde gelen firmalarına yapılan mesleki geziler ve çeşitli aktivitelerle de destekleniyor. </p>
        <p> <a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/detay">Eğitim Kadromuz</a> </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Program &#252;cretleri nedir?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p> Detaylı bilgi için <a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/ucret">tıklayınız.</a> </p> <a class="bullet_1" href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/ucret">Banka Hesap Numaralarımız</a>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">Program &#252;cretleri dışında d&#246;nem i&#231;inde başka bir &#246;deme yapılıyor mu? </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>Stajlı programlara kayıtlı olan öğrenciler City &amp; Guilds sınavına katılmak için sertifikasyon ücreti ödemektedir. Sertifikasyon ücretleri için <a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/ucret">buraya tıklayın</a>.</p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Eğitim boyunca kullanılacak malzemeler fiyata dahil mi, değeri ne kadar?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p> Dahil. Aşçılık eğitim seti 900 TL, Pasta ve Ekmekçilik eğitim seti 800 TL. </p>
        <p> <a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/ucret">Detaylı bilgi için.</a> </p>

    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        &#214;deme se&#231;enekleri nelerdir?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p> Ödeme seçenekleri arasında nakit, kredi kartı, banka havalesi ve kredi bulunmaktadır. Çeşitli kredi kartlarına vade farkıyla taksit yapılabilmektedir. </p>
        <p> Ödeme koşullarıyla ilgili detaylı bilgi için 0212 290 35 50 numaralı telefondan 114 dahili ile Muhasebe Departmanı ile görüşebilirsiniz. </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Eğitim kredisi alabilir miyim?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            <strong> TEKSTİLBANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            Tekstilbank, MSA öğrencilerine özel aylık %1.03 faiz oranı ile, dosya masrafsız, dilerseniz 1 yılı ödemesiz ve 1 yılın sonunda 24 aya kadar vade ve esnek ödeme seçenekleri sunuyor.
            <br/><br />
            TEKSTİLBANK, MSA Eğitim Kredisi Özel Başvuru Numarası;<br/>
            0216 411 14 90<br/>
            Ebru Ergül Dahili 1700<br/>
            Sibel Karakoç Dahili 1701
        </p>
        <p></p>
        <p>
            <strong> INGBANK </strong><br/>
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br/>
            MSA öğrencilerine özel %1.04 faiz oranı ile, dosya masrafsız, 1 yıl boyunca aylık yalnızca 145 TL'den başlayan taksit ödemeli, 1 yılın sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.
            <br/><br/>
            ING Bank MSA'ya Özel Kredi Başvuru Numaraları :<br/>
            0216 326 01 86 – Öznür Aladağ (MSA Özel Hattı)<br/>
            0216 545 27 55 - Öznür Aladağ (Dahili: 1001)<br/>
            0216 545 27 55 - Osman Karabulut (Dahili: 1002)
        </p>
        <p></p>
        <p>
            <strong> VAKIFBANK </strong><br/>
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br/>
            VakıfBank, MSA öğrencilerine özel aylık %1,04 faiz oranı ile dosya masrafsız, dilerseniz 3 ay ödemesiz dönemli, aylık eşit taksitli 36 aya varan vadelerle Taksitli İhtiyaç Kredisi fırsatı sunuyor.
            <br/><br/>
            VakıfBank MSA Öğrencilerine Özel Kredi Başvuru Numaraları:<br/>
            VakıfBank Tarabya Şubesi<br/>
            0 212 262 65 43-Hülya ERDİREN-(Dahili: 215)<br/>
            0 212 262 65 43-Serap KÖÇEK-(Dahili: 211)
        </p>
        <p></p>
        <p>
            <strong> ODEABANK </strong><br/>
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br/>
            Odeabank, MSA öğrencilerine özel aylık %1.09 faiz oranı ile, dosya masrafsız, dilerseniz 3 ay ödemesiz, sonrasında 9 ay sadece faiz ödemeli ve 1 yılın sonunda 24 aya kadar vade ve esnek ödeme seçenekleri sunuyor.
            <br/><br/>
            ODEABANK, MSA Eğitim Kredisi Özel Başvuru Numarası;<br/>
            0212 304 8115 - Özge Erdoğan (Direk hat)<br/>
            0532 131 2482 – Özge Erdoğan (MSA Özel hat)<br/>
            0212 304 8116 – Arzu Güner (Direk hat)
        </p>
        <p></p>
        <p>
            <strong>AKBANK</strong><br/>
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br/>
            Akbank, MSA öğrencilerine özel %1,09 faiz oranı ile 1 yıl boyunca aylık yalnızca 179 TL'den başlayan taksit ödemeli, 1 yıl sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.
            <br/><br/>
            Akbank Özel Kredi Başvuru Numarası:<br/>
            0212 365 71 05 - Seda Tuncer Maslak Şubesi<br/>
            0212 365 71 21<br/>
            0212 365 71 06 - Duygu Bengül
        </p>
        <p></p>
        <p>
            <strong>TEB</strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            MSA öğrencilerine özel %1,09 faiz oranı ile 1 yıl boyunca aylık yalnızca 179 TL'den başlayan taksit ödemeli, 1 yıl sonunda 24 aya kadar varan vade ve esnek ödeme  seçenekleri sunuyor.
            <br /><br />
            TEB MSA Eğitim Kredisi Özel Başvuru Numarası:<br />
            0850 204 01 29 - Sinem Turhan (Dahili:41430) - <br />
            Güneş Sandıkçı(Dahili:41424) <br />
            TEB Maslak Şubesi
        </p>


        
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        Kayıt i&#231;in neler gerekiyor?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        10 adet vesikalık fotoğraf Nüfus cüzdanı fotokopisi<br />
        Sabıka Kaydı<br />
        Son mezun olunan okulun noter onaylı diploma kopyası veya öğrenim belgesinin aslı<br />
        Sağlık raporu (devlet hastanesi veya aile hekiminden) <br />
        Gaita kültürü + burun ve boğaz kültürü + akciğer grafisi raporu, HIV, Hepatit B ve C testleri <br />
        90 sterlin olan City&Guilds sertifikasyon ücretinin ödendiğine dair dekont.<br />
        <br />Hesap Numarası: 645 – 011 42 28
        <br />IBAN: TR30 0004 6006 4500 3000 1142 28
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">
        İş garantisi veriliyor mu?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>MSA 'da öğrencilerimize uluslararası seviyede ve diplomalı bir eğitim verilmekte olup, mezunlarımıza dünya çapında kariyer imkanı sunulmaktadır. MSA olarak misyonumuz ve felsefemiz öğrencilerimizi üst düzey bir altyapı ve üst düzey bir eğitimle buluşturarak tam donanımlı mutfak profesyonelleri olarak sektöre hazırlamaktır. MSA bünyesinde bulunan insan kaynakları departmanımız tarafından mezunlarımıza sektörde iş olanakları sunulmakta, kariyerleri konusunda destek olunmaktadır. Halen MSA mezunlarının çalışmakta olduğu otel mutfaklarının ve restoranların isimlerini <a href="#">bu linkte</a> görebilirsiniz.</p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">MSA&#39;ya kayıt olduğum takdirde askerliğimi tecil ettirebilir miyim?</h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none"><p>MSA, resmi olarak Milli Eğitim Bakanlığı'na bağlı bir kurs statüsündedir, MSA'daki eğitimin askerliği tecil ettirme yetisi yoktur.</p></div>
    <h3 data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik">İstanbul dışında şubeniz var mı? A&#231;ılacak mı?</h3>
    <div data-group="Uzun Dönem Profesyonel Pasta ve Ekmekçilik" style="display:none"><p>MSA İstanbul Maslak'ta bulunan kampüsünde eğitim vermektedir, başka bir ilde şubemiz bulunmamaktadır ve şube açılma planı yoktur.</p></div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Kimler katılabilir?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            Uluslararası temel mutfak eğitimi almak ve mutfak tekniklerini öğrenmek isteyen, 31-55 yaş arası katılımcılara açıktır.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Ders programında neler var?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>Ders konularını <a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik/ders-programi">eğitim</a> sayfasında görebilirsiniz.</p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Katılmak i&#231;in İngilizce bilmek gerekiyor mu?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            Program içeriği Türkçe olmakla beraber, genel olarak mutfak terminolojisinde İngilizce çok ağırlıklıdır. Temel İngilizce bilgisinin olması önerilmektedir ancak mecburi değildir.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Program tarihleri nedir?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>Program tarihleri hakkında detaylı bilgi almak için <a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik/donemler" target="_blank">tıklayın.</a></p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Eğitim g&#252;n-saatleri nedir?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <table>
            <tr class="frame">
                <td class="lefty"><strong>Sabah sınıfları</strong></td>
                <td class="righty">Pazartesi-Salı-Çarşamba-Perşembe-Cuma<br />09.00–13.00</td>
            </tr>
            <tr class="frame">
                <td class="lefty"><strong>Öğlen sınıfları</strong></td>
                <td class="righty">Pazartesi-Salı-Çarşamba-Perşembe-Cuma<br />14.00–18.00</td>
            </tr>
            <tr class="frame lasty">
                <td class="lefty"><strong>Hafta sonu</strong></td>
                <td class="righty">Cumartesi-Pazar<br />09.00–18.00 <br /><em>(Öğlen 1 saat ara verilmektedir)</em></td>
            </tr>
        </table>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Sınıflar ka&#231; kişilik?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            Aşçılık sınıfı 24 kişiliktir
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Eğitim ne kadar s&#252;r&#252;yor?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            MSA profesyonel mutfaklarında olmak üzere 110 iş günü sürmektedir.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Eğitim T.C. Milli Eğitim Bakanlığı’ndan onaylı mı?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            MSA, T.C. Milli Eğitim Bakanlığı’na bağlı olup, verdiği profesyonel eğitimler sonunda katılımcılarına T.C. Milli Eğitim Bakanlığı onaylı sertifika verme yetkisine sahiptir.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Mezun olmak i&#231;in ne yapmak gerekiyor?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            Eğitim bitiminde,  MEB sınavına girilmektedir. %50 geçer not alınması durumunda T.C. MEB sertifikası almaya hak kazanılır.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">Eğitim sonunda yapılacak olan sertifika sınavlarına katılamazsak veya başarısız olduğumuzda tekrar sınava katılma hakkımız var mıdır?</h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <h4>MEB</h4>
        <p>4 aylık eğitim sonunda yapılacak olan MEB sınavına katılamadığınızda veya başarısızlık durumunda takip eden 2 dönemin öğrencilerinin katılacağı sınava katılabilirsiniz.  Bunun için öğrenci işlerine takip eden dönem sınavından en az 1 ay önce mail ile bilgi vermeniz gerekmektedir. Sınav ücretsizdir.</p><br />
        <h4>HACCP</h4>
        <p>2 günlük eğitim sonunda yapılacak olan sınava katılamadığınızda veya başarısızlık durumunda takip eden 2 dönemin öğrencilerinin katılacağı sınava kaydınızı yaptırabilirsiniz. Bunun için öğrenci işlerine takip eden dönem sınavından 1 ay önce mail ile bilgi vermeniz gerekmektedir. Sınav ücretsizdir. Eğitim tekrarı yoktur.</p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Eğitim kadrosu kimlerden oluşuyor?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            Eğitim, konularında uzman eğitmen kadrosu ve dönemsel olarak katılan konuk uzman şefler tarafından veriliyor. MSA’daki eğitim, dünyaca ünlü şeflerle yapılan workshoplar, sektörün önde gelen firmalarına yapılan mesleki geziler ve çeşitli aktivitelerle de destekleniyor.
        </p>
        <p>
            <a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik/detay">Eğitim Kadromuz</a>
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Program &#252;cretleri nedir?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            Detaylı bilgi için <a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik/ucret">tıklayınız.</a>
        </p>
        <a class="bullet_1" href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik/ucret">Banka Hesap Numaralarımız</a>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Eğitim boyunca kullanılacak malzemeler fiyata dahil mi, değeri ne kadar?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            Dahil. Aşçılık eğitim seti 900 TL,dir.
        </p>
        <p>
            <a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik/ucret">Detaylı bilgi için.</a>
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        &#214;deme se&#231;enekleri nelerdir?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            Ödeme seçenekleri arasında nakit, kredi kartı, banka havalesi ve kredi bulunmaktadır. Çeşitli kredi kartlarına vade farkıyla taksit yapılabilmektedir.
        </p>
        <p>
            Ödeme koşullarıyla ilgili detaylı bilgi için 0212 290 35 50 numaralı telefondan 114 dahili ile Muhasebe Departmanı ile görüşebilirsiniz.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Eğitim kredisi alabilir miyim?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            <strong> TEKSTİLBANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            Tekstilbank, MSA öğrencilerine özel aylık %1.03 faiz oranı ile, dosya masrafsız, dilerseniz 1 yılı ödemesiz ve 1 yılın sonunda 24 aya kadar vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            TEKSTİLBANK, MSA Eğitim Kredisi Özel Başvuru Numarası;<br />
            0216 411 14 90<br />
            Ebru Ergül Dahili 1700<br />
            Sibel Karakoç Dahili 1701
        </p>
        <p></p>
        <p>
            <strong> INGBANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            MSA öğrencilerine özel %1.04 faiz oranı ile, dosya masrafsız, 1 yıl boyunca aylık yalnızca 145 TL'den başlayan taksit ödemeli, 1 yılın sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            ING Bank MSA'ya Özel Kredi Başvuru Numaraları :<br />
            0216 326 01 86 – Öznür Aladağ (MSA Özel Hattı)<br />
            0216 545 27 55 - Öznür Aladağ (Dahili: 1001)<br />
            0216 545 27 55 - Osman Karabulut (Dahili: 1002)
        </p>
        <p></p>
        <p>
            <strong> VAKIFBANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            VakıfBank, MSA öğrencilerine özel aylık %1,04 faiz oranı ile dosya masrafsız, dilerseniz 3 ay ödemesiz dönemli, aylık eşit taksitli 36 aya varan vadelerle Taksitli İhtiyaç Kredisi fırsatı sunuyor.
            <br /><br />
            VakıfBank MSA Öğrencilerine Özel Kredi Başvuru Numaraları:<br />
            VakıfBank Tarabya Şubesi<br />
            0 212 262 65 43-Hülya ERDİREN-(Dahili: 215)<br />
            0 212 262 65 43-Serap KÖÇEK-(Dahili: 211)
        </p>
        <p></p>
        <p>
            <strong> ODEABANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            Odeabank, MSA öğrencilerine özel aylık %1.09 faiz oranı ile, dosya masrafsız, dilerseniz 3 ay ödemesiz, sonrasında 9 ay sadece faiz ödemeli ve 1 yılın sonunda 24 aya kadar vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            ODEABANK, MSA Eğitim Kredisi Özel Başvuru Numarası;<br />
            0212 304 8115 - Özge Erdoğan (Direk hat)<br />
            0532 131 2482 – Özge Erdoğan (MSA Özel hat)<br />
            0212 304 8116 – Arzu Güner (Direk hat)
        </p>
        <p></p>
        <p>
            <strong>AKBANK</strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            Akbank, MSA öğrencilerine özel %1,09 faiz oranı ile 1 yıl boyunca aylık yalnızca 179 TL'den başlayan taksit ödemeli, 1 yıl sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            Akbank Özel Kredi Başvuru Numarası:<br />
            0212 365 71 05 - Seda Tuncer Maslak Şubesi<br />
            0212 365 71 21<br />
            0212 365 71 06 - Duygu Bengül
        </p>
        <p></p>
        <p>
            <strong>TEB</strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            MSA öğrencilerine özel %1,09 faiz oranı ile 1 yıl boyunca aylık yalnızca 179 TL'den başlayan taksit ödemeli, 1 yıl sonunda 24 aya kadar varan vade ve esnek ödeme  seçenekleri sunuyor.
            <br /><br />
            TEB MSA Eğitim Kredisi Özel Başvuru Numarası:<br />
            0850 204 01 29 - Sinem Turhan (Dahili:41430) - <br />
            Güneş Sandıkçı(Dahili:41424) <br />
            TEB Maslak Şubesi
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        Kayıt i&#231;in neler gerekiyor?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        10 adet vesikalık fotoğraf Nüfus cüzdanı fotokopisi<br />
        Sabıka Kaydı<br />
        Son mezun olunan okulun noter onaylı diploma kopyası veya öğrenim belgesinin aslı<br />
        Sağlık raporu (devlet hastanesi veya aile hekiminden) <br />
        Gaita kültürü + burun ve boğaz kültürü + akciğer grafisi raporu, HIV, Hepatit B ve C testleri <br />
        90 sterlin olan City&Guilds sertifikasyon ücretinin ödendiğine dair dekont.<br />
        <br />Hesap Numarası: 645 – 011 42 28
        <br />IBAN: TR30 0004 6006 4500 3000 1142 28
    </div>
    <h3 data-group="Stajsız Profesyonel Aşçılık">
        İş garantisi veriliyor mu?
    </h3>
    <div data-group="Stajsız Profesyonel Aşçılık" style="display:none">
        <p>
            MSA, öğrencilerine uluslararası standartlarda ve kalitede bir eğitim sunmaktadır. İş garantisi verilmemekle birlikte, MSA’daki eğitimini başarı ile tamamlayan öğrenciler, giderek büyüyen MSA mezunları ağına dahil olmakta ve her zaman MSA desteğini arkalarında hissetmektedir.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Ders programında neler var?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none"><p>Ders konularını <a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik/ders-programi">eğitim</a> sayfasında görebilirsiniz.</p></div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Katılmak i&#231;in İngilizce bilmek gerekiyor mu?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            Program içeriği Türkçe olmakla beraber, genel olarak mutfak terminolojisinde İngilizce çok ağırlıklıdır. Temel İngilizce bilgisinin olması önerilmektedir ancak mecburi değildir.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Program tarihleri nedir?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>Program tarihleri hakkında detaylı bilgi almak için <a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik/ucret" target="_blank">tıklayın.</a></p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Eğitim g&#252;n-saatleri nedir?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <table>
            <tr class="frame">
                <td class="lefty"><strong>Sabah sınıfları</strong></td>
                <td class="righty">Pazartesi-Salı-Çarşamba-Perşembe-Cuma<br />09.00–13.00</td>
            </tr>
            <tr class="frame">
                <td class="lefty"><strong>Öğlen sınıfları</strong></td>
                <td class="righty">Pazartesi-Salı-Çarşamba-Perşembe-Cuma<br />14.00–18.00</td>
            </tr>
            <tr class="frame lasty">
                <td class="lefty"><strong>Hafta sonu</strong></td>
                <td class="righty">Cumartesi-Pazar<br />09.00–18.00 <br /><em>(Öğlen 1 saat ara verilmektedir)</em></td>
            </tr>
        </table>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Sınıflar ka&#231; kişilik?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            Aşçılık sınıfı 24 kişiliktir
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Eğitim ne kadar s&#252;r&#252;yor?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            MSA profesyonel mutfaklarında olmak üzere 110 iş günü sürmektedir.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Eğitim T.C. Milli Eğitim Bakanlığı’ndan onaylı mı?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            MSA, T.C. Milli Eğitim Bakanlığı’na bağlı olup, verdiği profesyonel eğitimler sonunda katılımcılarına T.C. Milli Eğitim Bakanlığı onaylı sertifika verme yetkisine sahiptir.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Mezun olmak i&#231;in ne yapmak gerekiyor?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            Eğitim bitiminde,  MEB sınavına girilmektedir. %50 geçer not alınması durumunda T.C. MEB sertifikası almaya hak kazanılır.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">Eğitim sonunda yapılacak olan sertifika sınavlarına katılamazsak veya başarısız olduğumuzda tekrar sınava katılma hakkımız var mıdır?</h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <h4>MEB</h4>
        <p>4 aylık eğitim sonunda yapılacak olan MEB sınavına katılamadığınızda veya başarısızlık durumunda takip eden 2 dönemin öğrencilerinin katılacağı sınava katılabilirsiniz.  Bunun için öğrenci işlerine takip eden dönem sınavından en az 1 ay önce mail ile bilgi vermeniz gerekmektedir. Sınav ücretsizdir.</p><br />
        <h4>HACCP</h4>
        <p>2 günlük eğitim sonunda yapılacak olan sınava katılamadığınızda veya başarısızlık durumunda takip eden 2 dönemin öğrencilerinin katılacağı sınava kaydınızı yaptırabilirsiniz. Bunun için öğrenci işlerine takip eden dönem sınavından 1 ay önce mail ile bilgi vermeniz gerekmektedir. Sınav ücretsizdir. Eğitim tekrarı yoktur.</p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Eğitim kadrosu kimlerden oluşuyor?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            Eğitim, konularında uzman eğitmen kadrosu ve dönemsel olarak katılan konuk uzman şefler tarafından veriliyor. MSA’daki eğitim, dünyaca ünlü şeflerle yapılan workshoplar, sektörün önde gelen firmalarına yapılan mesleki geziler ve çeşitli aktivitelerle de destekleniyor.
        </p>
        <p>
            <a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik/detay">Eğitim Kadromuz</a>
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Program &#252;cretleri nedir?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            Detaylı bilgi için <a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik/ucret">tıklayınız.</a>
        </p>
        <a class="bullet_1" href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik/ucret">Banka Hesap Numaralarımız</a>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Eğitim boyunca kullanılacak malzemeler fiyata dahil mi, değeri ne kadar?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            Dahil. Aşçılık eğitim seti 900 TL,dir.
        </p>
        <p>
            <a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik/ucret">Detaylı bilgi için.</a>
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        &#214;deme se&#231;enekleri nelerdir?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            Ödeme seçenekleri arasında nakit, kredi kartı, banka havalesi ve kredi bulunmaktadır. Çeşitli kredi kartlarına vade farkıyla taksit yapılabilmektedir.
        </p>
        <p>
            Ödeme koşullarıyla ilgili detaylı bilgi için 0212 290 35 50 numaralı telefondan 114 dahili ile Muhasebe Departmanı ile görüşebilirsiniz.
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Eğitim kredisi alabilir miyim?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            <strong> TEKSTİLBANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            Tekstilbank, MSA öğrencilerine özel aylık %1.03 faiz oranı ile, dosya masrafsız, dilerseniz 1 yılı ödemesiz ve 1 yılın sonunda 24 aya kadar vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            TEKSTİLBANK, MSA Eğitim Kredisi Özel Başvuru Numarası;<br />
            0216 411 14 90<br />
            Ebru Ergül Dahili 1700<br />
            Sibel Karakoç Dahili 1701
        </p>
        <p></p>
        <p>
            <strong> INGBANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            MSA öğrencilerine özel %1.04 faiz oranı ile, dosya masrafsız, 1 yıl boyunca aylık yalnızca 145 TL'den başlayan taksit ödemeli, 1 yılın sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            ING Bank MSA'ya Özel Kredi Başvuru Numaraları :<br />
            0216 326 01 86 – Öznür Aladağ (MSA Özel Hattı)<br />
            0216 545 27 55 - Öznür Aladağ (Dahili: 1001)<br />
            0216 545 27 55 - Osman Karabulut (Dahili: 1002)
        </p>
        <p></p>
        <p>
            <strong> VAKIFBANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            VakıfBank, MSA öğrencilerine özel aylık %1,04 faiz oranı ile dosya masrafsız, dilerseniz 3 ay ödemesiz dönemli, aylık eşit taksitli 36 aya varan vadelerle Taksitli İhtiyaç Kredisi fırsatı sunuyor.
            <br /><br />
            VakıfBank MSA Öğrencilerine Özel Kredi Başvuru Numaraları:<br />
            VakıfBank Tarabya Şubesi<br />
            0 212 262 65 43-Hülya ERDİREN-(Dahili: 215)<br />
            0 212 262 65 43-Serap KÖÇEK-(Dahili: 211)
        </p>
        <p></p>
        <p>
            <strong> ODEABANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            Odeabank, MSA öğrencilerine özel aylık %1.09 faiz oranı ile, dosya masrafsız, dilerseniz 3 ay ödemesiz, sonrasında 9 ay sadece faiz ödemeli ve 1 yılın sonunda 24 aya kadar vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            ODEABANK, MSA Eğitim Kredisi Özel Başvuru Numarası;<br />
            0212 304 8115 - Özge Erdoğan (Direk hat)<br />
            0532 131 2482 – Özge Erdoğan (MSA Özel hat)<br />
            0212 304 8116 – Arzu Güner (Direk hat)
        </p>
        <p></p>
        <p>
            <strong>AKBANK</strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            Akbank, MSA öğrencilerine özel %1,09 faiz oranı ile 1 yıl boyunca aylık yalnızca 179 TL'den başlayan taksit ödemeli, 1 yıl sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            Akbank Özel Kredi Başvuru Numarası:<br />
            0212 365 71 05 - Seda Tuncer Maslak Şubesi<br />
            0212 365 71 21<br />
            0212 365 71 06 - Duygu Bengül
        </p>
        <p></p>
        <p>
            <strong>TEB</strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            MSA öğrencilerine özel %1,09 faiz oranı ile 1 yıl boyunca aylık yalnızca 179 TL'den başlayan taksit ödemeli, 1 yıl sonunda 24 aya kadar varan vade ve esnek ödeme  seçenekleri sunuyor.
            <br /><br />
            TEB MSA Eğitim Kredisi Özel Başvuru Numarası:<br />
            0850 204 01 29 - Sinem Turhan (Dahili:41430) - <br />
            Güneş Sandıkçı(Dahili:41424) <br />
            TEB Maslak Şubesi
        </p>
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        Kayıt i&#231;in neler gerekiyor?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        10 adet vesikalık fotoğraf Nüfus cüzdanı fotokopisi<br />
        Sabıka Kaydı<br />
        Son mezun olunan okulun noter onaylı diploma kopyası veya öğrenim belgesinin aslı<br />
        Sağlık raporu (devlet hastanesi veya aile hekiminden) <br />
        Gaita kültürü + burun ve boğaz kültürü + akciğer grafisi raporu, HIV, Hepatit B ve C testleri <br />
        90 sterlin olan City&Guilds sertifikasyon ücretinin ödendiğine dair dekont.<br />
        <br />Hesap Numarası: 645 – 011 42 28
        <br />IBAN: TR30 0004 6006 4500 3000 1142 28
    </div>
    <h3 data-group="Stajsız Profesyonel Pasta ve Ekmekçilik">
        İş garantisi veriliyor mu?
    </h3>
    <div data-group="Stajsız Profesyonel Pasta ve Ekmekçilik" style="display:none">
        <p>
            MSA, öğrencilerine uluslararası standartlarda ve kalitede bir eğitim sunmaktadır. İş garantisi verilmemekle birlikte, MSA’daki eğitimini başarı ile tamamlayan öğrenciler, giderek büyüyen MSA mezunları ağına dahil olmakta ve her zaman MSA desteğini arkalarında hissetmektedir.
        </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        Genel Bilgi
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        <p>
            Uzun Dönem Uluslararası Profesyonel Aşçılık Programı, dörder ay süreli 3 eğitim kademesinden oluşan, sürekli gelişim ve ileri seviye beceri kazanımını hedefleyen uzun dönemli bir meslek eğitimidir.  Toplam 12 ay süren bu eğitim, ileri seviye mutfak becerisi kazandırmaya yönelik tasarlanmıştır.<br /><br />
            Eğitimin ilk 4 ayı MSA profesyonel mutfaklarında pratik temel eğitim olarak gerçekleşir. İkinci 4 ayı ek ileri seviye eğitimler ile gerçek müşteriye hizmet veren Okulun Mutfağı restoranında el becerisini pekiştirmeye yönelik dersler, mutfak yönetimi, restoran servis standartları gibi eğitimlerle sektöre hazırlanma dönemi olarak geçer. Üçüncü 4 aylık dönemde, öğrenciler MSA tarafından yerleştirildikleri lokasyonda mecburi eğitim stajlarını tamamlar.<br /><br />
            Uzun Dönem Uluslararası Profesyonel Aşçılık Programını başarıyla tamamlayan öğrenciler, profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olurlar. Programı başarıyla bitiren öğrenciler City & Guilds Uluslararası Uzun Dönem Profesyonel Aşçılık Diploması ile mezun olurlar.
        </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        Mevcut program ile arasındaki fark nedir?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        <p>
            MSA’nın Profesyonel Aşçılık eğitimi temel seviye bir eğitim olup, katılımcıları hızla sektöre hazırlamaya yöneliktir. 4 ay eğitim, 4 ay staj şeklinde tasarlanmış bu eğitimi başarıyla tamamlayan öğrenciler, sektöre giriş pozisyonu olan komi şef seviyesinde mezun olur, hızla sektöre atılırlar.<br /><br />
            Uzun Dönem Profesyonel Aşçılık programı ise 4 er aylık 3 bölümden oluşan, toplam 12 ay olarak tasarlamış, uzun dönemli bir programdır. Bu programın ilk 4 ayı Profesyonel Aşçılık programı müfredatını kapsar. İkinci 4 ayında ise öğrenciler yoğun Pratiği olan, hatta gerçek bir restoran ortamını da yaşatan bir eğitim dönemi geçirirler. Bu dönemde el becerisini ve hızı artırmaya odaklanılır. Son 4 aylık dönem, gene Profesyonel Aşçılık programında olduğu üzere mecburi stajdır.
        </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        Hangi programa katılmalıyım?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        <p>
            Hangi programa katılmanız gerektiği aslında profesyonel hedeflerinize bağlıdır. Ancak karar vermekte zorluk çekiyorsanız veya daha detaylı ve kişisel sorularınız varsa, okulumuzda yapacağınız görüşmede, şeflerimiz size yardımcı olup, yön göstereceklerdir.<br /><br />
            Eğer temel bir eğitim alıp, hızla sektöre girmek ve çalışmaya başlamayı planlıyorsanız, Profesyonel Aşçılık programı size uygundur. Ama eğer hedefiniz yurtdışında eğitime devam etmek ve yurtdışında çalışmak veya Türkiye’de daha yoğun ve Pratik odaklı bir eğitim almak ise, o zaman Uzun Dönem programa katılmanız daha uygun olacaktır.  Uzun Dönem eğitim size çok daha fazla pratik kazandıracağı gibi mutfak idareciliği, mutfak operasyonu bilgisi gibi derslerle de kariyerinizde daha hızlı ilerlemenizi sağlayacaktır. MSA’nın Uzun Dönem eğitimine JWU eğitiminin de eklenmesi, üniversite diploması hedefi olan öğrenciler için hem vizyon hem ekonomik yönden müthiş bir olanak yaratacaktır.
        </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        Uzun D&#246;nem programdan mezun olunca daha ileri pozisyondan ve daha y&#252;ksek maaşla mı işe giriliyor?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        <p>
            Uzun DÖnem Profesyonel Aşçılık programını başarıyla tamamlayan öğrenciler, sektörde demi chef pozisyonun  gerektirdiği bilgi, tecrübe ve beceriye sahip olarak mezun oluyorlar. Bu program mezunları bilgi, pratik tecrübe ve hızları ile çalıştıkları yerlerde ciddi bir fark yaratacak, bu da hem hızla yükselmelerine hem de daha yüksek ücret almalarını sağlayacak. Sağlam bir mutfak altyapıları sayesinde bu mezunlar daha fazla gelişim ve yükselme fırsatlarına sahip olacak.
        </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        Bu eğitimde diğerinde olmayan hangi dersler olacak?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        Yiyecek içecek işletmeciğinde yöneticilik becerileri<br />
        Gıda güvenliği yöneticiliği<br />
        Dünya gastronomisi<br />
        İleri seviye Sebze ve vejetaryen yemekleri pişirme teknikleri<br />
        ileri seviye et ve sakatat pişirme ve sunma teknikleri<br />
        ileri seviye kümes hayvanları pişirme ve sunma teknikleri<br />
        ileri seviye balık ve deniz mahsülleri pişirme ve sunma teknikleri<br />
        mayalı ve dökme hamurlu ürünlerin üretimi<br />
        modern petit four’ların üretimi<br />
        ileri seviye pastacılık becerileri<br />
        sıcak, soğuk ve donuk alacarte tatlıları<br />
        pandispanya ve kurabiye üretimi, sunumu ve süslemesi
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        Profesyonel Aş&#231;ılık mezunları bu yeni programa katılabiliyor mu?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        <p>
            MSA’nın profesyonel aşçılık bölümünü başarıyla bitirmiş ve stajını tamamlamış mezunlar, 4 aylık ek modülü alarak, Uzun Dönem Profesyonel Aşçılık eğitimine katılabilirler. Stajlı eğitim mezunları için geçerlidir.<br /><br />
            Katılmak için mezunlarımızın <a>oi@msa.com.tr</a> adresine mail göndermelerini ve Öğrenci İşleri’ni aramalarını rica ederiz.
        </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        Pastacılık mezunları katılabiliyor mu?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        <p>
            Programın aşçılık ağırıklı olması sebebiyle, pastacılık mezunlarımız Uzun Dönem programın bütününe katılamamaktadır. Ancak ikinci 4 aylık modülün içindeki ek ileri seviye pastacılık derslerine katılabilirler.
        </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        Bu programın JWU ile bağlantısı nedir?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        <p>
            Uzun Dönem Profesyonel Aşçılık programı uluslararası Johnson & Wales diplomasına ilk adım niteliği taşıyor.<br /><br />
            Amerika’nın önde gelen aşçılık okulu Johnson & Wales University (JWU) ve MSA arasında yapılan özel bir anlaşma kapsamında Uzun Dönem Profesyonel Aşçılık programı mezunları JWU’da 2 yıllık Associate Degree programına dahil oluyor. Bu programın ilk yılı MSA’da gerçekleşmekte, ikinci yılı ise JWU da devam ediyor.
            Uzun Dönem Profesyonel Aşçılık programı JWU Associate Degree in Culinary Arts diploması için ilk adım.
        </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        Sınıflar ka&#231; kişilik/kapasite nedir?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        <p>
            Uzun Dönem programına maksimum 20 öğrenci Kabul edilmektedir.
        </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        &#214;ğrenci kredisi bu programda ge&#231;erli mi?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        <p>
            Evet, Uzun Dönem Profesyonel Aşçılık Programı için MSA öğrencilerine özel öğrenci/eğitim kredisi hazırlanmıştır. Anlaşmalı bankaları öğrenmek ve size en uygun ödeme imkanlarını detaylı görüşmek üzere MSA Muhasebe Departmanı ile temasa geçebilirsiniz: 0212 290 35 50
        </p>
    </div>
    <h3 data-group="Uzun Dönem Profesyonel Aşçılık">
        Eğitimlerde neden yaş sınırı vardır?
    </h3>
    <div data-group="Uzun Dönem Profesyonel Aşçılık" style="display:none">
        <p>
            Stajlı eğitimlerimiz meslek edindirme programları olduğu için bu eğitimlere 18-30 yaş arası öğrenciler kabul edilmektedir.
        </p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Kimler katılabilir?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>
            Yiyecek-içecek sektöründe kendi işyerini açmak isteyen girişimciler ya da halen sektörde yer alan, kendi işyeri profesyonelliğini ve verimliliğini artırmak isteyen işletme sahipleri. Kısacası bu alanda gerçek profesyonellerin bilgi ve deneyimlerinden yararlanıp, sadece bu konu için özenle hazırlanmış kapsamlı bir işletme eğitimi almak isteyen, 18 yaş ve üstü herkes katılabilir.
        </p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Ders konuları neler?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>Ders konularını <a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi/detay">eğitim</a> sayfasında görebilirsiniz.</p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Programa katılım şartı var mı?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>
            En az ilköğretim diploması sahipliği ile programa katılım sağlanabilir.
        </p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Program tarihleri nedir?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>Program tarihleri hakkında detaylı bilgi almak için <a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi/ucret" target="_blank">tıklayın.</a></p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Eğitim g&#252;n-saatleri nedir?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <table>
            <tr class="frame">
                <td class="lefty">Hafta içi sabah</td>
                <td class="righty">Pazartesi-Salı-Çarşamba-Perşembe <br />10:00 - 13:00</td>
            </tr>
            <tr class="frame lasty">
                <td class="lefty">Hafta içi öğlen</td>
                <td class="righty">Pazartesi-Salı-Çarşamba-Perşembe <br />14:00- 17.00</td>
            </tr>
        </table>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Sınıflar ka&#231; kişilik?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>
            Sınıf kontenjanları 28 kişidir.
        </p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Eğitim ne kadar s&#252;r&#252;yor?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>
            Eğitim programı 10 hafta sürmektedir.
        </p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Staj yapılıyor mu?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>
            Yiyecek İçecek İşletmeciliği programında staj yapılmamaktadır.
        </p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Program T.C. Milli Eğitim Bakanlığı’ndan onaylı mı?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>
            MSA, T.C. Milli Eğitim Bakanlığı’na bağlı olup, verdiği profesyonel eğitimler sonunda katılımcılarına T.C. Milli Eğitim Bakanlığı onaylı sertifika verme yetkisine sahiptir.
        </p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Eğitim sonunda yapılacak olan sertifika sınavlarına katılamazsak veya başarısız olduğumuzda tekrar sınava katılma hakkımız var mıdır?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <h4>MEB</h4>
        <p>10 haftalık eğitim sonunda yapılacak olan MEB sınavına katılamadığınızda veya başarısızlık durumunda takip eden 2 dönemin öğrencilerinin katılacağı sınava katılabilirsiniz. Bunun için öğrenci işlerine takip eden dönem sınavından en az 1 ay önce mail ile bilgi vermeniz gerekmektedir. Sınav ücretsizdir.</p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Mezun olmak i&#231;in ne yapmak gerekiyor?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>
            Programı tamamlayan öğrenciler T.C. Milli Eğitim Bakanlığı sınavıyla ve proje ile değerlendirilir (Chef & Owner öğrencileri hariç). T.C. Milli Eğitim Bakanlığı sınavında %50 geçer not alan öğrencilerin başarısı T.C. Milli Eğitim Bakanlığı sertifikası ile belgelenir.
        </p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Eğitim kadrosu kimlerden oluşuyor?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>
            Dersler, konularında uzman profesyonel eğitmen kadromuz, tecrübe ve bilgisi ile yiyecek-içecek sektöründe isim yapmış konuk eğitmenlerimiz tarafından verilmektedir.
        </p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Program &#252;creti nedir?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>
            Detaylı bilgi için <a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi/ucret">tıklayınız.</a>
        </p>
        <a class="bullet_1" href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi/ucret">Banka Hesap Numaralarımız</a>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        &#214;deme se&#231;enekleri nelerdir?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        <p>
            Ödeme nakit, kredi kartı ya da banka havalesiyle yapılabilir. Çeşitli kredi kartlarına vade farkıyla taksit yapılabilmektedir.
        </p>
        <p>
            Ödeme koşullarıyla ilgili detaylı bilgi için 0212 290 35 50 numaralı telefondan 114 dahili ile Muhasebe Departmanı ile görüşebilirsiniz.
        </p>
    </div>
    <h3 data-group="Yiyecek - İçecek İşletmeciliği">
        Kayıt i&#231;in neler gerekli?
    </h3>
    <div data-group="Yiyecek - İçecek İşletmeciliği" style="display:none">
        10 adet vesikalık fotoğraf Nüfus cüzdanı fotokopisi<br />
        Sabıka Kaydı<br />
        Son mezun olunan okulun noter onaylı diploma kopyası veya öğrenim belgesinin aslı<br />
        Sağlık raporu (devlet hastanesi veya aile hekiminden) <br />
        Gaita kültürü + burun ve boğaz kültürü + akciğer grafisi raporu, HIV, Hepatit B ve C testleri <br />
    </div>
    <h3 data-group="Chef & Owner">
        Kimler katılabilir?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            Chef & Owner programına, Aşçılık, Stajsız Aşçılık, Pasta-Ekmekçilik veya Stajsız Pasta-Ekmekçilik eğitimine ek olarak, Yiyecek-İçecek İşletmeciliği eğitimi de alarak, kendi iş yerini açmak ve hem şef hem de patron olmak isteyen herkes katılabilir.
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        Ders programında neler var?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p><a href="/profesyonel-egitimler/uzun-donem-profesyonel-ascilik/ders-programi">Aşçılık Ders Programı</a></p>
        <p><a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik"> Stajsız Aşçılık Ders Programı</a></p>
        <p><a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/ders-programi">Pasta ve Ekmekçilik Ders Programı</a></p>
        <p><a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik/ders-programi">Stajsız Pasta ve Ekmekçilik Ders Programı</a></p>
    </div>
    <h3 data-group="Chef & Owner">
        Katılmak i&#231;in İngilizce bilmek gerekiyor mu?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            Aşçılık, Stajsız Aşçılık, Pasta-Ekmekçilik veya Stajsız Pasta-Ekmekçilik programlarının içeriği Türkçe olmakla beraber, eğitimin City &amp; Guilds tarafından tüm dünyada uygulanan temel aşçılık eğitimi olması sebebiyle İngilizce mutfak terminolojisi kullanılmaktadır. Bu sebeple, temel İngilizce bilgisinin olması tercih edilmektedir.
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        Program tarihleri nedir?
    </h3>
    <div data-group="Chef & Owner" style="display:none">

        <p>Program tarihleri hakkında detaylı bilgi almak için <a href="/profesyonel-egitimler/chef-and-owner/ucret" target="_blank">tıklayın.</a></p>
    </div>
    <h3 data-group="Chef & Owner">
        Eğitim g&#252;n-saatleri nedir?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <table>
            <caption id="alkpastaveekmekilik">
                Aşçılık / Stajsız Aşçılık / Pasta-Ekmekçilik / Stajsız Pasta-Ekmekçilik
            </caption>
            <tbody>
                <tr class="frame">
                    <td class="lefty">Sabah sınıfları</td>
                    <td class="righty">
                        Pazartesi-Salı-Çarşamba-Perşembe-Cuma<br />09.00–13.00
                    </td>
                </tr>
                <tr class="frame">
                    <td class="lefty">
                        Öğlen sınıfları
                    </td>
                    <td class="righty">
                        Pazartesi-Salı-Çarşamba-Perşembe-Cuma<br />14.00–18.00
                    </td>
                </tr>
                <tr class="frame lasty">
                    <td class="lefty">
                        Hafta sonu
                    </td>
                    <td class="righty">
                        Cumartesi-Pazar, 09.00–18.00 <br /><em>(Öğlen 1 saat ara verilmektedir)</em>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <caption id="yiyecekecekletmecilii">
                Yiyecek İçecek İşletmeciliği
            </caption>
            <tbody>
                <tr class="frame">
                    <td class="lefty">
                        Hafta içi sabah
                    </td>
                    <td class="righty">
                        Pazartesi-Salı-Çarşamba-Perşembe<br />10:00 - 13:00
                    </td>
                </tr>
                <tr class="frame lasty">
                    <td class="lefty">
                        Hafta içi öğlen
                    </td>
                    <td class="righty">
                        Pazartesi-Salı-Çarşamba-Perşembe<br />14:00- 17.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 data-group="Chef & Owner">
        Sınıflar ka&#231; kişilik?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            Aşçılık ve Stajsız Aşçılık sınıfları 24, Pasta Ekmekçilik ve Stajsız Pasta-Ekmekçilik sınıfları 20, Yiyecek İçecek İşletmeciliği sınıfları 28 kişiliktir.
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        Eğitim ne kadar s&#252;r&#252;yor?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            Aşçılık ve Pasta-Ekmekçilik eğitimleri 4 ay mutfak uygulamalı eğitim ve 110 iş günü staj olmak üzere toplam 8 ay sürüyor.
            Stajsız Aşçılık ve Stajsız Pasta-Ekmekçilik eğitimleri 110 iş günü sürüyor.
        </p>
        <p>
            Yiyecek İçecek İşletmeciliği 10 hafta sürüyor.
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        Nerelerde staj yapılıyor?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            Staj, MSA tarafından organize edilmekte olup, Türkiye’nin önde gelen otel mutfakları ve restoranlarında gerçekleşmektedir.
        </p>
        <p><a href="#">Staj Lokasyonları</a></p>
    </div>
    <h3 data-group="Chef & Owner">
        Staj yerleri nasıl belirleniyor? / Kendim staj yeri ayarlayabilir miyim?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            Staj, MSA profesyonel eğitiminin bir parçası olup, MSA tarafından belirlenmektedir.
        </p>
        <p>
            Öğrenciler kendi staj lokasyonlarını ayarlamamaktadır.
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        Eğitim T.C. Milli Eğitim Bakanlığı’ndan onaylı mı?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            MSA, T.C. Milli Eğitim Bakanlığı’na bağlı olup, verdiği profesyonel eğitimler sonunda katılımcılarına T.C. Milli Eğitim Bakanlığı onaylı sertifika verme yetkisine sahiptir.
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        City & Guilds nedir?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            1878’de İngiltere Kraliçesi Victoria’nın direktifi ile kurulan ve İngiliz Kraliyeti’nin himayesinde olan City &amp; Guilds, eğitim ve öğretim alanındaki yüz yılı aşkın deneyimi ile uluslararası geçerlilikte mesleki yeterlilik belgesi ve eğitim vermeye yeterlilik belgesi veren bir kuruluştur. City &amp; Guilds’in ana misyonu dünyada akredite etmiş olduğu tüm eğitim kurumlarında eğitim kalitesinin aynı standartlarda korunuyor olmasıdır.
        </p>
        <p>
            City &amp; Guilds diplomasının özelliği ise, eğitim kurumunun yeri ve adına bağlı kalınmaksızın, dünya üzerinde tanınırlığı ve geçerliliğidir. City &amp; Guilds 100’den fazla ülkede, içinde küçük bir bölümü profesyonel aşçılık eğitimi veren 8500’ü aşkın okula akreditasyon vermiştir. Bu okullardan 500 değişik meslekten yılda 1 milyon mezun iş hayatına atılmaktadır.
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        Mezun olmak i&#231;in ne yapmak gerekiyor?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            Aşçılık, Stajsız Aşçılık, Pasta-Ekmekçilik veya Stajsız Pasta-Ekmekçilik programlarının bitiminde, iki farklı sınav yapılıyor. İlk sınav %50 geçer not beklenen T.C. MEB sınavıdır ve öğrencinin başarısı T.C. MEB sertifikası ile belgelenir. Ek olarak,  Aşçılık ve Pasta-Ekmekçilik öğrencileri dönem içindeki görevlerini tam anlamı ile yerine getiren, dönem içindeki sözlü, yazılı ve uygulamalı sınavlarında başarılı olan, günlük ödevlerinde başarı gösteren öğrenciler tüm dünya ile aynı anda yapılan ve %65 geçer not beklenen City &amp; Guilds sınavına girmeye hak kazanır. Başarı, dünya genelinde tanınan ve kabul gören City &amp; Guilds sertifikası ile belgelenir.
        </p>
        <p>
            Yiyecek ve İçecek İşletmeciliği programını tamamlayan öğrenciler T.C. Milli Eğitim Bakanlığı sınavı ile değerlendirilir. T.C. Milli Eğitim Bakanlığı sınavında %50 geçer not alan öğrencilerin başarısı T.C. Milli Eğitim Bakanlığı sertifikası ile belgelenir.
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        Eğitim kadrosu kimlerden oluşuyor?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            Eğitim, konularında uzman eğitmen kadrosu ve dönemsel olarak katılan konuk uzman şefler tarafından veriliyor. MSA’daki eğitim, dünyaca ünlü şeflerle yapılan workshoplar, sektörün önde gelen firmalarına yapılan mesleki geziler ve çeşitli aktivitelerle de destekleniyor.
        </p>
        <p>
            <a href="/profesyonel-egitimler/chef-and-owner/detay">Eğitim Kadromuz</a>
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        Program &#252;cretleri nedir?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            Detaylı bilgi için <a href="/profesyonel-egitimler/chef-and-owner/ucret">tıklayınız.</a>
        </p>
        <a class="bullet_1" href="/profesyonel-egitimler/chef-and-owner/ucret">Banka Hesap Numaralarımız</a>
    </div>
    <h3 data-group="Chef & Owner">
        Eğitim boyunca kullanılacak malzemeler fiyata dahil mi, değeri ne kadar?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>Dahil. Aşçılık eğitim seti 900 TL, Pasta ve Ekmekçilik eğitim seti 800 TL. </p>
        <p><a href="/profesyonel-egitimler/chef-and-owner/ucret">Ücret ve Kredi İmkanları</a></p>
    </div>
    <h3 data-group="Chef & Owner">
        &#214;deme se&#231;enekleri nelerdir?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            Ödeme nakit, kredi kartı ya da banka havalesiyle yapılabilir. Çeşitli kredi kartlarına vade farkıyla taksit yapılabilmektedir. Ödeme koşullarıyla ilgili detaylı bilgi için 0212 290 35 50 numaralı telefondan 114 dahili ile Muhasebe Departmanı ile görüşebilirsiniz.
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        Eğitim kredisi alabilir miyim?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            <strong> TEKSTİLBANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            Tekstilbank, MSA öğrencilerine özel aylık %1.03 faiz oranı ile, dosya masrafsız, dilerseniz 1 yılı ödemesiz ve 1 yılın sonunda 24 aya kadar vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            TEKSTİLBANK, MSA Eğitim Kredisi Özel Başvuru Numarası;<br />
            0216 411 14 90<br />
            Ebru Ergül Dahili 1700<br />
            Sibel Karakoç Dahili 1701
        </p>
        <p></p>
        <p>
            <strong> INGBANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            MSA öğrencilerine özel %1.04 faiz oranı ile, dosya masrafsız, 1 yıl boyunca aylık yalnızca 145 TL'den başlayan taksit ödemeli, 1 yılın sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            ING Bank MSA'ya Özel Kredi Başvuru Numaraları :<br />
            0216 326 01 86 – Öznür Aladağ (MSA Özel Hattı)<br />
            0216 545 27 55 - Öznür Aladağ (Dahili: 1001)<br />
            0216 545 27 55 - Osman Karabulut (Dahili: 1002)
        </p>
        <p></p>
        <p>
            <strong> VAKIFBANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            VakıfBank, MSA öğrencilerine özel aylık %1,04 faiz oranı ile dosya masrafsız, dilerseniz 3 ay ödemesiz dönemli, aylık eşit taksitli 36 aya varan vadelerle Taksitli İhtiyaç Kredisi fırsatı sunuyor.
            <br /><br />
            VakıfBank MSA Öğrencilerine Özel Kredi Başvuru Numaraları:<br />
            VakıfBank Tarabya Şubesi<br />
            0 212 262 65 43-Hülya ERDİREN-(Dahili: 215)<br />
            0 212 262 65 43-Serap KÖÇEK-(Dahili: 211)
        </p>
        <p></p>
        <p>
            <strong> ODEABANK </strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            Odeabank, MSA öğrencilerine özel aylık %1.09 faiz oranı ile, dosya masrafsız, dilerseniz 3 ay ödemesiz, sonrasında 9 ay sadece faiz ödemeli ve 1 yılın sonunda 24 aya kadar vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            ODEABANK, MSA Eğitim Kredisi Özel Başvuru Numarası;<br />
            0212 304 8115 - Özge Erdoğan (Direk hat)<br />
            0532 131 2482 – Özge Erdoğan (MSA Özel hat)<br />
            0212 304 8116 – Arzu Güner (Direk hat)
        </p>
        <p></p>
        <p>
            <strong>AKBANK</strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            Akbank, MSA öğrencilerine özel %1,09 faiz oranı ile 1 yıl boyunca aylık yalnızca 179 TL'den başlayan taksit ödemeli, 1 yıl sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.
            <br /><br />
            Akbank Özel Kredi Başvuru Numarası:<br />
            0212 365 71 05 - Seda Tuncer Maslak Şubesi<br />
            0212 365 71 21<br />
            0212 365 71 06 - Duygu Bengül
        </p>
        <p></p>
        <p>
            <strong>TEB</strong><br />
            <strong>Ocak 2015 MSA Öğrencilerine Özel..</strong><br />
            MSA öğrencilerine özel %1,09 faiz oranı ile 1 yıl boyunca aylık yalnızca 179 TL'den başlayan taksit ödemeli, 1 yıl sonunda 24 aya kadar varan vade ve esnek ödeme  seçenekleri sunuyor.
            <br /><br />
            TEB MSA Eğitim Kredisi Özel Başvuru Numarası:<br />
            0850 204 01 29 - Sinem Turhan (Dahili:41430) - <br />
            Güneş Sandıkçı(Dahili:41424) <br />
            TEB Maslak Şubesi
        </p>
    </div>
    <h3 data-group="Chef & Owner">
        Kayıt i&#231;in neler gerekiyor?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        15 adet vesikalık fotoğraf<br />
        Nüfus cüzdanı fotokopisi<br />
        Sabıka Kaydı<br />
        Son mezun olunan okulun noter onaylı diploma kopyası veya öğrenim belgesinin aslı<br />
        Sağlık raporu (devlet hastanesi veya aile hekiminden)<br />
        Gaita kültürü + burun ve boğaz kültürü + akciğer grafisi, HIV, Hepatit B ve C testleri	<br />
        Stajlı programa kabul edilen öğrencilerin 90 sterlin City & Guilds sertifikasyon ücretinin ödendiğine dair dekont getirmesi gerekmektedir.<br />Hesap Numarası: 645 – 011 42 28<br />IBAN: TR30 0004 6006 4500 3000 1142 28

    </div>
    <h3 data-group="Chef & Owner">
        İş garantisi veriliyor mu?
    </h3>
    <div data-group="Chef & Owner" style="display:none">
        <p>
            MSA, öğrencilerine uluslararası standartlarda ve kalitede bir eğitim sunmaktadır ve pratik anlamda da stajla desteklemektedir. İş garantisi verilmemekle birlikte, MSA’daki eğitimini ve stajını başarı ile tamamlayan öğrenciler, giderek büyüyen MSA mezunları ağına dahil olmakta ve her zaman MSA desteğini arkalarında hissetmektedir.
        </p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Kimler katılabilir?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>Profesyonel Barmenlik ve Miksoloji programına, profesyonel barmenliği öğrenmek isteyen, barmenliği bir kariyer olarak seçmiş barmen ve barmaid adayları ya da halen bu sektörde çalışan fakat barmenlik mesleğine ilişkin temel bir eğitim almamış, 18 yaş ve üstü herkes katılabilir.</p>
        <p>En az ilköğretim diploması sahipliği ile programa katılım sağlanabilir. Tüm dünyada barmenlik ve miksoloji mesleği terminolojisi İngilizce’dir. Bu sebeple, temel İngilizce bilgisinin olması tercih edilmektedir.</p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Ders konuları neler?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>Ders konularını <a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji/ders-programi">eğitim</a> sayfasında görebilirsiniz.</p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Program tarihleri nedir?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>Program tarihleriyle ilgili 0212 290 35 50 numaralı telefondan bilgi alabilirsiniz.</p>

    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Eğitim g&#252;n-saatleri nedir?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>Cumartesi-Pazar (12:00-15:00)</p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Sınıflar ka&#231; kişilik?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>Sınıf kontenjanımız 12 kişidir.</p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Eğitim ne kadar s&#252;r&#252;yor?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>Program 8 hafta sürmektedir.</p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Eğitim T.C. Milli Eğitim Bakanlığı’ndan onaylı mı?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>MSA, T.C. Milli Eğitim Bakanlığı’na bağlı olup, verdiği profesyonel eğitimler sonunda katılımcılarına T.C. Milli Eğitim Bakanlığı onaylı sertifika verme yetkisine sahiptir.</p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">City & Guilds nedir?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>1878'de İngiltere Kraliçesi Victoria'nın direktifi ile kurulan ve İngiliz Kraliyeti'nin himayesinde olan City &amp; Guilds, eğitim ve öğretim alanındaki yüz yılı aşkın deneyimi ile uluslararası geçerlilikte mesleki yeterlilik belgesi ve eğitim vermeye yeterlilik belgesi veren bir kuruluştur. City &amp; Guilds'in ana misyonu dünyada akredite etmiş olduğu tüm eğitim kurumlarında eğitim kalitesinin aynı standartlarda korunuyor olmasıdır. City &amp; Guilds diplomasının özelliği ise, eğitim kurumunun yeri ve adına bağlı kalınmaksızın, dünya üzerinde tanınırlığı ve geçerliliğidir. City &amp; Guilds 100'den fazla ülkede, içinde küçük bir bölümü profesyonel aşçılık eğitimi veren 8500'ü aşkın okula akreditasyon vermiştir. Bu okullardan 500 değişik meslekten yılda 1 milyon mezun iş hayatına atılmaktadır.</p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Mezun olmak i&#231;in ne yapmak gerekiyor?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>Eğitim bitiminde, iki farklı sınav yapılıyor. İlk sınav %50 geçer not beklenen T.C. MEB sınavıdır ve öğrencinin başarısı T.C. MEB sertifikası ile belgelenir. İkincisi ise City &amp; Guilds sınavıdır. Minimum %65 başarı oranı ile geçen öğrenciler, tüm dünyaca tanınan City &amp; Guilds Barmenlik ve Miksoloji sertifikası diplomasına sahip olurlar.</p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Eğitim kadrosu kimlerden oluşuyor?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>Eğitim, Türkiye’nin en iyi barmeni ödüllü, yurtiçi ve yurtdışında çok sayıda başarıya imza atmış, Lucca’nın bar şefi Cevat Yıldırım tarafından verilmektedir.</p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Program &#252;creti nedir?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">

        <p>
            Detaylı bilgi için <a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji/ucret">tıklayınız.</a>
        </p>
        <a class="bullet_1" href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji/ucret">Banka Hesap Numaralarımız</a>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">&#214;deme se&#231;enekleri nelerdir?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>Ödeme nakit, kredi kartı ya da banka havalesiyle yapılabilir. Çeşitli kredi kartlarına vade farkıyla taksit yapılabilmektedir. Ödeme koşullarıyla ilgili detaylı bilgi için 0212 290 35 50 numaralı telefondan 114 dahili ile Muhasebe Departmanı ile görüşebilirsiniz.</p>
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">Kayıt i&#231;in neler gerekli?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        5 adet vesikalık fotoğraf<br />
        Nüfus cüzdanı fotokopisi<br />
        Sabıka Kaydı<br />
        Son mezun olunan okulun noter onaylı diploma kopyası veya öğrenim belgesinin aslı <br />
        Sağlık raporu (devlet hastanesi veya aile hekiminden)<br />
        Gaita kültürü + burun ve boğaz kültürü + akciğer grafisi raporu, HIV, Hepatit B ve C testleri<br />
        City & Guilds sertifikasyon ücreti (70 sterlin) ödendiğine dair dekont	<br />Hesap Numarası: 645 – 011 42 28<br />
        IBAN: TR30 0004 6006 4500 3000 1142 28
    </div>
    <h3 data-group="Profesyonel Barmenlik ve Miksoloji">İş garantisi veriliyor mu?</h3>
    <div data-group="Profesyonel Barmenlik ve Miksoloji" style="display:none">
        <p>MSA, öğrencilerine uluslararası standartlarda ve kalitede bir eğitim sunmaktadır. İş garantisi verilmemekle birlikte, MSA’daki eğitimini başarı ile tamamlayan öğrenciler, giderek büyüyen MSA mezunları ağına dahil olmakta ve her zaman MSA desteğini arkalarında hissetmektedir.</p>
    </div>
</div>
<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><span>Sıkça Sorulan Sorular</span></li>
        </ul>
    </div>
</div>

