﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"Stajsız Profesyonel Aş&#231;ılık</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="paragraph">
    <h1><strong>Stajsız Profesyonel Aş&#231;ılık Ücret ve Kredi İmkanları</strong></h1>
</div>

<div class="accordion-module collapse-all">

    <h3>Eğitim Ücretleri</h3>
    <div>
        <div class="prices text-center add-border-top add-padding-top">

            <h4>Stajsız Profesyonel Aş&#231;ılık Eğitimi</h4>
            <p class="large half-bottom"><strong>18.800 TL</strong></p>
            <p>(Eğitim seti ve KDV dahil)</p>
			<!-- <p class="yeniTarih">2 Mart 2015'ten itibaren</p>
			<p class="large half-bottom yeniFiyat"><strong>18.800 TL</strong></p> -->
        </div>
        <div class="prices text-center add-border-top add-padding-top">

            <h4>Chef &amp; Owner (Stajsız Profesyonel Aş&#231;ılık Eğitimi &amp; İşletmecilik)</h4>
            <p class="large half-bottom"><strong>21.800 TL</strong></p>
            <p>(Eğitim seti ve KDV dahil)</p>
			<!-- <p class="yeniTarih">2 Mart 2015'ten itibaren</p>
			<p class="large half-bottom yeniFiyat"><strong>21.800 TL</strong></p> -->
        </div>


        <div class="prices add-border-top add-padding-top">

            <h1><strong>Sınav &#220;cretleri</strong></h1>
            <p><p>Stajsız Profesyonel Aşçılık öğrencileri için City & Guilds sınavı ücreti <strong>90 sterlin</strong>’dir.</p>
            <p class="avenir"><strong>Hesap Bilgileri :</strong></p>
            <p>STR TR30 0004 6006 4500 3000 1142 28</p></p>

        </div>
        <div class="prices add-border-top add-padding-top">

            <h1><strong>Eğitim Boyunca Kullanılacak Malzemeler</strong></h1>
            <p>Öğrenciler MSA'daki eğitimleri boyunca okulun malzeme ve üniformasını kullanmak zorundadır. Bu malzeme seti okuldan temin edilmektedir.</p>

        </div>
    </div>

    <h3>Ödeme Seçenekleri</h3>
    <div>
        <div class="prices">
            <h4>Kredi İmkanları</h4>
            <p><strong>Tekstilbank, ING Bank, Akbank, Vakıfbank</strong> ve <strong>TEB</strong> işbirliği ile MSA öğrencilerine özel geliştirdiğimiz mesleki eğitim kredisi imkanlarından yararlanın.</p>
        </div>
        <div class="prices add-border-top add-padding-top">
            <h4>Kredi Kartı</h4>
            <p>Detaylı bilgi almak için <strong>0212 290 35 50 (0212 444 9 MSA)</strong> numaralı telefondan <strong>3</strong>'ü tuşlayabilirsiniz.</p>
        </div>
        <div class="prices add-border-top add-padding-top">
            <h4>Nakit</h4>
            <p>Eğitim programlarımıza katılım ücretini nakit ödemeyi tercih ediyor iseniz, bankaların <strong>hesap</strong> ve <strong>IBAN</strong> numaralarını yanda bulabilirsiniz.</p>
        </div>
    </div>

    <h3>Hesap Numaralarımız</h3>
    <div>
        <div class="prices">
            <h4>TL Hesaplar</h4>
            <p>
                <strong>Akbank, Maslak Şubesi</strong><br>
                TL TR60 0004 6006 4588 8000 0641 01
            </p>
            <p>
                <strong>Garanti, Maslak Şubesi</strong><br>
                TL TR 80 0006 2000 3420 0006 2975 27
            </p>
        </div>
        <div class="prices add-border-top add-padding-top">
            <h4>Dövizli Hesaplar</h4>
            <p>
                <strong>Akbank, Maslak Şubesi</strong><br>
                EUR TR63 0004 6006 4503 6000 1161 01<br>
                STR TR30 0004 6006 4500 3000 1142 28
            </p>
        </div>
    </div>

    <h3>Kredi İmkanları</h3>
    <div>
        <p><h4>Ocak 2015 MSA Öğrencilerine Özel..</h4></p><p>Tekstilbank, MSA öğrencilerine özel aylık %1.03 faiz oranı ile, dosya masrafsız, dilerseniz 1 yılı ödemesiz ve 1 yılın sonunda 24 aya kadar vade ve esnek ödeme seçenekleri sunuyor.</p><p><h4>TEKSTİLBANK, MSA Eğitim Kredisi Özel Başvuru Numarası;</h4></p><p>0216 411 14 90</p><p>Ebru Ergül Dahili 1700</p><p>Sibel Karakoç Dahili 1701</p> <p><h4>Ocak 2015 MSA Öğrencilerine Özel.. </h4></p><p><h4></h4>MSA öğrencilerine özel %1.04 faiz oranı ile, dosya masrafsız, 1 yıl boyunca aylık yalnızca 145 TL'den başlayan taksit ödemeli, 1 yılın sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.</p><p><h4>ING Bank MSA'ya Özel Kredi Başvuru Numaraları :</h4></p><p>0216 326 01 86 – Öznür Aladağ (MSA Özel Hattı)</p><p>0216 545 27 55 - Öznür Aladağ (Dahili: 1001)</p><p>0216 545 27 55 - Osman Karabulut (Dahili: 1002)</p> <p><h4>Ocak 2015 MSA Öğrencilerine Özel..</h4></p><p>VakıfBank, MSA öğrencilerine özel aylık %1,04 faiz oranı ile dosya masrafsız, dilerseniz 3 ay ödemesiz dönemli, aylık eşit taksitli 36 aya varan vadelerle Taksitli İhtiyaç Kredisi fırsatı sunuyor.</p><p><h4>VakıfBank MSA Öğrencilerine Özel Kredi Başvuru Numaraları:</h4></p><p><h4>VakıfBank Tarabya Şubesi</h4></p><p>0 212 262 65 43-Hülya ERDİREN-(Dahili: 215)</p><p>0 212 262 65 43-Serap KÖÇEK-(Dahili: 211)</p> <p><h4>Ocak 2015 MSA Öğrencilerine Özel..</h4></p><p></p><p>Odeabank, MSA öğrencilerine özel aylık %1.09 faiz oranı ile, dosya masrafsız, dilerseniz 3 ay ödemesiz, sonrasında 9 ay sadece faiz ödemeli ve 1 yılın sonunda 24 aya kadar vade ve esnek ödeme seçenekleri sunuyor.</p><p></p><p><h4>ODEABANK, MSA Eğitim Kredisi Özel Başvuru Numarası;</h4></p><p>0212 304 8115 - Özge Erdoğan (Direk hat)</p><p>0532 131 2482 – Özge Erdoğan (MSA Özel hat)</p><p>0212 304 8116 – Arzu Güner (Direk hat)</p> <p><h4>Ocak 2015 MSA Öğrencilerine Özel..</h4></p><p><br>Akbank, MSA öğrencilerine özel %1,09 faiz oranı ile 1 yıl boyunca aylık yalnızca 179 TL'den başlayan taksit ödemeli, 1 yıl sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.</p><p><h4>Akbank Özel Kredi Başvuru Numarası:</h4></p><p>0212 365 71 05 - Seda Tuncer Maslak Şubesi</p><p>0212 365 71 21</p><p>0212 365 71 06 - Duygu Bengül</p> <p><h4>Ocak 2015 MSA Öğrencilerine Özel..</h4></p><p>TEB, MSA öğrencilerine özel %1,09 faiz oranı ile 1 yıl boyunca aylık yalnızca 179 TL'den başlayan taksit ödemeli, 1 yıl sonunda 24 aya kadar varan vade ve esnek ödeme seçenekleri sunuyor.</p><p><h4>TEB MSA Eğitim Kredisi Özel Başvuru Numarası:</h4></p><p>0850 204 01 29 - Sinem Turhan (Dahili:41430) - Güneş Sandıkçı(Dahili:41424)</p><p>TEB Maslak Şubesi</p>
    </div>

</div>



<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik">Stajsız Profesyonel Aş&#231;ılık</a></li>
            <li class=""><span>Stajsız Profesyonel Aş&#231;ılık</span></li>
        </ul>
    </div>
</div>
