﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Stajsız Profesyonel Pasta ve Ekmek&#231;ilik</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="paragraph">
    <h1><strong>Dönemler ve Eğitim Süresi</strong></h1>
</div>

<div class="gray text-module">
    <div class="prices text-center add-border-top add-padding-top">

        <h4>Stajsız Profesyonel Pasta ve Ekmek&#231;ilik Eğitimi</h4>
        <p class="large half-bottom"><strong>16.000 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)</p>
        <!-- <p class="yeniTarih">2 Mart 2015'ten itibaren</p>
		<p class="large half-bottom yeniFiyat"><strong>16.000 TL</strong></p> -->

    </div>
	<div class="prices text-center add-border-top add-padding-top">

			<h4>Chef & Owner (Stajsız Pasta ve Ekmekçilik Eğitimi & İşletmecilik)</h4>
			<p class="large half-bottom"><strong>19.000 TL</strong></p>
			<p>(Eğitim seti ve KDV dahil)</p>

	</div>

    <div class="prices add-border-top add-padding-top">

        <h4><strong>Eğitim S&#252;resi</strong></h4>
        <p>Toplam 4 aydır. Sınıf kontenjanları 20 kişi ile sınırlıdır.</p>

    </div>
</div>

<div class="akademikTakvim">
    <h3>Mayıs 2015</h3>
    <ul>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Sabah</h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş  (09:00-13:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Öğlen</h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş  (14:00-18:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
        <li>
            <h5 class="half-bottom">23 Mayıs 2015 - Hafta Sonu</h5>
            <h4 class="normal">Cumartesi-Pazar  (09:00-18:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
    </ul>

    <div class="clear"></div>

</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik">Stajsız Profesyonel Pasta ve Ekmek&#231;ilik</a></li>
            <li class=""><span>Stajsız Profesyonel Pasta ve Ekmek&#231;ilik</span></li>
        </ul>
    </div>
</div>
