﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"Tapas</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Tapas</strong></h1>


    <p>İspanyol ateşi MSA’da yanmaya devam ediyor. Yepyeni tariflerle en özgün İspanyol lezzetlerini mutfağınıza taşıyoruz. MSA ikramı nefis Sangria’mız ile müthiş bir tapas menüsü sizleri bekliyor.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Acı marineli çıtır tavuk kanatları </li>
        <li>Mini pancake, kuşkonmaz ve kurutulmuş domates ile</li>
        <li>Lime ve sarımsak marineli kuzu şiş, baharatlı çıtır bagetler</li>
        <li>Tempura karides, fesleğenli tartar sos ile</li>
        <li>Tatlı ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">22 Ocak Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/tapas">Tapas</a></li>
            <li class=""><span>Tapas Detay</span></li>
        </ul>
    </div>
</div>

