﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"Tapas</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/tapas.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>İspanyol esintilerini mutfağınıza taşıyoruz.</h2>
                    <p>Perşembe akşamını bu enfes menümüzle lezzetlendiriyoruz.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>İspanyol ateşi MSA’da yanmaya devam ediyor. Yepyeni tariflerle en özgün İspanyol lezzetlerini mutfağınıza taşıyoruz. MSA ikramı nefis Sangria’mız ile müthiş bir tapas menüsü sizleri bekliyor.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/tapas/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">22 Ocak Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

