﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Tekne Personeli İçin Aşçılık Eğitimi</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Tekne Personeli İçin Aşçılık Eğitimi</strong></h1>


    <p>
        En iyi restoranların menülerinden alışkın olduğunuz lezzetler artık teknenize geliyor.İster açık denizde yol alın, ister marina keyfi yapın siz ve misafirleriniz için hazırlanan özenle hazırlanan yemeklerin tadını şimdi kendi teknenizde çıkarın.
        Msa'nın "Tekne Personeli İçin Aşçılık Eğitimi" ile tekne mutfağında çalışanlar farklı pişirme, saklamave muhafaza  tekniklerini öğrenecek.70'ten fazla reçetenin birebir pratik uygulamaları ve demo anlatımlarıyla kendi reçetelerini geliştirirken, zengin açık büfe ve sofralar hazırlayacaklar.



    </p>
</div>
<div class="workshop-menu">
    <h2>Ders İçerikleri</h2>
    <ul>
        <li>1. Gün; Garde Menger ve Kahvaltı</li>
        <li>2. Gün; Etler ve Deniz Ürünleri ile Makarnalar ve Pirinçler</li>
        <li>3. Gün; Finger Foods Ve Tapas ile Çay Saati ve Tatlılar</li>
    </ul>
    <p>
        <b>Kimler  katılabilir;</b><br/>

        1)Yat ve tekne mutfağında   uzanlaşmak isteyen mutfak personelleri<br />
        2)Aşçılık bölümü mezunları<br />
        3)Yelkenli, yat ve guletlerde  çalışan aşçılar<br />
        <br />
        <b>
            Program detayları:
        </b><br />
            Tüm katılıcılara reçeteleri içeren eğitim kitabı verilecektir.<br />
            Eğitim sonunda MSA eğitmen şeflerininimzaladığı özel sertifika verilecektir



</p>
</div>

<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">2.500 TL</div>
    <div class="note">KDV Dahil</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/donemlik-workshoplar">Dönemlik Workshop’lar</a></li>
            <li class=""><a href="/donemlik-workshoplar/tekne-personeli-icin-ascilik-egitimi">Tekne Personeli İçin Aşçılık Eğitimi</a></li>
            <li class=""><span>Tekne Personeli İçin Aşçılık Eğitimi Detay</span></li>
        </ul>
    </div>
</div>

