﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Tekne Personeli İçin Aşçılık Eğitimi</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/tekno_personeli_icin_ascilik_egitimi.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Tekne Personeli İçin Aşçılık Eğitimi</h2>
                    <p>Merak tutkuya dönüşünce</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>
        En iyi restoranların menülerinden alışkın olduğunuz lezzetler artık teknenize geliyor.İster açık denizde yol alın, ister marina keyfi yapın siz ve misafirleriniz için hazırlanan özenle hazırlanan yemeklerin tadını şimdi kendi teknenizde çıkarın.
        Msa'nın "Tekne Personeli İçin Aşçılık Eğitimi" ile tekne mutfağında çalışanlar farklı pişirme, saklamave muhafaza  tekniklerini öğrenecek.70'ten fazla reçetenin birebir pratik uygulamaları ve demo anlatımlarıyla kendi reçetelerini geliştirirken, zengin açık büfe ve sofralar hazırlayacaklar.

    </p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/donemlik-workshoplar/tekne-personeli-icin-ascilik-egitimi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">Yeni eğitim programı belirlenince açıklanacaktır.</div>
    <div class="clear hr"></div>
    <div class="price">2.500 TL</div>
    <div class="note">KDV Dahil</div>
</div>

