﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"İleri Seviye Uluslararası Diplomalı T&#252;rk Mutfağı</title>
<meta name="keywords" content="">
<meta name="description" content="">


<div class="paragraph">

    <h1><strong>Ders Programı</strong></h1>
    <p></p>

</div>

<div class="haftalik-program">
    <ul>
        <li>
            <div class="week-title">Klasik T&#252;rk Mutfağı İlk Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">01. G&#252;n</div>
            <div class="week-details">

                <p>Türk Mutfağı'na Giriş</p>
                <p>Ön Hazırlıklar ve Sonrasında Mısır Çarşısı Gezisi</p>

            </div>
        </li>
        <li>
            <div class="week-title">Klasik T&#252;rk Mutfağı İlk Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">02. G&#252;n</div>
            <div class="week-details">


                <p><strong>Çorbalar</strong><br>15 - 19 yüzyıl arası, Osmanlı Saray Mutfağı’nın klasik çorbalarının teorik aktarımı ve pratik uygulamaları<br>Tahıllı, bakliyatlı ve hamurlu çorbalar</p>
                <p><strong>Hamur İşleri ve Börekler</strong><br>15 - 19 yüzyıl Osmanlı Saray Mutfağı, kayıtlarda en çok sözü geçen hamur işleri teorik ve pratik uygulamaları</p>

            </div>
        </li>
        <li>
            <div class="week-title">Klasik T&#252;rk Mutfağı İlk Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">03. G&#252;n</div>
            <div class="week-details">

                <p><strong>Et Yemekleri</strong><br>15 - 19 yüzyıl Osmanlı Saray yemekleri envanterinde yer alan belli et yemekleri ve pişirme gereçleri ve tekniklerinin teorik bilgileri ve pratik uygulamaları</p>
                <p><strong>Sebze ve Dolmalar</strong><br>15 - 19 yüzyıl arası Klasik Osmanlı Mutfağı envanterine dahil sebze yemeklerinin gelişme süreci ile ilgili teorik bilgi ve uygulamalarının yapılışı</p>

            </div>
        </li>
        <li>
            <div class="week-title">Klasik T&#252;rk Mutfağı İlk Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">04. G&#252;n</div>
            <div class="week-details">

                <p><strong>Zeytinyağlı, Meze ve Salatalar</strong><br>15 - 19 yüzyıl Osmanlı Saray Mutfağı’nın en çok sözü edilen, ve en yaygın olarak uygulaması yapılan meze, salata ve zeytinyağlı yemeklerinin uygulaması</p>
                <p><strong>Pilavlar</strong><br>15 - 19 yüzyıl arası, Osmanlı Saray Mutfağı’nın en önemli kategorilerinden birisi olan pirinç ve bulgur pilavlarının uygulamaları</p>

            </div>
        </li>
        <li>
            <div class="week-title">Klasik T&#252;rk Mutfağı İlk Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">05. G&#252;n</div>
            <div class="week-details">


                <p><strong>Balıklar</strong><br>15 - 19 yüzyıl arası Osmanlı Saray yemeklerinin en dar fakat o oranda enterasan kategorilerinden biri olan deniz yemekleri ve balıkların teorik aktarımı ve pratik uygulamaları</p>
                <p><strong>Turşular</strong><br>Osmanlı Saray Mutfağı’nın en özgün saklama metodlarından biri olan tuzlama ve turşuların teorik aktarımı</p>
                <p><strong>Tatlılar</strong><br>15-19 yüzyıl Osmanlı Saray Mutfağı’nı taçlandıran tatlıların teorik aktarımı ve pratik uygulamaları</p>

            </div>
        </li>
        <li>
            <div class="week-title">Y&#246;resel Anadolu Mutfağı İkinci Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">01. G&#252;n</div>
            <div class="week-details">

                <p>İstanbul, Balıkesir, Çanakkale, İzmir ve Muğla Yöreleri</p>
                <p>Edirne, Tekirdağ, Kırklareli Yöreleri</p>

            </div>
        </li>
        <li>
            <div class="week-title">Y&#246;resel Anadolu Mutfağı İkinci Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">02. G&#252;n</div>
            <div class="week-details">

                <p>Gaziantep, Kilis, Hatay ve Mardin Yöreleri</p>

            </div>
        </li>
        <li>
            <div class="week-title">Y&#246;resel Anadolu Mutfağı İkinci Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">03. G&#252;n</div>
            <div class="week-details">

                <p>Diyarbakır, Şanlıurfa, Adıyaman, Bitlis, Siirt ve Malatya Yöreleri</p>
                <p>Bursa, Eskişehir ve Bilecik Yöreleri</p>

            </div>
        </li>
        <li>
            <div class="week-title">Y&#246;resel Anadolu Mutfağı İkinci Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">04. G&#252;n</div>
            <div class="week-details">

                <p>Kastamonu, Karabük, Sinop ve Samsun Yöreleri</p>
                <p>Trabzon, Rize, Giresun ve Artvin Yöreleri</p>

            </div>
        </li>
        <li>
            <div class="week-title">Y&#246;resel Anadolu Mutfağı İkinci Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">05. G&#252;n</div>
            <div class="week-details">

                <p>Çorum, Tokat, Amasya, Sivas ve Çankırı Yöreleri</p>
                <p>Erzurum, Kars, Van, Ağrı ve Elazığ Yöreleri</p>

            </div>
        </li>
        <li>
            <div class="week-title">Y&#246;resel Anadolu Mutfağı İkinci Hafta</div>
            <div class="clear"></div>
            <div class="week-detail-title">06. G&#252;n</div>
            <div class="week-details">

                <p>Konya, Karaman, Kayseri ve Nevşehir Yöreleri</p>
                <p>Mersin, Adana, Osmaniye, Kahramanmaraş, Burdur, Isparta ve Antalya Yöreleri</p>

            </div>
        </li>
    </ul>



</div>

<div class="text-center add-top add-bottom">
    <a href="/basvuru-formu" class="button x3">Başvuru Formu</a>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/ileri-seviye-uluslararasi-diplomali-turk-mutfagi-egitimi">İleri Seviye Uluslararası Diplomalı T&#252;rk Mutfağı Eğitimi</a></li>
            <li class=""><span>Ders Programı</span></li>
        </ul>
    </div>
</div>
