﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"İleri Seviye Uluslararası Diplomalı T&#252;rk Mutfağı</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="paragraph">
    <h1><strong>Dönemler ve Eğitim Süresi</strong></h1>
</div>

<div class="gray text-module">

    <div class="prices add-border-top add-padding-top">

        <h4><strong>Eğitim S&#252;resi</strong></h4>
        <p>Eğitim süresi 2 haftadır.</p>
        <h4><strong>Katılım Şartları</strong></h4>
        <p>Türk Mutfağı eğitimine katılmak için MSA Profesyonel Aşçılık mezunu olmak, tecrübeli bir sektör çalışanı olmak veya aşçılık okulu mezunu olmak gereklidir. </p>
		<p>Eğitim tarihi belirlenmektedir ve yakında açıklanacaktır.</p>
    </div>
</div>

<div class="akademikTakvim">
    
    <ul>
        <li>
            <h4 class="gold">Yeni eğitim tarihi belirlenince a&#231;ıklanacaktır.</h4>
        </li>
    </ul>

    <div class="clear"></div>

</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/ileri-seviye-uluslararasi-diplomali-turk-mutfagi-egitimi">İleri Seviye Uluslararası Diplomalı T&#252;rk Mutfağı Eğitimi</a></li>
            <li class=""><span>İleri Seviye Uluslararası Diplomalı T&#252;rk Mutfağı</span></li>
        </ul>
    </div>
</div>
