﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<title>"Uzak Doğu Mutfağı</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/uzak-dogu-mutfagi.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Uzak Doğu Mutfağı</h2>
                    <p>Uzak Doğu’dan yepyeni bir menü karşınızda.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>Uzak Doğu’nun baharatlarını ve nefis aromalarını sevenler kaçırmasın.<br />MSA, dünya mutfaklarının en iyi tariflerini en özgün yöntemleriyle mutfağımıza taşımaya devam ediyor. Bu defa Doğu’nun uzak diyarlarına uzanıyor, yöresel baharatlar ve tekniklerle nefis tarifler hazırlıyoruz. Enfes kokular mutfaktan taşacak, hazırlayacağımız yemekler de damaklarımızı şenlendirecek.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/uzak-dogu-mutfagi/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">15 Ocak Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>
</div>

