﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Uzak Doğu Mutfağı</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Uzak Doğu Mutfağı</strong></h1>


    <p>Uzak Doğu’nun baharatlarını ve nefis aromalarını sevenler kaçırmasın.<br />MSA, dünya mutfaklarının en iyi tariflerini en özgün yöntemleriyle mutfağımıza taşımaya devam ediyor. Bu defa Doğu’nun uzak diyarlarına uzanıyor, yöresel baharatlar ve tekniklerle nefis tarifler hazırlıyoruz. Enfes kokular mutfaktan taşacak, hazırlayacağımız yemekler de damaklarımızı şenlendirecek.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Thai usulü Jumbo karides </li>
        <li>Dana etli, sebzeli ve ananaslı noodle</li>
        <li>Tavuk Tikka Masala	</li>
        <li>Yasemin pilavı</li>
        <li>Mango pudding ikramımızdır.</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">15 Ocak Perşembe</div>
    <div class="time">19.00 - 22.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/uzak-dogu-mutfagi">Uzak Doğu Mutfağı</a></li>
            <li class=""><span>Uzak Doğu Mutfağı Detay</span></li>
        </ul>
    </div>
</div>
