﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<title>"Uzun D&#246;nem Profesyonel Pasta ve Ekmek&#231;ilik</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/profesyonel-egitimler.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Uzun D&#246;nem Profesyonel Pasta ve Ekmek&#231;ilik</h2>
                    <p></p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>

<div class="paragraph short">


    <p>Uzun Dönem Profesyonel Pasta ve Ekmekçilik Programı, dörder ay süreli 3 eğitim kademesinden oluşan, sürekli gelişim ve ileri seviye beceri kazanımını hedefleyen bir meslek eğitimidir. Toplam 12 ay süren bu eğitim, 18-30 yaş arası adaylara ileri seviye mutfak becerisi kazandırmaya yönelik tasarlanmıştır. Eğitimin ilk 4 ayı MSA'nın profesyonel mutfaklarında pratik temel eğitim olarak gerçekleşir. İkinci 4 ayı öğrenciler ileri seviye eğitimler, el becerisini pekiştirmeye yönelik dersler ve moleküler pastacılık eğitimleri ile sektöre hazırlanma dönemi olarak geçirirler.</p>
    <p>Son üçüncü 4 aylık dönemde ise MSA tarafından yerleştirildikleri lokasyonda mecburi stajlarını yaparak tamamlarlar. Uzun Dönem Profesyonel Pasta ve Ekmekçilik Programını başarıyla tamamlayan öğrenciler, profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olurlar. Programı başarıyla bitiren öğrenciler City & Guilds Uluslararası Uzun Dönem Profesyonel Pasta-Ekmekçilik (Advanced Diploma in Pastry & Bakery) diploması ve Milli Eğitim Bakanlığı sertifikası ile mezun olurlar.</p>
</div>

<div class="links-module">
    <ul>
        <li><a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/detay">Program Hakkında Detaylı Bilgi</a></li>
        <li><a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/ucret">Ücret ve Kredi İmkanları</a></li>
        <li><a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/donemler">Dönemler ve Eğitim Süresi</a></li>
        <li><a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik/ders-programi">Ders Programı</a></li>
        <li><a href="/sikca-sorulan-sorular#Uzun D&#246;nem Profesyonel Pasta ve Ekmek&#231;ilik">Sıkça Sorulanlar</a></li>
    </ul>
</div>

<div class="text-center add-top add-bottom">
    <a href="/basvuru" class="button x3">Başvuru Formu</a>
</div>

<div class="slider-module text-center" id="profesyonelEgitimler">

    <h1><strong>Bunlar da ilginizi çekebilir</strong></h1>
    <p>Mutfağı profesyonel iş alanı olarak gören ve kariyer hedefi dünya mutfaklarında sayılı isimler arasında yer almak olan herkesi, uluslararası eğitim standartlarıyla buluşturuyoruz.</p>
    <ul>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/uzun-donem-profesyonel-ascilik">
                    <div class="image"><img src="/ui/images/files/uzun-donem-profesyonel-ascilik.jpg"></div>
                    <div class="text-title">Uzun Dönem Profesyonel Aşçılık</div>
                </a>
                <a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik">
                    <div class="image"><img src="/ui/images/files/uzun-donem-profesyonel-pasta-ve-ekmekcilik.jpg"></div>
                    <div class="text-title">Uzun Dönem Profesyonel Pasta ve Ekmekçilik</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/profesyonel-ascilik">
                    <div class="image"><img src="/ui/images/files/profesyonel-ascilik.jpg"></div>
                    <div class="text-title">Profesyonel Aşcılık</div>
                </a>
                <a href="/profesyonel-egitimler/stajsiz-profesyonel-ascilik">
                    <div class="image"><img src="/ui/images/files/stajsiz-profesyonel-ascilik.jpg"></div>
                    <div class="text-title">Stajsız Profesyonel Aşçılık</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/profesyonel-pasta-ve-ekmekcilik">
                    <div class="image"><img src="/ui/images/files/profesyonel-pasta-ve-ekmekcilik.jpg"></div>
                    <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                </a>
                <a href="/profesyonel-egitimler/stajsiz-profesyonel-pasta-ve-ekmekcilik">
                    <div class="image"><img src="/ui/images/files/stajsiz-profesyonel-pasta-ve-ekmekcilik.jpg"></div>
                    <div class="text-title">Stajsız Profesyonel Pasta ve Ekmekçilik</div>
                </a>
            </div>
        </li>


        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/chef-and-owner">
                    <div class="image"><img src="/ui/images/files/chef-owner.jpg"></div>
                    <div class="text-title">Chef & Owner</div>
                </a>
                <a href="/profesyonel-egitimler/prochef">
                    <div class="image"><img src="/ui/images/files/prochef.jpg"></div>
                    <div class="text-title">Prochef</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi">
                    <div class="image"><img src="/ui/images/files/yiyecek-icecek-isletmeciligi.jpg"></div>
                    <div class="text-title">Yiyecek İçecek İşletmeciliği</div>
                </a>
                <a href="/profesyonel-egitimler/profesyonel-barmenlik-ve-miksoloji">
                    <div class="image"><img src="/ui/images/files/profesyonel-barmenlik-ve-miksoloji.jpg"></div>
                    <div class="text-title">Profesyonel Barmenlik ve Miksoloji</div>
                </a>
            </div>
        </li>
        <li>
            <div class="slide">
                <a href="/profesyonel-egitimler/ileri-seviye-uluslararasi-diplomali-turk-mutfagi-egitimi">
                    <div class="image"><img src="/ui/images/files/ileri-seviye-uluslararasi-diplomali-turk-mutfagi-egitimi.jpg"></div>
                    <div class="text-title">İleri Seviye Uluslararası Diplomalı Türk Mutfağı Eğitimi</div>
                </a>
            </div>
        </li>
    </ul>

    <a href="/profesyonel-egitimler" class="button arrow bordered add-top">Tüm Profesyonel Eğitimler</a>

</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><span>Uzun D&#246;nem Profesyonel Pasta ve Ekmek&#231;ilik</span></li>
        </ul>
    </div>
</div>


