﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>"Uzun D&#246;nem Profesyonel Pasta ve Ekmek&#231;ilik</title>
<meta name="keywords" content="">
<meta name="description" content="">


<div class="paragraph">

    <h1><strong>Ders Programı</strong></h1>
    <p>Uzun Dönem Pasta-Ekmekçilik Eğitimi ders programı, teorik ve pratik sınavları, proje ödevlerini ve birebir uygulamaları içerir. Özellikle mesleğin sanatsal ve ileri seviye teknik becerilerine odaklanan ders konularıyla, gelişmiş el becerisi ve tecrübe kazandırmayı hedefler. MSA’ya gelen yabancı ve Türk chefler öğrencilerimize özel demo etkinlikler hazırlar; yeni trend ve teknikler konusunda birebir eğitim verir.</p>

</div>

<div class="haftalik-program">
     <ul>
        <li>
            <div class="week-title">01. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

               <p>Gıda Güvenliği</p>
                <p>İş Güvenliği</p>
                <p>Maliyet Hesaplama</p>
                <p>Tabak Sunumu</p>
                <p>Mutfak Ekipmanları</p>
                <p>Menü Planlama</p>
                <p>Beslenme</p>
                <p>Satın Alma</p>

            </div>
        </li>
        <li>
            <div class="week-title">02. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Bıçak Kullanımı ve Kesim Teknikleri</p>
                <p>Tuzlu Kurabiyeler I</p>
                <p>Tuzlu Kurabiyeler II</p>
                <p>Tatlı Kurabiyeler I</p>

            </div>
        </li>
        <li>
            <div class="week-title">03. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Tatlı kurabiyeler II</p>
                <p>Tuzlu - Tatlı Kurabiyeler</p>
                <p>Tartlar Paylar I</p>
                <p>Tartlar Paylar II</p>

            </div>
        </li>
        <li>
            <div class="week-title">04. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Cheesecakeler I</p>
                <p>Cheesecakeler II</p>
                <p>Ekmekler I</p>
                <p>Ekmekler II</p>

            </div>
        </li>
        <li>
            <div class="week-title">05. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Ekmekler III (Yumurtalı ve Tereyağlı)</p>
                <p>Ekmekler IV (Yumurtalı ve Tereyağlı)</p>
                <p>Pratik Sınav I</p>

            </div>
        </li>
        <li>
            <div class="week-title">06. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Ekmekler V (Yumurtalı ve Tereyağlı)</p>
                <p>Pizza Hamuru</p>
                <p>Laminalı Hamurlar I</p>
                <p>Dökme Hamurlar I</p>

            </div>
        </li>
        <li>
            <div class="week-title">07. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Laminalı Hamurlar II</p>
                <p>Dökme Hamurlar II</p>
                <p>Kızartma Hamurları</p>
                <p>Aşçılık 2</p>

            </div>
        </li>
        <li>
            <div class="week-title">08. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Kekler I</p>
                <p>Kekler II</p>
                <p>Kekler III</p>
                <p>Pratik Sınav II</p>
                <p>Ara Dönem Teorik Sınavı</p>

            </div>
        </li>
        <li>
            <div class="week-title">09. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Merengler I (Macaron) </p>
                <p>Merengler II </p>
                <p>Merengler III</p>
                <p>Custardlar (Yumurta bazlı kremalar)</p>

            </div>
        </li>
        <li>
            <div class="week-title">10. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Tabak Tatlıları I</p>
                <p>Tabak Tatlıları II (Dekor Hamurlu)</p>
                <p>Tabak Tatlıları III (Yumurta Bazlı Kremalı)</p>
                <p>Tabak Tatlıları VI</p>

            </div>
        </li>
        <li>
            <div class="week-title">11. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Temel Pandispanya I</p>
                <p>Temel Pandispanya II</p>
                <p>Klasik Pasta Yapım Teknikleri</p>
                <p>Pratik Sınav III</p>

            </div>
        </li>
        <li>
            <div class="week-title">12. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Geleneksel Pastalar I</p>
                <p>Geleneksel Pastalar II</p>
                <p>Modern Pastalar I</p>
                <p>Modern Pastalar II</p>

            </div>
        </li>
        <li>
            <div class="week-title">13. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Geleneksel Pastalar III</p>
                <p>Geleneksel Pastalar IV</p>
                <p>Modern Pastalar III</p>
                <p>Modern Pastalar VI</p>

            </div>
        </li>
        <li>
            <div class="week-title">14. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Sütlü Tatlılar </p>
                <p>Şerbetli Tatlılar </p>
                <p>Aşçılık 3</p>
                <p>Pratik Sınav IV</p>

            </div>
        </li>
        <li>
            <div class="week-title">15. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Çikolata Yapımı ve İşleme Teknikleri </p>
                <p>Donmuş Tatlılar</p>
                <p>Mesleki Gezi</p>

            </div>
        </li>
        <li>
            <div class="week-title">16. Hafta</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Şeker Hamuruna Giriş</p>
                <p>Final Pratik Sınavı </p>
                <p>Final Teorik Sınavı</p>
                <p>Demo dersleri</p>

            </div>
        </li>
    </ul>

</div>

<div class="text-module border-top">
<h3>İkinci 4 Ay</h3>
	<ul>
		<li>Yiyecek içecek işletmeciliğinde yöneticilik becerileri</li>
		<li>Gıda güvenliği yöneticiliği</li>
		<li>Dünya gastronomisi</li>
		<li>İleri seviye modern petit four’ların üretimi (Macaron, nougat, lokum)</li>
		<li>İleri seviye mayalı, mayasız ve dökme hamurlu ürünlerin üretimi</li>
		<li>İleri seviye laminalı hamur hazırlama ve işleme teknikleri</li>
		<li>İleri seviye ekmek üretimi</li>
		<li>İleri seviye artisan ekmek üretimi</li>
		<li>Özel amaçlı kekler (diyabetik, çölyak)</li>
		<li>Pastilaj (İleri seviye şeker hamuru kaplama, royal icing ve izomalt ile dekor teknikleri)</li>
		<li>Artisan çikolata yapımı ve işleme teknikleri</li>
		<li>Pull sugar (ileri seviye şeker işleme teknikleri)</li>
		<li>İleri seviye donuk tatlı teknikleri (dondurma, sorbe, cup)</li>
		<li>Moleküler pastacılık</li>
		<li>Banket ve Fransız tarzı tatlı büfesi hazırlaması</li>
		<li>Gıda ürünü Ar-Ge çalışması</li>
	</ul>
</div>

<div class="paragraph">
	<p>
	* Gerektiğinde cuma günleri ders yapılabilir. HACCP, Haşere Eğitimi, Zorunlu Hijyen Eğitimi ve Kariyer Dersi gibi eğitimler verilebilecektir.
	</p>
</div>

<div class="text-center add-top add-bottom">
    <a href="/basvuru-formu" class="button x3">Başvuru Formu</a>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/uzun-donem-profesyonel-pasta-ve-ekmekcilik">Uzun D&#246;nem Profesyonel Pasta ve Ekmek&#231;ilik</a></li>
            <li class=""><span>Ders Programı</span></li>
        </ul>
    </div>
</div>
