﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Uzun D&#246;nem Profesyonel Aş&#231;ılık</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="paragraph">

    <h1><strong>Uzun D&#246;nem Profesyonel Aş&#231;ılık</strong></h1>
    <p><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı, dörder ay süreli 3 eğitim kademesinden oluşan, sürekli gelişim ve ileri seviye beceri kazanımını hedefleyen bir meslek eğitimidir. Toplam 12 ay süren bu eğitim, 18-30 yaş arası adaylara ileri seviye mutfak becerisi kazandırmaya yönelik tasarlanmıştır.</p>
    <p>Eğitimin ilk 4 ayı MSA'nın profesyonel mutfaklarında pratik temel eğitim olarak gerçekleşir. Öğrenciler, ikinci 4 ayı ise MSA tarafından yerleştirdikleri lokasyonda mecburi stajlarını yaparak tamamlar.</p>
    <p>Staj tamamlandıktan sonra okula dönen öğrenciler son 4 ayı ileri seviye eğitimler ile gerçek müşteriye hizmet veren Okulun Mutfağı restoranında el becerisini pekiştirmeye yönelik dersler, mutfak yönetimi, restoran servis standartları gibi eğitimlerle sektöre hazırlanma dönemi olarak geçirirler.</p>
    <p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programını başarıyla tamamlayan öğrenciler, profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olurlar. Programı başarıyla bitiren öğrenciler City & Guilds Uluslararası Uzun Dönem Profesyonel Aşçılık (Advanced Diploma in Culinary Arts) Diploması ve Milli Eğitim Bakanlığı sertifikaları ile mezun olurlar.</p>
    </p>
</div>

<div class="testimonials text-module text-left">


    <div class="testimonials text-module text-center">
        <p><em>“City &amp; Guilds ile 20 yıldır &#231;alışıyorum. Bug&#252;ne kadar d&#252;nyanın farklı yerlerinde &#231;ok sayıda okula gittim ancak MSA gibisini g&#246;rmedim.”</em></p>

        <div class="testimonial-detail text-left">
            <div class="text avenir">
                <p>
                    <b>Pamela Rabone/City & Guilds Uluslararası Eğitim Denetmen</b>
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="testimonials text-module text-center">
        <div class="testimonials text-module text-center gray"><em>“Uzun D&#246;nem Uluslararası Profesyonel Aş&#231;ılık programı, hızla gelişen yiyecek i&#231;ecek sekt&#246;r&#252;ne kalifiye ve donanımlı şef adayları kazandırmayı ama&#231;lıyor. T&#252;rkiye’nin lider profesyonel aş&#231;ılık okulu olan MSA yine bir ilki ger&#231;ekleştiriyor, bu programdan mezun olan &#246;ğrencilerde teknik bilgi ve becerileri bir &#252;st seviyeye &#231;ıkartıyor, &#231;ıtayı bir kademe daha y&#252;kseltiyor.”</em>

        <div class="testimonial-detail text-left">
            <div class="text avenir">
                <p>
                    <b>Cem Erol / Yönetici Eğitmen Şef</b>
                </p>
            </div>
            <div class="clear"></div>
        </div>
		</div>
        <div class="clear"></div>
    </div>




    <div class="clear"></div>
    <h2><strong>MSA mezunları hangi diploma ve sertifikalara sahip oluyor?</strong></h2>
</div>

<div class="accordion-module collapse-all">
    <h3>City & Guilds</h3>
    <div><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p></div>

    <h3>MEB Onaylı Sertifika</h3>
    <div><p>Milli Eğitim Bakanlığı tarafından onaylı sertifikaları sayesinde MSA mezunları aldıkları eğitim kalitesini Türkiye’nin en yüksek eğitim merci tarafından tasdik etmekte, eğitimin ulusal standartlara uygun olduğunu belgelendirmektedir.</p></div>

    <h3>HACCP sertifikası</h3>
    <div><p>HACCP belgesi; günümüzde gıda üretimi ile ilgili tüm fiziksel, kimyasal ve/veya mikrobiyolojik süreçlerin güvenli işleyişini sağlamak amacı ile hem yurt dışında hem de ülkemizdeki endüstriyel mutfaklarda çalışanlardan sahip olmaları beklenen bir belgedir. Özellikle yurt dışında bulunan işletmeler tarafından mecburi tutulan, ülkemizde de aynı şekilde talep edilen HACCP sertifikası, mutfak personeline büyük değer katmaktadır. MSA Uzun Dönem Profesyonel Pasta ve Ekmekçilik öğrencileri, eğitim müfredatına dahil olan bu detaylı HACCP eğitimi ile tüm sektörde talep edilen bu sertifikaya sahip olmaktadır.</p></div>

    <h3>Uluslararası Johnson & Wales Diplomasına İlk Adım</h3>
    <div>
        <p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p>
    </div>

    <h3>Hijyen Sertifikası</h3>
    <div><p>Sağlık Bakanlığı, İçişleri Bakanlığı ve Gıda Tarım ve Hayvancılık Bakanlığı’nca hazırlanan “Hijyen Eğitim Yönetmeliği” kapsamında, endüstriyel mutfaklarda çalışan tüm personelin sahip olması zorunlu tutulan bir belgedir. MSA Profesyonel Aşçılık ve Pasta-Ekmekçilik öğrencileri, bu eğitime katılıp sektörün zorunlu tuttuğu bu sertifikaya sahip olarak MSA’daki eğitimini tamamlamaktadır.</p></div>

    <h3>Staj</h3>
    <div><p>Eğitimin ilk sekiz ayı MSA profesyonel mutfaklarında, son dört ayı MSA tarafından belirlenen staj lokasyonunda gerçekleşir. Haftada 6 gün, günde 8-9 saati kapsayan staj yerleştirmeleri MSA tarafından düzenlenir. Öğrenciler ülkenin önde gelen otel, restoran ve işletmelerinde staj görür. MSA Profesyonel Uzun Dönem Profesyonel Pasta-Ekmekçilik mezunları 12 aylık eğitimlerini tamamladıktan sonra, Amerika’ya maaşlı staja da gidebilirler.</p></div>

    <h3>Alma La Scuola Internazionale di Cucina Italiana</h3>
    <div><p>İtalyan Hükümeti'nin desteklediği saygın aşçılık okulu ALMA La Scuola Internazionale di Cucina Italiana'nın, MSA ile yaptığı özel anlaşma çerçevesinde MSA öğrencileri, "Uzun Dönem Profesyonel Pasta-Ekmekçilik Eğitimi"ni tamamladıktan sonra, ALMA'da 7 aylık pratik uygulamalı ileri seviye İtalyan Mutfağı eğitimlerine devam edebilir ve İtalya'nın en iyi otel ve restoranlarında staj yapma şansı kazanır. MSA'da temel eğitimlerini başarı ile tamamlayan ve kariyerlerini İtalyan Mutfağı konusunda ilerletmek isteyen öğrencilerimiz, ALMA'da hafta içi 5 gün ve günde 8 saat olarak pratik derse girebilir.</p></div>
</div>

<div class="text-center add-top add-bottom">
    <a href="/basvuru-formu" class="button x3">Başvuru Formu</a>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/uzun-donem-profesyonel-ascilik">Uzun D&#246;nem Profesyonel Aş&#231;ılık</a></li>
            <li class=""><span>Uzun D&#246;nem Profesyonel Aş&#231;ılık</span></li>
        </ul>
    </div>
</div>
