﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Uzun D&#246;nem Profesyonel Aş&#231;ılık</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="paragraph">
    <h1><strong>Dönemler ve Eğitim Süresi</strong></h1>
</div>

<div class="gray text-module">
    <div class="prices text-center add-border-top add-padding-top">

        <h4>Uzun D&#246;nem Profesyonel Aş&#231;ılık Eğitimi</h4>
        <p class="large half-bottom"><strong>27.900 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)</p>
		<!-- <p class="yeniTarih">2 Mart 2015'ten itibaren</p>
		 <p class="large half-bottom yeniFiyat"><strong>27.900 TL</strong></p> -->

    </div>
    <div class="prices text-center add-border-top add-padding-top">

        <h4>Chef &amp; Owner (Uzun D&#246;nem Profesyonel Aş&#231;ılık Eğitimi &amp; İşletmecilik)</h4>
        <p class="large half-bottom"><strong>30.900 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)</p>
		<!--<p class="yeniTarih">2 Mart 2015'ten itibaren</p>
		<p class="large half-bottom yeniFiyat"><strong>30.900 TL</strong></p>-->
    </div>

    <div class="prices add-border-top add-padding-top">

        <h4><strong>Eğitim S&#252;resi</strong></h4>
        <p>8 ay teori-uygulama 110 iş günü staj</p>

    </div>
</div>

<div class="akademikTakvim">
    <h3>Mayıs 2015</h3>
    <ul>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Sabah</h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş-Cum  (09:00-13:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
        <li>
            <h5 class="half-bottom">18 Mayıs 2015 - Öğle</h5>
            <h4 class="normal">Pzt-Sal-Çar-Prş-Cum (14:00-18:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
        <li>
            <h5 class="half-bottom">23 Mayıs 2015 - Hafta Sonu</h5>
            <h4 class="normal">Cumartesi-Pazar  (09:00-18:00)</h4>
            <h4 class="gold">Kayıtlarımız başlamıştır.</h4>
        </li>
    </ul>

    <div class="clear"></div>

</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/uzun-donem-profesyonel-ascilik">Uzun D&#246;nem Profesyonel Aş&#231;ılık</a></li>
            <li class=""><span>Uzun D&#246;nem Profesyonel Aş&#231;ılık</span></li>
        </ul>
    </div>
</div>
