﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Vazgeçemediklerimiz 2</title>
<meta name="keywords" content="Vazgeçemediklerimiz 2">
<meta name="description" content="Vazgeçemediklerimiz 2">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/uploads/gunlukworkshoplar/mart/640x992/vazgecemediklerimiz_540x300.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Vazgeçemediklerimiz 2</h2>
                    <p>Kendi evinin executive chef’i olmak isteyenler için...</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>
<div class="paragraph short">


    <p>MSA, sizin için vazgeçmediğiniz lezzetlerle dolu workshop programları hazırladı. Her restoran ziyaretinizde bıkmadan usanmadan bayılarak sipariş verdiğiniz yemeklerin tarifleri bunlar... İstedik ki, bu abonesi olduğunuz tarifleri hazırlamayı öğrenin ve evinizde gönlünüzce tekrar edin. Siz de bu menüden vazgeçmeyin.</p>
</div>
<div class="links-module">
    <ul>
        <li><a href="/gunluk-workshoplar/vazgecemediklerimiz-2/detay">Detaylı Bilgi ve Menü</a></li>
    </ul>
</div>
<div class="workshop-detail text-center">
    <div class="date">12 Mart Perşembe</div>
    <div class="time">19.00 - 23.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY056/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>
</div>

