﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Vazge&#231;emediklerimiz 2</title>
<meta name="keywords" content="">
<meta name="description" content="">



<div class="paragraph ">
    <h1><strong>Vazge&#231;emediklerimiz 2</strong></h1>


    <p>MSA, sizin için vazgeçmediğiniz lezzetlerle dolu workshop programları hazırladı. Her restoran ziyaretinizde bıkmadan usanmadan bayılarak sipariş verdiğiniz yemeklerin tarifleri bunlar... İstedik ki, bu abonesi olduğunuz tarifleri hazırlamayı öğrenin ve evinizde gönlünüzce tekrar edin. Siz de bu menüden vazgeçmeyin.</p>
</div>
<div class="workshop-menu">
    <h2>Menü</h2>
    <ul>
        <li>Niçoise Salata</li>
        <li>Ricotta ve ıspanaklı ravioli, taze kekikli domates sos ile</li>
        <li>Viyana usulü dana şinitzel, Alman patates salatası ile</li>
        <li>Sıcak volcano kek, kaymaklı dondurma ile</li>
    </ul>
</div>

<div class="workshop-detail text-center nobg">
    <div class="date">12 Mart Perşembe</div>
    <div class="time">19.00 - 23.00</div>
    <div class="clear hr"></div>
    <div class="price">150 TL</div>
    <div class="note">KDV Dahil</div>
    <a href="http://www.biletix.com/etkinlik/SY056/TURKIYE/tr" target="_blank" class="button x3 add-top">Biletix'ten Satın Al</a>



    <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
</div>

<div class="text-module border-top">
    <ul>
        <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
        <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
        <li>
            Başvurular, yılın her dönemi yapılabilir.
            MSA tüm yıl boyunca başvuru kabul etmektedir.
        </li>
        <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
    </ul>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/gunluk-workshoplar">Günlük Workshop’lar</a></li>
            <li class=""><a href="/gunluk-workshoplar/vazgecemediklerimiz-2">Vazge&#231;emediklerimiz 2</a></li>
            <li class=""><span>Vazge&#231;emediklerimiz 2 Detay</span></li>
        </ul>
    </div>
</div>

