﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="homepage-slider cover">
            <ul>
                <li style="background-image:url('/assets/images/slideshow/03.jpg');"><div class="slide"><div class="slide-content"><h2>El Yapımı Makarnalar</h2><p>Paket Makarnaya Son!</p></div></div></li>
            </ul>
            <div class="icon arrow-down"></div>
        </div>

        <div class="paragraph short">
            <p>Hazır makarnaya son! Siz de makarnanızı kendi ellerinizle hazırlayabilir, hatta bunu evinizde dilediğinizce tekrar edebilirsiniz. Tek ihtiyacınız olan biraz teknik ve deneyim! Makarnanızın üzerini harika soslarla taçlandırıp, raviolinize nefis dolgular hazırlayacağınız bu enfes makarna workshop’unu ajandanıza mutlaka not edin.</p>
        </div>

        <div class="links-module">
            <ul>
                <li><a href="#">Detaylı Bilgi ve Menü</a></li>
            </ul>
        </div>

        <div class="workshop-detail text-center">

            <div class="date">06 Eylül Perşembe</div>
            <div class="time">19:00 - 21:00</div>
            <div class="clear hr"></div>
            <div class="price">150 TL</div>
            <div class="note">(KDV Dahil)</div>

            <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>

        </div>



        <div class="slider-module text-center" id="profesyonelEgitimler">

            <h1><strong>Bunlar da ilginizi çekebilir</strong></h1>
            <p>Mutfağı profesyonel iş alanı olarak gören ve kariyer hedefi dünya mutfaklarında sayılı isimler arasında yer almak olan herkesi, uluslararası eğitim standartlarıyla buluşturuyoruz.</p>

            <ul>
                <li>
                    <div class="slide">
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Aşcılık</div>
                        </a>
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Aşcılık</div>
                        </a>
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Aşcılık</div>
                        </a>
                        <a href="#">
                            <div class="image"><img src="/assets/images/files/02.jpg"></div>
                            <div class="text-title">Profesyonel Pasta ve Ekmekçilik</div>
                        </a>
                    </div>
                </li>
            </ul>

            <a href="/profesyonel-egitimler" class="button arrow bordered add-top">Tüm Profesyonel Eğitimler</a>

        </div>

        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="#">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>

