﻿@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="paragraph ">
            <h1><strong>Cheesecakeler</strong></h1>
            <p>
                Tarif tutmadı, peyniri fazla, bisküvisi az”
                falan demeyin. MSA şeflerinin yepyeni reçeteleriyle tanışınca bütün bahaneleriniz rafa kalkacak. Artık misafirleriniz gerçek cheesecake ziyafeti sonrası sizi epey kıskanacak.
            </p>
        </div>

        <div class="workshop-menu">
            <h2>Menü</h2>
            <ul>
                <li>Taze incirli tahinli cheesecake</li>
                <li>Vanilyalı vişneli cheesecake</li>
                <li>Brownie tabanlı fındık ezmeli cheesecake</li>
                <li>Tuzlu atıştırmalıklar ikramımızdır</li>
            </ul>
        </div>

        <div class="workshop-detail text-center nobg">

            <div class="date">06 Eylül Perşembe</div>
            <div class="time">19:00 - 21:00</div>
            <div class="clear hr"></div>
            <div class="price">150 TL</div>
            <div class="note">(KDV Dahil)</div>

            <a href="#" class="button x3 add-top">Biletix’ten Satın Al</a>

            <div class="text-left add-top">Katılımcı belgesinde isminizin yazması için programdan en az 24 saat önce ad-soyad bilgilerinizi biletix@msa.com.tr adresine gönderebilirsiniz.</div>
        </div>

        <div class="text-module border-top">

            <ul>
                <li>Formu dikkatle okuyup, (*) işaretli bölümleri eksiksiz olarak doldurun.</li>
                <li>Başvuru değerlendirme komitesi tüm başvuruları değerlendirecektir. Olumlu değerlendirilen adaylar mülakat için randevulu olarak MSA'ya çağırılacaktır.</li>
                <li>
                    Başvurular, yılın her dönemi yapılabilir.
                    MSA tüm yıl boyunca başvuru kabul etmektedir.
                </li>
                <li>MSA'nın İstanbul-Maslak dışında kampüsü bulunmamaktadır.</li>
            </ul>

        </div>




        <div class="breadcrumps">
            <div id="breadcrumps">
                <ul>
                    <li class="home"><a href="/" class="fa fa-home"></a></li>
                    <li class=""><a href="#">Profesyonel Eğitimler</a></li>
                    <li class=""><span>Uzun Dönem Profesyonel Aşçılık</span></li>
                </ul>
            </div>
        </div>
