﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>Yiyecek - İçecek İşletmeciliği</title>
<meta name="keywords" content="">
<meta name="description" content="">


<div class="paragraph">

    <h1><strong>Ders Programı</strong></h1>

</div>

<div class="haftalik-program">
     <ul>
        <li>
            <div class="week-title">Teorik Eğitimler</div>
            <div class="clear"></div>
            <div class="week-details">
				<p>Yer seçimi ve konsept mühendisliği</p>
                <p>Fizibilite hazırlanması</p>
                <p>Şarap eğitimi</p>
                <p>Proje ve dekorasyon</p>
                <p>Mutfak ekipmanı ve malzemesi seçimi</p>
                <p>Açılış aşamaları, hukuki işemler, muhasebe sisteminin kurulması</p>
                <p>Ruhsat, açılış ve inşaat izinleri / İsim hakları, logo, fikri mülkiyet ve bunların tescilleri</p>
                <p>Mönülerin hazırlanması</p>
				<p>Personel seçimi</p>
				<p>Satın alma, depolama</p>
				<p>Hijyen</p>
				<p>Halkla ilişkiler</p>
				<p>Müşteri deneyimi</p>
				<p>Alkollü içkilerin tanıtımı</p>
				<p>Elektronik kontrol sistemleri</p>
				<p>Temel ilk yardım</p>
				<p>Sosyal Medya</p>
            </div>
        </li>
        <li>
            <div class="week-title">Uygulamalı Eğitimler</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Profesyonel mutfağa giriş</p>
                <p>Et ve sebze suları, soslar ve çorbalar</p>
                <p>Kırmızı etler</p>
                <p>Deniz ürünleri</p>
				<p>Pirinçler ve pilavlar</p>
				<p>Salatalar ve Sosları</p>
				<p>Kanepeler ve Sandviçler</p>
				<p>Tatlılar</p>
				<p>Kahve eğitimi</p>
				<p>Temel bar uygulamaları, içki ve bar servisi standartları</p>
				<p>Servis standartları</p>
            </div>
        </li>
        <li>
            <div class="week-title">Sektörel Geziler</div>
            <div class="clear"></div>
            <div class="week-details">

                <p>Teorik ve uygulamalı derslerin yanı sıra eğitimler kapsamında sektörel geziler de yapılmaktadır.</p>

            </div>
        </li>
    </ul>

</div>

<div class="text-center add-top add-bottom">
    <a href="/basvuru" class="button x3">Başvuru Formu</a>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi">Yiyecek - İçecek İşletmeciliği</a></li>
            <li class=""><span>Ders Programı</span></li>
        </ul>
    </div>
</div>
