﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Yiyecek - İ&#231;ecek İşletmeciliği</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="paragraph">
    <h1><strong>Dönemler ve Eğitim Süresi</strong></h1>
</div>

<div class="gray text-module">
    <div class="prices text-center add-border-top add-padding-top">

        <h4>Yiyecek İ&#231;ecek İşletmeciliği Eğitimi</h4>
        <p class="large half-bottom"><strong>6.000 TL</strong></p>
        <p>(Eğitim seti ve KDV dahil)</p>

    </div>

    <div class="prices add-border-top add-padding-top">

        <h4><strong>Eğitim S&#252;resi</strong></h4>
        <p>Toplam 10 haftadır. Sınıf kontenjanları 28 kişi ile sınırlıdır.</p>

    </div>
</div>

<div class="akademikTakvim">
    <ul>
        <li>
            <h5 class="half-bottom"></h5>
            <h4 class="normal"></h4>
            <h4 class="gold">Yeni eğitim tarihi belirlenince açıklanacaktır.</h4>
        </li>
    </ul>

    <div class="clear"></div>

</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi">Yiyecek - İ&#231;ecek İşletmeciliği</a></li>
            <li class=""><span>Yiyecek - İ&#231;ecek İşletmeciliği</span></li>
        </ul>
    </div>
</div>
