﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>Yiyecek - İ&#231;ecek İşletmeciliği</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="paragraph">

    <h1><strong>Yiyecek - İ&#231;ecek İşletmeciliği</strong></h1>
    <p>
    <p>Mekan işletmeciliğine giden yolun mutfağın içinden geçtiğinin bilincinde olan, kendi işyerini açmak ya da bu alanda meslek sahibi olmak isteyen kişilere yönelik hazırlanan Profesyonel Yiyecek-İçecek İşletmeciliği, 2,5 ay süren bir eğitimdir. T.C. Milli Eğitim Bakanlığı onaylı sertifika veren profesyonel eğitim işletmeciliği, bir yiyecek içecek işletmesinin operasyonuna dair tüm süreci kapsayan teorik bilgi ve pratik uygulamalardan oluşur ve günde minimum 3 saat olmak üzere, hem teorik hem uygulamalı eğitimleri içerir. Eğitim süresince, katılımcılar cafe, restaurant, bar, coffee shop, bistro, wine bar ve benzeri tesislerin sevk ve idaresi ile ilgili konularda, sektörün önde gelen profesyonellerinden teorik ve uygulamalı eğitimler alır. T.C. Milli Eğitim Bakanlığı sınavında %50 geçer not alan öğrencilerin başarısı T.C. Milli Eğitim Bakanlığı sertifikası ile belgelenir.</p>
    </p>


</div>

<div class="testimonials text-module text-left">


    <div class="testimonials text-module text-center">
        <p><em>“Hayatınızı bir anda değiştirebilen bir mesleğe adım atmamızı sağlayabilecek inanılmaz bir okul burası.”</em></p>

        <div class="testimonial-detail text-left">
            <div class="text avenir">
                <p>
                    <b>Fırat Yanardağ / 2008 Aşçılık Mezunu </b>
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>




    <div class="clear"></div>
    <h2><strong>MSA mezunları hangi diploma ve sertifikalara sahip oluyor?</strong></h2>
</div>

<div class="accordion-module collapse-all">
    <h3>City & Guilds</h3>
    <div><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p></div>

    <h3>MEB Onaylı Sertifika</h3>
    <div><p>Milli Eğitim Bakanlığı tarafından onaylı sertifikaları sayesinde MSA mezunları aldıkları eğitim kalitesini Türkiye’nin en yüksek eğitim merci tarafından tasdik etmekte, eğitimin ulusal standartlara uygun olduğunu belgelendirmektedir.</p></div>

    <h3>HACCP sertifikası</h3>
    <div><p>HACCP belgesi; günümüzde gıda üretimi ile ilgili tüm fiziksel, kimyasal ve/veya mikrobiyolojik süreçlerin güvenli işleyişini sağlamak amacı ile hem yurt dışında hem de ülkemizdeki endüstriyel mutfaklarda çalışanlardan sahip olmaları beklenen bir belgedir. Özellikle yurt dışında bulunan işletmeler tarafından mecburi tutulan, ülkemizde de aynı şekilde talep edilen HACCP sertifikası, mutfak personeline büyük değer katmaktadır. MSA Uzun Dönem Profesyonel Pasta ve Ekmekçilik öğrencileri, eğitim müfredatına dahil olan bu detaylı HACCP eğitimi ile tüm sektörde talep edilen bu sertifikaya sahip olmaktadır.</p></div>

    <h3>Uluslararası Johnson & Wales Diplomasına İlk Adım</h3>
    <div><p>Uzun Dönem Uluslararası Profesyonel Aşçılık Programı öğrencileri profesyonel mutfakta “demi chef” pozisyonun gerektirdiği bilgi ve beceriye sahip olur, City & Guilds Uluslararası Uzun DÖnem Profesyonel Aşçılık Diploması (Advanced Diploma in Culinary Arts) ile mezun olurlar. 12 aylık Uzun Dönem Profesyonel Aşçılık eğitimini tamamlayan MSA öğrencileri, dünyanın en büyük mesleki eğitim akreditasyon kurumu olan City & Guilds’ın uluslararası diplomasını almaya hak kazanırlar. City & Guilds sistemi ve standartları çerçevesinde aldıkları eğitimi, bu kurumun diploması ile tamamlayan MSA mezunları, Gordon Ramsay ve Jamie Oliver gibi dünyaca ünlü şeflerin de sahip olduğu bu uluslar arası diploma ile dünya çapındaki işletmelerin mutfaklarında görev yapma fırsatı bulmaktadır.</p></div>

    <h3>Staj</h3>
    <div><p>Eğitimin ilk sekiz ayı MSA profesyonel mutfaklarında, son dört ayı MSA tarafından belirlenen staj lokasyonunda gerçekleşir. Haftada 6 gün, günde 8-9 saati kapsayan staj yerleştirmeleri MSA tarafından düzenlenir. Öğrenciler ülkenin önde gelen otel, restoran ve işletmelerinde staj görür. MSA Profesyonel Uzun Dönem Profesyonel Pasta-Ekmekçilik mezunları 12 aylık eğitimlerini tamamladıktan sonra, Amerika’ya maaşlı staja da gidebilirler.</p></div>

    <h3>Alma La Scuola Internazionale di Cucina Italiana</h3>
    <div><p>İtalyan Hükümeti'nin desteklediği saygın aşçılık okulu ALMA La Scuola Internazionale di Cucina Italiana'nın, MSA ile yaptığı özel anlaşma çerçevesinde MSA öğrencileri, "Uzun Dönem Profesyonel Pasta-Ekmekçilik Eğitimi"ni tamamladıktan sonra, ALMA'da 7 aylık pratik uygulamalı ileri seviye İtalyan Mutfağı eğitimlerine devam edebilir ve İtalya'nın en iyi otel ve restoranlarında staj yapma şansı kazanır. MSA'da temel eğitimlerini başarı ile tamamlayan ve kariyerlerini İtalyan Mutfağı konusunda ilerletmek isteyen öğrencilerimiz, ALMA'da hafta içi 5 gün ve günde 8 saat olarak pratik derse girebilir.</p></div>
</div>

<div class="text-center add-top add-bottom">
    <a href="/basvuru-formu" class="button x3">Başvuru Formu</a>
</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><a href="/profesyonel-egitimler">Profesyonel Eğitimler</a></li>
            <li class=""><a href="/profesyonel-egitimler/yiyecek-icecek-isletmeciligi">Yiyecek - İ&#231;ecek İşletmeciliği</a></li>
            <li class=""><span>Yiyecek - İ&#231;ecek İşletmeciliği</span></li>
        </ul>
    </div>
</div>
