﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<title>"Yurtdışı Eğitim Olanakları</title>
<meta name="keywords" content="">
<meta name="description" content="">

<div class="homepage-slider cover">
    <ul>
        <li style="background-image:url('/ui/images/files/yurtdisi-egitim.jpg');">
            <div class="slide">
                <div class="slide-content">
                    <h2>Yurt dışında ileri seviye eğitimler</h2>
                    <p>
                        MSA mezunları, dünyanın saygın okullarından ALMA La Scuola Internazionale di Cucina Italiana ile ortak gerçekleştirilen ileri seviye eğitimlere katılarak yurt dışında deneyim kazanıyorlar.
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <div class="icon arrow-down"></div>
</div>

<div class="paragraph short">


    <p>
        MSA, İtalyan Hükümeti’nin desteklediği saygın aşçılık okulu ALMA La Scuola Internazionale di Cucina Italiana ile yaptığı özel anlaşma çerçevesinde öğrencilerini Profesyonel Aşçılık veya Pasta ve Ekmekçilik eğitimlerini tamamladıktan sonra, ALMA’da 7 aylık pratik uygulamalı ileri seviye eğitimlere gönderiyor. MSA'da temel eğitimlerini başarı ile tamamlayan ve kariyerlerini İtalyan Mutfağı konusunda ilerletmek isteyen öğrenciler, ALMA’da eğitim ve İtalya’nın en iyi otel/restoranlarında staj yapma imkanı kazanıyor.
    </p>
    <p>
        Maksimum 20 kişilik sınıflarda gerçekleşen programın tüm pratik uygulamalı ve teorik dersleri İtalyanca olarak hafta içi 5 gün ve günde 8 saat olarak yapılıyor. Çevirmen sayesinde İngilizce akış sağlanıyor. Bu sayede, öğrenciler aynı zamanda mutfakta kullanılan İtalyanca’yı da öğreniyorlar.
        Türkiye’de aşçılık ve pastacılık eğitimi konusunda en kapsamlı değişim ve çapraz eğitim anlaşması niteliğindeki bu önemli gelişme, genç aşçı ve pastacılara saygın bir uzmanlık diploması, İtalyan Mutfağı alanında otorite ve yetkinliği onaylanmış bir kurumda staj yapma olanağı sağlıyor.
    </p>
    <p>
        <b>Alma’da Eğitim</b>
        Öğrencilerin ileri seviye İtalyan Mutfağı konusunda profesyonel ve pratik bir eğitim alması amacıyla hazırlanan bir programdır. Eğitim, İtalyan mutfağı ve kültürü, ürün ve malzeme tanım ve seçimi, konuk şef demoları, pişirme teknikleri, İtalyan şarapları, İtalyan tatlıları, İtalyan dili, üretim tesis gezilerini içeriyor. Öğrenciler, 2 aylık eğitimleri boyunca toplam 45 gün, 360 saat ders görüyorlar. Ders notları, üniforma ve mutfak ekipmanları ALMA tarafından sağlanıyor. Eğitim sonunda öğrenciler, staja başlamadan önce ALMA tarafından hazırlanan bir değerlendirme sınavına katılıyorlar.
    </p>
    <p>Staj lokasyonu, öğrencilerin kişilik ve kuvvetli özellikleri ile okul içi başarısı göze alınarak ALMA tarafından belirleniyor. Öğrencilere, gerçek bir İtalyan restoranında, gerçek, profesyonel bir İtalyan şefle çalışma olanağı sunuluyor. Staj boyunca konaklama ve yemek staj yeri tarafından sağlanıyor. Tüm eğitim sürecinin sonunda öğrencilere, ALMA La Scuola Internazionale di Cucina Italiana tarafından "İtalyan Mutfağı Uzman Şef" veya “İtalyan Mutfağı Uzman Pastacılık Şefi” sertifikası veriliyor.</p>
    <p>
        <i>Konaklama ve Diğer Bilgiler</i>
        Milano’ya 120 km uzaklıktaki okulun bulunduğu Colorno şehri, Parma’dan 15 km uzaklıkta içinde; bar, park, futbol sahası ve yüzme havuzu olan bir öğrenci şehri. Öğrencilere ALMA’nın bulunduğu Colorno kasabasında, 3-4 kişilik, tam donanımlı özel dairelerde konaklama imkanı sunuluyor. MSA öğrencilerine özel olarak konaklama için ek bir ücret talep edilmiyor. Okula on dakikalık yürüme mesafesindeki yurt binalarında öğrencilerin kalacakları binaların iç dekorasyonu yeni yapılmıştır. Konutların civarında alışveriş imkanı da bulunuyor.
    </p>
    <p>
        <i>Eğitim Ücreti</i>
        İleri Seviye İtalyan Mutfağı: 8.500 Euro
        İleri Seviye İtalyan Mutfağı Pastacılık: 8.500 Euro
        <ul>
            <li><strong>Eğitim ücretine neler dahil?</strong></li>
            <li>. 7 aylık eğitim dönemi</li>
            <li>. 2 ay boyunca Colorno’da ALMA’ya ait özel dairelerde konaklama</li>
            <li>. Pazartesi-Cuma arası öğle yemekleri</li>
            <li>. Ders notları</li>
            <li>. Üniforma ve mutfak ekipmanları</li>
            <li>. Geziler için ulaşım</li>
            <li>. Staj boyunca yemek ve konaklama</li>
        </ul>
        <ul>
            <li><strong>Eğitim ücretine neler dahil değil?</strong></li>
            <li>. Hafta sonu ve akşam yemekleri</li>
            <li>. Colorno’ya ulaşım</li>
            <li>. Staj lokasyonuna ulaşım</li>
            <li>. İtalya’da oturma izni (180 Euro) </li>
        </ul>
    </p>

</div>

<div class="breadcrumps">
    <div id="breadcrumps">
        <ul>
            <li class="home"><a href="/" class="fa fa-home"></a></li>
            <li class=""><span>Yurtdışı Eğitim Olanakları</span></li>
        </ul>
    </div>
</div>
