/*******************************************************/
/*******************************************************/
/**** Handcrafted by Yüce Özkan | www.yuceozkan.com ****/
/*******************************************************/
/*******************************************************/

a:active {opacity:0.6;}
.inlines {font-size:0px;letter-spacing:0px;word-spacing:0px;text-align:center;}

.button {height:48px;line-height:48px;font-weight:600;font-size:14px;text-align:center;color:#fff;background:#a87c51;border-radius:4px;display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;}
.button.bordered {background:none transparent;border:1px solid #a87c51;color:#a87c51;}
.button.x1 {width:80px;height:40px;line-height:40px;}
.button.x2 {width:136px;}
.button.x3 {width:160px;}
.button.x4 {width:240px;}
.button.arrow {width:auto;padding-left:9px;padding-right:25px;text-align:center;}
.button.nobg {background:none transparent;color:#a87c51;font-weight:400;height:24px;line-height:24px;}
.button.arrow:after {content:"";width:32px;height:48px;position:absolute;right:0;top:0;background:url("../images/arrow-right-color.png") no-repeat 13px center;background-size:8px 14px;z-index:1;}
.button.arrow.nobg:after {height:24px;position:absolute;}
.button.block {display:block;}
.button.submit {border:0;margin:0 auto;display:block;/*width:auto;min-width:160px;*/width:230px;/*padding:0 55px;*/}
.button.list-button {position:absolute;top:50%;margin-top:-20px;right:16px;}
.button.margin-left {margin-left:16px;}
.button.dark {background:#7b5c3d;}

.icon-social {display:inline-block;width:36px;height:36px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border:1px solid #7b5c3d;border-radius:50%;vertical-align:middle;}
.icon-social.icon-twitter {background:url("../images/icon-twitter-color.png") no-repeat 0 0;background-size:cover;}
.icon-social.icon-facebook {background:url("../images/icon-facebook-color.png") no-repeat 0 0;background-size:cover;}
.icon-social.icon-instagram {background:url("../images/icon-instagram-color.png") no-repeat 0 0;background-size:cover;}
.icon-social.small {width:18px;height:18px;}

.icon {width:40px;height:40px;display:inline-block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;vertical-align:middle;}
.icon.small {width:20px;height:20px;display:inline-block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;vertical-align:middle;}
.icon.alert {background:url("../images/icon-alert.png") no-repeat 0 0;background-size:cover;}
.icon.checked {background:url("../images/icon-checked.png") no-repeat 0 0;background-size:cover;}
.icon.arrow-down {width:34px;height:17px;background:url("../images/arrow-down-white.png") no-repeat 0 0;background-size:cover;}

.image {border:1px solid #e7e1dc;}
.image img {display:block;margin:0;padding:0;width:100%;max-width:100%;}
.image.x1 {width:126px;height:70px;}
.image.x2 {width:134px;height:66px;}
.image.x3 {width:236px;height:160px;}

.paragraph {padding:15px;padding-bottom:0;}
.paragraph h1 {text-align:center;}
.paragraph p {}
.paragraph p:first-of-type::first-letter {float:left;font-size:40px;line-height:40px;padding-top:0;padding-right:5px;padding-left:0;padding-bottom:0;}
a.readmore-js-toggle {font-family:"Georgia",serif;display:block;text-align:center;margin-bottom:16px;font-size:14px;line-height:20px;color:#7b5c3d;}

form {}
form.no-margin {margin:0;}
form fieldset {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:20px;}
form fieldset p {font-family:"Avenir",sans-serif;font-size:16px;font-weight:600;margin-bottom:10px;}
form fieldset p small {font-size:14px;}
form fieldset .text {font-family:"Georgia",serif;font-size:14px;margin-bottom:10px;}
form fieldset label {font-weight:400;}
form fieldset.checkbox label {line-height:24px;}
form fieldset.checkbox label.left {width:50%;float:left;margin-top:12px;}
form fieldset label.radio {font-weight:600;margin-bottom:20px;}
form fieldset label.radio {line-height:24px;}
form fieldset label.radio.last {margin-bottom:0;}
form fieldset label .input-text {height:48px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#fff;border:1px solid #7b5c3d;padding:0 10px;font-size:14px;position:relative;}
form fieldset.error label .input-text {border:1px solid #bf2604;color:#bf2604;}
form fieldset.red label .input-text {border:1px solid #bf2604;}
form fieldset.active label .input-text {border:1px solid #2e2620;color:#2e2620;}
form fieldset label .input-text.search {background:#fff url("../images/search-icon.png") no-repeat right center;background-size:50px 46px;}
form fieldset label textarea.textarea {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;line-height:20px;font-size:14px;color:#2e2620;padding:10px;height:170px;border:1px solid #7b5c3d;}
form fieldset .xsmall {width:32%;padding-right:16px;}
form fieldset .small {width:47%;padding-right:16px;}
form fieldset .medium {width:53%;}
form fieldset .large {width:62%;}
form fieldset .limit {display:block;font-size:12px;text-align:right;padding-top:5px;color:#a77c54;}
form fieldset label .note {font-family:"Georgia",serif;font-size:12px;}
select {height:46px;line-height:46px;width:100%;position:absolute;top:0;left:0;z-index:2;-webkit-appearance:menulist-button;}
.masked-select {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-width:100%;height:46px;border:1px solid #7b5c3d;position:relative;text-align:left;background:#fff;}
.masked-select:before {font-family:"FontAwesome";font-style:normal;font-weight:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;line-height:45px;font-size:16px;color:#7b5c3d;position:absolute;right:0;top:0;content:"\f078";vertical-align:middle;width:46px;display:block;text-align:center;border-left:1px solid #7b5c3d;}
.masked-select .masked-select-text {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:46px;line-height:46px;color:#2f2720;font-size:14px;font-weight:400;text-align:left;letter-spacing:-0.02em;z-index:1;padding:0 47px 0 10px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
form .form-title {background:#7b5c3d;height:40px;line-height:40px;padding:0 16px;font-size:16px;color:#fff;font-weight:600;}
form .notification {font-size:14px;line-height:20px;color:#fff;font-weight:400;padding:12px 16px;}
form .notification.alert {color:#fff;background:#bf2604;}

.program-select {margin:0 16px;}
.program-select .masked-select {height:46px;border:1px solid #7b5c3d;position:relative;text-align:left;background:#fff;}
.program-select .masked-select:before {content:"\f0c9";border-left:0;font-size:28px;width:40px;}
.program-select .masked-select .masked-select-text {height:46px;line-height:46px;color:#2f2720;font-size:13px;font-weight:600;text-align:left;z-index:1;padding:0 40px 0 7px;width:100%;}


.masked-radio {display:inline-block;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:24px;height:24px;background:#fff;border:1px solid #7b5c3d;position:relative;margin-right:5px;border-radius:50%;line-height:0px;font-size:0px;word-spacing:0px;letter-spacing:0px;}
.masked-radio .hidden-radio {position:absolute;top:0;width:100%;height:100%;left:0;}
.masked-radio .hidden-radio input {width: 100%;height:100%;top: 0;left: 0;position: absolute;}
.masked-radio .masked-radio-checked {width:12px;height:12px;background:#7b5c3d;position:absolute;top:5px;left:5px;border-radius:50%;}

.masked-checkbox {display:inline-block;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:24px;height:24px;background:#fff;border:1px solid #7b5c3d;position:relative;margin-right:5px;border-radius:50%;line-height:0px;font-size:0px;word-spacing:0px;letter-spacing:0px;}
.masked-checkbox .hidden-checkbox {position:absolute;top:0;width:100%;height:100%;left:0;}
.masked-checkbox .hidden-checkbox input {width: 100%;height:100%;top: 0;left: 0;position: absolute;}
.masked-checkbox .masked-checkbox-checked {width:12px;height:12px;background:#7b5c3d;position:absolute;top:5px;left:5px;border-radius:50%;}

.accordion-module {}
.accordion-module h3 {font-size:16px;line-height:21px;color:#7b5c3d;font-weight:600;padding:13px 75px 13px 16px;border-bottom:1px solid #7b5c3d;margin:0;position:relative;}
.accordion-module h3:active {opacity:0.6;}
.accordion-module h3:first-child {border-top:1px solid #7b5c3d;}
.accordion-module h3:after {height:100%;width:14px;content:"";position:absolute;right:16px;top:0;background:url("../images/plus-color.png") no-repeat center;background-size:14px 14px;}
.accordion-module h3.ui-state-active {background:#7b5c3d;color:#fff;}
.accordion-module h3.ui-state-active:after {background:url("../images/minus-white.png") no-repeat center;background-size:14px 14px;}
.accordion-module .ui-accordion-content {padding:30px 20px 10px 20px;border-bottom:1px solid #7b5c3d;}
.accordion-module .ui-accordion-content.accordion-menu {padding:0;border-bottom:1px solid #7b5c3d;}
.accordion-module .ui-accordion-content p {}

.accordion-menu ul {margin:0;padding:0;}
.accordion-menu ul li {margin:0;padding:0;}
.accordion-menu ul li a {display:block;height:46px;line-height:46px;color:#7b5c3d;font-weight:600;padding-left:16px;border-top:1px solid #7b5c3d;margin:0;position:relative;font-size:14px;background:#f5f5f5;}
.accordion-menu ul li a:after {height:14px;width:8px;content:"";position:absolute;right:16px;top:16px;background:url("../images/arrow-right-color.png") no-repeat 0 0;background-size:cover;}

.accordion-menu .accordion-module h3 {margin:0;padding:0;height:46px;line-height:46px;color:#7b5c3d;font-weight:600;padding-left:16px;border:0;border-top:1px solid #7b5c3d;position:relative;font-size:14px;background:#f5f5f5;}
.accordion-menu .accordion-module h3:active {opacity:0.6;}
.accordion-menu .accordion-module h3:after {height:14px;width:14px;content:"";position:absolute;right:16px;top:16px;background:url("../images/plus-color.png") no-repeat 0 0;background-size:cover;}
.accordion-menu .accordion-module h3.ui-state-active:after {background:url("../images/minus-color.png") no-repeat 0 0;background-size:cover;}
.accordion-menu .ui-accordion-content {padding:0;border:0;}
.accordion-menu .ui-accordion-content ul li a {padding-left:24px;background:#ebebeb;/*background:#262626;*/font-size:14px;}
.accordion-menu .ui-accordion-content ul li h3 {padding-left:24px;background:#ebebeb;/*background:#262626;*/font-size:14px;}
/*.accordion-menu .ui-accordion-content ul ul {border-bottom:1px solid #7b5c3d;}
.accordion-menu .ui-accordion-content ul li li a {padding-left:32px;background:#ebebeb;border-top:1px solid #7b5c3d;font-size:15px;}
.accordion-menu .ui-accordion-content ul li li h3 {padding-left:32px;background:#ebebeb;border-top:1px solid #7b5c3d;font-size:15px;}*/

.pager {word-spacing:0px;font-size:0px;letter-spacing:0px;text-align:center;}
.pager a {font-size:16px;font-weight:600;color:#7b5c3d;display:inline-block;margin:0 20px;vertical-align:middle;}
.pager a.arrow {font-size:24px;}
.pager a.active {color:#2e2620;}

.breadcrumps {height:48px;background:#e7e1dc;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;overflow:hidden;}
.breadcrumps #breadcrumps {height:48px;width:100%;position:absolute;top:0;left:0;}
.breadcrumps ul {text-align:left;word-spacing:0px;font-size:0px;letter-spacing:0px;}
.breadcrumps ul,.breadcrumps ul li {margin:0;padding:0;}
.breadcrumps ul {height:48px;position:relative;}
.breadcrumps ul li {display:inline-block;vertical-align:middle;}
.breadcrumps ul li a {font-size:13px;color:#7b5c3d;display:block;line-height:48px;position:relative;padding-left:14px;margin-left:10px;}
.breadcrumps ul li a:after {font-family:"FontAwesome";font-size:20px;color:#7b5c3d;content:"\f105";position:absolute;left:0;top:0;line-height:48px;}
.breadcrumps ul li.home a {font-size:22px;color:#7b5c3d;display:block;line-height:48px;padding:0;margin:0;margin-left:16px;}
.breadcrumps ul li.home a:after {display:none;}
.breadcrumps ul li span {font-size:13px;color:#2e2620;display:block;line-height:48px;position:relative;padding-left:14px;margin-left:10px;}
.breadcrumps ul li span:after {font-family:"FontAwesome";font-size:20px;color:#7b5c3d;content:"\f105";position:absolute;left:0;top:0;line-height:48px;}

.breadcrumps-number {height:20px;position:relative;}
.breadcrumps-number ul {margin:0 20%;padding:0;position:relative;width:60%;}
.breadcrumps-number ul li {list-style:none inside;margin:0;padding:0;float:left;width:30%;width:calc(33.33333333333333% - 7px);height:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;}
.breadcrumps-number ul li:after {content:"";position:absolute;height:2px;top:50%;margin-top:-2px;width:100%;background:#a39992;z-index:0;left:0;}
.breadcrumps-number ul li.passed:after {background:#2e2620;}
.breadcrumps-number ul li a {display:block;position:relative;z-index:1;width:20px;height:20px;border-radius:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#a39992;font-size:13px;color:#fff;font-weight:600;text-align:center;line-height:20px;}
.breadcrumps-number ul li:last-child {width:20px;}
.breadcrumps-number ul li.active a {border:1px solid #2e2620;background:#fff;color:#2e2620;}
.breadcrumps-number ul li.passed a {background:#2e2620;color:#fff;}

.calendarMonths {height:48px;line-height:48px;position:relative;background:#7b5c3d;}
.calendarMonths .currentMonth {display:block;line-height:48px;color:#fff;font-size:18px;font-weight:600;text-align:center;}
.calendarMonths .changeMonth {position:absolute;width:48px;height:48px;display:block;z-index:100;}
.calendarMonths .changeMonth:before {display:block;line-height:48px;color:#fff;font-size:24px;font-family:"FontAwesome";width:48px;height:48px;text-align:center;z-index:100;}
.calendarMonths .changeMonth.prev {left:50%;top:0;margin-left:-130px;}
.calendarMonths .changeMonth.prev:before {content:"\f104";}
.calendarMonths .changeMonth.next {right:50%;top:0;margin-right:-130px;}
.calendarMonths .changeMonth.next:before {content:"\f105";}
.daysInMonths {overflow:hidden;position:relative;height:80px;}
.daysInMonths ul {margin:0;padding:0;position:absolute;width:100%;height:68px;border-bottom:3px solid #a77c54;}
.daysInMonths ul li {margin:0;padding:0;}
.daysInMonths ul li {height:68px;background:#f8f5f3;width:64px;border-left:1px solid #d8c5b3;border-bottom:1px solid #7b5c3d;float:left;position:relative;}
.daysInMonths ul li:active {opacity:0.6;}
.daysInMonths ul li:first-child {border-left:0;}
/*.daysInMonths ul li a {display:block;position:relative;z-index:100;}*/
.daysInMonths ul li .dayName {height:23px;display:block;text-align:center;font-size:12px;font-weight:600;color:#a77c54;line-height:35px;text-transform:uppercase;}
.daysInMonths ul li .dayNumber {height:45px;display:block;text-align:center;font-size:21px;font-weight:600;color:#2e2620;line-height:35px;}
.daysInMonths ul li .eventsDots {height:4px;display:block;text-align:center;line-height:4px;font-size:0px;letter-spacing:0px;word-spacing:0px;position:absolute;bottom:10px;left:0;width:100%;}
.daysInMonths ul li .eventsDots .event-dot {display:inline-block;width:4px;height:4px;background:#7b5c3d;border-radius:50%;margin:0 2px;}
.daysInMonths ul li.active {background:#a77c54;border-left:1px solid #7b5c3d;border-bottom:0;}
.daysInMonths ul li.active:first-child {border-left:0;}
.daysInMonths ul li.active:after {width:1px;height:100%;position:absolute;top:0;right:-1px;z-index:1;background:#7b5c3d;content:"";}
.daysInMonths ul li.active:before{content:"";position:absolute;bottom:-11px;left:50%;margin-left:-8px;width:0;height:0;border-style:solid;border-width:8px 8px 0 8px;border-color:#a77c54 transparent transparent transparent;}
.daysInMonths ul li.active .dayName {color:#fff;}
.daysInMonths ul li.active .dayNumber {color:#fff;}
.daysInMonths ul li.active .eventsDots .event-dot {background:#fff;}

.haftalik-program {position:relative;background:#f8f5f3;}
.haftalik-program ul {margin:0;padding:0;}
.haftalik-program ul li {margin:0;text-align:center;padding:18px;padding-bottom:0;}
.haftalik-program ul li .week-title {font-size:20px;line-height:27px;padding:0 13px;border-bottom:1px solid #7b5c3d;display:inline-block;font-weight:700;padding-bottom:4px;}
.haftalik-program ul li .week-detail-title {font-size:16px;line-height:28px;margin-bottom:15px;font-weight:700;}
.haftalik-program ul li .week-details {}
.haftalik-program ul li .week-details p {margin-bottom:8px;}
.haftalik-program .bx-pager {font-size:14px;font-weight:600;color:#77614d;text-align:center;padding-bottom:20px;padding-top:10px;}
.haftalik-program .bx-controls-direction a {position:absolute;top:50%;height:40px;width:40px;margin-top:-21px;display:block;z-index:100;}
.haftalik-program .bx-prev {left:0;}
.haftalik-program .bx-next {right:0;}
.haftalik-program .bx-controls-direction a:before {display:block;line-height:48px;color:#7b5c3d;font-size:26px;font-family:"FontAwesome";width:24px;height:40px;}
.haftalik-program .bx-prev:before {content:"\f104";padding-left:16px;text-align:left;}
.haftalik-program .bx-next:before {content:"\f105";padding-right:16px;text-align:right;}
.haftalik-program .bx-controls-direction a.disabled {display:none;}

.egitim-kadrosu {position:relative;background:#f8f5f3;}
.egitim-kadrosu ul {margin:0;padding:0;}
.egitim-kadrosu ul li {margin:0;padding:17px 32px;padding-bottom:0;}
.egitim-kadrosu ul li .person-image {font-size:20px;line-height:28px;border-bottom:1px solid #7b5c3d;margin:0 auto;width:145px;height:112px;}
.egitim-kadrosu ul li .person-image img {display:block;margin:0;padding:0;max-width:100%;}
.egitim-kadrosu ul li .person-name {font-size:20px;line-height:120%;margin-top:10px;margin-bottom:7px;font-weight:700;text-align:center;}
.egitim-kadrosu ul li .person-title {font-size:14px;line-height:120%;font-weight:600;margin-bottom:23px;text-align:center;}
.egitim-kadrosu .bx-controls-direction a {position:absolute;top:84px;height:40px;width:40px;display:block;z-index:100;}
.egitim-kadrosu .bx-prev {left:0;}
.egitim-kadrosu .bx-next {right:0;}
.egitim-kadrosu .bx-controls-direction a:before {display:block;line-height:40px;color:#7b5c3d;font-size:26px;font-family:"FontAwesome";width:24px;height:40px;}
.egitim-kadrosu .bx-prev:before {content:"\f104";padding-left:16px;text-align:left;}
.egitim-kadrosu .bx-next:before {content:"\f105";padding-right:16px;text-align:right;}



body,html {min-width:320px;/*height:100%;*/-webkit-overflow-scrolling:touch;}
#wrapper {position:relative;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;-o-transition: all .25s ease-in-out;transition: all .25s ease-in-out;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;}
html.nav-active {overflow:hidden;}
html.nav-active body {overflow:hidden;}
html.nav-active #wrapper {-webkit-transform:translate(-78%,0);-moz-transform:translate(-78%,0);-o-transform:translate(-78%,0);-ms-transform:translate(-78%,0);transform:translate(-78%,0);overflow:hidden;}

body #wrapper {margin-top:48px;}
body#homepage #wrapper {margin-top:0;}
body#homepage #wrapper.fixed {margin-top:48px;}

header {background:#060201;height:48px;position:fixed;top:0;left:0;width:100%;z-index:100;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;-o-transition: all .25s ease-in-out;transition: all .25s ease-in-out;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;}
header .logo {background:url("../images/logo.png") no-repeat center;background-size:cover;width:63px;height:40px;margin-left:-32px;top:4px;position:absolute;left:50%;display:block;}
header.nav-active {-webkit-transform:translate(-78%,0);-moz-transform:translate(-78%,0);-o-transform:translate(-78%,0);-ms-transform:translate(-78%,0);transform:translate(-78%,0);}
@media only screen and (max-height:480px){
    header .logo {top:4px;}
}
body#homepage header {background:none transparent;position:absolute;top:0;left:0;width:100%;z-index:100;}
body#homepage header .logo {width:112px;height:72px;margin-left:-56px;top:52px;}
@media only screen and (max-height:480px){
    body#homepage header .logo {top:32px;}
}
body#homepage header.fixed {background:#060201;height:48px;position:fixed;top:0;left:0;width:100%;z-index:100;}
body#homepage header.fixed .logo {width:63px;height:40px;margin-left:-32px;top:4px;}
@media only screen and (max-height:480px){
    body#homepage header.fixed .logo {top:4px;}
}
header .nav-trigger {width:56px;height:48px;display:block;position:absolute;right:0;top:0;z-index: 1;}
header .nav-trigger:before {width:56px;height:48px;display:block;font-family:"FontAwesome";content:"\f0c9";color:#fff;font-size:30px;text-align:center;line-height:48px;}
header .back-trigger {width:40px;height:48px;position:absolute;left:0;top:0;z-index:1;}
header .back-trigger:before {width:40px;height:48px;display:block;font-family:"FontAwesome";content:"\f104";color:#fff;font-size:24px;text-align:center;line-height:48px;}
body#homepage header .back-trigger {display:none;}

nav {width:78%;background:#1d1d1d;height:100%;position:fixed;top:0;right:0;-webkit-transform:translate(100%,0);-moz-transform:translate(100%,0);-o-transform:translate(100%,0);-ms-transform:translate(100%,0);transform:translate(100%,0);-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;-o-transition: all .25s ease-in-out;transition: all .25s ease-in-out;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;overflow:auto;-webkit-overflow-scrolling:touch;}
nav.open {-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}
nav .logo {height:40px;background:#060201 url("../images/logo.png") no-repeat center;background-size:63px 40px;display:block;padding:16px 0;margin:0 auto 16px auto;}
nav .nav-container {margin:0 16px;}
nav .search {margin:0 16px;margin-bottom:16px;}
nav .search form {margin:0;position:relative;}
nav .search form fieldset {margin:0;position:relative;}
nav .search form fieldset .input-text {background:#fff;height:48px;width:100%;border:0;padding-right:36px;padding-left:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:14px;}
nav .search form fieldset .input-submit {background:#fff url("../images/nav-search-submit.png") no-repeat 0 0;background-size:cover;height:48px;width:36px;border:0;position:absolute;top:0;right:0;z-index:1;text-indent:-9999px;}

nav .menu ul {margin:0;padding:0;border-bottom:1px solid #343434;}
nav .menu ul li {margin:0;padding:0;}
nav .menu ul li a {display:block;height:46px;line-height:46px;color:#fff;font-weight:600;padding-left:16px;border-top:1px solid #343434;margin:0;position:relative;font-size:16px;}
nav .menu ul li a:after {height:14px;width:8px;content:"";position:absolute;right:16px;top:16px;background:url("../images/arrow-right-white.png") no-repeat 0 0;background-size:cover;}

nav .menu .accordion-module h3 {margin:0;padding:0;height:46px;line-height:46px;color:#fff;font-weight:600;padding-left:16px;border:0;border-top:1px solid #343434;position:relative;font-size:16px;background:none;}
nav .menu .accordion-module h3:active {opacity:0.6;}
nav .menu .accordion-module h3:after {height:14px;width:14px;content:"";position:absolute;right:16px;top:16px;background:url("../images/plus-white.png") no-repeat 0 0;background-size:cover;}
nav .menu .accordion-module h3.ui-state-active:after {background:url("../images/minus-white.png") no-repeat 0 0;background-size:cover;}
nav .menu .accordion-module .ui-accordion-content {padding:0;border:0;}
nav .menu .accordion-module .ui-accordion-content ul li a {padding-left:24px;background:#262626;font-size:15px;}
nav .menu .accordion-module .ui-accordion-content ul li h3 {padding-left:24px;background:#262626;font-size:15px;}
nav .menu .accordion-module .ui-accordion-content ul ul {border-bottom:1px solid #4a4a4a;}
nav .menu .accordion-module .ui-accordion-content ul li li a {padding-left:32px;background:#363636;border-top:1px solid #4a4a4a;font-size:15px;}
nav .menu .accordion-module .ui-accordion-content ul li li h3 {padding-left:32px;background:#363636;border-top:1px solid #4a4a4a;font-size:15px;}

nav .menu .socials {margin-top:16px;margin-bottom:16px;height:36px;text-align:center;font-size:0px;letter-spacing:0px;word-spacing:0px;}
nav .menu .socials a.icon-social {border:1px solid #fff;margin:0 10px;}
nav .menu .socials a.icon-social.icon-twitter {background:url("../images/icon-twitter-white.png") no-repeat 0 0;background-size:cover;}
nav .menu .socials a.icon-social.icon-facebook {background:url("../images/icon-facebook-white.png") no-repeat 0 0;background-size:cover;}
nav .menu .socials a.icon-social.icon-instagram {background:url("../images/icon-instagram-white.png") no-repeat 0 0;background-size:cover;}
nav .menu .copyright {font-size:11px;line-height:120%;color:#c0bebd;text-align:center;}

.homepage-slider {height:100%;width:100%;background:#000;position:relative;}
.homepage-slider .icon {position:absolute;left:50%;margin-left:-17px;bottom:10%;}
.homepage-slider .bx-wrapper {width:100%;height:100% !important;}
.homepage-slider .bx-wrapper .bx-viewport {width:100%;height:100% !important;}
.homepage-slider ul {width:100%;height:100%;margin:0;padding:0;}
.homepage-slider ul li {width:100%;height:100%;margin:0;padding:0;background-repeat:no-repeat;background-position:center;}
.homepage-slider.cover ul li {background-size:cover;}
.homepage-slider.cover ul li:before {content:"";position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.2);z-index:0;}
.homepage-slider ul li .slide {position:relative;z-index:1;width:100%;height:100%;display:table;vertical-align:middle;}
.homepage-slider ul li .slide .slide-content {padding:0 20px;height:100%;display:table-cell;vertical-align:middle;text-align:center;}
.homepage-slider ul li .slide .slide-content h2 {font-size:26px;line-height:32px;color:#fff;font-weight:600;margin-bottom:5px;}
.homepage-slider ul li .slide .slide-content p {font-size:16px;line-height:21px;color:#fff;}
.homepage-slider .bx-pager {position:absolute;bottom:28%;width:100%;z-index:99;text-align:center;word-spacing:0px;font-size:0px;letter-spacing:0px;}
.homepage-slider .bx-pager .bx-pager-item {display:inline-block;margin:0 6px;}
.homepage-slider .bx-pager .bx-pager-item a {display:block;width:12px;height:12px;border-radius:50%;background:rgba(255,255,255,0.5);}
.homepage-slider .bx-pager .bx-pager-item a.active {background:#fff;}
@media only screen and (max-height:480px){
    .homepage-slider .bx-pager {bottom:25%;}
}

.links-module ul {margin:0;padding:0;border-top:1px solid #7b5c3d;}
.links-module.no-border ul {border-top:0;}
.links-module ul li {margin:0;padding:0;}
.links-module ul li a {display:block;height:46px;line-height:46px;color:#7b5c3d;font-weight:600;padding-left:16px;border-bottom:1px solid #7b5c3d;margin:0;position:relative;font-size:16px;}
.links-module ul li a:after {height:14px;width:8px;content:"";position:absolute;right:16px;top:16px;background:url("../images/arrow-right-color.v2.png") no-repeat 0 0;background-size:cover;}

.slider-module {padding:16px;padding-top:24px;padding-bottom:24px;}
.slider-module.list {padding-top:0;}
.slider-module.gray {background:#f8f5f3;}
.slider-module ul {margin:0;padding:0;margin-top:8px;}
.slider-module ul li {margin:0;padding:0;padding-bottom:27px;}
.slider-module ul li .slide a {padding-left:8px;display:block;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:50%;}
.slider-module.list ul li .slide a {padding-bottom:16px;}
.slider-module ul li .slide a:first-child {padding-left:0;padding-right:8px;}
.slider-module ul li .slide a .text-title {font-size:11px;color:#7b5c3d;font-weight:600;line-height:20px;padding-top:11px;}
.slider-module ul li .slide a .text-desc {font-family:"Georgia",serif;font-size:14px;color:#2e2620;line-height:20px;}
.slider-module ul li .slide a .image {margin-bottom:10px;}
.slider-module.list ul li .slide a .image {margin-bottom:0px;}
.slider-module .bx-pager {text-align:center;font-size:0px;letter-spacing:0px;word-spacing:0px;height:12px;line-height:12px;vertical-align:middle;position:relative;z-index: 100;}
.slider-module .bx-pager .bx-pager-item {display:inline-block;margin:0 6px;vertical-align:middle;}
.slider-module .bx-pager .bx-pager-item a {display:block;width:12px;height:12px;border-radius:50%;background:rgba(167,124,84,0.5);}
.slider-module .bx-pager .bx-pager-item a.active {background:#2e2620;}

.text-module {padding:16px;padding-top:24px;padding-bottom:24px;position:relative;}
.text-module.gray {background:#f8f5f3;}
.text-module.border-top {border-top:1px solid #2e2620;}
.accordion-module .text-module {margin:0 -20px 0 -20px;}
.accordion-module .text-module.no-margin {margin:-30px -20px -10px -20px;}
.text-module h1 {text-align:center;}
.text-module.text-left h1 {text-align:left;}
.text-module.remove-bottom h1 {margin:0;}
.text-module ul {}
.text-module ul li {list-style:disc inside;font-family:"Georgia",serif;font-size:14px;color:#2e2620;line-height:20px;margin-bottom:16px;text-indent:-14px;padding-left:14px;}

.testimonial-detail {}
.testimonial-detail .text {width:75%;float:left;}
.testimonial-detail .logo {width:25%;float:right;}
.testimonial-detail .logo img {display:block;margin:0;padding:0;width:100%;max-width:100%;}

.workshop-detail {background:#f8f5f3;padding:16px;padding-top:32px;padding-bottom:32px;}
.workshop-detail.nobg {background:none transparent;}
.workshop-detail .date {font-weight:700;font-size:16px;line-height:21px;}
.workshop-detail .time {font-weight:400;font-size:16px;line-height:21px;font-family:"Georgia",serif;}
.workshop-detail .hr {height:1px;background:#000;width:60%;margin:5px auto;visibility:visible;}
.workshop-detail .price {font-weight:700;font-size:16px;line-height:21px;}
.workshop-detail .note {font-weight:400;font-size:16px;line-height:21px;font-family:"Georgia",serif;}

.workshop-menu {background:#f8f5f3;padding:16px;padding-top:32px;padding-bottom:32px;text-align:center;}
.workshop-menu.nobg {background:none transparent;}
.workshop-menu h2 {font-family:"Georgia",serif;font-size:24px;line-height:35px;font-style:italic;color:#7b5c3d;position:relative;display:inline-block;}
.workshop-menu h2:before {content:"";display:inline-block;width:6px;height:6px;border-radius:50%;background:#bbab9f;vertical-align:middle;margin:0 10px;}
.workshop-menu h2:after {content:"";display:inline-block;width:6px;height:6px;border-radius:50%;background:#bbab9f;vertical-align:middle;margin:0 10px;}
.workshop-menu ul {margin:0;padding:0;}
.workshop-menu ul li {margin:0;padding:0;font-family:"Georgia",serif;font-size:14px;font-style:italic;line-height:38px;border-bottom:1px dotted #bbab9f;}


.video-wrapper {position:relative;}
.video-wrapper .play-button {width:100%;height:100%;position:absolute;top:0;left:0;z-index:1;display:block;}
.video-wrapper .play-button:before {content:"";display:block;width:42px;height:42px;position:absolute;left:50%;top:50%;margin-top:-21px;margin-left:-21px;background:#a77c54;text-align:center;line-height:42px;z-index:2;border-radius:50%;}
.video-wrapper .play-button:after {display:block;content:"\f04b";font-family:"FontAwesome";font-size:16px;color:#fff;width:42px;height:42px;line-height:42px;text-align:center;position:absolute;left:50%;top:50%;margin-top:-21px;margin-left:-21px;z-index:3;}

.prices {padding:0 20px;}
.accordion-module .prices {margin:0 -20px;}
.prices h4 {color:#7b5c3d;}

.search-results {}
.search-results ul {margin:0;padding:0;}
.search-results ul li {padding:24px 16px 0 16px;border-top:1px solid #2e2620;}
.search-results ul li:first-child {border-top:0;}

.page-title {border-bottom:1px solid #b7b7b7;padding:15px 16px;}
.page-title h4 {margin:0;letter-spacing:-0.015em;}

.etkinlikListe h3 {background:#7b5c3d;color:#fff;text-align:center;padding:12px 0;margin:0;}
.etkinlikListe ul {margin:0;padding:0;}
.etkinlikListe ul li {margin:0;padding:16px;border-top:1px solid #2e2620;}
.etkinlikListe ul li:first-child {border-top:0;}
.etkinlikListe .image {float:left;overflow:hidden;}
.etkinlikListe .text {padding-left:140px;}
.etkinlikListe .text h4 {margin-bottom:6px;}
.etkinlikListe .text h5 {margin:0;}

.akademikTakvim h3 {background:#7b5c3d;color:#fff;text-align:center;padding:12px 0;margin:0;}
.akademikTakvim ul {margin:0;padding:0;}
.akademikTakvim ul li {margin:0;padding:16px;border-top:1px solid #2e2620;}
.akademikTakvim ul li:first-child {border-top:0;}
.akademikTakvim .image {float:left;overflow:hidden;}
.akademikTakvim .text {padding-left:140px;}
.akademikTakvim .text h4 {margin-bottom:6px;}
.akademikTakvim .text h5 {margin:0;}

footer {padding:16px;background:#f8f5f3;}
footer ul {margin:0;padding:0;}
footer ul li {float:left;width:45%;text-align:center;line-height:30px;}
footer ul li.even {width:55%;}
footer ul li a {display:block;font-size:13px;font-weight:400;color:#7b5c3d;}
footer .socials {margin-top:16px;margin-bottom:16px;height:36px;text-align:center;font-size:0px;letter-spacing:0px;word-spacing:0px;}
footer .socials a.icon-social {margin:0 7px;}
footer .copyright {font-size:13px;line-height:120%;color:#c0bebd;text-align:center;}


.transition {-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;-o-transition: all .25s ease-in-out;transition: all .25s ease-in-out;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}
.invisible {opacity:0 !important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;filter: alpha(opacity=0) !important;}
.visible {opacity:1.0 !important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;filter: alpha(opacity=100) !important;}

	
	/* STYLED RADIO  */
	
	input.radio_input {
			position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
	}

	input.radio_input + label.radio_label{
		padding-left:27px;
		height:22px; 
		display:inline-block;
		line-height:22px;
		background-repeat:no-repeat;
		background-position: 0 0;
		vertical-align:middle;
		cursor:pointer;
		margin-bottom: 10px;

	}

	input.radio_input:checked + label.radio_label {
		background-position: 0 -22px;
	}
	label.radio_label{
		background-image: url("../images/radio-input.png");
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	/* STYLED RADIO  */
	
	
p.alinti{
	background: rgba(168, 124, 81, 0.6);
	color: #fff;
	padding: 15px;
}

.tamamla{
	height: 48px;
	line-height: 48px;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background: #a87c51;
	border-radius: 4px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 180px;
	margin: 0 auto;
	display: block;
}

.gunluk-workshoplar ul li{
	height: 160px;
}

.realperson-regen{
display: none;
}

.realperson-challenge{
	width: 47%;
	float: left;
	position: relative;
	top: 15px;
	margin-right: 6%;
}

#guvenlik{
	width: 47%;
	float: left;
}

.gunluk-workshoplar ul li div.slide a{
	min-height: 210px!important;
}

input.error, select.error, textarea.error{
	border: 2px solid red!important;
}

#SectionID-error{
position: absolute;
top: 45px;
}

fieldset.red input, fieldset.red .masked-select, fieldset.red  textarea.textarea{
	border: 2px solid red!important;
}


#EPosta-error{
	display: none!important;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.donemlikworkshoplar ul li div.slide a{
	min-height: 250px;
}

