<footer>
    <ul>
        <li class="even"><a href="#">Profesyonel Eğitimler</a></li>
        <li><a href="#">Kampüs</a></li>
        <li class="even"><a href="#">Amatör Workshoplar</a></li>
        <li><a href="#">Başvuru Formu</a></li>
        <li class="even"><a href="#">Yurtdışı Eğitim Olanakları</a></li>
        <li><a href="#">Hakkımızda</a></li>
        <li class="even"><a href="#">Akademik Takvim</a></li>
        <li><a href="#">İletişim</a></li>
    </ul>
    <div class="clear"></div>
    <div class="socials">
        <a href="#" class="icon-social icon-twitter"></a>
        <a href="#" class="icon-social icon-facebook"></a>
        <a href="#" class="icon-social icon-instagram"></a>
    </div>
    <div class="copyright">© 2014 Mutfak Sanatları Akademisi<br>Tüm hakları saklıdır.</div>
    <div class="clear"></div>
</footer>