<nav>
    <div class="logo"></div>
    <div class="search">
        <form>
            <fieldset>
                <input type="text" class="input-text">
                <input type="submit" class="input-submit">
            </fieldset>
        </form>
    </div>
    <div class="menu">
        <div class="accordion-module collapse-all">
            <h3>Eğitimler</h3>
            <div>
                <ul>
                    <li><a href="#">Profesyonel Eğitimler</a></li>
                    <li><a href="#">Yurtdışı Eğitim Olanakları</a></li>
                    <li>
                        <div class="accordion-module collapse-all">
                            <h3>Amatör Workshoplar</h3>
                            <div>
                                <ul>
                                    <li><a href="#">Günlük Workshoplar</a></li>
                                    <li><a href="#">Dönemlik Workshoplar</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">Eğitim Kadrosu</a></li>
                    <li><a href="#">Akademik Takvim</a></li>
                </ul>
            </div>
        </div>
        <ul>
            <li><a href="#">Kampüs</a></li>
            <li><a href="#">Başvuru Formu</a></li>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">İletişim</a></li>
        </ul>
        <div class="socials">
            <a href="#" class="icon-social icon-twitter"></a>
            <a href="#" class="icon-social icon-facebook"></a>
            <a href="#" class="icon-social icon-instagram"></a>
        </div>
        <div class="copyright">© 2014 Mutfak Sanatları Akademisi<br>Tüm hakları saklıdır.</div>
    </div>
</nav>