/*
Fonts
**********************/
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenirnextltpro-medium.eot');
    src: url('../fonts/avenirnextltpro-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avenirnextltpro-medium.woff2') format('woff2'),
    url('../fonts/avenirnextltpro-medium.woff') format('woff'),
    url('../fonts/avenirnextltpro-medium.ttf') format('truetype'),
    url('../fonts/avenirnextltpro-medium.svg#avenir_next_lt_promedium') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenirnextltpro-demi-webfont.eot');
    src: url('../fonts/avenirnextltpro-demi-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avenirnextltpro-demi-webfont.woff') format('woff'),
    url('../fonts/avenirnextltpro-demi-webfont.ttf') format('truetype'),
    url('../fonts/avenirnextltpro-demi-webfont.svg#avenir_next_lt_prodemi') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenirnextltpro-bold.eot');
    src: url('../fonts/avenirnextltpro-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avenirnextltpro-bold.woff2') format('woff2'),
    url('../fonts/avenirnextltpro-bold.woff') format('woff'),
    url('../fonts/avenirnextltpro-bold.ttf') format('truetype'),
    url('../fonts/avenirnextltpro-bold.svg#avenir_next_lt_probold') format('svg');
    font-weight: 700;
    font-style: normal;
}
/*
Base
**********************/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

* {font-family:'Avenir', Arial, sans-serif;}
body{background:#fcfcfc;font:13px/1.8em 'Avenir', Arial, sans-serif;;color:#2e2620;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}

h1,h2,h3,h4,h5,h6{font-weight:600;margin:0 0 20px;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
h1{font-size:26px;line-height:32px;}
h2{font-size:21px;line-height:120%;}
h3{font-size:18px;line-height:24px;}
h4{font-size:16px;line-height:23px;margin-bottom:10px;}
h5{font-size:14px;line-height:20px}
h6{font-size:12px;line-height:120%}
.gold {color:#7b5c3d;}

.subheader{color:#777}

p{font-size:14px;line-height:20px;margin:0 0 20px;font-family:"Georgia",serif;}
p.small{font-size:12px;line-height:120%;}
p.medium{font-size:16px;line-height:21px;}
p.large{font-size:18px;line-height:120%;}
p.xlarge{font-size:40px;line-height:120%;}
.avenir {font-family:'Avenir', Arial, sans-serif;font-weight:400;}
.avenir strong {font-weight:600;}
.avenir p {font-family:'Avenir', Arial, sans-serif;font-weight:400;}
.avenir p strong {font-weight:600;}

p img{margin:0}
p.lead{}

em{font-style:italic}
i{font-style:italic}
.normal {font-weight:400;}
strong{font-weight:700;}
b{font-weight:700;}
small{font-size:50%}

blockquote,blockquote p{font-size:17px;line-height:24px;color:#777;font-style:italic}
blockquote{margin:0 0 20px;padding:9px 20px 0 19px;border-left:1px solid #ddd}
blockquote cite{display:block;font-size:12px;color:#555}
blockquote cite:before{content:"\2014 \0020"}
blockquote cite a,blockquote cite a:visited{color:#555}

hr{border:solid #ddd;border-width:1px 0 0;clear:both;margin:10px 0 30px;height:0}

a{text-decoration:none;outline:0;color:#000;}
a:visited,a:focus,a:hover{}

p a,p a:visited{line-height:inherit;text-decoration:none;color:#7b5c3d;}

ol,ul{margin-bottom:20px}
ul{list-style:none outside}
ol{list-style:inside decimal}
ol,ul.circle,ul.disc,ul.square{margin-left:0}
ul.square{list-style:square outside}
ul.circle{list-style:circle outside}
ul.disc{list-style:disc outside}
ol ol,ol ul,ul ol,ul ul{margin:4px 0 5px 30px;font-size:90%}
ol ol li,ol ul li,ul ol li,ul ul li{margin-bottom:6px}
li{margin-bottom:6px}

img.scale-with-grid{max-width:100%;height:auto}

input,select,a img{vertical-align:middle;}
.button,button,input[type=button],input[type=reset],input[type=submit]{}
.button:hover,button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{}
.button:active,button:active,input[type=button]:active,input[type=reset]:active,input[type=submit]:active{}
.button.full-width,button.full-width,input[type=button].full-width,input[type=reset].full-width,input[type=submit].full-width{}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
fieldset,form{margin-bottom:20px}
input[type=email],input[type=password],input[type=text],select,textarea{}
select{padding:0}
input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus{}
textarea{min-height:60px}
label,legend{display:block;font-weight:600;}
select{width:220px}
input[type=checkbox]{display:inline}
label span,legend span{font-weight:400;}

*{outline:0;outline:none;-moz-outline-style:none;;ie-dummy: expression(this.hideFocus=true);}
*:focus{outline:0;outline:none;-moz-outline-style:none;;ie-dummy: expression(this.hideFocus=true);}
*:selected{outline:0;outline:none;-moz-outline-style:none;;ie-dummy: expression(this.hideFocus=true);}
:-moz-any-link:focus{outline:none;}
a:active,a:focus,a:selected{outline:0;outline:none;-moz-outline-style:none;ie-dummy: expression(this.hideFocus=true);}
textarea {resize:none;overflow:auto;}
input[type=search] {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {display: none;}
input,textarea,select {-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;}

.center {float:none !important;margin-left:auto !important;margin-right:auto !important;display:block !important;}
.left {float:left !important;}
.right {float:right !important;}
.remove-bottom{margin-bottom:0!important}
.quarter-bottom{margin-bottom:5px!important}
.half-bottom{margin-bottom:10px!important}
.add-bottom{margin-bottom:20px!important}
.add-x-bottom{margin-bottom:30px!important}
.add-2x-bottom{margin-bottom:40px!important}
.remove-top{margin-top:0!important}
.quarter-top{margin-top:5px!important}
.half-top{margin-top:10px!important}
.add-top{margin-top:20px!important}
.add-2x-top{margin-top:40px!important}
.text-left {text-align:left !important;}
.text-center {text-align:center !important;}
.text-right {text-align:right !important;}
.add-border-top {border-top:1px solid #e7e1dc !important;}
.add-padding-top {padding-top:20px !important;}