.container{position:relative;width:960px;margin:0 auto;padding:0}
.column {margin-left:10px;margin-right:10px;position:relative;}
.container .column,.container .columns{float:left;display:inline;margin-left:10px;margin-right:10px;position:relative;}
.row{margin-bottom:20px}
.column.alpha,.columns.alpha{margin-left:0}
.column.omega,.columns.omega{margin-right:0}
.container .one.column,.container .one.columns{width:40px}
.container .two.columns{width:100px}
.container .three.columns{width:160px}
.container .four.columns{width:220px}
.container .five.columns{width:280px}
.container .six.columns{width:340px}
.container .seven.columns{width:400px}
.container .eight.columns{width:460px}
.container .nine.columns{width:520px}
.container .ten.columns{width:580px}
.container .eleven.columns{width:640px}
.container .twelve.columns{width:700px}
.container .thirteen.columns{width:760px}
.container .fourteen.columns{width:820px}
.container .fifteen.columns{width:880px}
.container .sixteen.columns{width:940px}

.container .one-third.columns{width:300px}
.container .two-thirds.column{width:620px}

.container .offset-by-one{padding-left:60px}
.container .offset-by-two{padding-left:120px}
.container .offset-by-three{padding-left:180px}
.container .offset-by-four{padding-left:240px}
.container .offset-by-five{padding-left:300px}
.container .offset-by-six{padding-left:360px}
.container .offset-by-seven{padding-left:420px}
.container .offset-by-eight{padding-left:480px}
.container .offset-by-nine{padding-left:540px}
.container .offset-by-ten{padding-left:600px}
.container .offset-by-eleven{padding-left:660px}
.container .offset-by-twelve{padding-left:720px}
.container .offset-by-thirteen{padding-left:780px}
.container .offset-by-fourteen{padding-left:840px}
.container .offset-by-fifteen{padding-left:900px}

@media only screen and (min-width:1280px){
    .container{width:1280px}
    .container .column,.container .columns{margin-left:10px;margin-right:10px}
    .column.alpha,.columns.alpha{margin-left:0;margin-right:10px}
    .column.omega,.columns.omega{margin-right:0;margin-left:10px}
    .alpha.omega{margin-left:0;margin-right:0}

    .container .one.column,.container .one.columns{width:60px}
    .container .two.columns{width:140px}
    .container .three.columns{width:220px}
    .container .four.columns{width:300px}
    .container .five.columns{width:380px}
    .container .six.columns{width:460px}
    .container .seven.columns{width:540px}
    .container .eight.columns{width:620px}
    .container .nine.columns{width:700px}
    .container .ten.columns{width:780px}
    .container .eleven.columns{width:860px}
    .container .twelve.columns{width:940px}
    .container .thirteen.columns{width:1020px}
    .container .fourteen.columns{width:1100px}
    .container .fifteen.columns{width:1180px}
    .container .sixteen.columns{width:1260px}

    .container .one-third.columns{width:406px}
    .container .two-thirds.column{width:840px}


    .container .offset-by-one{padding-left:80px}
    .container .offset-by-two{padding-left:160px}
    .container .offset-by-three{padding-left:240px}
    .container .offset-by-four{padding-left:320px}
    .container .offset-by-five{padding-left:360px}
    .container .offset-by-six{padding-left:480px}
    .container .offset-by-seven{padding-left:560px}
    .container .offset-by-eight{padding-left:640px}
    .container .offset-by-nine{padding-left:720px}
    .container .offset-by-ten{padding-left:800px}
    .container .offset-by-eleven{padding-left:880px}
    .container .offset-by-twelve{padding-left:960px}
    .container .offset-by-thirteen{padding-left:1040px}
    .container .offset-by-fourteen{padding-left:1120px}
    .container .offset-by-fifteen{padding-left:1200px}


}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width:768px) and (max-width:959px){
    .container{width:768px}
    .container .column,.container .columns{margin-left:10px;margin-right:10px}
    .column.alpha,.columns.alpha{margin-left:0;margin-right:10px}
    .column.omega,.columns.omega{margin-right:0;margin-left:10px}
    .alpha.omega{margin-left:0;margin-right:0}
    .container .one.column,.container .one.columns{width:28px}
    .container .two.columns{width:76px}
    .container .three.columns{width:124px}
    .container .four.columns{width:172px}
    .container .five.columns{width:220px}
    .container .six.columns{width:268px}
    .container .seven.columns{width:316px}
    .container .eight.columns{width:364px}
    .container .nine.columns{width:412px}
    .container .ten.columns{width:460px}
    .container .eleven.columns{width:508px}
    .container .twelve.columns{width:556px}
    .container .thirteen.columns{width:604px}
    .container .fourteen.columns{width:652px}
    .container .fifteen.columns{width:700px}
    .container .sixteen.columns{width:748px}
    .container .one-third.columns{width:236px}
    .container .two-thirds.column{width:492px}

    .container .offset-by-one{padding-left:48px}
    .container .offset-by-two{padding-left:96px}
    .container .offset-by-three{padding-left:144px}
    .container .offset-by-four{padding-left:192px}
    .container .offset-by-five{padding-left:240px}
    .container .offset-by-six{padding-left:288px}
    .container .offset-by-seven{padding-left:336px}
    .container .offset-by-eight{padding-left:384px}
    .container .offset-by-nine{padding-left:432px}
    .container .offset-by-ten{padding-left:480px}
    .container .offset-by-eleven{padding-left:528px}
    .container .offset-by-twelve{padding-left:576px}
    .container .offset-by-thirteen{padding-left:624px}
    .container .offset-by-fourteen{padding-left:672px}
    .container .offset-by-fifteen{padding-left:720px}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px){
    .container{width:300px}
    .container .column,.container .columns{margin:0}
    .container .eight.columns,.container .eleven.columns,.container .fifteen.columns,.container .five.columns,.container .four.columns,.container .fourteen.columns,.container .nine.columns,.container .one-third.columns,.container .one.column,.container .one.columns,.container .seven.columns,.container .six.columns,.container .sixteen.columns,.container .ten.columns,.container .thirteen.columns,.container .three.columns,.container .twelve.columns,.container .two-thirds.column,.container .two.columns{width:300px}
    .container .offset-by-eight,.container .offset-by-eleven,.container .offset-by-fifteen,.container .offset-by-five,.container .offset-by-four,.container .offset-by-fourteen,.container .offset-by-nine,.container .offset-by-one,.container .offset-by-seven,.container .offset-by-six,.container .offset-by-ten,.container .offset-by-thirteen,.container .offset-by-three,.container .offset-by-twelve,.container .offset-by-two{padding-left:0}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width:480px) and (max-width:767px){
    .container{width:420px}
    .container .column,.container .columns{margin:0}
    .container .eight.columns,.container .eleven.columns,.container .fifteen.columns,.container .five.columns,.container .four.columns,.container .fourteen.columns,.container .nine.columns,.container .one-third.columns,.container .one.column,.container .one.columns,.container .seven.columns,.container .six.columns,.container .sixteen.columns,.container .ten.columns,.container .thirteen.columns,.container .three.columns,.container .twelve.columns,.container .two-thirds.column,.container .two.columns{width:420px}
}


.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden}
.clearfix:after,.clearfix:before,.row:after,.row:before{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after,.row:after{clear:both}
.clearfix,.row{zoom:1}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}


